<div class="modal-header">
  <h5 class="modal-title">
    {{title}}
  </h5>
  <button type="button" class="close" (click)="closeModal()">
    <span style="color:black;font-size:28px;font-weight:bold;">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div *ngIf="pageType === '1' || pageType === '2'" ngbTabContent>
    <div class="card-body" class="mt-0 mb-0">
      <div class="row">
        <div class="form-group col-md-2 mb-1" *ngIf="pageType === '2'">
          <label class="form-label form-label-sm">份数</label>
          <input class="form-control no-spin" type="number" min="1" [readonly]="false" [(ngModel)]="countObj.val"
            (change)="formatNumber($event, countObj, 'val', '1');" />
        </div>

        <div class="form-group col-md-5 mb-1">
          <label class="form-label form-label-sm">课程培训种类</label>
          <ng-select class="custom-ng-select-sm" [items]="trainingcostList" bindLabel="name"
            [(ngModel)]="selectedTrainingcost"></ng-select>
        </div>

        <div class="form-group col-md-5 mb-1" *ngIf="currencyType=== 'usd'">
          <label class="form-label form-label-sm">金额（单份）</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input class="form-control no-spin"  [readonly]="true"
              [ngModel]="selectedTrainingcost?.usd" />
          </div>
        </div>

        <div class="form-group col-md-5 mb-1" *ngIf="currencyType=== 'rmb'">
          <label class="form-label form-label-sm">金额（单份）</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">￥</span>
            </div>
            <input class="form-control no-spin" [readonly]="true"
              [ngModel]="selectedTrainingcost?.rmb" />
          </div>
        </div>

      </div>
    </div>
  </div>
  <div *ngIf="pageType == '3'" ngbTabContent>
    <div class="card-body" class="mt-0 mb-0">
      <div class="row">
        <div class="form-group col-md-2 mb-1">
          <label class="form-label form-label-sm">份数</label>
          <input class="form-control no-spin" type="number" min="1" [readonly]="false"
            [(ngModel)]="trainingcostOther.count" />
        </div>
        <div class="form-group col-md-5 mb-1">
          <label class="form-label form-label-sm" >其他培训种类</label>
          <input class="form-control" [readonly]="false" [(ngModel)]="trainingcostOther.name" />
        </div>
        <div class="form-group col-md-5 mb-1">
          <label class="form-label form-label-sm" >金额（单份）</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">{{prefix}}</span>
            </div>
            <input class="form-control no-spin" type="number" min="0" [readonly]="false"
              [(ngModel)]="trainingcostOther.amount" (change)="formatNumber($event, trainingcostOther, 'amount', '0')" />
            </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pageType == '4'" ngbTabContent>
    <div class="card-body" class="mt-0 mb-0">
      <div class="row">
        <div class="form-group col-md-3">
          <label class="form-label form-label-sm" style="width: 100%;">
            <span class="default-color">现场培训总金额（标准）</span>
          </label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">{{prefix}}</span>
            </div>
            <input class="form-control form-control-sm" [disabled]="true"
              [ngModel]="params.newTrainingcostOnsite?.totalRaw" />
          </div>
        </div>
        <div class="form-group col-md-1">
          <label class="form-label form-label-sm">必选</label>
          <input class="form-control form-control-sm compact-input" [disabled]="true"
            [ngModel]="params.newTrainingcostOnsite?.mustCount" />
        </div>
        <div class="form-group col-md-1">
          <label class="form-label form-label-sm">可选</label>
          <input class="form-control form-control-sm compact-input" [disabled]="true"
            [ngModel]="params.newTrainingcostOnsite?.optCount" />
        </div>
        <div class="form-group col-md-2" [hidden]="false">
          <label class="form-label form-label-sm">单价</label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">{{prefix}}</span>
            </div>
            <input class="form-control form-control-sm" [disabled]="true"
              [ngModel]="params.newTrainingcostOnsite?.amount" />
          </div>
        </div>
      </div>

      <hr class="border-light mt-2 mb-1">
      <div class="row" *ngIf="params.trainingcostSample">
        <div class="col-md-6">
          <!-- <span class="form-label form-label-sm default-color row-bold">现场培训/产品&应用课程主数据参考</span> -->
          <span class="form-label form-label-sm default-color row-bold">现场培训主数据参考</span>
        </div>
      </div>
      <ng-container *ngIf="params.trainingcostSample">
        <div class="row">
          <div class="form-group col-md-3 mb-1">
            <label class="form-label form-label-sm" >培训种类</label>
            <input class="form-control form-control-sm" [disabled]="true" [ngModel]="'现场培训'" />
          </div>
          <div class="form-group col-md-1 mb-1" [hidden]="false">
            <label class="form-label form-label-sm">必选</label>
            <input class="form-control form-control-sm compact-input" [disabled]="true" [ngModel]="params.trainingcostSample.mustonsite" />
          </div>
          <div class="form-group col-md-1 mb-1" [hidden]="false">
            <label class="form-label form-label-sm">可选</label>
            <input class="form-control form-control-sm compact-input" [disabled]="true"
              [ngModel]="params.trainingcostSample.onsite" />
          </div>
          <div class="form-group col-md-2 mb-1" >
            <label class="form-label form-label-sm" >单价（美金）</label>
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input class="form-control form-control-sm" [disabled]="true"
                [ngModel]="params.trainingcostSample.onsitetraining_usd" />
            </div>
          </div>
          <div class="form-group col-md-2 mb-1" >
            <label class="form-label form-label-sm">单价（人民币）</label>
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">￥</span>
              </div>
              <input class="form-control form-control-sm" [disabled]="true"
                [ngModel]="params.trainingcostSample.onsitetraining_rmb" />
            </div>
          </div>
        </div>
        <div class="row" [hidden]="true">
          <div class="form-group col-md-3 mb-1">
            <!-- <label class="form-label form-label-sm">培训种类</label> -->
            <input class="form-control form-control-sm" [disabled]="true" [ngModel]="'产品&应用课程'" />
          </div>
          <div class="form-group col-md-1 mb-1" [hidden]="false">
            <!-- <label class="form-label form-label-sm">必选</label> -->
            <input class="form-control form-control-sm compact-input" [disabled]="true"
              [ngModel]="params.trainingcostSample.mustgroup" />
          </div>
          <div class="form-group col-md-1 mb-1" [hidden]="false">
            <!-- <label class="form-label form-label-sm">可选</label> -->
            <input class="form-control form-control-sm compact-input" [disabled]="true"
              [ngModel]="params.trainingcostSample.groups" />
          </div>
          <div class="form-group col-md-2 mb-1">
            <!-- <label class="form-label form-label-sm">单价（美金）</label> -->
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input class="form-control form-control-sm" [disabled]="true"
                [ngModel]="params.trainingcostSample.grouptraining_usd" />
            </div>
          </div>
          <div class="form-group col-md-2 mb-1">
            <!-- <label class="form-label form-label-sm">单价（人民币）</label> -->
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">￥</span>
              </div>
              <input class="form-control form-control-sm" [disabled]="true"
                [ngModel]="params.trainingcostSample.grouptraining_rmb" />
            </div>
          </div>
        </div>
      </ng-container>
      <div class="row" *ngIf="vendorInfo">
        <div class="col-md-6">
          <span class="form-label form-label-sm default-color row-bold">当前经销商培训资质等级</span>
        </div>
      </div>
      <div class="row" *ngIf="vendorInfo">
        <div class="form-group col-md-6 mb-1">
          <label class="form-label form-label-sm">经销商名称</label>
          <input class="form-control form-control-sm" [disabled]="true" [ngModel]="vendorInfo.distributorname" />
        </div>
        <div class="form-group col-md-3 mb-1">
          <label class="form-label form-label-sm">Level</label>
          <input class="form-control form-control-sm compact-input" [disabled]="true"
            [ngModel]="vendorInfo.Level" />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pageType == '5'" ngbTabContent>
    <div class="card-body" class="mt-0 mb-0">
      <div class="row">
        <div class="form-group col-md-3">
          <label class="form-label form-label-sm" style="width: 100%;">
            <span class="default-color">课程培训总金额（标准）</span>
          </label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">{{prefix}}</span>
            </div>
            <input class="form-control form-control-sm" [disabled]="true"
              [ngModel]="params.newTrainingcostGroup?.totalRaw" />
          </div>
        </div>
        <!-- 原始总金额 -->
        <!-- <div class="form-group col-md-3">
          <label class="form-label" style="width: 100%;">
            <span class="row-bold default-color">原始总金额</span>
          </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">{{prefix}}</span>
            </div>
            <input class="form-control" [disabled]="true" [ngModel]="params.newTrainingcostGroup?.totalRaw" />
          </div>
        </div> -->
        <div class="form-group col-md-1">
          <label class="form-label form-label-sm">必选</label>
          <input class="form-control form-control-sm compact-input" [disabled]="true"
            [ngModel]="params.newTrainingcostGroup?.mustCount" />
        </div>
        <div class="form-group col-md-3">
          <label class="form-label form-label-sm" style="width: 100%;">必选课程种类&nbsp;
          </label>
          <input class="form-control form-control-sm" [ngModel]="params.newTrainingcostGroup?.mustName" [disabled]="true" />
        </div>
        <div class="form-group col-md-2" [hidden]="false">
          <label class="form-label form-label-sm">单价</label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">{{prefix}}</span>
            </div>
            <input class="form-control form-control-sm" [disabled]="true"
              [ngModel]="params.newTrainingcostGroup?.mustAmount" (blur)="updateQuotationParams()" />
          </div>
        </div>
        <div class="form-group col-md-3" [hidden]="true">
          <label class="form-label form-control-sm">可选总份数</label>
          <input class="form-control form-control-sm" [disabled]="true"
            [ngModel]="params.newTrainingcostGroup?.optCount" />
        </div>
      </div>
      <ng-container *ngFor="let item of params.newTrainingcostGroupOpt; let i = index">
        <div class="row">
          <div class="form-group col-md-1 offset-md-3 mb-1">
            <label class="form-label form-label-sm" *ngIf="i === 0">可选</label>
            <input class="form-control form-control-sm compact-input" [ngModel]="item.count"
              [disabled]="true" />
          </div>
          <div class="form-group col-md-3 mb-1">
            <label class="form-label form-label-sm" *ngIf="i === 0">可选课程种类</label>
            <input class="form-control form-control-sm" [readonly]="true" [ngModel]="item.name" />
          </div>
          <div class="form-group col-md-2 mb-1" [hidden]="newtrainingcostPriceTag">
            <label class="form-label form-label-sm" *ngIf="i === 0">单价</label>
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">{{prefix}}</span>
              </div>
              <input class="form-control form-control-sm" type="number" min="0" [readonly]="true"
                [ngModel]="item.amount" />
            </div>
          </div>
        </div>
      </ng-container>

      <hr class="border-light mt-2 mb-1">
      <div class="row">
        <div class="col-md-3">
          <span class="form-label form-label-sm default-color row-bold">课程培训价格参考列表</span>
        </div>
      </div>
      <ng-container *ngFor="let item of params.groupTrainingList; let i = index">
        <div class="row">
          <div class="form-group col-md-3 offset-md-4 mb-1">
            <label class="form-label form-label-sm" *ngIf="i === 0">课程种类名称</label>
            <input class="form-control form-control-sm" [readonly]="true" [ngModel]="item.name" />
          </div>
          <div class="form-group col-md-2 mb-1">
            <label class="form-label form-label-sm" *ngIf="i === 0">单价（美金）</label>
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input class="form-control form-control-sm"  [disabled]="true"
                [ngModel]="item.usd" />
            </div>
          </div>
          <div class="form-group col-md-2 mb-1">
            <label class="form-label form-label-sm" *ngIf="i === 0">单价（人民币）</label>
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">￥</span>
              </div>
              <input class="form-control form-control-sm"  [disabled]="true"
                [ngModel]="item.rmb" />
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="modal-footer" style="justify-content:center;">
<ng-container *ngIf="pageType == '1'">
  <button type="button" class="btn btn-primary" (click)="finishTrainingcostGroupMust($event)">确认</button>
</ng-container>
<ng-container *ngIf="pageType == '2'">
  <button type="button" class="btn btn-primary" (click)="finishTrainingcostGroupOpt($event)">确认</button>
</ng-container>
  <ng-container *ngIf="pageType == '3'">
    <button type="button" class="btn btn-primary"
      (click)="finishOther($event)">确认</button>
  </ng-container>
  <div>
    <button type="button" class="btn btn-info" (click)="closeModal()">Return 返回
    </button>
  </div>
</div>
