<div style="line-height: 40px;margin-top: 16px;" *ngIf="isThirdParty && !isLegancy">
  <label style="margin: 0 2px 0 0">{{"list-pages.transfer.batch" | translate}}</label>
  <nz-switch [(ngModel)]="openCheckbox" style="margin: 0 10px 0 0"></nz-switch>
  <button *ngIf="openCheckbox" [disabled]="!anyChecked" nz-button [nzType]="'primary'" (click)="openAssignShowoff()">
    {{"list-pages.transfer.transfer" | translate}}
  </button>
</div>
<nz-table nzVirtualScroll [nzData]="tableData" [nzVirtualItemSize]="10" nzFrontPagination="false"
  [nzPageIndex]="pageParams.pageNo" [nzPageSize]="pageParams.pageSize" [nzTotal]="total" [nzLoading]="loading"
  [nzScroll]="{ x: '2000px', y: '600px' }" (nzPageIndexChange)="changePageIndex($event)" [nzShowTotal]="totalTemplate"
  (nzPageSizeChange)="changePageSize($event)" style="margin-top: 16px">
  <thead>
    <tr>
      <th nzWidth="50px" *ngIf="openCheckbox">
        <label [nzChecked]="AllCheck()" (nzCheckedChange)="CheckAll($event)" nz-checkbox style="display: inline-block;">
        </label>
      </th>
      <th class="tableHead" nzAlign="center" style="width: 220px">
        {{"list-pages.table-header.ref-no" | translate}}
      </th>
      <th class="tableHead" *ngIf="isThirdParty && !isLegancy" nzAlign="center" style="width: 200px">
        {{"list-pages.table-header.icf-sign-time" | translate}}
      </th>
      <th class="tableHead" *ngIf="isThirdParty && !isLegancy" nzAlign="center" style="width: 200px">
        {{"list-pages.table-header.if_dealer_has_upload_audit_material" | translate}}
      </th>
      <th class="tableHead" *ngIf="isThirdParty && !isLegancy" nzAlign="center" style="width: 200px">
        {{"list-pages.table-header.icf-registration-time" | translate}}
      </th>
      <th class="tableHead" nzAlign="center" style="width: 200px">
        {{"list-pages.table-header.task-status" | translate}}
      </th>
      <th class="tableHead" nzAlign="center" style="width: 220px">
        {{"list-pages.table-header.applicant" | translate}}
      </th>
      <th class="tableHead" nzAlign="center" style="width: 240px">
        {{"list-pages.table-header.hospital-name" | translate}}
      </th>
      <th class="tableHead" nzAlign="center" style="width: 240px">
        {{"list-pages.table-header.dealer-name" | translate}}
      </th>
      <th class="tableHead" nzAlign="center" style="width: 100px">
        {{"list-pages.table-header.business-model" | translate}}
      </th>
      <th class="tableHead" nzAlign="center" style="width: 100px">
        {{"list-pages.table-header.oit-mode" | translate}}
      </th>
      <th class="tableHead" nzAlign="center" style="width: 200px">
        {{"list-pages.table-header.so" | translate}}
      </th>
      <th class="tableHead" nzAlign="center" style="width: 200px">
        {{"list-pages.table-header.bidding-number" | translate}}
      </th>
      <th class="tableHead" nzAlign="center" style="width: 200px">
        {{"list-pages.table-header.market-bundle-name" | translate}}
      </th>
      <th class="tableHead" nzAlign="center" style="width: 200px">
        {{"list-pages.table-header.bidder-name" | translate}}
      </th>
      <!-- <th class="tableHead" nzAlign="center" style="width: 200px">
        {{"list-pages.table-header.third-check" | translate}}
      </th> -->
      <th class="tableHead" nzAlign="center" nzRight="0px" style="width: 200px">
        {{"list-pages.table-header.action" | translate}}
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-template nz-virtual-scroll let-data let-index="index">
      <tr>
        <td nzWidth="50px" *ngIf="openCheckbox"><label nz-checkbox [(ngModel)]="mapOfCheckedId[data.id]"></label></td>

        <td class="tableData" style="width: 220px;" nzAlign="center">{{ data.referenceId }}</td>

        <td class="tableData" *ngIf="isThirdParty && !isLegancy" style="width: 200px;" nzAlign="center">{{ (data.icfSignTime | TimeFormatePipeNow) || "-"}}</td>
        <td class="tableData" *ngIf="isThirdParty && !isLegancy" style="width: 200px;" nzAlign="center">{{ (data.ifDistributorHasUploadMaterial ? "是":"否")}}</td>
        <td class="tableData" *ngIf="isThirdParty && !isLegancy" style="width: 200px;" nzAlign="center">{{ (data.icfRegistrationTime | TimeFormatePipeNow) || "-"}} </td>

        <td *ngIf="data.procPhase === 'p3'" class="tableData" style="width: 200px;" nzAlign="center">{{ data.taskStatus
          | ProcessTaskStatusPipe | async}}</td>
        <td *ngIf="data.procPhase != 'p3'" class="tableData" style="width: 200px;" nzAlign="center">{{ data.taskStatus |
          ProcessStatusPipe}}</td>
        <td class="tableData" style="width: 220px;" nzAlign="center">{{ data.applicant }}</td>
        <td class="tableData" style="width: 240px;" nzAlign="center">{{ data.hospitalName }}</td>
        <td class="tableData" style="width: 240px;" nzAlign="center">{{ data.dealerName }}</td>
        <td class="tableData" style="width: 100px;" nzAlign="center">{{ data.businessModel | ProcessModel}}</td>
        <td class="tableData" style="width: 100px;" nzAlign="center">{{ ProOitModeType(data.oitMode?data.oitMode:'' )}}
        </td>
        <td class="tableData" style="width: 200px;" nzAlign="center">{{ data.so }}</td>
        <td class="tableData" style="width: 200px;" nzAlign="center">{{ data.biddingNumber }}</td>
        <td class="tableData" style="width: 200px;" nzAlign="center">{{ data.marketBundleName | ellipsis:50 }}</td>
        <td class="tableData" style="width: 200px;" nzAlign="center">{{ data.bidderName }}</td>
        <!-- <td class="tableData" style="width: 200px;" nzAlign="center">{{ data.productVerificationInformation }}</td> -->
        <td class="tableData" style="width: 180px" nzAlign="center" nzRight="0px">
          <!-- 三期操作 -->
          <a *ngIf="data.procPhase === 'p3'" style="display: block; color: #337FBF;" (click)="operate(data)">
            {{ type === 'winningbid' && isHandle === 1 ? '查看' : '处理' }}
          </a>


          <!-- 一期操作 -->
          <!-- 已中标确认待补充文件 -->
          <a *ngIf="data.taskStatus==='YZBQRDBCWJ' || data.taskStatus==='YZBQRYBCWJ'"
            style="display: block; color: #337FBF;" (click)="goToSupportUp(data)">
            {{isHandle === 0 ? '处理' : '查看'}}
          </a>

          <!--待OIT待文件上传-->
          <a *ngIf="data.taskStatus === 'DOITWJSC'" style="display: block; color: #337FBF;"
            (click)="goCompleteOit(data)">处理</a>

          <a *ngIf="data.taskStatus === 'OITENDDBCWJSC' && type != 'third' && type != 'om'"
            style="display: block;color: #337FBF;" (click)="goCompleteOitFile(data)">处理</a>

          <a *ngIf="data.taskStatus === 'OITEND'  && type != 'third' && type != 'om'"
            style="display: block; color: #337FBF;" (click)="goCompleteOit(data)">处理</a>

          <!--合同签署-->
          <a *ngIf="data.taskStatus === 'HTQS'" style="display: block; color: #337FBF;" (click)="goConsign(data)">
            处理
          </a>

          <!--待补充文件上传-->
          <a *ngIf="data.taskStatus === 'DBCWJSC' && type != 'third' && type != 'om'"
            style="display: block; color: #337FBF;" (click)="goSuppfile(data)">
            处理
          </a>

          <a *ngIf="(data.taskStatus === 'OITEND'||data.taskStatus==='DBCWJSC'||data.taskStatus==='OITENDDBCWJSC') && type==='third'"
            style="display: block; color: #337FBF;" (click)="goCompleteOit(data,'third')">
            处理
          </a>
          <a *ngIf="(data.taskStatus === 'OITEND'||data.taskStatus==='DBCWJSC'||data.taskStatus==='OITENDDBCWJSC') && type==='om'"
            style="display: block; color: #337FBF;" (click)="goCompleteOit(data,'realTime')">
            处理
          </a>

          <!--PREBOOK-oa补充文件-->
          <a *ngIf="data.taskStatus === 'prebook_oa_supplement'" style="display: block; color: #337FBF;"
            (click)="getPrebookSupplement(data)">
            处理
          </a>
          <!--PREBOOK-oa补充文件 end-->
          <!--PREBOOK-om回填 prebook_end回填-->
          <a *ngIf="data.taskStatus === 'prebook_om_backfill'||data.taskStatus === 'prebook_end'"
            style="display: block; color: #337FBF;" (click)="getPrebookom(data)">
            处理
          </a>

        </td>
      </tr>
    </ng-template>

  </tbody>

</nz-table>
<ng-template #totalTemplate let-total> {{"list-pages.list-total" | translate: { total: total} }} </ng-template>

<!--转派弹出框-->
<nz-modal *ngIf="flag == 0" [(nzVisible)]="assignShowoff" nzWidth="600px"
  [nzTitle]="'list-pages.transfer.title' | translate" (nzOnCancel)="cancelModeal()" (nzOnOk)="subAssign()"
  [nzFooter]="modalFooter_Task">
  <ng-container>
    <div>
      <nz-form-label style="width: 20%" nzRequired>{{"list-pages.transfer.role" | translate}}</nz-form-label>
      <nz-form-control style="width: 70%; display: inline-block">
        <nz-select style="width: 100%" [(ngModel)]="role" (ngModelChange)="roleChange()">
          <ng-container *ngFor="let item of roleList">
            <nz-option [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </div>
    <div style="margin-top: 20px">
      <nz-form-label style="width: 20%" nzRequired>{{"list-pages.transfer.receiver" | translate}}</nz-form-label>
      <nz-form-control style="width: 70%; display: inline-block">
        <nz-select style="width: 100%" [(ngModel)]="receiver" nzShowSearch>
          <ng-container *ngFor="let item of receiverList">
            <nz-option
              *ngIf="item.role && role && item.role.toLowerCase().indexOf(role.toLowerCase()) != -1 && item.email != appUser"
              [nzValue]="item.email" [nzLabel]="item.email"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </div>
    <ng-template #modalFooter_Task>
      <button nz-button nzType="default" (click)="cancelModeal()">{{"list-pages.transfer.cancel" | translate}}</button>
      <button nz-button nzType="primary" (click)="subAssign()" [nzLoading]="subAssignLoading">
        {{"list-pages.transfer.ok" | translate}}</button>
    </ng-template>
  </ng-container>
</nz-modal>
