<div class="tit1">产品信息 <a style="color:red;margin-left: 10px;font-weight:normal;font-size: 12px">当前数据来源：CRM链接</a></div>

<div style="color: red;font-weight: bold;font-size: 14px;margin: 20px auto">Opportunity ID 1 </div>
<div class="row">
  <div class="table-top">
    <div class="table-top-nav">产品类型</div>
    <div class="table-top-nav">产品型号</div>
    <div class="table-top-nav">产品名称</div>
    <div class="table-top-nav">本地名称</div>
    <div class="table-top-nav">产品线</div>
    <div class="table-top-nav">MAG</div>
    <div class="table-top-nav">CostCenter</div>
    <div class="table-top-nav">台数</div>
    <div class="table-top-nav">操作</div>
  </div>
  <div class="table-nav" *ngFor="let it of rows2;let index=index">
    <div class="table-b">
      <div class="table-b-nav">{{it.cplx}}</div>
      <div class="table-b-nav">{{it.cpxh}}</div>
      <div class="table-b-nav">{{it.cpmc}}</div>
      <div class="table-b-nav">{{it.bdmc}}</div>
      <div class="table-b-nav">{{it.cpx}}</div>
      <div class="table-b-nav">{{it.mag}}</div>
      <div class="table-b-nav">{{it.costcenter}}</div>
      <div class="table-b-nav">{{it.ts}}</div>
      <div class="table-b-nav">
        <a href="javascript:void(0)" class="btn btn-primary btn-xs ck" (click)="openchen($event,index,ch)" data-i="0">显示子产品</a>
<!--                <a href="javascript:void(0)" class="btn btn-primary btn-xs ck">删除</a>-->
      </div>
    </div>
    <div class="table-ch" #ch>
      <div class="table-c" *ngFor="let it2 of it.cher">
        <div class="table-b-nav">{{it2.cplx}}</div>
        <div class="table-b-nav">{{it2.cpxh}}</div>
        <div class="table-b-nav">{{it2.cpmc}}</div>
        <div class="table-b-nav">{{it2.bdmc}}</div>
        <div class="table-b-nav">{{it2.cpx}}</div>
        <div class="table-b-nav">{{it2.mag}}</div>
        <div class="table-b-nav">{{it2.costcenter}}</div>
        <div class="table-b-nav">{{it2.ts}}</div>
        <div class="table-b-nav">
        </div>
      </div>
    </div>
  </div>

</div>

<div style="color: red;font-weight: bold;font-size: 14px;margin: 20px auto">Opportunity ID 2 </div>
<div class="row">
  <div class="table-top">
    <div class="table-top-nav">产品类型</div>
    <div class="table-top-nav">产品型号</div>
    <div class="table-top-nav">产品名称</div>
    <div class="table-top-nav">本地名称</div>
    <div class="table-top-nav">产品线</div>
    <div class="table-top-nav">MAG</div>
    <div class="table-top-nav">CostCenter</div>
    <div class="table-top-nav">台数</div>
    <div class="table-top-nav">操作</div>
  </div>
  <div class="table-nav" *ngFor="let it of rows2;let index=index">
    <div class="table-b">
      <div class="table-b-nav">{{it.cplx}}</div>
      <div class="table-b-nav">{{it.cpxh}}</div>
      <div class="table-b-nav">{{it.cpmc}}</div>
      <div class="table-b-nav">{{it.bdmc}}</div>
      <div class="table-b-nav">{{it.cpx}}</div>
      <div class="table-b-nav">{{it.mag}}</div>
      <div class="table-b-nav">{{it.costcenter}}</div>
      <div class="table-b-nav">{{it.ts}}</div>
      <div class="table-b-nav">
        <a href="javascript:void(0)" class="btn btn-primary btn-xs ck" (click)="openchen($event,index,ch2)" data-i="0">显示子产品</a>
<!--                <a href="javascript:void(0)" class="btn btn-primary btn-xs ck">删除</a>-->
      </div>
    </div>
    <div class="table-ch" #ch2>
      <div class="table-c" *ngFor="let it2 of it.cher">
        <div class="table-b-nav">{{it2.cplx}}</div>
        <div class="table-b-nav">{{it2.cpxh}}</div>
        <div class="table-b-nav">{{it2.cpmc}}</div>
        <div class="table-b-nav">{{it2.bdmc}}</div>
        <div class="table-b-nav">{{it2.cpx}}</div>
        <div class="table-b-nav">{{it2.mag}}</div>
        <div class="table-b-nav">{{it2.costcenter}}</div>
        <div class="table-b-nav">{{it2.ts}}</div>
        <div class="table-b-nav">
        </div>
      </div>
    </div>
  </div>

</div>


<!--<div class="table-responsive">-->
<!--  <ngx-datatable #table style="min-width: 500px;text-align: center !important;"-->
<!--                 [rows]="rows"-->
<!--                 [loadingIndicator]="loadingIndicator"-->
<!--                 [columnMode]="'force'"-->
<!--                 [headerHeight]="43"-->
<!--                 [footerHeight]="'auto'"-->
<!--                 [rowHeight]="'auto'"-->
<!--                 [reorderable]="true"-->
<!--                 [selected]="selected"-->
<!--                 [selectionType]="'checkbox'"-->
<!--                 [externalPaging]="true"-->
<!--                 [externalSorting]="true"-->
<!--                 [count]="10"-->
<!--                 [offset]="1"-->
<!--                 [limit]="10"-->
<!--                 [sortType]="'single'"-->
<!--                 (page)="pageCallback($event)"-->
<!--                 (sort)="sortCallback($event)"-->
<!--  >-->
<!--    <ngx-datatable-column prop="cplx" name="产品类型"[headerClass]="getHeaderClass" [cellClass]="getCellClass"></ngx-datatable-column>-->
<!--    <ngx-datatable-column prop="cpxh" name="产品型号"[headerClass]="getHeaderClass" [cellClass]="getCellClass"></ngx-datatable-column>-->
<!--    <ngx-datatable-column prop="cpmc" name="产品名称"[headerClass]="getHeaderClass" [cellClass]="getCellClass">-->
<!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--        {{value}}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column prop="bdmc" name="本地名称">-->
<!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--        {{value}}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column prop="cpx" name="产品线">-->
<!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--        {{value}}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column prop="mag" name="MAG">-->
<!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--        {{value}}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column prop="costcenter" name="CostCenter">-->
<!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--        {{value}}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column prop="ts" name="台数">-->
<!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--        {{value}}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column name="操作">-->
<!--      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
<!--        <a href="javascript:void(0)" class="btn btn-primary btn-xs ck">隐藏子产品</a>-->
<!--        <a href="javascript:void(0)" class="btn btn-primary btn-xs ck">删除</a>-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--  </ngx-datatable>-->
<!--</div>-->



<div class="next">
  <button type="button" class="btn btn-primary">上一步</button>
  <button type="button" class="btn btn-primary">下一步</button>
</div>
