<app-apploading [load]="pageLoading"></app-apploading>
<nz-card *ngIf="!signaturePageOff" class="title_warpper mtb1rem">
  <app-approval-progress></app-approval-progress>
</nz-card>
<div class="tabs-box">
  <app-tabs #tabs (select)="tabclick($event)">
    <app-tab [title]="'orderv3.pages.contract-sign.contract-summary' | translate" id="contract-tab">
      <div class="card-body">
        <pre-base-info-from #baseInfoFromChild [formValue]="formValue" [editPreTable]="false" [editable]="false"
          [isContract]="true" [subTierSubject]="subTierSubject">
        </pre-base-info-from>
        <pre-base-info-table #baseInfoTableChild [formValue]="formValue" [isContract]="true"></pre-base-info-table>
      </div>
    </app-tab>
    <app-tab title="Order Summary" id="summary-tab">
      <div class="card-body">
        <ecos-ordersummary-info [formValue]="formValue" [bg]="baseInfoFromData.getRawValue().orderModality"
          [editable]="false" [editPreTable]="false"></ecos-ordersummary-info>
        <pre-base-info-table [formValue]="formValue" [isContract]="true" [isResultVerify]="true"></pre-base-info-table>
        <app-oa-add-info #oaAddInfoChild [formValue]="formValue"></app-oa-add-info>
      </div>
    </app-tab>
    <app-tab [title]="'orderv3.pages.contract-sign.sin' | translate" id="complete-tab">
      <div class="card-body">
        <ecos-electronic-contract-sign-baseInfo [formValue]="formValue" [flag]="flag"
          [applySignatureBtn]="applySignatureBtn" [approvalSigatureBtn]="approvalSigatureBtn"
          [signaturePageOff]="signaturePageOff"></ecos-electronic-contract-sign-baseInfo>
        <ecos-electronic-contract-sign-info [info]="info" [contractSignFileList]="contractSignFileList"
          [contractSignedFilesList]="signFileFormData"
          [contractId]="contractId" from="CONTRACT"
          (refreshDetail)="refreshDetail()"></ecos-electronic-contract-sign-info>
      </div>
    </app-tab>
    <app-tab [title]="'orderv3.pages.contract-sign.history' | translate" id="approval-record">
      <div class="card-body">
        <app-form-section [title]="'orderv3.pages.contract-examine.history'| translate">
          <approval-history-oit [applyId]="applyId">
          </approval-history-oit>
          <app-form-section class="mtb1rem" [title]="'orderv3.pages.pre-order.history-child' | translate">
            <shared-approval-history [procInstId]="procInstId"></shared-approval-history>
          </app-form-section>
        </app-form-section>
        <contract-remarks [formValue]="formValue" [remarkFrom]="remarkFromData"></contract-remarks>
      </div>
    </app-tab>
    <app-tab *ngIf="!attachmentOff" [title]="'orderv3.pages.contract-sign.signature-history' | translate"
      id="approval-history">
      <div class="card-body">
        <app-form-section class="mtb1rem" [title]="'orderv3.pages.contract-examine.history'| translate">
          <approval-history-signature [applyId]="applyId"></approval-history-signature>
        </app-form-section>
        <contract-remarks [formValue]="formValue" [attachmentOff]="attachmentOff"
          [remarkFrom]="remarkFromsignatureData"></contract-remarks>
      </div>
    </app-tab>
    <app-tab [title]="'orderv3.pages.contract-sign.change' | translate" *ngIf="changeItem&&attachmentOff"
      id="approve-change">
      <div class="card-body">
        <approve-change [formValue]="formValue"></approve-change>
      </div>
    </app-tab>
  </app-tabs>
  <!-- <div *ngIf="flag === '1' && sign === '1' && applySignatureBtn" nz-row nzType="flex" class="fixed-btn-group"
    nzJustify="start" nzAlign="middle">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: center">
          <button nz-button nzType="default" style="margin-right: 10px" (click)="handleCancel()">
            {{"orderv3.pages.contract-sign.cancel" | translate}}
          </button>
          <button nz-button nzType="primary" (click)="applySignatureSubmit('save','4')">
            {{"orderv3.pages.contract-sign.save" | translate}}
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div> -->
</div>
