<nz-modal [(nzVisible)]="visible" nzWidth="1000px" [nzTitle]="'请选择关联的Slot Reservation'"
  [nzFooter]="null" (nzOnCancel)="onHide()">


  <div class="table-container">
    <nz-table [nzData]="tableData.rows" [nzShowTotal]="totalTemplate" [nzTotal]="tableData.total"
      [nzLoading]="tableData.loading" [nzPageSizeOptions]="[5, 10, 20, 30, 40, 50 ]" [nzShowQuickJumper]="true"
      [nzShowSizeChanger]="true" [nzFrontPagination]="false" [nzScroll]="{ x:'800px',y:'300px'}"
      [(nzPageIndex)]="searchParams.pageNo" [(nzPageSize)]="searchParams.pageSize" (nzPageIndexChange)="query()"
      (nzPageSizeChange)="query()">
      <thead>
        <tr>
          <th nzWidth="160px" style="width:160px" nzAlign="center">{{"orderv3.components.select-deal.deal-form-id" | translate}}</th>
          <th nzAlign="160px" style="width:160px" nzAlign="center">Opportunity ID</th>
          <th nzAlign="160px" style="width:160px" nzAlign="center">Order主机MarketBundel</th>
          <th nzAlign="160px" style="width:160px" nzAlign="center">数量</th>
          <th nzAlign="160px" style="width:160px" nzAlign="center">Slot Reservation申请号</th>
          <th style="width:100px" nzRight="0px" nzAlign="center">{{"orderv3.components.select-deal.action" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData.rows">
          <td style="width:160px" nzAlign="center">
            {{item.dealFormId}}
          </td>
          <td style="width:160px" nzAlign="center">
            {{ item.opportunityId}}
          </td>
          <td style="width:160px" nzAlign="center">
            {{ item.marketBundleName}}
          </td>
          <td style="width:160px" nzAlign="center">
            {{ item.marketBundleAmount}}
          </td>
          <td style="width:160px" nzAlign="center">
            {{item.referenceId}}
          </td>
          <td nzAlign="center" style="width:83px" nzRight="0px">
            <button nz-button nzSize="small" nzType="primary" (click)="onSelect(item)">
              {{"orderv3.components.select-deal.select" | translate}}
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <ng-template #totalTemplate let-total>
      {{"orderv3.components.select-deal.total" | translate: { total : tableData.total } }}
    </ng-template>
  </div>
</nz-modal>
