.table-operations {
  margin-bottom: 16px;
}
.tc {
  text-align: center;
}
.innerboxs {
  margin-bottom: 10px;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.short_title {
  margin: 20px auto;
  display: flex;
  //vertical-align: center;
  align-items: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.ellipsis {
  text-overflow: ellipsis; /*让截断的文字显示为点点。还有一个值是clip意截断不显示点点*/
  white-space: nowrap; /*让文字不换行*/
  overflow: hidden; /*超出要隐藏*/
  width: 200px;
  display: inline-block;
}
