<nz-card class="title_warpper">
  <div>
    <h4 class="font-weight-bold">
      <span>
            <!--<span class="text-muted font-weight-light">Tables /</span>-->  View/Edit Data
      </span>
    </h4>
  </div>
</nz-card>
<div class="card mb-4">
    <!-- <h6 class="card-header">
      Overview
    </h6> -->
    <div class="card-body">
      <form *ngIf="masterDataFixed">

        <ng-container *ngFor="let kv of masterDataFixed | keyvalue:keyValueOrder; trackBy: trackByFn">
          <ng-container *ngIf="kv.key!='id' && kv.key!='status';else is_id_status">
            <div class="form-group row">
              <label class="col-form-label col-sm-2 text-sm-right">{{kv.key}}</label>
              <ng-container *ngFor="let old of masterOld | keyvalue">
                <!-- {{old.key}} -->
                <ng-container *ngIf="old.key == kv.key">
                  <span class="col-sm-5">
                    <input type="text" class="form-control" name="{{kv.key}}" value="{{old.value}}" readonly="readonly">
                  </span>
                </ng-container>
              </ng-container>
              <span class="col-sm-5" *ngIf="isNotPk(kv.key)">
                <input type="text" class="form-control" name="{{kv.key}}" [(ngModel)]="masterDataFixed[kv.key]">
              </span>
            </div>
          </ng-container>
          <ng-template #is_id_status>
            <div *ngIf="kv.key=='id'" class="form-group row" style="display:none;">
              <label class="col-form-label col-sm-2 text-sm-right">{{kv.key}}</label>
              <span class="col-sm-5">
                <input type="text" class="form-control" name="{{kv.key}}" value="{{kv.value}}" readonly="readonly">
              </span>
              <span class="col-sm-5">
                  <input type="text" class="form-control" name="{{kv.key}}" [(ngModel)]="masterDataFixed[kv.key]">
              </span>
            </div>
            <div *ngIf="kv.key=='status'" class="form-group row">
              <label class="col-form-label col-sm-2 text-sm-right">{{kv.key}}</label>
              <span class="col-sm-5">
                <ng-container *ngFor="let old of masterOld | keyvalue">
                  <!-- {{old.key}} -->
                  <ng-container *ngIf="old.key == kv.key">
                    <select class="custom-select" disabled value="{{old.value}}" >
                      <option value="">&ensp;</option>
                      <option value="1">Active</option>
                      <option value="0">Deactive</option>
                    </select>
                  </ng-container>
                </ng-container>
              </span>
              <span class="col-sm-5">
                <select class="custom-select" name="{{kv.key}}" [(ngModel)]="masterDataFixed[kv.key]">
                  <option value="1">Active</option>
                  <option value="0">Deactive</option>
                </select>
              </span>
            </div>
          </ng-template>
        </ng-container>
        
        <div class="form-group row">
          <div class="col-sm-10 ml-sm-auto">
            <button class="btn btn-primary" type="button" (click)="updateMasterData()">保存</button>
            <button class="btn btn-secondary" type="button" onclick="history.go(-1);">返回</button>
          </div>
        </div>
      </form>
    </div>
</div>