<app-apploading [load]="load"></app-apploading>
<nz-card class="title_warpper mb10">
  <div>
    <h4 class="font-weight-bold">
      <span>Mail Approval 邮件审批</span>
    </h4>
  </div>
</nz-card>
<div class="iconflex" *ngIf="successOff">
  <div>
    <i nz-icon class="success" nzType="check-circle" nzTheme="outline"></i>
    <p>
      请求成功!
    </p>
    <a href="javascript:" class="mt10 goHome" (click)="goHome()">返回到首页</a>
  </div>
</div>
<div class="iconflex" *ngIf="lossOff">
  <div>
    <i nz-icon class="loss" nzType="close-circle" nzTheme="outline"></i>
    <p>
      请求失败!
    </p>
    <a href="javascript:" class="mt10 goHome" (click)="goHome()">返回到首页</a>
  </div>
</div>
