:host /deep/ {
  .ant-input-group-addon {
    border: none;
    padding-right: 0;
    background-color: #fff;
  }

  .ant-form-item-label {
    white-space: normal;
  }

  .ant-form-item label {
    line-height: 20px;
  }

}

::ng-deep .tab-pad8 {

  .ant-table-thead>tr>th,
  .ant-table-tbody>tr>td {
    padding: 16px 8px !important;
  }
}