.role-management-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .rmc-wrap {
    margin-top: 1rem;
    width: 100%;
    flex: 1 1 auto;
    /deep/.ant-card-body {
      height: 100%;
    }

    .rmc-content {
      height: 100%;
      .side-tree {
        height: 100%;
        overflow-y: auto;
        overflow-x: auto;
        // /deep/.ant-card-body {
        //   padding: 0 !important;
        // }
      }
      .roleTable {
        height: 100%;
        /deep/.ant-card-body {
          padding: 0;
        }
      }
    }
  }
}
