<div style="width: 100%; background-color: #ffffff;" class="contract-electronic-signature-wrap">
  <electronic-signature-search-item #electronicSearchItem [loading]="loading" [formData]="formValues"
    [totalOne]="totalOne" [totalTwo]="totalTwo" [totalThree]="totalThree" [totalFour]="totalFour"
    [queryType]="queryType" (search)="updateParams($event)" (setLoading)="getLoading($event)"
    (batchSign)="handleBatchSignContract()" [from]="from" [contractType]="'COMMON'">
  </electronic-signature-search-item>
  <electronic-signature-list #table [loading]="loading" [formData]="formValues" [tableData]="tableData" [total]="total"
    [type]="type" (pageChange)="updateDataList($event)" (setLoading)="getLoading($event)" [from]="from" [contractType]="'COMMON'">
  </electronic-signature-list>
</div>
