@import "styles/media_query.scss";
:host {
  display: block;
}
.navbar {
  @media screen and (max-width: $screen-md-max) {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.dropdown-menu.show {
  max-height: 300px;
  overflow: auto;
}
.icons {
  font-size: 18px;
  cursor: pointer;
}
