<nav class="navbar navbar-expand-lg align-items-lg-center container-p-x" [ngClass]="currentBg()">
  <!-- Brand -->
  <div class="navbar-brand navbar-logo">
    <a routerLink="/"></a>
  </div>

  <!-- Sidenav toggle -->
  <div class="navbar-nav align-items-lg-center mr-auto mr-lg-4" *ngIf="sidenavToggle">
    <a class="nav-item nav-link px-0 ml-2" href="javascript:void(0)" (click)="toggleSidenav()">
      <i class="ion ion-md-menu text-large align-middle"></i>
    </a>
  </div>

  <!-- Navbar toggle -->
  <button class="navbar-toggler" type="button" (click)="isExpanded = !isExpanded">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" [ngbCollapse]="!isExpanded">
    <div class="navbar-nav align-items-lg-center">
      <div class="navbar-item navbar-title">
        <a class="nav-link" routerLink="/">Commercial Operation
          <nz-tag *ngIf="showVersion" [nzColor]="'green'">V{{ version }}</nz-tag>
        </a>
      </div>
      <!-- <div class="nav-item"><a class="nav-link" href="#">Link 1</a></div> -->
      <!-- <div class="nav-item"><a class="nav-link" href="#">Link 2</a></div> -->
    </div>
  </div>

  <div class="navbar-collapse collapse" [ngbCollapse]="!isExpanded">
    <!-- Divider -->
    <hr class="d-lg-none w-100 my-2" />

    <div class="navbar-nav align-items-lg-center ml-auto" id="linksBox">
      <nz-dropdown [nzTrigger]="'hover'">
        <a nz-dropdown class="nav-link dropdown-toggle">
          {{ "system-support" | translate }}
        </a>
        <ul nz-menu>
          <li class="p-border-list-item" (click)="showQAPanel()" style="height: 32px" nz-menu-item>
            <div>
              <a href="javascript:void(0)">
                {{ "system-support-dropdown.qa" | translate }}
              </a>
            </div>
          </li>
          <li class="p-border-list-item" style="height: 32px" nz-menu-item>
            <div>
              <a href="https://philips.service-now.com/itportal" target="_blank">
                {{ "system-support-dropdown.global-it-support" | translate }}
              </a>
            </div>
          </li>
          <li class="p-border-list-item" (click)="iconClick()" style="height: 32px" nz-menu-item>
            <div>
              <a href="javascript:void(0)">
                {{ "system-support-dropdown.raise-ticket" | translate }}
              </a>
            </div>
          </li>
        </ul>
      </nz-dropdown>
      <nz-dropdown [nzTrigger]="'hover'">
        <a nz-dropdown class="nav-link dropdown-toggle">
          {{ "quick-links" | translate }}
        </a>
        <ul nz-menu>
          <li class="p-border-list-item" style="height: 32px" *ngFor="let item of linkList" nz-menu-item>
            <div>
              <a [href]="item.label" target="_blank"> {{ item.tag }}</a>
            </div>
          </li>
        </ul>
      </nz-dropdown>
      <nz-dropdown [nzTrigger]="'hover'">
        <a nz-dropdown class="nav-link dropdown-toggle"> {{ username }} </a>
        <ul nz-menu>
          <li class="p-border-list-item" (click)="showProfile()" style="height: 32px" nz-menu-item>
            <div>
              <a href="javascript:void(0)">
                {{ "profile-dropdown.profile" | translate }}
              </a>
            </div>
          </li>
          <!-- <li class="p-border-list-item" (click)="showWaterMark()" style="height: 32px" nz-menu-item>
            <div>
              <a href="javascript:void(0)">{{
                "profile-dropdown.watermark" | translate
                }}</a>
            </div>
          </li> -->
          <li class="p-border-list-item" (click)="showSystemStyle()" style="height: 32px" nz-menu-item>
            <div>
              <a href="javascript:void(0)">
                {{ "profile-dropdown.system" | translate }}</a>
            </div>
          </li>
          <li class="p-border-list-item" (click)="logout()" style="height: 32px" nz-menu-item>
            <div>
              <a href="javascript:void(0)">{{
                "profile-dropdown.logout" | translate
                }}</a>
            </div>
          </li>
        </ul>
      </nz-dropdown>
    </div>
  </div>
</nav>
<app-dialog-panel [title]="'system-support-dropdown.qa' | translate" #qa>
  <app-dialog-panel-tab [title]="'system-support-dropdown.qa-documents' | translate">
    <div style="height: 420px; overflow-y: auto">
      <app-qalist [type]="'cos'"></app-qalist>
    </div>
  </app-dialog-panel-tab>
  <app-dialog-panel-tab [title]="'system-support-dropdown.special-approval' | translate">
    <div style="height: 420px; overflow-y: auto">
      <app-qalist [type]="'sp'"></app-qalist>
    </div>
  </app-dialog-panel-tab>
  <app-dialog-panel-tab [title]="'system-support-dropdown.snow' | translate">
    <div style="height: 420px; overflow-y: auto">
      <app-qalist [type]="'snow'"></app-qalist>
    </div>
  </app-dialog-panel-tab>
  <!-- <app-dialog-panel-tab
    [title]="'system-support-dropdown.user-manual' | translate"
    >Tab3
  </app-dialog-panel-tab> -->
</app-dialog-panel>
<app-dialog-panel [title]="'basic-information' | translate" #profile>
  <app-dialog-panel-tab [title]="'profile-dropdown.profile' | translate">
    <app-user-profile></app-user-profile>
  </app-dialog-panel-tab>
  <!-- 我的水印 -->
  <!-- <app-dialog-panel-tab [title]="'profile-dropdown.watermark' | translate">
    <div style="margin: 10px 20px">
      <app-signature></app-signature>
    </div>
  </app-dialog-panel-tab> -->
  <app-dialog-panel-tab [title]="'profile-dropdown.system' | translate">
    <app-system-settings></app-system-settings>
  </app-dialog-panel-tab>
</app-dialog-panel>
<!-- Modal template -->
<ng-template #defaultModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title">
      切换用户<br />
      <small class="text-muted">请输入正确的code1、用户名</small>
    </h5>
    <button type="button" class="close" (click)="d('Cross click')">
      &times;
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col mb-0">
        <label class="form-label">Code1</label>
        <!-- <input type="text" class="form-control" placeholder="" [(ngModel)]="testcode1"> -->
        <input type="text" class="form-control" placeholder="" value="" #aaa />
      </div>
      <div class="form-group col mb-0">
        <label class="form-label">用户名</label>
        <!-- <input type="text" class="form-control" placeholder="" [(ngModel)]="testname"> -->
        <input type="text" class="form-control" placeholder="" value="" #bbb />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="c('Close click')">
      Close
    </button>
    <button type="button" class="btn btn-primary" (click)="saveTestUserInfo(aaa, bbb)">
      切换
    </button>
  </div>
</ng-template>
