@import '../../../../../vendor/libs/ngb-datepicker/ngb-datepicker';

.table-responsive {
  overflow: visible;
}

.modal-xl .modal-lg {
  max-width: 95%;
}

.datatable-body-cell-label {
  text-align: center !important;
}

.ck {
  width: 40px !important;
  height: 20px !important;
}

.tit1 {
  width: 100%;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  border-bottom: 1px solid rgba(24, 28, 33, 0.06);
  margin-bottom: 20px;
  margin-top: 40px;
}

.cks {
  margin: 20px auto;
}

.cks a {
  margin-right: 20px;
}

.cks a:nth-child(1) {
  font-weight: bold;
}

.next {
  text-align: right;
  margin-top: 20px;
}

.a1 {
  font-weight: bold;
  margin-right: 20px;
}

.a2 {
  margin-right: 20px;
}

.red {
  color: red;
}

button {
  //margin: 0 5px;
}

.leftone {
  text-align: right;
  padding: 0 10px;
  width: 25%;
  display: inline-block;
  box-sizing: border-box;
}

.rightone {
  text-align: left;
  padding: 0 10px;
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.p1 {
  margin: 17px auto;
  height: 38px;
}

.p2 {
  display: flex;
  align-items: flex-start;
}

.ckinput {
  display: inline;
  width: 100px;
}

.ckselect {
  display: inline;
  width: 100px;
}

.ckbox {
  margin-right: 10px;
}

.input2 {
  width: 100px !important;
}

.right-top {
  margin-bottom: 20px;
}

.bz {
  width: 400px;
  margin: 10px 8%;
}

.radio {
  margin-right: 10px;
}

.sq {
  padding-bottom: 70px;
}

.t {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 90%;
  height: 80%;
  background-color: white;
  border-radius: 6px;
  padding: 20px;
  position: relative;
  padding-bottom: 60px;
}

.ant-radio-group {
  display: block;
}

.green {
  color: green
}

.red {
  color: red;
}

.mkbox {
  max-height: 200px;
  overflow: auto;
}

.check {
  color: #1890ff;
  font-style: normal;
}

// table{
//   width: 90%;
//   margin: 0 auto;

// }
// tr{
//   min-height: 50px !important;
// }
// td{
//   width: 20%;
//   text-align: center;
//   min-height: 50px !important;
//   padding: 10px 0;
//   box-sizing: border-box;
// }
// .red{
//   color: red;
// }
// .green{
//   color: green;
// }
.tr1 {
  font-weight: bold;
}

.next {
  position: absolute;
  padding: 0 20px;
  right: 0;
  bottom: 10px;
}

.blue {
  color: #1e70cd;
}

.load2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1000;
}