<div class="row">
  <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
    <label class="form-label a1">业务模式</label>
    <input class ="form-control" type="text" name="taskName" value="默认投标申请表带入" disabled="disabled">
  </div>
</div>
<div class="tit1">授权详情 Direct Deal</div>
<!--<div class="p1">-->
<!--  <a class="a1">是否投标授权</a>-->
<!--  <input class="radio" type="radio" name="is"/><a class="a2">是</a>-->
<!--  <input class="radio" type="radio" name="is"/><a class="a2">否，民营医院直接进单</a>-->
<!--  <button type="button" class="btn btn-primary">填写查看支持信息</button>-->
<!--</div>-->
<div class="p1">
  <button type="button" class="btn btn-primary" disabled="disabled">在线提交参与投标声明函</button>
  <button type="button" class="btn btn-primary">打印签署投标声明函</button>
</div>
<div class="p1">
  <a class="a1">上传招标文件</a>
<!--  <button type="button" class="btn btn-primary">上传附件</button>-->
  <a style="color: #1DA1F2">2021HNS-2231 招标文件.docx</a>
</div>
<div class="p1" >
  <a class="a1">物流条款说明</a>
  <input style="width: 100%!important;" class="form-control" type="text" name="taskName" disabled="disabled">
</div>
<div class="p1" >
  <a class="a1">非长清单第三方产品</a>
  <input style="width: 100%!important;" class="form-control" type="text" name="taskName" disabled="disabled">
</div>
<div class="p1" >
  <a class="a1">售后维修条款说明</a>
  <input style="width: 100%!important;" class="form-control" type="text" name="taskName" disabled="disabled">
</div>
<div class="p1" >
  <a class="a1">投标保证金及履约保证金说明</a>
</div>
<div class="p1" >
  <a class="a1">A.预计投标价格：币种</a>
  <select class="form-control custom-select ckselect" name="processName" disabled="disabled">
    <option value="">--</option>
    <option value="">USD</option>
    <option value="">CNY</option>
  </select>
  <a class="a1">金额</a>
  <input class="form-control ckinput" type="text" name="taskName" value="默认投标申请表带入" disabled="disabled">
</div>

<div class="p1" >
  <a class="a1">B.投标保证金：不小于投标总价的</a>
  <input class="form-control ckinput2" type="text" name="taskName" disabled="disabled">
  <a class="a1">%（参考国际招标文件第六章*15.1）</a>
  <a class="a1">金额</a>
  <input class="form-control ckinput" type="text" name="taskName" value="默认投标申请表带入" disabled="disabled">
</div>

<div class="p1" >
  <a class="a1">C.履约保证金：合同总价的</a>
  <input class="form-control ckinput2" type="text" name="taskName" disabled="disabled">
  <a class="a1">%（参考国际招标文件第六章7.1）</a>
</div>

<div class="p1" >
  <a class="a1">付款方式说明</a>
  <select class="form-control custom-select ckselect" name="processName" disabled="disabled">
    <option value="">--</option>
    <option value="">是</option>
    <option value="">否</option>
  </select>
  <input style="width: 100%!important;" class="form-control" type="text" name="taskName" disabled="disabled">
</div>

<div class="p1" >
  <a class="a1">技术条款说明</a>
  <input style="width: 100%!important;" class="form-control" type="text" name="taskName" disabled="disabled">
</div>
<div class="p1" >
  <a class="a1">涉及法律条款说明</a>
  <input style="width: 100%!important;" class="form-control" type="text" name="taskName" disabled="disabled">
</div>

<div class="next"><button type="button" class="btn btn-primary">上一步</button></div>
