<h4 class="font-weight-bold py-3 mb-4">
  报价单模板维护
</h4>
<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">

  <textarea style="width: 100%;margin-bottom: 20px"
            nz-input
            readonly
            [hidden]="!error"
            [(ngModel)]="error"
            [nzAutosize]="true"
  ></textarea>


  <div style="width: 100%;margin-bottom: 20px">
    <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzFilter]="filters" [nzMultiple]="true" nzType="drag">
      <p class="ant-upload-drag-icon">
        <i nz-icon nzType="inbox"></i>
      </p>
      <p class="ant-upload-text">点击或拖拽文件到当前区域上传</p>
      <p class="ant-upload-hint">
        支持单个文件或多个文件上传
      </p>
    </nz-upload>
  </div>

  <div nz-row nzGutter="16">
    <div nz-col nzSpan="12">
      <button
        nz-button
        [nzType]="'primary'"
        [nzLoading]="uploading"
        (click)="handleUpload()"
        [hidden]="fileList.length == 0"
        [disabled]="fileList.length == 0"
        style="margin-bottom: 20px;width: 100%"
      >
        <i nz-icon nzType="upload"></i>{{ uploading ? '上传中...' : '单击上传' }}
      </button>
    </div>
    <div nz-col nzSpan="12">
      <button
        nz-button
        [nzType]="'danger'"
        (click)="cleanFiles()"
        [hidden]="fileList.length == 0"
        [disabled]="fileList.length == 0"
        style="margin-bottom: 20px;width: 100%"
      >
        <i nz-icon nzType="delete"></i>清空
      </button>
    </div>
  </div>


</div>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div>
    <div class="row">
      <div class="col-sm-5 col-md-5 col-lg-3 mb-3">
        <input class="form-control" type='text' [(ngModel)]="filterF1" placeholder='Filter by 临床分类...'
               (keyup)='updateFilter($event)'>
      </div>
      <div class="col-sm-5 col-md-5 col-lg-3 mb-3">
        <input class="form-control" type='text' [(ngModel)]="filterF2" placeholder='Filter by 产品名称...'
               (keyup)='updateFilter($event)'>
      </div>
      <div class="col-sm-5 col-md-5 col-lg-3 mb-3">
        <input class="form-control" type='text' [(ngModel)]="filterF3" placeholder='Filter by 亚型名称...'
               (keyup)='updateFilter($event)'>
      </div>
      <div class="col-sm-5 col-md-5 col-lg-3 mb-3">
        <input class="form-control" type='text' [(ngModel)]="filterF5" placeholder='Filter by 模板文件名称...'
               (keyup)='updateFilter($event)'>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-3 mb-3">
        <select class="form-control custom-select" [(ngModel)]="filterF4" placeholder='Filter by 是否最新...'
                (change)="updateFilter($event)">
          <option [value]="-1">全部</option>
          <option [value]="0">是</option>
          <option [value]="1">否</option>
        </select>
      </div>
    </div>

    <div class="table-responsive">
      <ngx-datatable #table style="min-width: 500px"
                     [rows]="rows"
                     [loadingIndicator]="loadingIndicator"
                     [columnMode]="'force'"
                     [headerHeight]="43"
                     [footerHeight]="'auto'"
                     [rowHeight]="'auto'"
                     [reorderable]="true"
                     [selected]="selected"
                     [limit]="20"
                     (select)='onSelect($event)'>
        <ngx-datatable-column prop="latest" name="是否最新" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value ? "是" : "否"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="clinicalId" name="临床分类" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass"></ngx-datatable-column>
        <ngx-datatable-column prop="productId" name="产品名称" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass"></ngx-datatable-column>
        <ngx-datatable-column name="亚型名称" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            {{row.quotationName ? row.quotationName : (row.quotation + "(没有对应名称)") }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="pub" name="适用医院类型" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | hospitalType}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="orgFileName" name="模板文件名称" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass"></ngx-datatable-column>
        <ngx-datatable-column prop="uploadTime" name="更新日期" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date:'yyyy-MM-dd HH:mm:ss'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="id" name="操作" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <a *ngIf="row['fileId']" href="javascript:void(0)" class="btn btn-primary btn-xs"
               (click)="download(row['fileId'])">下载</a>
            <a *ngIf="row['orgFileId']" href="javascript:void(0)" class="btn btn-primary btn-xs"
               (click)="download(row['orgFileId'])">原始文件下载</a>
            <a href="javascript:void(0)" class="btn btn-primary btn-xs" (click)="quotationTemplatePreview(value)">预览</a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
