<nz-card class="title_warpper">
  <div>
    <h4 class="font-weight-bold">
      <span>修改投标申请表</span>
    </h4>
  </div>
</nz-card>
<igt-approval-flowline></igt-approval-flowline>
<app-apploading [load]="load"></app-apploading>
<div class="tabs-box">
  <div
    nz-row
    nzType="flex"
    nzJustify="end"
    nzAlign="middle"
    class="tabs-box-actions"
  >
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right">
          <button
            *ngIf="flag == 0"
            nz-button
            nzType="default"
            (click)="save()"
            style="margin-right: 10px"
          >
            保存
          </button>
          <button
            *ngIf="flag == 0"
            nz-button
            nzType="primary"
            (click)="submit()"
          >
            提交投标申请表
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <ngb-tabset
    type="tabs"
    [destroyOnHide]="false"
    [activeId]="activedId"
    class="nav-tabs-top nav-responsive-xl"
  >
    <ngb-tab id="pending-tab">
      <ng-template ngbTabTitle
        ><span class="tab-title"><strong>基础信息</strong></span></ng-template
      >
      <ng-template ngbTabContent>
        <div class="card-body">
          <div class="demo-vertical-spacing">
            <form #searchForm="ngForm">
              <app-applybase
                [name]="true"
                [isDisable]="isDisable"
                [dataBase]="dataBase"
                #childbase
                (myEvent)="myskip($event)"
                (addProduct)="addProduct($event)"
                [productData]="productData"
                [arr]="arr"
                [paramsCP]="paramsCP"
                [paramsCRM]="paramsCRM"
                [selAgent_all]="selAgent_all"
              ></app-applybase>
            </form>
          </div>
          <div class="pr tr">
            <button
              nz-button
              class="nextbtn ml6"
              nzType="primary"
              (click)="myskip('complete-tab')"
            >
              下一步
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="complete-tab">
      <ng-template ngbTabTitle
        ><span class="tab-title"><strong>产品信息</strong></span></ng-template
      >
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-newproduct
            #product
            (myEvent)="myskip($event)"
            [isDisable]="isDisable"
            [dataBase]="dataBase"
            [productData]="productData"
            (upData)="upData($event)"
            [arr]="arr"
            [file_arr]="file_arr"
            (disableValidateForm)="disableValidateForm($event)"
            [paramsCP]="paramsCP"
            [paramsCRM]="paramsCRM"
            [selAgent_all]="selAgent_all"
          ></app-newproduct>
          <div class="pr tr">
            <button
              nz-button
              class="nextbtn ml6"
              nzType="primary"
              (click)="myskip('pending-tab')"
            >
              上一步
            </button>
            <button
              nz-button
              class="nextbtn ml6"
              nzType="primary"
              (click)="myskip('complete-pad')"
            >
              下一步
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="complete-pad">
      <ng-template ngbTabTitle
        ><span class="tab-title"><strong>补充信息</strong></span></ng-template
      >
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-supplement
            [completed]="completed"
            [isModif]="false"
            [isDisable]="isDisable"
            #supplement
            [dataBase]="dataBase"
            (myEvent)="myskip($event)"
            [productData]="productData"
            [file_arr]="file_arr"
            [approved]="approved"
            [selAgent_all]="selAgent_all"
          ></app-supplement>
          <div class="pr tr">
            <button
              nz-button
              class="nextbtn ml6"
              nzType="primary"
              (click)="myskip('complete-tab')"
            >
              上一步
            </button>
            <button
              *ngIf="completed"
              nz-button
              class="nextbtn ml6"
              nzType="primary"
              (click)="myskip('complete-record')"
            >
              下一步
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="completed" id="complete-record">
      <ng-template ngbTabTitle
        ><span class="tab-title"><strong>审批记录</strong></span></ng-template
      >
      <ng-template ngbTabContent>
        <div class="card-body">
          <nz-card class="mtb1rem" nzTitle="审批记录">
            <app-emp-acc></app-emp-acc>
          </nz-card>
          <div class="pr tr">
            <button
              nz-button
              class="nextbtn ml6"
              nzType="primary"
              (click)="myskip('complete-pad')"
            >
              上一步
            </button>
            <button
              nz-button
              class="nextbtn ml6"
              nzType="primary"
              (click)="myskip('complete-remarks')"
            >
              下一步
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="completed" id="complete-remarks">
      <ng-template ngbTabTitle
        ><span class="tab-title"><strong>修改备注</strong></span></ng-template
      >
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-apply-remarks
            #remarks
            [dataBase]="dataBase"
            (myEvent)="myskip($event)"
          ></app-apply-remarks>
        </div>
        <div class="tr mb10 mr10">
          <button
            nz-button
            class="nextbtn ml6"
            nzType="primary"
            (click)="myskip('complete-record')"
          >
            上一步
          </button>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <!-- <button *ngIf="flag==0" nz-button class="ml6 save" nzType="primary" (click)="save()">保存</button>
        <button *ngIf="flag==0" nz-button class="ml6 submit" nzType="primary" (click)="submit()">保存并提交</button> -->
</div>
