.title-head {
    display: flex;
    margin-bottom: 10px;
    padding-left: 22px;
    .ml20 {
        margin-left: 20px
    }
}
.tr{
    text-align:right;
}
.pr {
    position: relative;
    .cancel,
    .submit,
    .save {
        position: absolute;
        right: 10px;
        top: 0px;
        z-index: 999;
    }
    .cancel {
        right: 200px;
    }
    .submit {
        right: 10px
    }
    .save {
        right: 153px;
    }
}
.tr{
  text-align: right;
}