<div>
<ng-container>
    <div>
      <div nz-row class="seachs">
          <div nz-col nzSpan="16">
              <div nz-row>
                  <div nz-col nzSpan="24">
                      <nz-form-item>
                          <nz-form-label [nzSpan]="5" nzFor="email">最终用户名称</nz-form-label>
                          <nz-form-control [nzSpan]="12">
                              <input nz-input nz-tooltip [nzTitle]="pageParam.customerName" [nzAutocomplete]="auto" (input)="onInput($event.target?.value)" [(ngModel)]="pageParam.customerName">
                              <nz-autocomplete #auto>
                                <nz-auto-option *ngFor="let option of filteredOptions" [nzValue]="option.customerName">
                                 {{option.customerName}}
                                </nz-auto-option>  
                              </nz-autocomplete>
                            </nz-form-control>
                          <nz-form-control [nzSpan]="3">
                              <button nz-button class="ml10" nzType="primary" (click)="agentInit()" [nzSize]="6">搜索 </button>
                          </nz-form-control>
                          <nz-form-control [nzSpan]="3">
                             <button nz-button  nzType="default" (click)="clearAll()" [nzSize]="6">清空 </button>
                          </nz-form-control>
                      </nz-form-item>
                  </div>
              </div>
          </div>
      </div>
      <div class="tabbox">
          <nz-table #basicTabled [nzData]="agentDatas"
          [nzShowTotal]="totalTemplate"
          [nzPageSizeOptions]="[5, 10, 20, 30, 40, 50 ]"
          [nzShowQuickJumper]="true"
          [nzShowSizeChanger]="true" [nzScroll]="{ x: '1000px' }" [nzFrontPagination]="false" [nzTotal]="pageParam.total" (nzPageIndexChange)="changePageIndex($event)"
          (nzPageSizeChange)="changePageSize($event)" [nzPageIndex]="pageParam.pageNo" [nzPageSize]="pageParam.pageSize">
              <thead>
                  <tr>
                      <th nzWidth="40px" nzLeft="0px" nzAlign="left">&nbsp;</th>
                      <th nzWidth="180px" nzAlign="left">最终用户名称</th> 
                      <th nzWidth="100px" nzAlign="left">最终用户编号</th>                     
                      <th nzWidth="180px" nzAlign="left">最终用户地址</th>
                      <th nzWidth="100px" nzAlign="left">医院性质</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let data of basicTabled.data let m=index">
                      <td nzLeft="0px" nzAlign="left">
                          <label nz-radio [ngModel]="data.radio" (ngModelChange)="agentChange(m)"></label>
                      </td>
                      <td  nzWidth="200px" nzAlign="left" style="word-break: break-all;">
                       <div>
                        {{data.customerName}}
                       </div> 
                      </td>
                      <td nzWidth="100px" nzAlign="left">{{data.no}}</td>
                      <td nzWidth="250px" nzAlign="left">
                        <div>{{data.address}}</div> 
                      </td>
                      <td nzWidth="100px" nzAlign="left">
                        {{data.customerType}}
                      </td>                                         
                  </tr>
              </tbody>
          </nz-table>
          <ng-template #totalTemplate let-total> 数据总条数 {{ total }} </ng-template>
       </div>
    </div>
  </ng-container>
</div>