.product-form-checkbox {
  .ant-checkbox-wrapper {
    height: 24px;
    display: flex;
    align-items: center;
    margin-left: 0;
  }
}

.global-form .ant-form-item-label {
  padding: 5px 5px 10px 0 !important;
  line-height: 20px;
  white-space: break-spaces;
  text-align: center;
}

.prodSelect {
  position: relative;
  top: -4px;
}

.global-form .global-form-control-icon {
  font-size: 20px;
  margin-left: 50px;
  position: relative;
  top: -6px;
}

.global-form .negative {
  left: 110px;
  position: absolute;
  top: 5px;
}

.global-form .negatives {
  right: -181px;
  position: absolute;
  top: 5px;
}

.ant-upload.ant-upload-select {
  position: relative;
  top: -4px;
}

.other {
  position: relative;
  top: -4px;
  left: 13px;
}

.radioClass {
  position: relative;
  top: -3px;

  .wid60 {
    width: 60px;
  }
}

.ant-checkbox+span,
.ant-checkbox-wrapper+span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.freeTextBox {
  position: relative;
}

.options {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
  color: #666;
}

.detailFlex {
  position: relative;
  left: 10px;
  top: -5px;
}

.freeText {
  // position: absolute;
  // right: -155px;
  // top: -11px;
  display: flex;

  .textBoxd {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }

  &::before {
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
    position: relative;
    top: 9px;
  }
}

.prss {
  position: relative;

  em {
    position: absolute;
    left: -16px;
    top: -7px;
    font-size: 14px;
    color: #f5222d;
  }
}

.actualSales {
  height: 32px;
  min-height: 0px;
}

.win-check-link {

  // text-decoration: underline;
  &.down {
    white-space: nowrap !important;
    color: green;
  }

  display:inline-block;
  vertical-align: -10px;

  .name {
    text-overflow: ellipsis;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }

  .usr {
    display: inline-block;
    vertical-align: 10px;
  }
}

.middle {
  vertical-align: middle;
}

.topM {
  vertical-align: top;
}