<nz-card class="title_warpper mb-4">
  <div>
    <h4 class="font-weight-bold">
      <span>我的任务</span>
    </h4>
  </div>
</nz-card>
<hr class="border-light container-m--x mt-0 mb-4">
<div class="demo-vertical-spacing">
  <div>
    <ngb-tabset type="tabs" [destroyOnHide]="true" (tabChange)="changeMytaskTab($event);" class="nav-tabs-top nav-responsive-xl">
      <ngb-tab id="pending-tab">
        <ng-template ngbTabTitle><span class="tab-title"><strong>待办</strong>&ensp;<span *ngIf="pendingTaskCount > 0" [ngClass]="isPending ? 'badge badge-pill badge-danger' : 'badge badge-pill badge-secondary'">{{pendingTaskCount}}</span></span></ng-template>
        <ng-template ngbTabContent>
          <div class="card-body">
            <my-task-pending (pendingTaskEvent)="onPendingTaskEvent($event)"></my-task-pending>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="complete-tab">
        <ng-template ngbTabTitle><span class="tab-title"><strong>已办</strong></span></ng-template>
        <ng-template ngbTabContent>
          <div class="card-body">
            <my-task-complete></my-task-complete>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
