<nz-modal nzWidth="1000px" [(nzVisible)]="visible" [nzTitle]="modalTitle" [nzFooter]="modalFooter"
  [nzStyle]="{ top: '20px' }" (nzOnCancel)="onHideModal()" (nzOnOk)="onSubmit()">

  <form nz-form [formGroup]="formValues">
    <div nz-row>
      <div nz-col [nzMd]="16" [nzSm]="16" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">启用/禁用</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-switch formControlName="status" [nzDisabled]="isApplyNode"></nz-switch>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzMd]="16" [nzSm]="16" [nzXs]="24">
        <nz-form-item>
          <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">节点显示名称</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <input nz-input formControlName="name" />
            <nz-form-explain *ngIf="formValues.get('name')?.dirty && formValues.get('name')?.errors">
              请填写节点显示名称
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzMd]="16" [nzSm]="16" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzRequired]="!isApplyNode" [nzSm]="6" [nzXs]="24">动作</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-select formControlName="action" nzPlaceHolder="请选择" #nodeAction [nzDisabled]="isApplyNode">
              <nz-option
                *ngFor="let item of selectOptions.actionList"
                [nzLabel]="item.label"
                [nzValue]="item.value"
                [nzDisabled]="item.disabled"
              ></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="formValues.get('action')?.dirty && formValues.get('action')?.errors">
              请选择动作
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzMd]="16" [nzSm]="16" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzRequired]="!isApplyNode" [nzSm]="6" [nzXs]="24">模式</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-select formControlName="mode" nzPlaceHolder="请选择" #nodeMode [nzDisabled]="isApplyNode">
              <nz-option
                *ngFor="let item of selectOptions.modeList"
                [nzLabel]="item.label"
                [nzValue]="item.value"
                [nzDisabled]="item.disabled"
              ></nz-option>
              <nz-form-explain *ngIf="formValues.get('mode')?.dirty && formValues.get('mode')?.errors">
                请选择模式
              </nz-form-explain>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div>
      <div>请选择审批人/申请人：</div>
      <div nz-row>
        <div nz-col [nzMd]="16" [nzSm]="16" [nzXs]="24">
          <nz-form-item>
            <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">审批人/申请人</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-radio-group formControlName="approveUserType" #approveUserType>
                <label nz-radio *ngFor="let type of selectOptions.approveUserTypes" [nzValue]="type.value">{{ type.label }}</label>
              </nz-radio-group>
              <nz-form-explain *ngIf="formValues.get('approveUserType')?.dirty && formValues.get('approveUserType')?.errors">
                请选择审批人/申请人类型
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
  
        <div nz-col [nzMd]="16" [nzSm]="16" [nzXs]="24" *ngIf="approveUserType.value === APPROVE_USER_TYPE.SYSTEM_ROLE">
          <nz-form-item>
            <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">系统角色</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-select style="width: 100%;" [nzMode]="nodeMode.value === APPROVE_NODE_MODE.PARALLEL ? 'multiple' : 'default'" nzShowSearch formControlName="approveRole" nzPlaceHolder="请选择">
                <nz-option *ngFor="let item of selectOptions.roleList" [nzLabel]="item" [nzValue]="item"></nz-option>
              </nz-select>
              <nz-form-explain *ngIf="formValues.get('approveRole')?.dirty && formValues.get('approveRole')?.errors">
                请选择系统角色
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
  
        <div nz-col [nzMd]="16" [nzSm]="16" [nzXs]="24" *ngIf="approveUserType.value === APPROVE_USER_TYPE.ASSIGN_USER">
          <nz-form-item>
            <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">指定用户</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-select 
                style="width: 100%;"
                [nzMode]="nodeMode.value === APPROVE_NODE_MODE.PARALLEL ? 'multiple' : 'default'"
                nzPlaceHolder="输入邮箱查询" 
                nzShowSearch 
                nzAllowClear
                formControlName="approver"
                [nzServerSearch]="true"
                (nzOnSearch)="onSearchUser($event)"
              >
                <ng-container *ngFor="let user of userList">
                  <nz-option *ngIf="!isSearchLoading" [nzValue]="user.email" [nzLabel]="user.email" [nzCustomContent]="true">
                    {{ user.displayName || user.email }}
                  </nz-option>
                </ng-container>
                <nz-option *ngIf="isSearchLoading" nzDisabled nzCustomContent>
                  <i nz-icon type="loading" class="loading-icon"></i> 查询中...
                </nz-option>
              </nz-select>
              <nz-form-explain *ngIf="formValues.get('approver')?.dirty && formValues.get('approver')?.errors">
                请选择指定用户
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>

    <div>
      <div>请选择抄送人：</div>
      <div nz-row>
        <div nz-col [nzMd]="16" [nzSm]="16" [nzXs]="24">
          <nz-form-item>
            <nz-form-label nzRequired [nzSm]="6" [nzXs]="24">是否抄送</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-radio-group formControlName="cc" #cc>
                <label nz-radio [nzValue]="1">是</label>
                <label nz-radio [nzValue]="0">否</label>
              </nz-radio-group>
              <nz-form-explain *ngIf="formValues.get('cc')?.dirty && formValues.get('cc')?.errors">
                请选择是否抄送
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </form>

  <div nz-row>
    <div nz-col nzSpan="24" *ngIf="cc.value === 1">
      <nz-form-item>
        <nz-form-label nzRequired [nzSm]="4" [nzXs]="24">抄送人</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24">
          <nz-table nzSize="small" [nzData]="ccPersonList" [nzFooter]="tableFooter" [nzShowPagination]="false" nzBordered>
            <thead>
              <tr>
                <th nzWidth="180px">用户类型</th>
                <th>值</th>
                <th nzWidth="180px">何时触发</th>
                <th nzWidth="80px" nzAlign="center" nzRight="0px">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of ccPersonList">
                <td>
                  <nz-select style="width: 100%;" nzPlaceHolder="请选择" [(ngModel)]="person.personType">
                    <nz-option *ngFor="let type of selectOptions.ccPersonTypes" [nzLabel]="type.label" [nzValue]="type.value"></nz-option>
                  </nz-select>
                </td>
                <td>
                  <nz-select *ngIf="person.personType === CC_PERSON_TYPE.SYSTEM_ROLE" style="width: 100%;" nzShowSearch nzPlaceHolder="请选择" [(ngModel)]="person.person">
                    <nz-option *ngFor="let role of selectOptions.roleList" [nzLabel]="role" [nzValue]="role"></nz-option>
                  </nz-select>

                  <input *ngIf="person.personType === CC_PERSON_TYPE.ASSIGN_USER" placeholder="请输入邮箱" nz-input [(ngModel)]="person.person" />
                </td>
                <td>
                  <nz-select style="width: 100%;" nzPlaceHolder="请选择" [(ngModel)]="person.triggerType">
                    <nz-option *ngFor="let type of (CC_TRIGGER_TYPE_MAP[nodeAction.value] || [])" [nzLabel]="type.label" [nzValue]="type.value"></nz-option>
                  </nz-select>
                </td>
                <td nzAlign="center" nzRight="0px">
                  <a nz-icon type="delete" title="删除" nz-popconfirm nzTitle="确定删除抄送人?" (nzOnConfirm)="onDeleteCcPerson(person)"></a>
                </td>
              </tr>
            </tbody>
            <ng-template #tableFooter>
              <button nz-button nzType="dashed" nzBlock (click)="onAddCcPerson()">
                <i nz-icon nzType="plus" nzTheme="outline"></i>添加
              </button>
            </ng-template>
          </nz-table>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="onHideModal()">取消</button>
    <button nz-button nzType="primary" (click)="onSubmit()">
      确定
    </button>
  </ng-template>
</nz-modal>