<nz-card class="title_warpper">
  <div>
    <h4 class="font-weight-bold">
      <span>OIT Completion OIT完成</span>
    </h4>
  </div>
</nz-card>
<app-apploading [load]="load"></app-apploading>
<igt-approval-flowline></igt-approval-flowline>
<div class="tabs-box">
  <div
    nz-row
    nzType="flex"
    nzJustify="end"
    nzAlign="middle"
    class="tabs-box-actions"
  >
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;">
          <!-- <button nz-button *ngIf="flag==0&&!disa&&infor.detail.status=='DOITWJSC'" nzType="default" nz-popconfirm nzTitle="你确定要执行退回的操作?" (nzOnConfirm)="submit(0)" style="margin-right:10px;">退回</button> -->
          <button
            *ngIf="flag == 1 "
            nz-button
            nzType="default"
            (click)="toReturn()"
            style="margin-right: 10px"
          >
            Return 返回
          </button>
          <button
            nz-button
            *ngIf="flag == 0 && !disa && infor.detail.status == 'DOITWJSC'"
            nzType="default"
            (click)="cancelFn()"
            style="margin-right: 10px"
          >
            Cancel 取消
          </button>
          <button
            nz-button
            *ngIf="flag == 0 && !disa && infor.detail.status == 'DOITWJSC'"
            nzType="default"
            (click)="submit(3)"
            style="margin-right: 10px"
          >
           Save 保存
          </button>
          <button
            nz-button
            *ngIf="flag == 0 && !disa && infor.detail.status == 'DOITWJSC'"
            nzType="primary"
            (click)="submit(1)"
          >
          Submit 提交
          </button>
          <nz-dropdown [nzPlacement]="'bottomRight'" *ngIf="flag == 0&&infor.detail.status == 'DOITWJSC'">
            <button nz-button nz-dropdown>
              <i class="tranf90" nz-icon nzType="more" nzTheme="outline"></i>
            </button>
            <ul nz-menu>
              <li nz-menu-item>
                <a href="javascript:" (click)="backContract()"
                  >Return to Contract Summary 退回到合同概要表</a
                >
              </li>
              <li *ngIf="!infor.hsId" nz-menu-item>
                <a href="javascript:" (click)="closeContract()"
                  >Close contract Summary 关闭合同概要表</a
                >
              </li>
            </ul>
          </nz-dropdown>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <ngb-tabset
    type="tabs"
    [destroyOnHide]="false"
    [activeId]="activedId"
    (tabChange)="tabclick($event)"
    class="nav-tabs-top nav-responsive-xl"
  >
    <ngb-tab id="pending-tab">
      <ng-template ngbTabTitle
        ><span class="tab-title"><strong>Contract Summary<br> 合同概要表</strong></span></ng-template
      >
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-preOrderBaseInfo
            [dataBase]="infor"
            [disa]="true"
            [conTable]="true"
            [showChek]="true"
          >
          </app-preOrderBaseInfo>
          <div
            nz-row
            class="mb10 mr10"
            nzType="flex"
            nzJustify="end"
            nzAlign="middle"
          >
            <div nz-col nzSm="6" nzSpan="4">
              <nz-form-item>
                <nz-form-control
                  [nzSm]="24"
                  [nzXs]="24"
                  style="text-align: right"
                >
                  <button
                    nz-button
                    [nzType]="'primary'"
                    (click)="myskip('complete-tab')"
                  >
                  Next 下一步
                  </button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="complete-tab">
      <ng-template ngbTabTitle
        ><span class="tab-title"
          ><strong>Order Summary &nbsp;</strong><br>&nbsp;</span
        ></ng-template
      >
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-inorder-in [dataBase]="dataBase"></app-inorder-in>
          <app-inorder-ex [disa]="true" [dataBase]="dataBase"></app-inorder-ex>
          <div class="tr mb10 mr10">
            <button
              nz-button
              [nzType]="'primary'"
              (click)="myskip('pending-tab')"
            >
              Back 上一步
            </button>
            <button
              nz-button
              [nzType]="'primary'"
              (click)="myskip('complete-pad')"
            >
             Next 下一步
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="complete-pad">
      <ng-template ngbTabTitle
        ><span class="tab-title"><strong>Contract Signed<br> 合同签署</strong></span></ng-template
      >
      <ng-template ngbTabContent>
        <div class="card-body">
          <!-- <app-contractsigning></app-contractsigning> -->
          <app-consign-consign
            [dataBase]="signingData"
            [mergeData]="mergeData"
            [disa]="true"
          ></app-consign-consign>
          <div class="tr mb10 mr10">
            <button
              nz-button
              [nzType]="'primary'"
              (click)="myskip('complete-tab')"
            >
              Back 上一步
            </button>
            <button
              nz-button
              [nzType]="'primary'"
              (click)="myskip('complete-pads')"
            >
             Next 下一步
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="complete-pads">
      <ng-template ngbTabTitle
        ><span class="tab-title"><strong>Approved History<br> 审批记录</strong></span></ng-template
      >
      <ng-template ngbTabContent>
        <div  class="card-body">
          <!-- <nz-card class="mtb1rem" nzTitle="改单记录">
            <app-emp-acc></app-emp-acc>
          </nz-card> -->
          <nz-card  class="mtb1rem" nzTitle="Approved History 审批记录">
            <app-emp-acc></app-emp-acc>
          </nz-card>
          <div class="tr mb10 mr10">
            <button
              nz-button
              [nzType]="'primary'"
              (click)="myskip('complete-pad')"
            >
              Back 上一步
            </button>
            <button
              nz-button
              [nzType]="'primary'"
              (click)="myskip('complete-padd')"
            >
             Next 下一步
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="complete-padd">
      <ng-template ngbTabTitle><span class="tab-title"><strong>OIT Completion<br> OIT完成</strong></span></ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-oitcomplete
            #childbase
            [dataBase]="infor"
            [oitInfor]="oitData"
            [disa]="true"
            [dataBaseOrderSummary]="dataBase"
            [paymentProvision]="paymentProvision"
            (myUpdata)="getFormDetails()"
          ></app-oitcomplete>
          <div class="tr mb10 mr10">
            <button
              nz-button
              [nzType]="'primary'"
              (click)="myskip('complete-pads')"
            >
              Back 上一步
            </button>
            <button
              *ngIf="thirdOff"
              nz-button
              [nzType]="'primary'"
              (click)="myskip('complete-third')"
            >
              Next 下一步
            </button>
            <button
              *ngIf="realTimeOff"
              nz-button
              [nzType]="'primary'"
              (click)="myskip('complete-real')"
            >
              Next 下一步
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="thirdOff" id="complete-third">
      <ng-template ngbTabTitle
        ><span class="tab-title"
          ><strong>Buyer Purchase 3rd Party Item Check<br>第三方自采核查</strong></span
        ></ng-template
      >
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-thirdcheck></app-thirdcheck>
          <div class="tr mb10 mr10">
            <button
              nz-button
              [nzType]="'primary'"
              (click)="myskip('complete-padd')"
            >
              Back 上一步
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="realTimeOff" id="complete-real">
      <ng-template ngbTabTitle
        ><span class="tab-title"><strong>Upload SO#<br> 上传SO#</strong></span></ng-template
      >
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-real-time [dataBase]="infor"></app-real-time>
          <div class="tr mb10 mr10">
            <button
              nz-button
              [nzType]="'primary'"
              (click)="myskip('complete-padd')"
            >
              Back 上一步
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="status=='change_oit_approval'||status=='change_oit'||infor.hsId" id="complete-change">
      <ng-template ngbTabTitle
        ><span class="tab-title"><strong [innerHTML]="getTitle()"></strong></span></ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-approve-change [disa]="disa" [dataBase]="infor"></app-approve-change>
          <div class="tr mb10 mr10">
            <button
              nz-button
              [nzType]="'primary'"
              (click)="myskip('complete-padd')"
            >
              Back 上一步
            </button>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<nz-modal
  [(nzVisible)]="isAgres"
  nzWidth="650px"
  nzTitle="Remind 提示"
  (nzOnOk)="isAgregentOk()"
  (nzOnCancel)="isAgreCancels()"
  [nzFooter]="modalFooter"
>
  <app-confirm #child [infor]="showData"></app-confirm>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="isAgreCancels()">Cancel 取消</button>
    <button nz-button nzType="primary" (click)="isAgregentOk()">OK 确定</button>
  </ng-template>
</nz-modal>
