<div class="row" *ngIf="acceptTerms" [hidden]="isHidden">
  <div class="form-group col-sm-12">
    <ng-container *ngFor="let item of acceptTerms">
      <label class="custom-control custom-checkbox m-0" style="margin-bottom: 0;">
      <!-- <label class="form-check" style="margin-bottom: 0;"> -->
        <!-- <input class="form-check-input is-invalid" #ckb [value]="item.term" type="checkbox" [checked]="item.accept" -->
        <input class="custom-control-input" #ckb #ckbControl #ckbModel="ngModel" [ngModel]="item.accept == true" (ngModelChange)="changeItemAccept(item);" [required]="!disabled" [value]="item.term"
        [ngClass]="{ 'is-invalid': ckbModel.invalid && (ckbModel.dirty || ckbModel.touched) }"
          type="checkbox" [checked]="item.accept === 1"
          [disabled]="disabled" (change)="ckbChange($event)">
        <span class="red-star" *ngIf="!disabled">*&ensp;</span>
        <span class="custom-control-label">
          {{item.term}}
        </span>
      </label>
      <div *ngIf="ckbModel.invalid && (ckbModel.dirty || ckbModel.touched)"
        class="invalid-feedback d-block" style="margin-top:0; margin-bottom:5px;">
        <div>请勾选承诺选项</div>
      </div>
    </ng-container>
  </div>
  <button [hidden]="true" id="accept-term-validator" (click)="validateAcceptTerm()">validate</button>
</div>
