<nz-card class="mtb1rem" nzTitle="审批记录">
  <nz-table [nzData]="approveHistory" [nzShowPagination]="false" [nzScroll]="{ y: '450px' }">
    <thead>
      <tr>
        <th nzWidth="200px" [nzAlign]="'center'">步骤</th>
        <th nzWidth="200px" [nzAlign]="'center'">操作者</th>
        <th nzWidth="150px" [nzAlign]="'center'">审批结果</th>
        <th nzWidth="300px" [nzAlign]="'center'">备注</th>
        <th nzWidth="350px" [nzAlign]="'center'">附件</th>
        <th nzWidth="180px" [nzAlign]="'center'">操作时间</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let history of approveHistory; let i=index">
        <td nzWidth="200px" [nzAlign]="'center'">{{ history.spProcNodeName }}</td>
        <td nzWidth="200px" [nzAlign]="'center'">{{ history.approveUser }}</td>
        <td nzWidth="150px" [nzAlign]="'center'">{{ history.taskName === 'node0' ? '已提交' : formatTaskStatus(history) }}</td>
        <td nzWidth="300px" [nzAlign]="'center'">
          <div style="max-width: 360px;word-break: break-word;">
            {{ history.remark }}
          </div>
        </td>
        <td nzWidth="350px" [nzAlign]="'center'">
          <div style="max-width: 360px;">
            <app-upload-file-list [fileList]="history.attachments"></app-upload-file-list>
          </div>
        </td>
        <td nzWidth="180px" [nzAlign]="'center'">{{ history.updateTime }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
