<nz-modal [(nzVisible)]="visible" nzWidth="1000px" [nzTitle]="'components.select-user.title' | translate"
  [nzFooter]="null" (nzOnCancel)="onHide()">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">{{"components.select-user.user-name" | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input [(ngModel)]="searchParams.name" placeholder="请输入用户名">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSpan]="6">{{"components.select-user.user-email" | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input nz-input [(ngModel)]="searchParams.email" placeholder="请输入邮箱">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="8" style="text-align: right;">
      <nz-form-item>
        <nz-form-control>
          <button nz-button class="ml10" nzType="primary" (click)="getTableData(true)"
            [nzSize]="6">{{"components.select-user.search" | translate}}</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="table-container">
    <nz-table nzSize="middle" [nzData]="tableData.rows" [nzShowTotal]="totalTemplate" [nzTotal]="tableData.total"
      [nzLoading]="tableData.loading" [nzPageSizeOptions]="[5, 10, 20, 30, 40, 50 ]" [nzShowQuickJumper]="true"
      [nzShowSizeChanger]="true" [nzFrontPagination]="false" [nzScroll]="{ y: '300px' }"
      [(nzPageIndex)]="searchParams.pageNo" [(nzPageSize)]="searchParams.pageSize" (nzPageIndexChange)="getTableData()"
      (nzPageSizeChange)="getTableData()">
      <thead>
        <tr>
          <th nzWidth="350px" nzAlign="left">{{"components.select-user.name" | translate}}</th>
          <th nzAlign="left">{{"components.select-user.email" | translate}}</th>
          <th nzWidth="50px" nzAlign="left">{{"components.select-user.action" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData.rows">
          <td nzAlign="left">{{ item.name }}</td>
          <td nzAlign="left">{{ item.email }}</td>
          <td nzAlign="left">
            <button nz-button nzSize="small" nzType="primary" (click)="onSelect(item)">
              {{"components.select-user.select" | translate}}
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total> {{"components.select-user.total" | translate: { total : tableData.total } }}
    </ng-template>
  </div>
</nz-modal>