@import '../../../node_modules/@swimlane/ngx-datatable/release/index.css';
@import '../../vendor/libs/ngx-datatable/ngx-datatable.scss';
@import '../../../node_modules/@swimlane/ngx-datatable/release/assets/icons.css';
@import '../../vendor/libs/ngb-datepicker/ngb-datepicker.scss';

.table-responsive {
    overflow: visible;
}

.ngx-datatable {
    overflow: visible !important;
}

.modal-xl .modal-lg {
    max-width: 95%;
}

.modal-xl .modal-content {
    background-color: whitesmoke;
}

.ant-select-selection--single{
  position: relative;
  height: 38px !important;
  cursor: pointer;
}

::ng-deep .ant-select-dropdown {
  top: 100% !important;
  left: 0 !important;
}
