<h4 class="font-weight-bold py-3 mb-4">
  <!--<span class="text-muted font-weight-light">Tables /</span>-->  已办任务
</h4>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div>
    <form #searchForm="ngForm">
      <div class="row">
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">任务名称</label>
          <input ngModel class="form-control" type="text" name="taskName">
        </div>
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">最终用户名称</label>
          <input ngModel class="form-control" type="text" name="businessName">
        </div>
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">SOFON Number</label>
          <input ngModel class="form-control" type="text" name="sofonNumber">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">审批编号</label>
          <input ngModel class="form-control" type="text" name="businessNumber">
        </div>
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">审批名称</label>
          <select ngModel class="form-control custom-select" name="processName">
            <option value="" selected>&ensp;</option>
            <option *ngFor="let item of processList" [value]="item.name">{{item.name}}</option>
          </select>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">发起人</label>
          <nz-select
            ngModel
            name="owner"
            nzShowSearch
            nzServerSearch
            nzPlaceHolder="搜索用户"
            [nzShowArrow]="false"
            [nzAllowClear]="true"
            (nzOnSearch)="searchUser($event)"
          >
            <nz-option *ngFor="let option of selectUserList" [nzLabel]="option.text"
                       [nzValue]="option"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">创建时间起</label>
          <div class="input-group">
            <input ngModel class="form-control" name="createTimeStart"
                   ngbDatepicker
                   navigation="'select'"
                   #d1="ngbDatepicker">
            <div class="input-group-append">
              <button class="input-group-text" (click)="d1.toggle()" type="button">
                <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">创建时间止</label>
          <div class="input-group">
            <input ngModel class="form-control" name="createTimeEnd"
                   ngbDatepicker
                   navigation="'select'"
                   #d2="ngbDatepicker">
            <div class="input-group-append">
              <button class="input-group-text" (click)="d2.toggle()" type="button">
                <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">完成时间起</label>
          <div class="input-group">
            <input ngModel class="form-control" name="finishedTimeStart"
                   ngbDatepicker
                   navigation="'select'"
                   #d3="ngbDatepicker">
            <div class="input-group-append">
              <button class="input-group-text" (click)="d3.toggle()" type="button">
                <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">完成时间止</label>
          <div class="input-group">
            <input ngModel class="form-control" name="finishedTimeEnd"
                   ngbDatepicker
                   navigation="'select'"
                   #d4="ngbDatepicker">
            <div class="input-group-append">
              <button class="input-group-text" (click)="d4.toggle()" type="button">
                <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4 ml-auto mt-auto">
          <button type="button" class="btn btn-primary" (click)="applyFilter();">查询</button>
          <button type="button" class="btn btn-info" (click)="resetForm();">重置</button>
        </div>
      </div>
    </form>

    <div class="table-responsive">
      <ngx-datatable #tableComplete style="min-width: 500px"
                     [rows]="rows"
                     [loadingIndicator]="loadingIndicator"
                     [columnMode]="'force'"
                     [headerHeight]="43"
                     [footerHeight]="'auto'"
                     [rowHeight]="'auto'"
                     [reorderable]="true"
                     [selected]="selected"
                     [selectionType]="'checkbox'"
                     [externalPaging]="true"
                     [externalSorting]="true"
                     [count]="page.totalElements"
                     [offset]="page.pageNumber"
                     [limit]="page.pageSize"
                     [sortType]="'single'"
                     (page)="pageCallback($event)">
        <ngx-datatable-column prop="businessNumber" name="审批编号" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass"></ngx-datatable-column>
        <ngx-datatable-column prop="businessName" name="业务名" [headerClass]="getHeaderClass"
                              [cellClass]="getRejectCellClass">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>已办任务
            <ng-container [ngSwitch]="row.taskDefinitionKey">
              <span *ngSwitchCase="'sid-CCDD3E5F-BED0-43CD-8EED-EAA6C11F1E45'">{{value}} (已驳回)</span>
              <span *ngSwitchCase="'sid-E58541D9-F5E8-4190-9D3E-040B582A58F4'">{{value}} (已驳回)</span>
              <span *ngSwitchCase="'sid-0B61B920-F60A-4969-A292-AFE79168208F'">{{value}} (已驳回)</span>
              <span *ngSwitchDefault>{{value}}</span>
            </ng-container>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column prop="processDefinitionName" name="申请类型" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <label [ngStyle]="{'color': value.indexOf('特价审批流程') >= 0 ? 'red': ''}">{{value}}
              <strong style="color: green">{{!!row['specialReferenceNumber'] ? '(特价进单)' : ''}}</strong>
            </label>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="name" name="任务名称" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass"></ngx-datatable-column>
        <ngx-datatable-column prop="sofonNumber" name="SOFON编号" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass">
        </ngx-datatable-column>
        <ngx-datatable-column prop="owner" name="申请发起人" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass"></ngx-datatable-column>
        <ngx-datatable-column prop="createTime" name="创建时间" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date:'yyyy-MM-dd HH:mm:ss'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="操作" [sortable]="false" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span>
              <a href="javascript:void(0)" class="btn btn-primary btn-xs" (click)="open($event,row)">查看</a>
            </span>
            <span *ngIf="batchFlag && (row.taskDefinitionKey === 'sid-F85DAB33-A861-4132-B23F-7A7CF4B8D312' ||
              row.taskDefinitionKey === 'sid-2B4C0DC5-8A22-443B-8B2A-6D14B2A0AA38' || 
              row.taskDefinitionKey === 'sid-D9D09638-023D-4D28-9F35-A44C88731B6C' || 
              row.taskDefinitionKey === 'sid-4A91ACFD-57B3-45C7-BF67-8F5A026F983E' || 
              row.taskDefinitionKey === 'sid-0D4B8B84-3B84-4454-8038-26841139DB3B' ||
              row.taskDefinitionKey === 'sid-2FC0DEE8-DD16-416D-9F41-B405622ECE46' ||
              row.taskDefinitionKey === 'sid-ECCD65C3-45CC-40EF-83D0-D21F97B7F5B9' )">
              <a href="javascript:void(0)" class="btn btn-primary btn-xs" (click)="viewTotalSum($event,row)">查看价格</a>
              <!--  PS: 在已办列表中，不需预览sofon文件pdf -->
              <!-- <a href="javascript:void(0)" class="btn btn-primary btn-xs" (click)="viewTaskFile($event,row)">SOFON文件</a> -->
            </span>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
