<nz-card class="mtb1rem" nzTitle="订单信息">
  <form nz-form [formGroup]="formValues">
    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired nzFor="orderType">订单类型</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-select formControlName="orderType" nzPlaceHolder="请选择订单类型">
              <nz-option *ngFor="let item of selectOptions.orderTypes" [nzLabel]="item.label" [nzValue]="item.value">
              </nz-option>
            </nz-select>
            <nz-form-explain *ngIf="formValues.get('orderType')?.dirty && formValues.get('orderType')?.errors">
              请选择订单类型
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzFor="referenceId">Reference ID</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-input-group nzFlex style="width: 100%" [nzAddOnAfter]="importReferenceBtn">
              <input id="referenceId" type="text" nz-input formControlName="referenceId" class="flex-grow-1" />
            </nz-input-group>

            <ng-template #importReferenceBtn>
              <button *ngIf="editable" nz-button nzType="primary" class="ml-md"
                (click)="onShowReferenceModal()">导入数据</button>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">产品型号</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input type="text" nz-input formControlName="productType" disabled />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>产品线</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-select formControlName="bmc" nzPlaceHolder="请选择产品线">
              <nz-option *ngFor="let item of bmcList" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="formValues.get('bmc')?.dirty && formValues.get('bmc')?.errors">
              请选择产品线
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">BG</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-select formControlName="bg" nzPlaceHolder="请先选择BG" #bg>
              <nz-option *ngFor="let item of selectOptions.bgList" [nzLabel]="item.label" [nzValue]="item.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>销售区域</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-input-group style="width: 100%;font-size: 0;">
              <nz-select formControlName="cycleGroup" style="width: 48%;margin-right:4%"
                nzPlaceHolder="Team/Cycle Group" (ngModelChange)="onCycleGroupChange()">
                <nz-option *ngFor="let item of spService.cycleGroups" [nzLabel]="item.label" [nzValue]="item.value">
                </nz-option>
              </nz-select>

              <nz-select formControlName="bigArea" style="width: 48%" nzPlaceHolder="Region">
                <nz-option *ngFor="let item of bigAreas" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                <nz-option *ngIf="bigAreas.length === 0" nzLabel="请先选择Team/Cycle Group" [nzDisabled]="true"></nz-option>
              </nz-select>
            </nz-input-group>
            <div style="display: flex;">
              <nz-form-explain style="width: 48%;margin-right:4%">
                <span style="color:#f5222d"
                  *ngIf="formValues.get('cycleGroup')?.dirty && formValues.get('cycleGroup')?.errors">请选择销售区域</span>
              </nz-form-explain>
              <nz-form-explain style="width: 48%"
                *ngIf="formValues.get('bigArea')?.dirty && formValues.get('bigArea')?.errors">
                <span style="color:#f5222d">请选择销售区域</span>
              </nz-form-explain>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>业务模式</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-select formControlName="businessModel" nzPlaceHolder="请选择业务模式">
              <nz-option *ngFor="let item of selectOptions.businessModels" [nzLabel]="item.label"
                [nzValue]="item.value"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="formValues.get('businessModel')?.dirty && formValues.get('businessModel')?.errors">
              请选择业务模式
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle" *ngIf="showDealerArea">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">经销商名称</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-input-group style="width: 100%" [nzSuffix]="clearDealerBtn" [nzAddOnAfter]="selectDealerBtn">
              <input id="dealerName" type="text" nz-input formControlName="dealerName"
                [placeholder]="editable ? '点击右侧按钮选择经销商' : ''" />
            </nz-input-group>
            <ng-template #clearDealerBtn>
              <i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                *ngIf="formValues.get('dealerCode').value && editable"></i>
            </ng-template>

            <ng-template #selectDealerBtn>
              <button *ngIf="editable" nz-button nzType="primary" class="ml-md"
                (click)="onShowSelectDealerModal()">选择经销商</button>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">经销商编号</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input id="dealerCode" nz-input formControlName="dealerCode" [disabled]="true" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">医院名称</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-input-group style="width: 100%" [nzSuffix]="clearHospitalBtn" [nzAddOnAfter]="selectHospitalBtn">
              <input id="hospitalName" type="text" nz-input formControlName="hospitalName"
                [placeholder]="editable ? '点击右侧按钮选择医院' : ''" />
            </nz-input-group>

            <ng-template #clearHospitalBtn>
              <i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                *ngIf="formValues.get('hospitalNo').value && editable" (click)="onClearHospital()"></i>
            </ng-template>

            <ng-template #selectHospitalBtn>
              <button *ngIf="editable" nz-button nzType="primary" class="ml-md"
                (click)="onShowSelectHospitalModal()">选择医院</button>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">医院编号</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input id="hospitalNo" nz-input formControlName="hospitalNo" [disabled]="true" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" [nzRequired]="bg.value === 'PD&IGT'" nzFor="projectName">项目名称
          </nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input id="projectName" nz-input formControlName="projectName"
              [placeholder]="bg.value === 'PD&IGT' ? '' : '自动生成: 医院名称-产品型号'" maxlength="300" />
            <nz-form-explain
              *ngIf="formValues.get('projectName')?.dirty && formValues.get('projectName')?.errors && bg.value === 'PD&IGT'">
              请填写项目名称
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired nzFor="sapOrderNo">SAP订单号(SO#)</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input id="sapOrderNo" nz-input formControlName="sapOrderNo" maxlength="50" />
            <nz-form-explain *ngIf="formValues.get('sapOrderNo')?.dirty && formValues.get('sapOrderNo')?.errors">
              请填写SAP订单号(SO#)
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXs="24" nzSm="24" nzMd="8" nzXl="8" nzXXl="6" nzRequired nzFor="orderAmount">合同金额
          </nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-form-control nzXs="24" nzSm="24" nzMd="9">
              <nz-input-number id="orderAmount" style="width: 100%;" formControlName="orderAmount" [nzMin]="0">
              </nz-input-number>
              <nz-form-explain *ngIf="formValues.get('orderAmount')?.dirty && formValues.get('orderAmount')?.errors">
                请填写合同金额
              </nz-form-explain>
            </nz-form-control>

            <nz-form-label nzXs="24" nzSm="24" nzMd="6" nzRequired>币制</nz-form-label>
            <nz-form-control nzXs="24" nzSm="24" nzMd="9">
              <nz-select formControlName="currency" nzPlaceHolder="Select 请选择币制">
                <nz-option *ngFor="let item of selectOptions.currencies" [nzLabel]="item.label" [nzValue]="item.value">
                </nz-option>
              </nz-select>
              <nz-form-explain *ngIf="formValues.get('currency')?.dirty && formValues.get('currency')?.errors">
                请选择币制
              </nz-form-explain>
            </nz-form-control>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>进单时间</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-date-picker formControlName="orderDate" style="width: 100%" [nzStyle]="{ width: '100%' }">
            </nz-date-picker>
            <nz-form-explain *ngIf="formValues.get('orderDate')?.dirty && formValues.get('orderDate')?.errors">
              请选择进单时间
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>是否De-book</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-radio-group formControlName="isDebook" #isDebook>
              <label nz-radio [nzValue]="1">是</label>
              <label nz-radio [nzValue]="0">否</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>预计记认销售日期</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-date-picker formControlName="expectedSaleDate" style="width: 100%" [nzStyle]="{ width: '100%' }">
            </nz-date-picker>
            <nz-form-explain
              *ngIf="formValues.get('expectedSaleDate')?.dirty && formValues.get('expectedSaleDate')?.errors">
              请选择预计记认销售日期
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div> -->

    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>OM</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-select formControlName="om" [nzPlaceHolder]="editable ? '请选择OM' : ''">
              <nz-option *ngFor="let item of selectOptions.oms" [nzLabel]="item.label" [nzValue]="item.value">
              </nz-option>
            </nz-select>
            <nz-form-explain *ngIf="formValues.get('om')?.dirty && formValues.get('om')?.errors">
              请选择OM
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-card class="mtb1rem" nzTitle="订单状态信息">
      <form nz-form [formGroup]="orderStatuss">
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="8" nzRequired>是否开始生产</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="12">
                <nz-radio-group formControlName="startProduction" #startProduction>
                  <label nz-radio [nzValue]="1">是</label>
                  <label nz-radio [nzValue]="0">否</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" *ngIf="startProduction.value">
            <nz-form-item>
              <nz-form-label nzXl="12" nzXXl="8">订单取消的额外费用-生产</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="12">
                <input id="orderCancelAmountProduction" nz-input formControlName="orderCancelAmountProduction"
                  maxlength="50" />
                <!-- <nz-form-explain *ngIf="formValues.get('')?.dirty && formValues.get('')?.errors">
                  请填写订单取消的额外费用-生产
                </nz-form-explain> -->
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="8" nzRequired>是否已发货</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="12">
                <nz-radio-group formControlName="shipped" #shipped>
                  <label nz-radio [nzValue]="1">是</label>
                  <label nz-radio [nzValue]="0">否</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" *ngIf="shipped.value">
            <nz-form-item>
              <nz-form-label nzXl="12" nzXXl="8">订单取消的额外费用-<br>国际国内段运输仓储费</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="12">
                <input id="orderCancelAmountShipped" nz-input formControlName="orderCancelAmountShipped"
                  maxlength="50" />
                <!-- <nz-form-explain *ngIf="formValues.get('')?.dirty && formValues.get('')?.errors">
                  请填写订单取消的额外费用-生产
                </nz-form-explain> -->
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="8" nzRequired>是否有第三方采购</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="12">
                <nz-radio-group formControlName="thirdPartyProcurement" #thirdPartyProcurement>
                  <label nz-radio [nzValue]="1">是</label>
                  <label nz-radio [nzValue]="0">否</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" *ngIf="thirdPartyProcurement.value">
            <nz-form-item>
              <nz-form-label nzXl="12" nzXXl="8">订单取消的额外费用-第三方采购</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="12">
                <input id="orderCancelAmountPurchase" nz-input formControlName="orderCancelAmountPurchase"
                  maxlength="50" />
                <!-- <nz-form-explain *ngIf="formValues.get('')?.dirty && formValues.get('')?.errors">
                  请填写订单取消的额外费用-生产
                </nz-form-explain> -->
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="8" nzRequired>是否看过场地</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="12">
                <nz-radio-group formControlName="seenSite" #seenSite>
                  <label nz-radio [nzValue]="1">是</label>
                  <label nz-radio [nzValue]="0">否</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" *ngIf="seenSite.value">
            <nz-form-item>
              <nz-form-label nzXl="12" nzXXl="8">订单取消的额外费用-场地相关</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="12">
                <input id="orderCancelAmountSite" nz-input formControlName="orderCancelAmountSite" maxlength="50" />
                <!-- <nz-form-explain *ngIf="formValues.get('')?.dirty && formValues.get('')?.errors">
                  请填写订单取消的额外费用-生产
                </nz-form-explain> -->
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="8" nzRequired>预付款状态</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="12">
                <nz-radio-group formControlName="advanceChargeStatus" #advanceChargeStatus>
                  <label nz-radio [nzValue]="1">是</label>
                  <label nz-radio [nzValue]="0">否</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12" *ngIf="advanceChargeStatus.value">
            <nz-form-item>
              <nz-form-label nzXl="12" nzXXl="8">预付款金额</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="12">
                <nz-input-number id="advanceChargeAmount" style="width: 100%;" formControlName="advanceChargeAmount"
                  [nzMin]="0">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="8" nzFor="">订单实际发生费用</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="12">
                <input id="" nz-input formControlName="orderActualAmount" maxlength="50" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXs="24" nzSm="24" nzMd="8" nzXl="8" nzXXl="6">退款金额
              </nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-input-number id="refundAmount" style="width: 100%;" formControlName="refundAmount" [nzMin]="0">
                </nz-input-number>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="8">备注</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="12">
                <input nz-input formControlName="remark" id="remark" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </nz-card>


  </form>



  <app-select-hospital #selectHospital (select)="onSelectHospital($event)"></app-select-hospital>
  <app-select-dealer #selectDealer (select)="onSelectDealer($event)"></app-select-dealer>
  <app-select-reference #selectReference (select)="onSelectReference($event)"></app-select-reference>
</nz-card>