<app-apploading [load]="pageLoading"></app-apploading>
<nz-card class="title_warpper mtb1rem">
  <app-approval-progress></app-approval-progress>
</nz-card>
<div class="tabs-box">
  <app-tabs #tabs (select)="tabclick($event)">
    <app-tab [title]="'orderv3.pages.oit-complete.contract-summary' | translate" id="contract-tab">
      <div class="card-body">
        <pre-base-info-from #baseInfoFromChild [formValue]="formValue" [editPreTable]="false" [editable]="false"
          [isContract]="true" [subTierSubject]="subTierSubject">
        </pre-base-info-from>
        <pre-base-info-table #baseInfoTableChild [formValue]="formValue" [isContract]="true"></pre-base-info-table>
      </div>
    </app-tab>
    <app-tab title="Order Summary" id="summary-tab">
      <div class="card-body">
        <ecos-ordersummary-info [formValue]="formValue" [bg]="baseInfoFromData.getRawValue().orderModality"
          [editable]="false" [editPreTable]="false">
        </ecos-ordersummary-info>
        <pre-base-info-table [isResultVerify]="true" [formValue]="formValue" [isContract]="true"></pre-base-info-table>
        <app-oa-add-info #oaAddInfoChild [formValue]="formValue"></app-oa-add-info>
      </div>
    </app-tab>
    <app-tab [title]="'orderv3.pages.oit-complete.sin' | translate" id="complete-tab">
      <div class="card-body">
        <ecos-contract-sign-info #contractSign [formValue]="formValue" [needFileType]="needFileType">
        </ecos-contract-sign-info>
      </div>
    </app-tab>
    <app-tab [title]="'orderv3.pages.oit-complete.oit-tab' | translate" id="oit-tab">
      <div class="card-body">
        <oit-form-group [formValue]="formValue" [editCurr]="editCurr" (updatePage)="preSubmit($event)"
          [needFileType]="needFileType" [omDisabled]="omDisable()">
        </oit-form-group>
      </div>
    </app-tab>
    <app-tab [title]="'orderv3.pages.oit-complete.history' | translate" id="approval-record">
      <div class="card-body">
        <app-form-section [title]="'orderv3.pages.contract-examine.history'| translate">
          <approval-history-oit [applyId]="applyId">
          </approval-history-oit>
          <app-form-section class="mtb1rem" [title]="'orderv3.pages.pre-order.history-child' | translate">
            <shared-approval-history [procInstId]="procInstId"></shared-approval-history>
          </app-form-section>
        </app-form-section>
        <contract-remarks [formValue]="formValue" [remarkFrom]="remarkFromData" *ngIf="!needFileTypeOff">
        </contract-remarks>
      </div>
    </app-tab>
    <app-tab [title]="'orderv3.pages.oit-complete.third-tab' | translate" id="complete-third"
      *ngIf="needFileType == 'third'">
      <div class="card-body">
        <ecos-thirdcheck-info [formValue]="formValue" #thirdCheck [applyId]="applyId" [dealFormId]="baseInfoFromData.getRawValue().dealformId"></ecos-thirdcheck-info>
      </div>
    </app-tab>
    <app-tab [title]="'orderv3.pages.oit-complete.so-tab' | translate" id="complete-real"
      *ngIf="needFileType == 'om'||needFileTypeShowOff">
      <div class="card-body">
        <ecos-real-time-info [formValue]="formValue" [bg]="baseInfoFromData.getRawValue().orderModality"
          [lastSo]="lastSo">
        </ecos-real-time-info>
      </div>
    </app-tab>
    <app-tab [title]="changeName" id="approve-change" *ngIf="status == 'ecos_oit_order_change_submit'||status == 'ecos_oit_order_change_resubmit'||status == 'ecos_oit_order_change_approval'||status == 'ecos_oit_order_change_first_approval'
      ||status == 'ecos_oit_order_change_second_approval'">
      <div class="card-body">
        <approve-change #approveChanges [formValue]="formValue"></approve-change>
      </div>
    </app-tab>
    <app-tab [title]="'orderv3.pages.contract.change'|translate" id="approve-changes" *ngIf="changeItem">
      <div class="card-body">
        <approve-change [formValue]="formValue"></approve-change>
      </div>
    </app-tab>
  </app-tabs>
  <!--    <ngb-tabset type="tabs" [destroyOnHide]="true" [activeId]="activedId" #tabs>-->
  <!--      <ngb-tab id="contract-tab">-->
  <!--        <ng-template ngbTabTitle><span class="tab-title"><strong>合同概要表</strong></span></ng-template>-->
  <!--        <ng-template ngbTabContent>-->
  <!--          <div class="card-body">-->
  <!--            <pre-base-info-from #baseInfoFromChild [formValue]="formValue" [editPreTable]="false" [editable]="false"-->
  <!--              [isContract]="true">-->
  <!--            </pre-base-info-from>-->
  <!--            <pre-base-info-table #baseInfoTableChild [formValue]="formValue" [isContract]="true"></pre-base-info-table>-->
  <!--          </div>-->
  <!--        </ng-template>-->
  <!--      </ngb-tab>-->
  <!--      <ngb-tab id="summary-tab">-->
  <!--        <ng-template ngbTabTitle><span class="tab-title"><strong>Order Summary</strong></span></ng-template>-->
  <!--        <ng-template ngbTabContent>-->
  <!--          <div class="card-body">-->
  <!--            <ecos-ordersummary-info [formValue]="formValue" [bg]="baseInfoFromData.getRawValue().dealFormSalesModality"-->
  <!--              [editable]="false" [editPreTable]="false">-->
  <!--            </ecos-ordersummary-info>-->
  <!--            <pre-base-info-table [formValue]="formValue" [isContract]="true"></pre-base-info-table>-->
  <!--            <app-oa-add-info #oaAddInfoChild [formValue]="formValue"></app-oa-add-info>-->
  <!--          </div>-->
  <!--        </ng-template>-->
  <!--      </ngb-tab>-->
  <!--      <ngb-tab id="complete-tab">-->
  <!--        <ng-template ngbTabTitle><span class="tab-title"><strong>合同签署</strong></span></ng-template>-->
  <!--        <ng-template ngbTabContent>-->
  <!--          <div class="card-body">-->
  <!--            <ecos-contract-sign-info [formValue]="formValue" [needFileType]="needFileType"></ecos-contract-sign-info>-->
  <!--          </div>-->
  <!--        </ng-template>-->
  <!--      </ngb-tab>-->
  <!--      <ngb-tab id="oit-tab">-->
  <!--        <ng-template ngbTabTitle><span class="tab-title"><strong>OIT完成</strong></span></ng-template>-->
  <!--        <ng-template ngbTabContent>-->
  <!--          <div class="card-body">-->
  <!--            <oit-form-group [formValue]="formValue" [editCurr]="editCurr" (updatePage)="preSubmit($event)"-->
  <!--              [needFileType]="needFileType" [omDisabled]="omDisable()">-->
  <!--            </oit-form-group>-->
  <!--          </div>-->
  <!--        </ng-template>-->
  <!--      </ngb-tab>-->
  <!--      <ngb-tab id="complete-third" *ngIf="needFileType == 'third'">-->
  <!--        <ng-template ngbTabTitle><span class="tab-title"><strong>第三方自采核查</strong></span></ng-template>-->
  <!--        <ng-template ngbTabContent>-->
  <!--          <div class="card-body">-->
  <!--            <ecos-thirdcheck-info [formValue]="formValue"></ecos-thirdcheck-info>-->
  <!--          </div>-->
  <!--        </ng-template>-->
  <!--      </ngb-tab>-->

  <!--      <ngb-tab id="complete-real" *ngIf="needFileType == 'om'">-->
  <!--        <ng-template ngbTabTitle><span class="tab-title"><strong>上传SO#</strong></span></ng-template>-->
  <!--        <ng-template ngbTabContent>-->
  <!--          <div class="card-body">-->
  <!--            <ecos-real-time-info [formValue]="formValue" [bg]="baseInfoFromData.getRawValue().dealFormSalesModality">-->
  <!--            </ecos-real-time-info>-->
  <!--          </div>-->
  <!--        </ng-template>-->
  <!--      </ngb-tab>-->
  <!--      <ngb-tab id="approval-record">-->
  <!--        <ng-template ngbTabTitle>-->
  <!--          <span class="tab-title"><strong>审批记录</strong></span>-->
  <!--        </ng-template>-->
  <!--        <ng-template ngbTabContent>-->
  <!--          <div class="card-body">-->
  <!--            <app-form-section title="审批记录">-->
  <!--              <shared-approval-history [procInstId]="procInstId"></shared-approval-history>-->
  <!--            </app-form-section>-->
  <!--            <contract-remarks [remarkFrom]="remarkFromData" *ngIf="!needFileTypeOff"></contract-remarks>-->
  <!--          </div>-->
  <!--        </ng-template>-->
  <!--      </ngb-tab>-->
  <!--      <ngb-tab id="approve-change" *ngIf="status == 'ecos_oit_order_change_submit'||status == 'ecos_oit_order_change_resubmit'||status == 'ecos_oit_order_change_approval'">-->
  <!--        <ng-template ngbTabTitle>-->
  <!--          <span class="tab-title">-->
  <!--            <strong>{{changeName}}</strong>-->
  <!--          </span>-->
  <!--        </ng-template>-->
  <!--        <ng-template ngbTabContent>-->
  <!--          <div class="card-body">-->
  <!--              <approve-change #approveChanges [formValue]="formValue"></approve-change>-->
  <!--          </div>-->
  <!--        </ng-template>-->
  <!--      </ngb-tab>-->
  <!--    </ngb-tabset>-->
  <div *ngIf="flag == 0&&status!=='ecos_oit_order_change_submit'&&status!=='ecos_oit_order_change_resubmit'&&status!=='ecos_oit_order_change_approval'&&status !== 'ecos_oit_order_change_first_approval'
    &&status !== 'ecos_oit_order_change_second_approval'" class="fixed-btn-group" nz-row nzType="flex"
    class="fixed-btn-group" nzJustify="center" nzAlign="middle">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: center">
          <button [disabled]="tabIndex==0" nz-button nzType="default" (click)="goPreStep()">
            {{"orderv3.pages.ordersummary.pre-step" | translate}}
          </button>
          <button [disabled]="tabIndex==(tabList.length-1)" nz-button nzType="default" (click)="goNextStep()">
            {{"orderv3.pages.ordersummary.next-step" | translate}}
          </button>
          <button nz-button nzType="default" (click)="handleCancel()">
            {{"orderv3.pages.oit-complete.cancel" | translate}}
          </button>
          <button nz-button nzType="primary" (click)="preSubmit('apply_save')">
            {{"orderv3.pages.oit-complete.save" | translate}}
          </button>
          <button nz-button nzType="primary" nz-popconfirm nzTitle="你确定要执行提交的操作?" (nzOnConfirm)="preSubmit('approved')">
            {{"orderv3.pages.oit-complete.submit" | translate}}
          </button>
          <button nz-button nzType="primary" nz-popconfirm nzTitle="你确定要执行退回到合同概要表的操作?"
            (nzOnConfirm)="preSubmit('rejected')">
            {{"orderv3.pages.oit-complete.reject" | translate}}
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div *ngIf="flag==0&&(status=='ecos_oit_order_change_submit'||status=='ecos_oit_order_change_resubmit'||status=='ecos_oit_order_change_approval'||status == 'ecos_oit_order_change_first_approval'
    ||status == 'ecos_oit_order_change_second_approval')" class="fixed-btn-group" nz-row nzType="flex"
    class="fixed-btn-group" nzJustify="center" nzAlign="middle">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control *ngIf="status=='ecos_oit_order_change_submit'||status=='ecos_oit_order_change_resubmit'"
          [nzSm]="24" [nzXs]="24" style="text-align: center">
          <button nz-button nzType="default" nz-popconfirm nzTitle="你确定要取消改单?" style="margin-right: 10px"
            (nzOnConfirm)="processChangeOrder('cancel_change_order',true)">
            {{"orderv3.pages.oit-complete.cel-change" | translate}}
          </button>
          <button nz-button nzType="primary" nz-popconfirm nzTitle="你确定要发起改单?"
            (nzOnConfirm)="processChangeOrder('approved',true)">
            {{"orderv3.pages.oit-complete.req-change" | translate}}
          </button>
        </nz-form-control>
        <nz-form-control *ngIf="status=='ecos_oit_order_change_approval'||status == 'ecos_oit_order_change_first_approval'
        ||status == 'ecos_oit_order_change_second_approval'" [nzSm]="24" [nzXs]="24" style="text-align: center">
          <button nz-button nzType="default" nz-popconfirm nzTitle="你确定要执行拒绝的操作?" style="margin-right: 10px"
            (nzOnConfirm)="processChangeOrder('rejected',false)">
            {{"orderv3.pages.oit-complete.refuse" | translate}}
          </button>
          <button nz-button nzType="primary" nz-popconfirm nzTitle="你确定要执行批准的操作?"
            (nzOnConfirm)="processChangeOrder('approved',false)">
            {{"orderv3.pages.oit-complete.approved" | translate}}
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div
    *ngIf="allowChangOrder&&(status=='ecos_oit_order_done'||status=='ecos_oit_order_change_submit'||status=='ecos_oit_order_change_resubmit')"
    class="fixed-btn-group" nz-row nzType="flex" class="fixed-btn-group" nzJustify="center" nzAlign="middle">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: center">
          <button nz-button nzType="default" style="margin-right: 10px" (click)="handleCancel()">
            {{"orderv3.pages.oit-complete.cancel" | translate}}
          </button>
          <button [disabled]="!changeOrderOff" nz-button nzType="primary" (click)="changeOrder()">
            {{"orderv3.pages.oit-complete.req-change" | translate}}
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div *ngIf="needFileTypeOff" class="fixed-btn-group" nz-row nzType="flex" class="fixed-btn-group" nzJustify="center"
    nzAlign="middle">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: center">
          <button nz-button nzType="default" style="margin-right: 10px" (click)="handleCancel()">
            {{"orderv3.pages.oit-complete.cancel" | translate}}
          </button>
          <button nz-button nzType="primary" nz-popconfirm nzTitle="你确定要执行提交的操作?"
            (nzOnConfirm)="preSubmit('apply_save')">
            {{"orderv3.pages.oit-complete.submit" | translate}}
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- 三方自查保存按钮 -->
  <div *ngIf="thirdSave" class="fixed-btn-group" nz-row nzType="flex" class="fixed-btn-group" nzJustify="center"
    nzAlign="middle">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: center">
          <button nz-button nzType="default" style="margin-right: 10px" (click)="handleCancel()">
            {{"orderv3.pages.oit-complete.cancel" | translate}}
          </button>
          <button nz-button nzType="primary" nz-popconfirm nzTitle="你确定要执行保存的操作?" (nzOnConfirm)="thirdCheckSubmit()">
            {{"orderv3.pages.oit-complete.save" | translate}}
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>


</div>
<!--发起改单-->
<chang-order #changeOrderwin [formValue]="formValue" [remarkFrom]="changOrderFromData">
</chang-order>
<!--发起改单 end-->
