<app-mobile-header-navbar [parentUrl]="parentUrl" [title]="'待接收任务'"></app-mobile-header-navbar>
<app-mobile-main-form-view [processType]="processType" [processStatus]="'0'" [taskData]="taskData">
</app-mobile-main-form-view>
<WhiteSpace></WhiteSpace>
<Flex style="margin: 5px;">
  <FlexItem>
    <div Button [type]="'primary'" [disabled]="loadingIndicator" [loading]="loadingIndicator" (click)="mobileClaim();"
      [size]="'default'">认领任务</div>
  </FlexItem>
  <FlexItem>
    <div Button [type]="'primary'" (click)="cancelBtnClick();" [size]="'default'">取消</div>
  </FlexItem>
</Flex>