<form class="global-form">
    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24"><span>Bidding Mode</span><br> 招标授权模式</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="text" class="form-control" disabled value="默认投标申请表带入">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">当前数据来源</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                    <input type="text" class="form-control" disabled value="默认投标申请表带入">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <nz-card class="mtb1rem" nzTitle="项目信息">
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24"> Reference ID</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        2021HNS-2231
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">招标项目</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">业务模式</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">商机层级链接</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">客户类型</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">招标编号</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24"><span>Tendering Company</span><br>招标机构</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">开标日期</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">投标有效期</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">投标公司</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">投标公司注册地址</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">采购集团名称</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">投标公司注册所在地</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">医院名称</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">省份</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">投标负责人</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24">投标负责人职务</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </nz-card>
</form>
