<nz-card class="title_warpper mb-4">
  <div>
    <h4 class="font-weight-bold">
      <span>OIT & Bidding Real-TIME Tracking OIT及招标进度实时追踪</span>
    </h4>
  </div>
</nz-card>
<nz-tabset
  [(nzSelectedIndex)]="tabIndex"
  [nzTabPosition]="'top'"
  [nzType]="'card'"
  (nzSelectChange)="onTabChange()"
>
  <nz-tab nzTitle="Overview"></nz-tab>
  <nz-tab nzTitle="Team Summary"></nz-tab>
</nz-tabset>
<nz-card>
  <form nz-form [formGroup]="formValues">
    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <div nz-col [nzMd]="8" [nzSm]="24" *ngIf="tabIndex === 1">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="team" style = "width: 68px;">Team</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-select
              id="team"
              formControlName="team"
              (ngModelChange)="onTeamChange()"
            >
              <nz-option *ngFor="let team of teams" [nzValue]="team" [nzLabel]="team"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="8" [nzSm]="24" *ngIf="tabIndex === 0">
        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="category" style = "width: 80px;"><span>Group By</span><br>分组</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-select
              id="category"
              formControlName="category"
              (ngModelChange)="onCategoryChange()"
            >
              <nz-option nzValue="Team" nzLabel="Team"></nz-option>
              <nz-option nzValue="BMC" nzLabel="BMC"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="8" [nzSm]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="submitDate"><span>Submit Date</span><br>提交日期</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-range-picker id="submitDate" formControlName="submitDate" nzFormat="yyyy年MM月dd日" (ngModelChange)="onSubmitDateChange()"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="8" [nzSm]="24" *ngIf="tabIndex === 1">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="series">系列</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-select
              id="series"
              formControlName="series"
              (ngModelChange)="onSeriesChange()"
            >
              <nz-option nzValue="Status" nzLabel="状态"></nz-option>
              <nz-option nzValue="BMC" nzLabel="BMC"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <div class="summary">
    <div class="left-wrap">
      <div class="business-card" [ngClass]="chartType === 0 ? 'active' : ''" (click)="onToggleChartType(0)">
        <div class="title">Order Total 订单总量</div>
        <div class="num-wrap">{{ totalCount|NumberThousandth }}</div>
      </div>

      <div class="business-card" [ngClass]="chartType === 1 ? 'active' : ''" (click)="onToggleChartType(1)">
        <div class="title">Net Value 不含POS($)</div>
        <div class="num-wrap">{{ totalAmount|NumberThousandth }}</div>
      </div>
    </div>

    <div id="summary-chart"></div>
  </div>

  <div class="chart-wrap">
    <app-apploading [load]="chartLoading" [isInner]="true"></app-apploading>
    <div id="realtime-chart"></div>
  </div>
</nz-card>
