@import '../../../../media_query.scss';
.button {
    height: 32px;
    line-height: 32px;
  }
  .largery,.warning{
    color: #999 !important;
    margin-top: 1px;
    font-size: 12px;
    line-height: 18px;
    white-space: nowrap;
    text-align: left;
  
    /* 手机端适配：largery控件手机端超长横向滚动 */
    @media screen and (max-width: $screen-xs-max) {
        overflow-x: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE 10+ */
        &::-webkit-scrollbar {
            display: none; /* Chrome Safari */
        }
    }
  }
  .warning{
    padding:3px 6px;
    background-color: #fffbe5;
    border-radius: 5px;
    border: 1px solid #f4bc00;
    color: red !important;
    animation: 1s rainbow ease-in-out;  
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    &.inline{
      padding: 11px 21px;
      margin: 10px 20px;
    }
    
  }  
.bul {
  color: #1e70cd !important;
  font-weight: bold;
}
.prod{
  background-color: #fcfcfd !important;
  border: unset;
  color: #333 !important;
  border-bottom: 0.125rem #d4dbdf solid;
  height: 38px;
  border-radius: 5px
}
.mb10{
  margin-bottom: 10px;
}