<div>
    <table class="tab">
        <thead>
            <tr>
                <th>
                    步骤
                </th>
                <th>
                    操作者
                </th>
                <th>
                    审批结果
                </th>
                <th>
                    备注
                </th>
                <th>
                    操作时间
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    提交投标申请
                </td>
                <td>
                    喻昌云
                </td>
                <td class="green">
                    提交
                </td>
                <td>
                    授权申请
                </td>
                <td>
                    2020/11/1 14：22：46
                </td>
            </tr>
            <tr>
                <td>
                    提交投标申请
                </td>
                <td>
                    喻昌云
                </td>
                <td class="green">
                    已批准
                </td>
                <td>
                    包含非标准条款：物流条款审批，投标保证金及履约保证金额审批，技术条款审批
                </td>
                <td>
                    2020/11/1 14：22：46
                </td>
            </tr>
            <tr>
                <td>
                    提交投标申请
                </td>
                <td>
                    喻昌云
                </td>
                <td class="red">
                    待审批
                </td>
                <td>
                    待中标确认
                </td>
                <td>
                    2020/11/1 14：22：46
                </td>
            </tr>
        </tbody>
    </table>
</div>