.tab {
    width: 1000px;
    td,
    th {
        border: 1px solid #ddd;
        text-align: center;
        padding: 6px 0px;
    }
    .green {
        color: #009900
    }
    .red {
        color: red;
    }
}