table{
    width: 100%;
  }
  tr{
    min-height: 50px !important;
  }
  td{
    width: 20%;
    text-align: center;
    min-height: 50px !important;
    padding: 10px 0;
    box-sizing: border-box;
  }
  .red{
    color: red;
  }
  .green{
    color: green;
  }
  .tr{
    text-align: right;
  }
  .mt10{
    margin-top:10px;
  }