<nz-modal [(nzVisible)]="isAgres" nzWidth="650px" nzMaskClosable="false" nzTitle="{{'orderv3.components.change-order-popup.title' | translate}}" [nzFooter]="modalFooter1" (nzOnCancel)="isAgreCancels()">
  <nz-spin nzTip="Loading..." [nzSpinning]="load">
    <form nz-form [formGroup]="remarkFrom" [nzNoColon]="true">
      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzXs="24" nzSm="24" nzMd="24">
          <nz-form-item style="margin-bottom: 6px">
            <nz-form-label nzSm="6" nzXl="6" nzXXl="6" [nzNoColon]="true">
            </nz-form-label>
            <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
              <div class="warnings"><i class="icon" nz-icon nzType="warning"
                  nzTheme="outline"></i>{{'orderv3.components.change-order-popup.confirmChange' | translate}}</div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzXs="24" nzSm="24" nzMd="24">
          <nz-form-item style="margin-bottom: 6px">
            <nz-form-label nzSm="6" nzXl="6" nzXXl="6" [nzNoColon]="true" nzRequired>{{'orderv3.components.change-order-popup.reason' | translate}}</nz-form-label>
            <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
              <nz-select #ref style="width: 100%" (ngModelChange)="refuseReasonChang($event)" nzShowSearch
                nzPlaceHolder="" formControlName="reason">
                <nz-option nzCustomContent *ngFor="let item of reasonList" nz-tooltip [nzTitle]="item.orderChange" [nzValue]="item.orderChange" [nzLabel]="item.orderChange">
                  <div nz-tooltip class="options" tooltip [nzTitle]="item.orderChange">{{item.orderChange}}</div>
                </nz-option>
              </nz-select>
              <nz-form-explain *ngIf="
          remarkFrom.get('reason')?.dirty &&
          remarkFrom.get('reason')?.errors
        ">
                <ng-container *ngIf="remarkFrom.get('reason')?.hasError('required')">
                  此选项必填字段</ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzXs="24" nzSm="24" nzMd="24">
          <nz-form-item style="margin-bottom: 6px">
            <nz-form-label nzSm="6" nzXl="6" nzXXl="6" [nzNoColon]="true">{{'orderv3.components.change-order-popup.describes' | translate}}</nz-form-label>
            <nz-form-control nzSm="14" nzXl="14" nzXXl="14" nz-tooltip [nzTitle]="remarkFrom.getRawValue().describes">
              <textarea nz-input oninput="if(value.length>255)value=value.slice(0,255)" placeholder=""               
                formControlName="describes"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzXs="24" nzSm="24" nzMd="24">
          <nz-form-item>
            <nz-form-label nzSm="6" nzXl="6" nzXXl="6" [nzNoColon]="true">{{'orderv3.components.change-order-popup.supportRemark' | translate}}</nz-form-label>
            <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
              <textarea nz-input oninput="if(value.length>255)value=value.slice(0,255)" nz-input placeholder=""
                formControlName="supportRemark" [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
              <ng-container *ngIf="remarkFrom.getRawValue().supportRemark">
                <div>还可以输入:{{remarkFrom.getRawValue().supportRemark.length}}/255</div>
              </ng-container>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzXs="24" nzSm="24" nzMd="24">
          <nz-form-item>
            <nz-form-label nzSm="6" nzXl="6" nzXXl="6" [nzNoColon]="true">{{'orderv3.components.change-order-popup.changeOrderFile' | translate}}</nz-form-label>
            <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
              <div class="maxuploadto">
                <shared-upload-file
                  [title]="'orderv3.components.change-order-popup.upload' | translate"
                  [type]="null"
                  formControlName="changeOrderFile">
                </shared-upload-file>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzXs="24" nzSm="24" nzMd="24">
          <nz-form-item>
            <nz-form-label nzSm="6" nzXl="6" nzXXl="6" [nzNoColon]="true"></nz-form-label>
            <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
              <div *ngIf="isDealerDdpStatus()||isforeignDdpStatus()">
                <nz-alert *ngIf="isDealerDdpStatus()" nzType="warning" [nzMessage]="dealDDpstatusTitle" nzShowIcon></nz-alert>
                 <nz-alert *ngIf="isforeignDdpStatus()" nzType="warning" [nzMessage]="foreignFromDDpstatusTitle" nzShowIcon></nz-alert>
                <div class="changeTitle">如为以下改单原因，请勿发起改单:</div> 
                <div *ngFor="let item of messageGroup;index as j;">
                 {{j+1}}.{{item.label}}
                </div>
            </div>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!-- <div nz-row nzType="flex" *ngIf="dealFormOff" nzJustify="start" nzAlign="middle">
        <div nz-col nzXs="24" nzSm="24" nzMd="24">
          <nz-form-item style="margin-bottom: 6px">
            <nz-form-label nzSm="6" nzXl="6" nzXXl="6" nzNoColon="true"></nz-form-label>
            <nz-form-control nzSm="18" nzXl="18" nzXXl="18">
              <nz-form-control nzSm="24" nzXl="24" nzXXl="24">
                <label nz-checkbox formControlName="changeDealForm">{{'orderv3.components.change-order-popup.changeDealForm' | translate}}</label>
              </nz-form-control>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div> -->
    </form>
    <ng-template #modalFooter1>
      <button nz-button nzType="default" (click)="isAgreCancels()">{{'orderv3.components.change-order-popup.cancel' | translate}}</button>
      <button nz-button nzType="primary" [nzLoading]="load" (click)="isAgregentOk()">{{'orderv3.components.change-order-popup.ok' | translate}}</button>
    </ng-template>
  </nz-spin>
</nz-modal>
