.is::before{
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun,sans-serif;
  line-height: 1;
  content: '*';
}
.flax{
  display: flex;
  align-items: center;
}
.a-url-left{
  width: 700px;
  //text-align: right;
  padding: 0 10px;
}
.a-url{
  display: inline-block;
  color: #1e70cd!important;
  font-weight: bold;
  margin-top: 10px;
}
