<div>
    <div class="title">
        <span>产品信息</span>
        <span class="red">当前数据来源:cp</span>
        <button nz-button class="ml6" nzType="primary" [nzSize]="6" disabled (click)="showDiag()">添加Opportunity ID</button>
    </div>
    <div class="cent" *ngFor="let list of productData; let i=index">
        <div class="mt10 mb10">
            <span class="red">Opportunity ID:{{list.opportunityID}}</span>
            <button nz-button class="ml6" nzType="primary" disabled [nzSize]="6" (click)="showBundle()">添加Market Bundle</button>
            <button nz-button class="ml6" nz-popconfirm nzTitle="确定要删除当前opportunityID?" disabled (nzOnConfirm)="confirm(i)" (nzOnCancel)="cancel()" nzType="primary" [nzSize]="6">删除Opportunity ID</button>
        </div>
        <nz-table #expandTable [nzData]="list.listOfMapData" nzBordered nzTableLayout="fixed">
            <thead>
                <tr>
                    <th colspan="2">产品类型</th>
                    <th>产品型号</th>
                    <th>产品名称</th>
                    <th>本地名称</th>
                    <th>产品线</th>
                    <th>Mag</th>
                    <th>台数</th>
                    <th>CostCenter</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of expandTable.data; let m=index; ">
                    <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
                        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
                            <td [nzIndentSize]="item.level! * 20" [nzShowExpand]="!!item.children" [(nzExpand)]="item.expand" (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)">
                                {{ item.productType}}
                            </td>
                            <td>{{item.productTypeChild}}</td>
                            <td>{{ item.productModel}}</td>
                            <td>{{ item.productName }}</td>
                            <td>{{ item.localName}}</td>
                            <td>{{item.productLine}}</td>
                            <td>{{ item.mag}}</td>
                            <td>{{ item.number}}</td>
                            <td>{{item.costCenter}}</td>
                            <td>
                                <!-- <a *ngIf="item.level==0" (click)="delProduct(i,m)" href="javascript:">删除</a> -->
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </nz-table>
    </div>
    <nz-modal [(nzVisible)]="showoff" nzWidth="1000px" nzTitle="添加Opportunity ID" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <ng-container>
            <div>
                <div class="seachbox">
                    <div nz-row>
                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="10" nzFor="email">Opportunity ID</nz-form-label>
                                <nz-form-control [nzSpan]="14">
                                    <input nz-input name="email" type="email">
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="10" nzFor="email">Opportunity Name</nz-form-label>
                                <nz-form-control [nzSpan]="14">
                                    <input nz-input name="email" type="email">
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-col nzSpan="8">
                            <button nz-button class="ml6 mt4" nzType="primary" [nzSize]="6">搜索</button>
                        </div>
                    </div>
                </div>
                <div class="heads">
                    CP中已完成审批的Deal Form查询结果
                </div>
                <div class="tabbox">
                    <nz-table #basicTables [nzData]="tabList">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Opportunity ID</th>
                                <th>Deal Form ID</th>
                                <th>Opportunity Name</th>
                                <th>
                                    <div>Account Name</div>
                                    <div>医院名称</div>
                                </th>

                                <th>
                                    <div>Bidding Date</div>
                                    <div>开标日期</div>
                                </th>
                                <th>
                                    <div>Opportinity Hierarchy Link</div>
                                    <div>商机层级链接</div>
                                </th>
                                <th width="100">
                                    来源
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of basicTables.data let m=index">
                                <td><label nz-radio [ngModel]="data.radio"></label></td>
                                <td>{{data.opportunityID}}</td>
                                <td>{{data.DealFormID}}</td>
                                <td>{{data.opportunityName}}</td>
                                <td>{{data.accountName}}</td>
                                <td>{{data.biddingDate}}</td>
                                <td>{{data.opportinityHierarchyLink}}</td>
                                <td>{{data.source}}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
                <div class="heads">
                    CRM链接查询结果
                </div>
                <div class="tabbox">
                    <nz-table #basicTable [nzData]="crmData">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Opportunity ID</th>
                                <th>Opportunity Name</th>
                                <th>
                                    <div>Account Name</div>
                                    <div>医院名称</div>
                                </th>
                                <th>
                                    <div>Bidding Date</div>
                                    <div>开标日期</div>
                                </th>
                                <th>
                                    <div>Opportinity Hierarchy Link</div>
                                    <div>商机层级链接</div>
                                </th>
                                <th width="100">
                                    来源
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of basicTable.data let i=index">
                                <td><label nz-radio [ngModel]="data.radio"></label></td>
                                <td>{{data.opportunityID}}</td>
                                <td>{{data.opportunityName}}</td>
                                <td>{{data.accountName}}</td>
                                <td>{{data.biddingDate}}</td>
                                <td>{{data.opportinityHierarchyLink}}</td>
                                <td>{{data.source}}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </ng-container>
    </nz-modal>
    <nz-modal [(nzVisible)]="ishowBundle" nzWidth="800px" nzTitle="添加Market Bundle" (nzOnCancel)="bundleCancel()" (nzOnOk)="bundleOk()">
        <ng-container>
            <div>
                <nz-transfer [nzDataSource]="shuttleList" [nzTitles]="['价格明细表','已选产品']" (nzSelectChange)="select($event)" (nzChange)="change($event)">
                </nz-transfer>
            </div>
        </ng-container>
    </nz-modal>
</div>