<div nz-row class="mb-2" [hidden]="hideSelect">
  <span class="custom-simple-label">请选择文件查看：</span>
  <nz-select style="width: 200px;"
    bindLabel="text"
    bindValue="value"
    [(ngModel)]= "item"
    [nzDisabled] = "disableFlag"
    (ngModelChange)="changeSrc($event)"
  >
    <nz-option *ngFor="let option of fileList" [nzLabel]="option.text" [nzValue]="option.value">
    </nz-option>
  </nz-select>
</div>
<div class="pdf-container">
  <nz-spin [nzSpinning]="disableFlag">
    <ngx-extended-pdf-viewer
      [src]="src"
      useBrowserLocale="true"
      height="80vh"
      [showSidebarButton]="showSidebarButton"
      [showFindButton]="showFindButton"
      [showPagingButtons]="showPagingButtons"
      [showZoomButtons]="showZoomButtons"
      [showPresentationModeButton]="showPresentationModeButton"
      [showOpenFileButton]="showOpenFileButton"
      [showPrintButton]="showPrintButton"
      [showDownloadButton]="showDownloadButton"
      [showBookmarkButton]="showBookmarkButton"
      [showSecondaryToolbarButton]="showSecondaryToolbarButton"
      [showRotateButton]="showRotateButton"
      [showHandToolButton]="showHandToolButton"
      [showScrollingButton]="showScrollingButton"
      [showSpreadButton]="showSpreadButton"
      [showPropertiesButton]="showPropertiesButton"
    ></ngx-extended-pdf-viewer>
  </nz-spin>
</div>
