<!-- 待补充文件表单 -->
<form nz-form [formGroup]="supplementFile">
  <nz-form-item>
    <nz-form-label [nzSpan]="4" [nzRequired]="applyDetail.lackingAwardNotice === 1">{{ endUserContractFilesLabel }}
    </nz-form-label>
    <nz-form-control [nzSpan]="10">
      <shared-upload-file type="button"
        [title]="'biddingv3.components.approval-form.supplement-file.upload' | translate"
        formControlName="endUserContractFiles"></shared-upload-file>
      <nz-form-explain
        *ngIf="supplementFile.get('endUserContractFiles')?.dirty && supplementFile.get('endUserContractFiles')?.errors">
        此选项必填字段
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="winningNoticeFilesVisible">
    <nz-form-label [nzSpan]="4" [nzRequired]="applyDetail.lackingWinningNotice === 1">
      {{"biddingv3.components.approval-form.supplement-file.winning" | translate}}
    </nz-form-label>
    <nz-form-control [nzSpan]="10">
      <shared-upload-file type="button"
        [title]="'biddingv3.components.approval-form.supplement-file.upload' | translate"
        formControlName="winningNoticeFiles"></shared-upload-file>
      <nz-form-explain
        *ngIf="supplementFile.get('winningNoticeFiles')?.dirty && supplementFile.get('winningNoticeFiles')?.errors">
        此选项必填字段
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4" [nzRequired]="applyDetail.lackingGoodsLetter === 1">{{ siteSurveyReportFilesLabel }}
    </nz-form-label>
    <nz-form-control [nzSpan]="10">
      <shared-upload-file type="button"
        [title]="'biddingv3.components.approval-form.supplement-file.upload' | translate"
        formControlName="siteSurveyReportFiles"></shared-upload-file>
      <nz-form-explain
        *ngIf="supplementFile.get('siteSurveyReportFiles')?.dirty && supplementFile.get('siteSurveyReportFiles')?.errors">
        此选项必填字段
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4" [nzRequired]="applyDetail.lackingOther === 1">
      {{"biddingv3.components.approval-form.supplement-file.supplement" | translate}}
    </nz-form-label>
    <nz-form-control [nzSpan]="10">
      <shared-upload-file type="button"
        [title]="'biddingv3.components.approval-form.supplement-file.upload' | translate"
        formControlName="confirmSupplementFiles"></shared-upload-file>
      <nz-form-explain
        *ngIf="supplementFile.get('confirmSupplementFiles')?.dirty && supplementFile.get('confirmSupplementFiles')?.errors">
        此选项必填字段
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4">
      {{"biddingv3.components.approval-form.supplement-file.lacking-file" | translate}}
    </nz-form-label>
    <nz-form-control [nzSpan]="10">
      <nz-radio-group formControlName="lackingFilesAdded" (ngModelChange)="onLackingFilesAddedChange()">
        <label nz-radio [nzValue]="1">是</label>
        <label nz-radio [nzValue]="0">否</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4">
      {{"biddingv3.components.approval-form.bidding-confirm.announce-price" | translate}}
    </nz-form-label>
    <nz-form-control [nzSpan]="4">
      <nz-input-number style="width: 100%;" formControlName="biddingAnnouncePrice" [nzMin]="0" [nzPrecision]="2">
      </nz-input-number>
    </nz-form-control>
    <nz-form-control style="margin-left:8px;width:120px;float:left">
      <shared-select formControlName="biddingAnnounceCurrency" placeholder="请选择币制" [options]="selectOption.currency">
      </shared-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4">{{"biddingv3.components.approval-form.bidding-confirm.announce-date" | translate}}
    </nz-form-label>
    <nz-form-control [nzSpan]="4">
      <shared-date-picker formControlName="biddingAnnounceDate"></shared-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4">
      {{"biddingv3.components.approval-form.bidding-confirm.end-time" | translate}}
    </nz-form-label>
    <nz-form-control [nzSpan]="4">
      <shared-date-picker formControlName="endTimeDate"></shared-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4">
      {{"biddingv3.components.approval-form.bidding-confirm.special-date" | translate}}
    </nz-form-label>
    <nz-form-control [nzSpan]="4">
      <shared-date-picker formControlName="specialApprovalDate"></shared-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="4">
      {{"biddingv3.components.approval-form.bidding-confirm.sign-date" | translate}}
    </nz-form-label>
    <nz-form-control [nzSpan]="4">
      <shared-date-picker formControlName="biddingNoticeSignDate"></shared-date-picker>
    </nz-form-control>
  </nz-form-item>
</form>

<footer>
  <button nz-button (click)="biddingV3Service.goBack()">
    {{"biddingv3.components.approval-form.supplement-file.return" | translate}}
  </button>
  <button *ngIf="!disabled" nz-button nzType="primary" nz-popconfirm nzTitle="你确定要执行提交的操作?" (nzOnConfirm)="onSubmitSupplementFile()">
    {{"biddingv3.components.approval-form.supplement-file.submit" | translate}}
  </button>
</footer>