<nz-card class="title_warpper">
  <div>
    <h4 class="font-weight-bold">
      <span>{{this.dataBase.detail.status=="DOAJDQR"?"Order Confirm 进单确认":"Review the Contract Summary 审核合同概要表"}}</span>
    </h4>
  </div>
</nz-card>
<igt-approval-flowline></igt-approval-flowline>
<div class="tabs-box">
  <div
    nz-row
    nzType="flex"
    nzJustify="end"
    nzAlign="middle"
    class="tabs-box-actions"
  >
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right">
          <button
            nz-button
            nzType="default"
            (click)="toReturn()"
            style="margin-right: 10px"
          >
            Return 返回
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</div>
<ngb-tabset type="tabs" [destroyOnHide]="false" [activeId]="activedId"  class="nav-tabs-top nav-responsive-xl">
  <ngb-tab id="pending-tab">
    <ng-template ngbTabTitle><span class="tab-title"><strong>Contract Summary<br> 合同概要表</strong></span></ng-template>
    <ng-template ngbTabContent>
      <div class="card-body">
        <div class="demo-vertical-spacing">
          <form>
            <app-preOrderBaseInfo
              [dataBase]="dataBase"
              [disa]="true"
              (updateDataBaseInfo)="updateDataBase($event)"
              (updateBase)="updateBase($event)"
              [conTable]="true"
            >
            </app-preOrderBaseInfo>
          </form>
        </div>
        <div nz-row nzType="flex" nzJustify="end" nzAlign="middle">
          <div nz-col nzSpan="4">
            <nz-form-item>
              <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;">
                <button nz-button [nzType]="'primary'" (click)="myskip('examine-tab')">Next 下一步</button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="examine-tab">
    <ng-template ngbTabTitle><span class="tab-title"><strong>Approved<br> 审批</strong></span></ng-template>
    <ng-template ngbTabContent>
      <div class="card-body">
        <nz-card class="mtb1rem" nzTitle="Approved History 审批记录">
          <app-emp-acc></app-emp-acc>
        </nz-card>
        <nz-card *ngIf="dataBase.detail.status!='CANCELLEDSUB'"  [nzTitle]="title">
          <app-examine-form-igt
            [dataBase]="dataBase"
          ></app-examine-form-igt>
        </nz-card>
        <div nz-row nzType="flex" nzJustify="end" nzAlign="middle">
          <div nz-col nzSpan="4">
            <nz-form-item>
              <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;">
                <button nz-button [nzType]="'primary'" (click)="myskip('pending-tab')">Back 上一步</button>
                <button *ngIf="dataBase.hsId" nz-button [nzType]="'primary'" (click)="myskip('change-tab')">Next 下一步</button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="change-tab" *ngIf="dataBase.hsId">
    <ng-template ngbTabTitle><span class="tab-title"><strong>Order Change Review<br> 审核改单</strong></span></ng-template>
    <ng-template ngbTabContent>
      <div class="card-body">
         <app-approve-change [disa]="disa" [dataBase]="dataBase"></app-approve-change>
         <div nz-row nzType="flex" nzJustify="end" nzAlign="middle">
          <div nz-col nzSpan="4">
            <nz-form-item>
              <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;">
                <button nz-button [nzType]="'primary'" (click)="myskip('examine-tab')">Back 上一步</button>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
