<h4 class="font-weight-bold py-3">
  <span>新建进单准备表</span>
</h4>
<div class="tabs-box">
  <app-apploading [load]="load"></app-apploading>
  <div nz-row nzType="flex" nzJustify="end" nzAlign="middle" class="tabs-box-actions">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;">
          <button nz-button nzType="default" (click)="saveContract()" style="margin-right:10px;">保存</button>
          <button *ngIf="dataBase.entryMode !== 'STOCK'" nz-button nzType="primary" (click)="winningBid()">校验中标结果并提交</button>
          <button *ngIf="dataBase.entryMode === 'STOCK'" nz-button nzType="primary" (click)="handleOkWinCheck()">提交进单准备表</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <ngb-tabset type="tabs" [destroyOnHide]="false"  (tabChange)="tabclick($event)" [activeId]="activedId"  class="nav-tabs-top nav-responsive-xl">
    <ngb-tab id="pending-tab">
      <ng-template ngbTabTitle><span class="tab-title"><strong>基础信息</strong></span></ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <form #searchForm="ngForm">
            <app-preOrderBaseInfo
              #childbase
              [dataBase]="dataBase"
              (updateDataBaseInfo)="updateDataBase($event)"
              (updateData)="updateData($event)"
              (myEvent)="myskip($event)"
              (myVerifi)="myVerifi($event)"
            >
            </app-preOrderBaseInfo>
            <div nz-row nzType="flex" nzJustify="end" nzAlign="middle">
              <div nz-col nzSpan="4">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;">
                    <button nz-button [nzType]="'primary'" (click)="myskip('complete-tab')">下一步</button>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="complete-tab">
      <ng-template ngbTabTitle><span class="tab-title"><strong>产品信息</strong></span></ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-preOrderProductInfo
            [dataBase]="dataBase"
            [paySwitch]="paySwitch"
            [installSwitch]="installSwitch"
            (openLoad)="openLoad()"
            (closeLoad)="closeLoad()"
            (myEvent)="myskip($event)"
          >
          </app-preOrderProductInfo>
          <div nz-row nzType="flex" nzJustify="end" nzAlign="middle">
            <div nz-col nzSpan="4">
              <nz-form-item>
                <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;">
                  <button nz-button [nzType]="'primary'" (click)="myskip('pending-tab')">上一步</button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<nz-modal [(nzVisible)]="isVisibleWinCheck" [nzOkDisabled]="verifiOff" nzTitle="中标确认校验结果" nzOkText="提交进单准备表" nzCancelText="取消" nzCentered nzWidth="1600" (nzOnCancel)="handleCancelWinCheck()" (nzOnOk)="handleOkWinCheck()">
  <ng-container>
    <app-preOrderWinCheckTable (myVerifi)="myVerifi($event)" [bidData]="bidData" [businessModel]="dataBase.businessModel" [tableLoad]="tableLoad"></app-preOrderWinCheckTable>
  </ng-container>
</nz-modal>
