<div class="form">
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Business Mode</span><br>业务模式</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Area</span><br>区域</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Bidding Award Notice</span><br>中标通知书</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <a href="javascript:">View 查看附件</a>
                </nz-form-control>

            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Bidding Award Price<br></span><br>中标价格</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Bidder</span><br>投标商</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Agent</span><br>代理商</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Buyer</span><br>合同买方</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>DDP Status</span><br>DDP 状态</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>End User</span><br>最终用户</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Hospital Type</span><br>医院性质</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Product Mode</span><br>产品型号</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">CFDA Name</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Opportinity Hierarchy Link</span><br>商机层级关系链接</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">Opportunity ID</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Contract price</span><br>合同价格</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">Price range<br>价格区间</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Payment Terms</span><br>付款条款</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Sales Promotion</span><br>促销计划</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">Trade in</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">Rebate Total<br>经销商奖励计划</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"> Buyer Purchase 3rd Party Item Check 经销商自采第三方核查</nz-form-label>
                <nz-form-control [nzSpan]="14" style="margin-top: 15px">
<!--                    <input nz-input name="email" disabled type="email">-->
                  <nz-radio-group nzSize="default" name="email" disabled>
                    <label nz-radio nzValue="yes">Y 是</label>
                    <label nz-radio nzValue="no">N 否</label>
                  </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email"><span>Country</span><br>原产地</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">Final sofon quotation #</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">Sofon file</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">Final sofon quotation #</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" nzFor="email">Sofon file</nz-form-label>
                <nz-form-control [nzSpan]="14">
                    <input nz-input name="email" disabled type="email">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div class="form pl30">
        <table class="tabNobd">
            <tr>
                <td rowspan="3">Extend Warranty 延长保修</td>
                <td><input nz-input disabled name="email" type="email"></td>
                <td>Price<br> 价格</td>
                <td><input nz-input disabled name="email" type="email"></td>
            </tr>
            <tr>
                <td><input nz-input disabled name="email" type="email"></td>
                <td>Price<br>  价格</td>
                <td><input nz-input disabled name="email" type="email"></td>
            </tr>
            <tr>
                <td><input nz-input disabled name="email" type="email"></td>
                <td>Price<br> 价格</td>
                <td><input nz-input disabled name="email" type="email"></td>
            </tr>
            <tr>
                <td rowspan="3">Third Party products 第三方产品</td>
                <td><input nz-input disabled name="email" type="email"></td>
                <td>Price<br> 价格</td>
                <td><input nz-input disabled name="email" type="email"></td>
            </tr>
            <tr>
                <td><input nz-input disabled name="email" type="email"></td>
                <td>Price<br> 价格</td>
                <td><input nz-input disabled name="email" type="email"></td>
            </tr>
            <tr>
                <td><input nz-input disabled name="email" type="email"></td>
                <td>Price<br> 价格</td>
                <td><input nz-input disabled name="email" type="email"></td>
            </tr>
        </table>
    </div>
    <div class="form pl30 mt20">
        <div class="title">Control Point Check List 审核结果核查</div>
        <table class="tab">
            <tbody>
                <tr>
                    <td rowspan="4">招标文件审核</td>
                    <td>中标通知书/经销商与用户合同</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td>场地报告/要货函</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td>项目解决方案售前支持报告(仅针对含solution项目)</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td>不适用</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td rowspan="5">特价文件审核</td>
                    <td>招标文件</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td>投标文件</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td>经销商与用户合同</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td>经销商利润分析表</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td>不适用</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td rowspan="6">非标条款文件审核</td>
                    <td>付款条款</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td>场地准备</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td>装运及交货</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td>安装验收及保修</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td>其他</td>
                    <td>
                        <a href="javascript:"></a>
                    </td>
                </tr>
                <tr>
                    <td>不适用</td>
                    <td>
                        <a href="javascript:"></a>
                    </td>
                </tr>
                <tr>
                    <td rowspan="3">Technical Documents Check <br>项目技术文件审核</td>
                    <td>磁共振屏蔽公司选择</td>
                    <td><a href="javascript:">已查</a></td>
                </tr>
                <tr>
                    <td>TBD<br>IGT第三方吊塔确认文件</td>
                    <td></td>
                </tr>
                <tr>
                    <td>不适用</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form mt20 pl30">
        <div class="title">
            OA补充信息
        </div>
        <div nz-row>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="email"><span>Customer Delivery Request Letter Date</span><br>客户要货函日期</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="email" disabled type="email">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="email">合同确认日期</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="email" disabled type="email">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="email"><span>Contract Version</span><br>合同版本</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="email" disabled type="email">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="email">合同是否有OCAP条款</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="email" disabled type="email">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="email">特批文件后补</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="email" disabled type="email">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="email">特批文件名称</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <input nz-input name="email" disabled type="email">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>
</div>
