$LINE_LENGTH: 80px;
$LINE_WEIGHT: 6px;
$ACTIVE_COLOR: #337ec0;
$PENDING_COLOR: #ce9c13;
.approval-progress-wrapper {
  overflow: auto;
  .approval-progress-container {
    padding: 50px 60px;
    display: flex;
    flex-direction: row;
    float: left;
    .approval-progress-node {
      box-sizing: border-box;
      width: 24px;
      height: 24px;
      border: $LINE_WEIGHT #dbdfe7 solid;
      border-radius: 50%;
      position: relative;
      transition: box-shadow 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      .approval-progress-node-label {
        position: absolute;
        padding: 10px;
        white-space: nowrap;
        color: #dbdfe7;
      }
      &.multiple {
        border-radius: 3px;
        width: 36px;
        height: 24px;
        cursor: pointer;
        &:hover {
          box-shadow: 0 0px 18px 0 rgba(200, 201, 204, 0.6);
        }
        &:active {
          box-shadow: 0 0px 12px 0 rgba(200, 201, 204, 0.6);
        }
        &.active {
          color: $ACTIVE_COLOR;
          &::after {
            color: $ACTIVE_COLOR;
          }
        }
        &.pending {
          color: $PENDING_COLOR;
          &::after {
            color: $PENDING_COLOR;
          }
        }
        &::after {
          display: block;
          position: absolute;
          left: 50%;
          top: 0%;
          color: #dbdfe7;
          transform: translateX(-50%) translateY(-50%);
          font-weight: bold;
          content: "…";
        }
      }
      &:nth-child(odd) {
        .approval-progress-node-label {
          top: 0;
          transform: translateY(-100%) translateX(-50%);
          left: 50%;
        }
      }
      &:nth-child(even) {
        .approval-progress-node-label {
          bottom: 0;
          transform: translateY(100%) translateX(-50%);
          left: 50%;
        }
      }
      &:not(:first-child) {
        margin-left: $LINE_LENGTH;
        &::before {
          display: block;
          content: "";
          width: $LINE_LENGTH;
          height: $LINE_WEIGHT;
          background-color: #dbdfe7;
          position: absolute;
          // left: -100%;
          top: 50%;
          transform: translateY(-50%) translateX(calc(-100% - #{$LINE_WEIGHT}));
        }
      }
      &.active {
        border: $LINE_WEIGHT $ACTIVE_COLOR solid;
        .approval-progress-node-label {
          color: $ACTIVE_COLOR;
        }
        &::before {
          background-color: $ACTIVE_COLOR;
        }
      }
      @keyframes shinning {
        from {
          box-shadow: $PENDING_COLOR 0 0 0;
        }
        to {
          box-shadow: lighten($PENDING_COLOR, 0.2) 0 0 16px;
        }
      }

      &.pending {
        border: $LINE_WEIGHT $PENDING_COLOR solid;
        animation: shinning 0.6s alternate infinite;
        .approval-progress-node-label {
          color: $PENDING_COLOR;
        }
        &::before {
          background-color: $PENDING_COLOR;
          background-image: linear-gradient(
            90deg,
            $ACTIVE_COLOR 50%,
            $PENDING_COLOR 100%
          );
        }
      }
    }
  }
}
::ng-deep .approval-progress-child-container {
  .approval-progress-node {
    display: flex;
    align-items: center;
    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      border: $LINE_WEIGHT/2 #dbdfe7 solid;
      border-radius: 50%;
      margin-right: 10px;
    }
    &.active {
      color: $ACTIVE_COLOR;
      &::before {
        border: $LINE_WEIGHT/2 $ACTIVE_COLOR solid;
      }
    }
    &.pending {
      color: $PENDING_COLOR;
      &::before {
        border: $PENDING_COLOR/2 $ACTIVE_COLOR solid;
      }
    }
    .approval-progress-child-node-label {
    }
  }
}
