<!-- Modal template -->
<div class="modal-header">
  <h5 class="modal-title">
    <label style="color: red">{{processDefinitionName}}</label>
    {{mainModalTitle}}
  </h5>
  <div>
    <button type="button" *ngIf="!isProcessing" class="close" mwlConfirmationPopover
            popoverMessage="是否关闭？"
            placement="bottom"
            confirmText="是" [popoverTitle]="''"
            cancelText="否"
            (confirm)="closeModal('Cross click')">
      &ensp;&ensp;<span style="color:black;font-size:28px;font-weight:bold;">&times;</span>
    </button>
  </div>
</div>
<div class="modal-body">
  <ng-container *ngIf="pageType != 'OAFile'">
    <ngb-tabset type="tabs" [destroyOnHide]="false" #mainTableSet class="nav-tabs-top nav-responsive-xl">
      <ngb-tab title="{{formTitle}}">
        <ng-template ngbTabContent>
          <nz-spin nzTip="加载中..." [nzSpinning]="!formInitData">
            <ng-container *ngIf="formInitData">
              <div class="card-body">
                <approval-main-form [isCompleted]="isCompleted" [disabled]="disabled" [formInitData]="formInitData"
                                    [formFrom]="formFrom" [ownerCode]="ownerCode"
                                    [savedFormModel]="savedFormModel"></approval-main-form>
              </div>
            </ng-container>
            <ng-container *ngIf="!formInitData">
              <nz-skeleton></nz-skeleton>
            </ng-container>
          </nz-spin>
        </ng-template>
      </ngb-tab>
      <ngb-tab [title]="commentsTitle" id="comments-tab" *ngIf="pageType === 'mytask'">
        <ng-template ngbTabContent>
          <div class="card-body">
            <approval-main-comments [needComment]="isComment" [disabled]="disabled" [taskId]="taskId"
              [mustRemark]="mustRemark" [taskRouter]="taskSimpleRouterMap"></approval-main-comments>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab *ngIf="pageType!='new' && pageType!='draft'" title="审批历史">
        <ng-template ngbTabContent>
          <div class="card mb-4" *ngIf="processInstanceId">
            <h6 class="card-header">当前流程</h6>
            <div class="card-body">
              <div>
                <approval-flowline [diagramType]="'processInstanceDiagram'"
                                   [componentParams]="paramsToPass"></approval-flowline>
              </div>
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <div *ngIf="processInstanceId">
                <approval-history-info [processInstanceId]="processInstanceId"></approval-history-info>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </ng-container>
  <ng-container *ngIf="pageType == 'OAFile'">
    <nz-spin nzTip="加载中..." [nzSpinning]="!formInitData">
      <ng-container *ngIf="formInitData"> 
        <div class="card-body">
          <approval-main-form [isCompleted]="isCompleted" [disabled]="disabled" [formInitData]="formInitData"
                              [formFrom]="formFrom" [ownerCode]="ownerCode"
                              [savedFormModel]="savedFormModel">
          </approval-main-form>
          <div class="row">
            <div style="margin-top: 8px;" class="form-group col-md-6 col-sm-12">
              <label style="font-weight: bold;">自定义邮件发送&nbsp;
              </label>
              <div class="d-inline-flex" style="float: right;" *ngIf="true">
                <nz-select [(ngModel)]="selectedUser" style="width: 250px;" [nzSize]="'small'" nzShowSearch
                  nzServerSearch nzAllowClear nzPlaceHolder="搜索用户Email" [nzShowArrow]="false"
                  (nzOnSearch)="searchEmail($event)" (ngModelChange)="addEmail($event)">
                  <nz-option *ngFor="let option of userList" [nzLabel]="option.text" [nzValue]="option">
                  </nz-option>
                </nz-select>
              </div>
              <textarea rows=2 class="form-control" placeholder="请使用英文分号分隔多个email地址" [(ngModel)]="inputCc"
                [disabled]="false"></textarea>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="!formInitData">
        <nz-skeleton></nz-skeleton>
      </ng-container>
    </nz-spin>
  </ng-container>

  <!-- .nav-responsive-xl - stacked on extra small, small, medium and large screens -->

</div>
<div class="modal-footer" style="justify-content:center;">
  <ng-container *ngIf="pageType != 'OAFile'">
    <ng-container [ngSwitch]="pageType">
      <ng-container *ngSwitchCase="'new'">
        <button type="button" id="saveTaskBtn" class="btn btn-primary" [ladda]="isProcessing" data-style="zoom-in"
                (click)="saveDraft('new')"> 
          保存草稿
        </button>
        <button type="button" class="btn btn-primary" [ladda]="isProcessing" data-style="zoom-in"
                (click)="startProcess();">
          提交
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="'draft'">
        <button type="button" class="btn btn-primary" [ladda]="isProcessing" data-style="zoom-in"
                (click)="saveDraft('draft');">
          保存草稿
        </button>
        <!-- <button type="button" class="btn btn-primary" [ladda]="isProcessing" data-style="zoom-in" (click)="testCallback('draft')">testCallback</button> -->
        <button type="button" class="btn btn-primary" [ladda]="isProcessing" data-style="zoom-in"
                (click)="startProcess();">
          提交
        </button>
      </ng-container>
      <ng-container *ngSwitchCase="'mytask'">
        <button *ngIf="!disabled" type="button" id="saveTaskBtn" class="btn btn-primary" [ladda]="isProcessing" data-style="zoom-in"
                (click)="saveTask();">
          暂存
        </button>
        <button *ngIf="!disabled" type="button" id="saveTaskBtnAlt" hidden="true" (click)="saveTask('silent');">
          silent saveTask
        </button>
        <button *ngIf="!disabled" type="button" class="btn btn-primary" id="pass-task-btn" [ladda]="isProcessing" data-style="zoom-in"
                (click)="passTask();">
          {{passTaskBtn}}
        </button>
        <!-- <div>
          <button *ngIf="!disabled" type="button" class="btn btn-primary" [ladda]="isProcessing" data-style="zoom-in"
            mwlConfirmationPopover
            [popoverMessage]="popoverMessage"
            placement="top"
            confirmText="是" [popoverTitle]="''"
            cancelText="否"
            (confirm)="passTask();"
            (isDisabled)="disablePopover"
            (click)="test444();">
            完成
          </button>
        </div> -->
        <!-- <button *ngIf="enableContractExport" type="button" class="btn btn-primary" [ladda]="isProcessing" data-style="zoom-in"
          (click)="openContractModal();">
          导出合同
        </button> -->
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="pageType == 'OAFile'">
    <button type="button" class="btn btn-primary" [ladda]="isProcessing" data-style="zoom-in"
            (click)="saveWBS();">
      保存
    </button>
  </ng-container>

  <!-- below button for dev -->
  <!-- <div>
    <button *ngIf="true" type="button" class="btn btn-primary" [ladda]="isProcessing" data-style="zoom-in"
      (click)="openContractModal();">
      导出合同
    </button>
  </div> -->
  <!-- <button *ngIf="true" type="button" class="btn btn-primary" 
    (click)="validateSimple();">
    testValidate
  </button> -->
  <div>
    <button type="button" class="btn btn-info" [ladda]="isProcessing" data-style="zoom-in"
            mwlConfirmationPopover
            popoverMessage="是否取消？"
            placement="top"
            confirmText="是" [popoverTitle]="''"
            cancelText="否"
            (confirm)="closeModal('click cancel button')">取消
    </button>
  </div>

</div>
