<nz-card class="title_warpper">
  <div>
    <h4 class="font-weight-bold">
      <span>待办任务</span>
    </h4>
  </div>
</nz-card>

<div class="demo-vertical-spacing">
  <div>
    <form #searchForm="ngForm">
      <div class="row">
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">销售</label>
          <input ngModel class="form-control" type="text" name="taskName">
        </div>
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">医院</label>
          <input ngModel class="form-control" type="text" name="businessName">
        </div>
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">Reference NO</label>
          <input ngModel class="form-control" type="text" name="sofonNumber">
        </div>
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">产品名称</label>
          <input ngModel class="form-control" type="text" name="sofonNumber">
        </div>
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">招标编号</label>
          <input ngModel class="form-control" type="text" name="sofonNumber">
        </div>
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">投标公司</label>
          <input ngModel class="form-control" type="text" name="sofonNumber">
        </div>


      </div>
      <div class="row">

<!--        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">-->
<!--          <label class="form-label">审批名称</label>-->
<!--          <select ngModel class="form-control custom-select" name="processName">-->
<!--            <option value="" selected>&ensp;</option>-->
<!--&lt;!&ndash;            <option *ngFor="let item of processList" [value]="item.name">{{item.name}}</option>&ndash;&gt;-->
<!--          </select>-->
<!--        </div>-->

      </div>

      <div class="row">
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">提交时间起</label>
          <div class="input-group">
            <input ngModel class="form-control" name="createTimeStart"
                   ngbDatepicker
                   navigation="'select'"
                   #d1="ngbDatepicker">
            <div class="input-group-append">
              <button class="input-group-text" (click)="d1.toggle()" type="button">
                <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">提交时间止</label>
          <div class="input-group">
            <input ngModel class="form-control" name="createTimeEnd"
                   ngbDatepicker
                   navigation="'select'"
                   #d2="ngbDatepicker">
            <div class="input-group-append">
              <button class="input-group-text" (click)="d2.toggle()" type="button">
                <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
              </button>
            </div>
          </div>
        </div>
      </div>


      <div class="row">

                <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
                  <label class="form-label">业务模式</label>
                  <select ngModel class="form-control custom-select" name="processName">
                    <option value="" selected>&ensp;</option>
                    <option value="">Distributor Deal</option>
                    <option value="">Direct Deal</option>
                  </select>
                </div>

        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">进单模式</label>
          <select ngModel class="form-control custom-select" name="processName">
            <option value="" selected>&ensp;</option>
            <option value="">Bidding进单</option>
            <option value="">Stock进单</option>
            <option value="">Pre-OIT进单</option>
          </select>
        </div>

        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">进单状态</label>
          <select ngModel class="form-control custom-select" name="processName">
            <option value="" selected>&ensp;</option>
            <option value="">进单准备-填写进单准备表</option>
            <option value="">进单准备-填写合同概要表</option>
            <option value="">化线功能已取消-化线功能已取消</option>
            <option value="">进单准备-合同概要表OA预审</option>
            <option value="">进单准备-待销售部门审核</option>
            <option value="">进单准备-待二级审核</option>
            <option value="">进单准备-合同概要表审批未通过</option>
            <option value="">进单准备-待商务专员（OA）</option>
            <option value="">进单准备-订单已取消</option>
            <option value="">合同签署-填写Order Summar</option>
            <option value="">合同签署-待提交</option>
            <option value="">合同签署-审核未通过</option>
            <option value="">合同签署-Order审核</option>
            <option value="">合同签署-待Controller审核</option>
            <option value="">合同签署-待合同签署</option>
            <option value="">合同签署-待OIT文件上传</option>
            <option value="">合同签署-订单已取消</option>
            <option value="">OIT Real Time</option>
            <option value="">经营商第三方自采核查</option>
          </select>
        </div>

        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">招标授权模式</label>
          <select ngModel class="form-control custom-select" name="processName">
            <option value="" selected>&ensp;</option>
            <option value="">Bidding授权</option>
            <option value="">Stock补授权</option>
            <option value="">Pre-OIT补授权</option>
          </select>
        </div>

        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">招标授权状态</label>
          <select ngModel class="form-control custom-select" name="processName">
            <option value="" selected>&ensp;</option>
            <option value="">招标授权-待提交</option>
            <option value="">招标授权-待商务专员审核</option>
            <option value="">招标授权-待销售主管审核</option>
            <option value="">招标授权-待销售经理审核</option>
            <option value="">招标授权-待销售部审核</option>
            <option value="">招标授权-待二级审核</option>
            <option value="">招标授权-审批未通过</option>
            <option value="">招标授权-待商务专员授权</option>
            <option value="">招标授权-二次开标</option>
            <option value="">中标备案-待备案</option>
            <option value="">中标确认-待商务专员确认</option>
            <option value="">中标确认-已中标确认</option>
            <option value="">项目终止-未中标</option>
            <option value="">项目终止-二次开标</option>
          </select>
        </div>

        <div class="col-sm-8 col-md-5 col-lg-4 mb-4">
          <label class="form-label">是否授权</label>
          <select ngModel class="form-control custom-select" name="processName">
            <option value="" selected>&ensp;</option>
            <option value="">是</option>
            <option value="">否</option>
          </select>
        </div>



        <div class="ckwidth">
          <button type="button" class="btn btn-primary" >搜索</button>
          <button type="button" class="btn btn-info">导出Excel</button>
          <button type="button" class="btn btn-info">Project Report</button>
          <!-- <button type="button" class="btn btn-info" (click)="test123($event);">test123</button> -->
        </div>
      </div>
    </form>

    <div class="row" [hidden]="!batchFlag">
      <div class="col-sm-8 col-md-5 col-lg-4 mb-2 mr-auto mt-auto">
        <button type="button" class="btn btn-primary" >批量审批</button>
      </div>
    </div>

    <div class="table-responsive">
      <ngx-datatable #tablePending style="min-width: 500px;text-align: center!important;"
                     [rows]="rows"
                     [loadingIndicator]="loadingIndicator"
                     [columnMode]="'force'"
                     [headerHeight]="43"
                     [footerHeight]="'auto'"
                     [rowHeight]="'auto'"
                     [reorderable]="true"
                     [selected]="selected"
                     [selectionType]="'checkbox'"
                     [externalPaging]="true"
                     [externalSorting]="true"
                     [count]="1"
                     [offset]="1"
                     [limit]="10"
                     [sortType]="'single'"
                     [displayCheck]="displayCheck"
                     (select)="onSelect($event)"
                     (page)="pageCallback($event)"
                     (sort)="sortCallback($event)">
        <ngx-datatable-column
          *ngIf="batchFlag"
          [width]="30"
          [sortable]="false"
          [canAutoResize]="false"
          [draggable]="false"
          [resizeable]="false"
          [headerCheckboxable]="batchFlag"
          [checkboxable]="batchFlag">
        </ngx-datatable-column>
        <ngx-datatable-column prop="businessNumber" name="Reference NO" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass"></ngx-datatable-column>
        <ngx-datatable-column prop="businessName" name="销售" [headerClass]="getHeaderClass"
                              [cellClass]="getRejectCellClass">
        </ngx-datatable-column>

        <ngx-datatable-column prop="processDefinitionName" name="项目名称" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass">
        </ngx-datatable-column>
        <ngx-datatable-column prop="name" name="招标编号" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        </ngx-datatable-column>
        <ngx-datatable-column prop="sofonNumber" name="产品名称" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass">
        </ngx-datatable-column>
        <ngx-datatable-column prop="owner" name="投标公司名称" [headerClass]="getHeaderClass"
                              [cellClass]="getCellClass"></ngx-datatable-column>
        <ngx-datatable-column prop="createTime" name="医院名称" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        </ngx-datatable-column>
        <ngx-datatable-column prop="createTime" name="项目信息" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        </ngx-datatable-column>

        <ngx-datatable-column prop="createTime" name="业务模式" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        </ngx-datatable-column>

        <ngx-datatable-column prop="createTime" name="进单模式" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        </ngx-datatable-column>
        <ngx-datatable-column prop="createTime" name="进单状态" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        </ngx-datatable-column>

        <ngx-datatable-column prop="createTime" name="招标授权模式" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        </ngx-datatable-column>
        <ngx-datatable-column prop="createTime" name="招标授权状态" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        </ngx-datatable-column>
        <ngx-datatable-column prop="createTime" name="开标日期" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        </ngx-datatable-column>

        <ngx-datatable-column prop="createTime" name="招标授权操作" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        </ngx-datatable-column>

      </ngx-datatable>
    </div>
  </div>
</div>
