<form nz-form [formGroup]="formValues">
  <div nz-row>
    <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">审批编号</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <nz-select formControlName="code" nzAllowClear nzPlaceHolder="请选择">
            <nz-option *ngFor="let item of selectOptions.processList" [nzValue]="item.value" [nzLabel]="item.code"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">状态</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <nz-select formControlName="status" nzAllowClear nzPlaceHolder="请选择">
            <nz-option *ngFor="let item of selectOptions.statuses" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">审批流名称</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <nz-select formControlName="name" nzAllowClear nzPlaceHolder="请选择">
            <nz-option *ngFor="let item of selectOptions.processList" [nzValue]="item.value" [nzLabel]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" (click)="getTableData()"><i nz-icon nzType="search"></i>搜索</button>
          <button nz-button nzType="primary" (click)="onReset()"><i nz-icon nzType="search"></i>重置</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

<nz-table [nzData]="tableData.list" [nzLoading]="tableData.loading" [nzShowPagination]="false">
  <thead>
    <tr>
      <th nzAlign="center">审批编号</th>
      <th nzAlign="center">审批流名称</th>
      <th nzAlign="center">启用/禁用</th>
      <th nzAlign="center" nzWidth="150px" nzRight="0px">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tableData.list">
      <td nzAlign="center">{{ item.code }}</td>
      <td nzAlign="center">{{ item.name }}</td>
      <td nzAlign="center">
        <nz-switch [(ngModel)]="item.status" (click)="onToggleProcStatus(item)"></nz-switch>
      </td>
      <td nzAlign="center" nzRight="0px">
        <a nz-icon type="edit" title="编辑" (click)="onShowEditForm(data)"></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-icon type="delete" title="删除" nz-popconfirm nzTitle="确定删除流程?" (nzOnConfirm)="onDeleteProc(item)"></a>
      </td>
    </tr>
  </tbody>
</nz-table>