<app-mobile-header-navbar [parentUrl]="parentUrl" [title]="'我的申请（已完成）'"></app-mobile-header-navbar>

<!-- <h4 class="myApprovedHeader">飞利浦中国</h4> -->
<div class="am-demo-page">
  <div class="am-demo-bd">
    <div style="border-bottom: 1px solid #ddd;" class="searchBox">
      <SearchBar [placeholder]="'Search'"  (onSubmit)="searchBar(keyword)" (onBlur)="searchBarBlur()" [(ngModel)]="keyword" (onCancel)="searchBarCancel()" [maxLength]="64"></SearchBar>
    </div>
    <div class="am-whitespace am-whitespace-md"></div>
  </div>
</div>

<!-- ng zorro mobile list component -->
<!-- List table -->
<List [className]="'my-list'" *ngFor="let item of data;">
  <ListItem multipleLine [arrow]="'horizontal'" (onClick)="onClick(item)">
    {{item.businessNumber}}
    <Brief>{{item.businessName}}</Brief>
    <Brief>申请类型：{{item.name}}</Brief>
  </ListItem>
</List>

<WhiteSpace ></WhiteSpace>
<Flex [justify]="'center'">
  <div Button [type]="'default'" *ngIf="searchCount > data.length" [disabled]="disabledState" [loading]="loadState" [inline]="true" [size]="'large'" (onClick)="onLoadMore()">查看更多</div>
  <div *ngIf="!searchCount || 0 == searchCount">
    <span>无数据</span>
  </div>
</Flex>
<WhiteSpace ></WhiteSpace>

