<app-apploading [load]="load"></app-apploading>
<div>
  <nz-card class="mtb1rem" nzTitle="Change Order Details 改单详情">
    <form nz-form [formGroup]="changeDetails.modalForm">
      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired><span>Reason of Change</span><br>改单原因</nz-form-label>
            <nz-form-control [nzSm]="8" [nzXs]="24">
              <nz-select *ngIf="!changeDetails.modalForm.get('changeReason').disabled" style="width: 100%" nzShowSearch  [(ngModel)]="changeParam.changeReason"
                nzPlaceHolder="" nzSize="large" formControlName="changeReason">
                <nz-option nzCustomContent *ngFor="let item of reasonList" nz-tooltip [nzTitle]="item.orderChange" [nzValue]="item.id" [nzLabel]="item.orderChange">
                  <div nz-tooltip class="options" tooltip [nzTitle]="item.orderChange">{{item.orderChange}}</div>
                </nz-option>
              </nz-select>
              <input *ngIf="changeDetails.modalForm.get('changeReason').disabled" type="text" 
                     class="form-control"
                      value=""
                      disabled="true" 
                     [ngModelOptions]="{ standalone: true }" 
                     [(ngModel)]="changeParam.reason"
               />
              <nz-form-explain *ngIf="
              changeDetails.modalForm.get('changeReason')?.dirty &&
              changeDetails.modalForm.get('changeReason')?.errors
            ">
              <ng-container *ngIf="changeDetails.modalForm.get('refuseReason')?.hasError('required')">
                此选项必填字段</ng-container>
            </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired><span>Remarks</span><br>补充说明</nz-form-label>
            <nz-form-control [nzSm]="8" [nzXs]="24">
              <textarea nz-input oninput="if(value.length>255)value=value.slice(0,255)" nz-input placeholder=""
                formControlName="remark" [(ngModel)]="changeParam.remark"
                [nzAutosize]="{ minRows: 3, maxRows: 6 }"></textarea>
                <nz-form-explain *ngIf="
                changeDetails.modalForm.get('remark')?.dirty &&
                changeDetails.modalForm.get('remark')?.errors
              ">
                <ng-container *ngIf="changeDetails.modalForm.get('remark')?.hasError('required')">
                 {{cannel?"说明取消理由":"补充说明为必填项"}}
                </ng-container>
            </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24">Supporting Documents<br>支持文件</nz-form-label>
            <nz-form-control [nzSm]="8" [nzXs]="24" style="margin-top: 15px">
              <nz-upload *ngIf="status=='change_oit'" [(nzFileList)]="supportFileList" [nzBeforeUpload]="supportBeforeUpload" [nzLimit]="1"
                [nzPreview]="dwonLoad" [nzRemove]="nzRemoveSupport">
                <button [disabled]="flag==1" nz-button><i nz-icon nzType="upload"></i><span>Upload 支持文件上传</span></button>
              </nz-upload>

              <button *ngIf="status!='change_oit'" class="down" nz-tooltip [nzTitle]="changeParam.fileNames" nz-button nzType="link"
                (click)="fileDwon(changeParam.file)">
                {{changeParam.fileNames}}
              </button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div *ngIf="changeParam.changeDealForm" nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label [nzSm]="4" [nzXs]="24" nzNoColon="true"></nz-form-label>
            <nz-form-control [nzSm]="8" [nzXs]="24">
                <label nz-checkbox formControlName="changeDealForm"  [(ngModel)]="changeParam.changeDealForm">Require Update Deal Form<br>需要更改Deal Form进单</label>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row nzType="flex" *ngIf="flag==0&&status=='change_oit'" nzJustify="end" nzAlign="middle">
        <div nz-col nzXs="24" nzSm="24" nzMd="16">
          <nz-form-item style="text-align: right;">
            <button nz-button [nzType]="'primary'" style="margin-left: 10px;" nz-popconfirm nzTitle="你确定要执行发起改单的操作"
              (nzOnConfirm)="changeOrder(1)" (nzOnCancel)="cancelAction()">发起改单</button>
              <button nz-button [nzType]="'primary'" style="margin-left: 10px;" nz-popconfirm nzTitle="你确定要执行取消改单的操作"
              (nzOnConfirm)="changeOrder(0)" (nzOnCancel)="cancelAction()">Cancel Order Change 取消改单</button>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <nz-card *ngIf="status=='change_oit_approval'" class="mtb1rem" nzTitle="Order Change Review 改单审核">
    <form nz-form [formGroup]="examineForm">
      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzSpan="24">
          <nz-form-label [nzSm]="4" [nzXs]="24"><span>Remarks</span><br>备注</nz-form-label>
          <nz-form-control [nzSm]="8" [nzXs]="24">
            <textarea nz-input oninput="if(value.length>255)value=value.slice(0,255)" nz-input placeholder=""
              formControlName="remark" [(ngModel)]="examineParam.remark"
              [nzAutosize]="{ minRows: 3, maxRows: 6 }"></textarea>
            <ng-container *ngIf="examineParam.remark">
              <div>还可以输入:{{examineParam.remark.length}}/{{textLen}}</div>
            </ng-container>
            <nz-form-explain *ngIf="examineForm.get('remark')?.dirty &&examineForm.get('remark')?.errors">
              请填写拒绝理由
            </nz-form-explain>
          </nz-form-control>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzSpan="24">
          <nz-form-label [nzSm]="4" [nzXs]="24" style="min-width: 160px">Upload Attachment<br>上传附件</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <div class="maxuploadto">
              <nz-upload [(nzFileList)]="fileFileList" [nzBeforeUpload]="fileBeforeUpload" [nzLimit]="1"
                [nzPreview]="dwonLoad" [nzRemove]="nzRemoveFile">
                <button [disabled]="flag==1" nz-button><i nz-icon nzType="upload"></i><span>Upload 文件上传</span></button>
              </nz-upload>
            </div>
          </nz-form-control>
        </div>
      </div>
      <div nz-row nzType="flex" nzJustify="end" nzAlign="middle" *ngIf="flag==0">
        <div nz-col nzXs="24" nzSm="24" nzMd="16">
          <nz-form-item style="text-align: right;">
            <button nz-button [nzType]="'primary'" style="margin-left: 10px;" nz-popconfirm nzTitle="你确定要执行通过的操作"
              (nzOnConfirm)="confirmApproval(1)" (nzOnCancel)="cancelAction()">Approve 审核通过</button>
            <button nz-button [nzType]="'primary'" style="margin-left: 10px;" nz-popconfirm nzTitle="你确定要执行拒绝的操作?"
              (nzOnConfirm)="confirmApproval(0)" (nzOnCancel)="cancelAction()">Refuse 拒绝</button>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
  <nz-card class="mtb1rem" nzTitle="Order Change History 改单记录">
    <nz-table #fixedTable [nzData]="recordData" [nzFrontPagination]="false" [nzShowPagination]="false"
    [nzScroll]="{x:'1150px',y:'450px' }" style="word-break: break-all !important;">
    <thead>
      <tr>
        <th nzWidth="100px" nzLeft="0px" nzAlign="center">Versions<br>版本</th>
        <th nzWidth="200px" nzAlign="center">Reference ID</th>
        <th nzWidth="200px" nzAlign="center"><span>Reason of Change</span><br>改单原因</th>
        <th nzWidth="200px" nzAlign="center"><span>Remarks</span><br>补充说明</th>
        <th nzWidth="250px" nzAlign="center">Supporting Documents<br>支持文件</th>
        <th nzWidth="300px" nzAlign="center">Require updating Deal Form<br> 需用新的 Deal Form进单</th>
        <th nzWidth="100px" nzAlign="center">Status<br>状态</th>
        <th nzWidth="200px" nzAlign="center">Created Date<br>发起日期</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of fixedTable.data;index as j;">
        <td nzAlign="center">
          <button class="down" nz-tooltip [nzTitle]="data.version" nz-button nzType="link"
              (click)="gotoOit(data)">
              v{{j}}
            </button>
        </td>
        <td nzAlign="center">{{data.refId}}</td>
        <td nzAlign="center">{{data.reason}}</td>
        <td nzAlign="center">{{data.remark}}</td>
        <td nzAlign="center">
          <button class="down" *ngIf="data.file" nz-tooltip [nzTitle]="data.fileNames" nz-button nzType="link"
              (click)="fileDwon(data.file)">
              {{data.fileNames}}
          </button>
          <span *ngIf="data.file === null">——</span>
        </td>
        <td nzAlign="center">
          {{data.changeDealForm!=null?(data.changeDealForm==true?'是':'否'):""}}
        </td>
        <td nzAlign="center">{{data.status|StatusProject}}</td>
        <td nzAlign="center">{{data.createTime?(data.createTime|TimeFormatePipeNow:true):""}}</td>
      </tr>
    </tbody>
  </nz-table>
 </nz-card>
 <div  class="mtb1rem">
  <div class="fontw">Related Contract Summary 关联的合同概要表</div>
  <div *ngIf="relation.preparationId">
    <button  class="down"  nz-tooltip nz-button nzType="link" (click)="gotoWinInconMain(relation.preparationId)">
      {{relation.preparationReferenceId}}
    </button>
  </div>
  <div *ngIf="relation.contractId">
    <button *ngIf="relation.contractId" class="down" (click)="gotoWinIncon(relation.contractId)"  nz-tooltip nz-button nzType="link">
      {{relation.contractReferenceId}}
    </button>
  </div>
</div>
  <nz-card *ngIf="status=='change_oit'||status=='change_oit_approval'" class="mtb1rem" nzTitle="Approved History 审核记录">
    <app-emp-acc [disa]="true"></app-emp-acc>
  </nz-card>
</div>
