<div class="col-sm-8 col-md-5 col-lg-4 mb-4">
  <label class="form-label">进单模式</label>
  <select ngModel class="form-control custom-select" name="processName">
    <option value="">合同概要表信息</option>
  </select>
</div>

<div class="tit1">项目基本信息</div>
<div class="row">

  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">业务模式</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">区域</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>

  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">中标通知书</label><br>
    <a style="color: blue">中标通知书</a>
    <a>中标确认校验后带入</a>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">招标编号</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">经销商</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
    <button type="button" class="btn btn-primary">选择经销商</button>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">DDP Status</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>

  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">经销商地址</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">经销商联系人</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">经销商电话</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">经销商邮件</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>

  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">采购订单签署人</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">采购订单签署人职务</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">合同买方</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
    <button type="button" class="btn btn-primary">IE Pool选择</button>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">DDP Status</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">合同买方地址</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">合同买方联系人</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">合同买方电话</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">合同买方邮箱</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">进口协议签署人</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">进口协议签署人职务</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">最终用户</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">医院性质</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">最终用户地址</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">最终用户联系人</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">最终用户电话</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">最终用户邮箱</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="lan" >
    <label class="form-label">VAT发票开票信息</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息" style="width: 100% !important;">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">币制</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">是否抽样审核</label><br>
    <input type="radio" name="r" value=""><a>是</a>
    <input type="radio" name="r" value=""><a>否</a>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">Contract Price</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">产品型号</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">CFDA证</label>
    <input class="form-control" type="text" name="taskName" value="合同概要表信息">
  </div>

</div>
<!--
<div class="tit1">项目支持文件</div> -->

<table border="1" cellspacing="0">
  <tr>
    <td rowspan="6">合同条款确认</td>
    <td>付款条款</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <br>
      <a class="ba">合同概要表信息</a>
    </td>
  </tr>

  <tr>
    <td rowspan="5">招标文件审核</td>
    <td>中标通知书</td>
    <td><a class="ba">合同概要表信息</a></td>
  </tr>
  <tr>
    <td>场地报告</td>
    <td><a class="ba">合同概要表信息</a></td>
  </tr>
  <tr>
    <td>要货函</td>
    <td><a class="ba">合同概要表信息</a></td>
  </tr>
  <tr>
    <td>项目解决方案售前支持报告（仅针对函solution项目）</td>
    <td><a class="ba">合同概要表信息</a></td>
  </tr>
  <tr>
    <td>不适用</td>
    <td>
      <nz-switch></nz-switch>
    </td>
  </tr>


  <tr>
    <td rowspan="6">抽样审核订单支持文件</td>
    <td>招标文件</td>
    <td><a class="ba">合同概要表信息</a></td>
  </tr>
  <tr>
    <td>投标文件</td>
    <td><a class="ba">合同概要表信息</a></td>
  </tr>
  <tr>
    <td>最终用户合同</td>
    <td><a class="ba">合同概要表信息</a></td>
  </tr>
  <tr>
    <td>经营商利润分析表</td>
    <td><a class="ba">合同概要表信息</a></td>
  </tr>
  <tr>
    <td>项目分析表</td>
    <td><a class="ba">合同概要表信息</a></td>
  </tr>
  <tr>
    <td>不适用</td>
    <td>
      <nz-switch></nz-switch>
    </td>
  </tr>





  <tr>
    <td>装运及交货</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <br>
      <a class="ba">合同概要表信息</a>
    </td>
  </tr>
  <tr>
    <td>安装及保修</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <br>
      <a class="ba">合同概要表信息</a>
    </td>
  </tr>
  <tr>
    <td>直投订单合同金额和中标金额有价差</td>
    <td> <select class="form-control custom-select ckselect" name="processName">
      <option value="">条目一</option>
      <option value="">条目二</option>
      <option value="">条目三</option>
      <option value="">条目四</option>
    </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <br>
      <a class="ba">合同概要表信息</a>
    </td>
  </tr>
  <tr>
    <td>培训</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <br>
      <a class="ba">合同概要表信息</a>
    </td>
  </tr>
  <tr>
    <td>场地准备</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <br>
      <a class="ba">合同概要表信息</a>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>罚款及违约责任（不含售后）</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <br>
      <a class="ba">合同概要表信息</a>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>其他条款</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <br>
      <a class="ba">合同概要表信息</a>
    </td>
  </tr>
</table>
