<nz-card class="title_warpper">
  <div>
    <h4 class="font-weight-bold">
      <span>My View 我可查看</span>
    </h4>
  </div>
</nz-card>
<nz-tabset
[nzSelectedIndex]="tabIndex"
[nzTabPosition]="'top'"
[nzType]="'card'"
 class="mtb1rem"
>
<nz-tab nzTitle="My View 我可查看">
      <nz-card>
        <app-my-view-form (passFormValues)="updateParams($event)"  (exportEvent)="exportData()"
                          (projectReportEvent)="projectReport($event)"
                          (biddingReportEvent)="biddingReport()"
                          (POSReportEvent)="POSReport()"
                          (opportunityReportEvent)="opportunityReportEvent($event)"
                          (BundleReportEvent)="BundleReportEvent()"
                          (prebookReportEvent)="preBookReport()"
                          [loadingButton]="loadingButton"
        ></app-my-view-form>
        <app-my-view-table
          (updateTable)="updateDataList($event)"
          (setLoading)="getLoading($event)"
          [listOfMapData]="listOfMapData"
          [total]="total"
          [loading]="loading"
          [flag]="1"
        ></app-my-view-table>
      </nz-card>
    </nz-tab>
  </nz-tabset>
