<div nz-row nzType="flex" nzJustify="space-between">
  <div nz-col>
    <h4>人员管理</h4>
  </div>
  <div nz-col>
    <button nz-button nzSize="small" nzType="primary" (click)="handleCreate()">
      添加
    </button>
  </div>
</div>
<div nz-row class="mtb1rem">
  <div nz-col>
    <!-- Table -->
    <nz-table [nzData]="userTable" nzTableLayout="fixed" nzSize="small">
      <thead>
        <tr>
          <th *ngFor="let column of tableHeader" [nzWidth]="column.width">
            {{ column.name }}
          </th>
          <th nzWidth="120px" nzRight="0px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of userTable">
          <td>{{ data.source }}</td>
          <td>{{ data.modality }}</td>
          <td>{{ data.bmc }}</td>
          <td>{{ data.team }}</td>
          <td>{{ data.email }}</td>
          <td nzRight="0px">
            <button
              nz-button
              nzSize="small"
              nzType="primary"
              (click)="handleEdit(data.id)"
            >
              编辑
            </button>
            <button
              nz-button
              nzSize="small"
              nzType="danger"
              (click)="handleDelete(data.id)"
            >
              删除
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- End Table -->
  </div>
</div>

<nz-drawer
  [nzClosable]="true"
  [nzVisible]="ifShowDialog"
  nzPlacement="left"
  [nzMaskClosable]="false"
  [nzTitle]="title"
  [nzWidth]="'50%'"
  (nzOnClose)="handleDialogCancel()"
  class="role-management-draw"
>
  <!-- Role-Modality-BMC  -->
  <div nz-row nzType="flex" nzJustify="space-between">
    <div nz-col>
      <h5>Role-Modality-BMC</h5>
    </div>
  </div>
  <div nz-row>
    <div nz-col>
      <app-role-modality-bmc-form
        [user]="userInform"
      ></app-role-modality-bmc-form>
    </div>
  </div>
  <!-- End Role-Modality-BMC  -->
  <!-- User Basic Inform -->
  <div nz-row nzType="flex" nzJustify="space-between">
    <div nz-col>
      <h5>基础信息</h5>
    </div>
  </div>
  <div nz-row>
    <div nz-col>
      <app-user-basic-info-form [user]="userInform"></app-user-basic-info-form>
    </div>
  </div>
  <!-- End User Basic Inform -->

  <ng-template #footerTpl>
    <div style="float: right">
      <button
        nz-button
        nzType="primary"
        (click)="handleDialogOK()"
        [nzLoading]="isConfirmLoading"
      >
        保存
      </button>
      <button nz-button nzType="default" (click)="handleDialogCancel()">
        取消
      </button>
    </div>
  </ng-template>
</nz-drawer>
