<nz-card class="title_warpper">
  <div>
    <h4 class="font-weight-bold">
      <span>Bidding Award Confirmation-Supporting Documents Upload 中标确认-待补充文件上传</span>
    </h4>
  </div>
</nz-card>
<igt-approval-flowline></igt-approval-flowline>
<div class="pr">
  <div nz-row nzType="flex" nzJustify="end" nzAlign="middle" class="tabs-box-actions" style="z-index: 999">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;">
<!--          <button *ngIf="bidding_flag" nz-button nzType="default" nz-popconfirm nzTitle="你确定要执行程终止的操作?" (nzOnConfirm)="biddingBreak()" style="margin-right:10px;">流程终止</button>-->
          <button *ngIf="bidding_flag" nz-button nzType="default" (click)="openBiddingBreak()" style="margin-right:10px;">Cancel Project 取消项目</button>
<!--          <button nz-button nzType="primary" (click)="submit()">流程终止</button>-->
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <nz-modal
    [(nzVisible)]="showoff"
    nzWidth="600px"
    nzTitle="取消项目"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="biddingBreak()"
    nzOkText="确定取消"
  >
    <ng-container>
      <div>
        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" [nzRequired]="true">Cancellation Reasons<br>取消原因</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <textarea nz-input oninput="if(value.length>255)value=value.slice(0,255)" nz-input placeholder=""
                      [nzAutosize]="{ minRows: 2, maxRows: 6 }" [(ngModel)]="remarks"></textarea>
            <!--            <ng-container *ngIf="odata && odata.remarks">-->
            <!--              <div>还可以输入:{{odata.remarks.length}}/{{textLen}}</div>-->
            <!--            </ng-container>-->
            <div *ngIf="rem_mess">
              <a style="color: #f5222d">请填写取消理由</a>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </ng-container>
  </nz-modal>

  <ngb-tabset type="tabs" [destroyOnHide]="true" class="nav-tabs-top nav-responsive-xl">
    <ngb-tab id="pending-tab">
      <ng-template ngbTabTitle><span class="tab-title"><strong>General Information<br> 基础信息</strong></span></ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <!--项目信息-->
          <app-applybase [isDisable]="true" [dataBase]="dataBase" ></app-applybase>
          <!--产品信息-->
          <app-newproduct [isDisable]="true" [dataBase]="dataBase"></app-newproduct>
          <!--产品信息-->
          <app-supplement [isDisable]="true" [dataBase]="dataBase"></app-supplement>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="complete-ba">
      <ng-template ngbTabTitle><span class="tab-title"><strong>Bidding Award Confirmation<br>中标确认</strong></span></ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">

          <app-apploading [load]="load"></app-apploading>
          <nz-card class="mtb1rem" nzTitle="Contains non-standard terms 包含非标准条款" *ngIf="dataBase && dataBase.businessType != 'DISTRIBUTOR'">
            <app-app-terms></app-app-terms>
          </nz-card>
          <nz-card class="mtb1rem" nzTitle="Bidding Record Information 中标备案信息">
            <div nz-row nzGutter="24" nzType="flex" nzJustify="start" nzAlign="top">
              <div nz-col nzSpan="24">

                <!-- 中标备案信息-->
                <!--isDisable 1 显示上传按钮 2显示下载，3下载和上传同时显示-->
                <app-apploading [load]="load"></app-apploading>
                <form nz-form>
                  <div nz-row nzType="flex" nzJustify="start" nzAlign="right">
                    <div nz-col nzSpan="24" *ngIf="isChan2()">
                      <nz-form-item>
                        <nz-form-label [nzRequired]="showFile('bidWinningNotice')" [nzSm]="4" [nzXs]="24">{{biddingNoType?'Bidding Award Notice':'End User contract'}}<br>{{biddingNoType?'中标通知书':'最终用户合同'}}</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24"style="margin-top: 15px">
                          <div class="maxuploadto">
                          <nz-upload *ngIf="isDisable==1||isDisable==3 || showFile('bidWinningNotice')" [(nzFileList)]="fileNoticeList" [nzBeforeUpload]="beforeNoticeUpload" [nzLimit]="1" [nzPreview]="dwonLoad" [nzRemove]="nzRemovNotice" style="margin-top: 20px">
                            <button [disabled]="flags==1 || !showFile('bidWinningNotice')"  nz-button><i nz-icon nzType="upload"></i><span>Upload 文件上传</span></button>
                          </nz-upload>
                          </div>
                          <button  nz-tooltip [nzTitle]="dataInfor.bidWinningNoticeName" *ngIf="(isDisable==2||isDisable==3)&&dataInfor.bidWinningNotice && showFileDown('bidWinningNotice')" class="down link-tesk" nz-button nzType="link" (click)="fileDwon(dataInfor.bidWinningNotice)">{{dataInfor.bidWinningNoticeName}}</button>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="24" *ngIf="biddingNoType&&isChan2()">
                      <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" [nzRequired]="showFile('bidWinningAnnouncement')">Bidding Award Announcement<br>中标公告</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24"style="margin-top: 15px">
                          <div class="maxuploadto">
                          <nz-upload *ngIf="isDisable==1||isDisable==3 || showFile('bidWinningAnnouncement')" [(nzFileList)]="fileAnnouncementList" [nzBeforeUpload]="beforeAnnouncementUpload" [nzLimit]="1" [nzPreview]="dwonLoad" [nzRemove]="beforeAnnouncementDel">
                            <button [disabled]="flags==1 || !showFile('bidWinningAnnouncement')"  nz-button><i nz-icon nzType="upload"></i><span>Upload 文件上传</span></button>
                          </nz-upload>
                          </div>
                          <button nz-tooltip [nzTitle]="dataInfor.bidWinningAnnouncementName" *ngIf="(isDisable==2||isDisable==3)&&dataInfor.bidWinningAnnouncement && showFileDown('bidWinningAnnouncement')" class="down link-tesk" nz-button nzType="link" (click)="fileDwon(dataInfor.bidWinningAnnouncement)">{{dataInfor.bidWinningAnnouncementName}}</button>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="24" *ngIf="dataBase&&dataBase.businessType!='DISTRIBUTOR'&&isChan2()">
                      <nz-form-item>
                        <nz-form-label nzRequired [nzSm]="4" [nzXs]="24">Commitment Documents<br>投标及其他承诺文件</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24">
                          <div class="maxuploadto">
                          <nz-upload *ngIf="isDisable==1||isDisable==3" [(nzFileList)]="filecommitmentList" [nzBeforeUpload]="beforecommitmentUpload" [nzLimit]="1" [nzPreview]="dwonLoad" [nzRemove]="beforecommitmentDel">
                            <button [disabled]="flags==1"  nz-button><i nz-icon nzType="upload"></i><span>Upload 文件上传</span></button>
                          </nz-upload>
                          </div>
                          <button nz-tooltip [nzTitle]="dataInfor.commitmentDocumentName"  *ngIf="(isDisable==2||isDisable==3)&&dataInfor.commitmentDocument" class="down link-tesk" nz-button nzType="link" (click)="fileDwon(dataInfor.commitmentDocument)">{{dataInfor.commitmentDocumentName}}</button>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="24" *ngIf="dataBase&&dataBase.businessType!='DISTRIBUTOR'&&isChan2()">
                      <nz-form-item>
                        <nz-form-label nzRequired [nzSm]="4" [nzXs]="24">Participation Declaration Letter<br>参与投标声明函</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24">
                          <div class="maxuploadto">
                          <nz-upload *ngIf="isDisable==1||isDisable==3" [(nzFileList)]="fileStatementList" [nzBeforeUpload]="beforeStatementUpload" [nzLimit]="1" [nzPreview]="dwonLoad" [nzRemove]="beforeStatementDel">
                            <button [disabled]="flags==1"  nz-button><i nz-icon nzType="upload"></i><span>Upload 文件上传</span></button>
                          </nz-upload>
                          </div>
                          <button *ngIf="(isDisable==2||isDisable==3)&&dataInfor.statement" class="down" nz-button nzType="link" (click)="fileDwon(dataInfor.statement)">{{dataInfor.statementName}}</button>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="24">
                      <nz-form-item>
                        <nz-form-label nzRequired [nzSm]="4" [nzXs]="24">{{biddingNoTypeDemend?'Delivery Request Letter':'Site Survey Report'}}<br>{{biddingNoTypeDemend?'要货函':'Site Survey Report'}}</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24" style="margin-top: 15px">
                          <div class="maxuploadto">
                          <nz-upload *ngIf="isDisable==1||isDisable==3 || showFile('demandLetter')"  [(nzFileList)]="filedemandLetterList" [nzBeforeUpload]="beforeDemandLetterUpload" [nzLimit]="1" [nzPreview]="dwonLoad" [nzRemove]="beforeDemandLetterDel">
                            <button [disabled]="flags==1 || !showFile('demandLetter')"  nz-button><i nz-icon nzType="upload"></i><span>Upload 文件上传</span></button>
                          </nz-upload>
                          </div>
                          <button nz-tooltip [nzTitle]="dataInfor.demandLetterName" *ngIf="(isDisable==2||isDisable==3)&&dataInfor.demandLetter && showFileDown('demandLetter')" class="down link-tesk" nz-button nzType="link" (click)="fileDwon(dataInfor.demandLetter)">{{dataInfor.demandLetterName}}</button>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <div nz-col nzSpan="24" *ngIf="isChan2()">
                      <nz-form-item>
                        <nz-form-label  [nzSm]="4" [nzXs]="24">Project Solution<br> Pre-sales Support Report<br>项目解决方案售前支持报告</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24"style="margin-top: 30px">
                          <div class="maxuploadto">
                          <nz-upload *ngIf="isDisable==1||isDisable==3"  [(nzFileList)]="fileSupportList" [nzBeforeUpload]="beforeSupportUpload" [nzLimit]="1" [nzPreview]="dwonLoad" [nzRemove]="beforeSupportDel">
                            <button [disabled]="flags==1"  nz-button><i nz-icon nzType="upload"></i><span>Upload 文件上传</span></button>
                          </nz-upload>
                          </div>
                          <button nz-tooltip [nzTitle]="dataInfor.supportName" *ngIf="(isDisable==2||isDisable==3)&&dataInfor.support" class="down link-tesk" nz-button nzType="link" (click)="fileDwon(dataInfor.support)">{{dataInfor.supportName}}</button>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <!--  <div nz-col nzSpan="24">-->
                    <!--      <nz-form-item>-->
                    <!--          <nz-form-label [nzSm]="12" [nzXs]="24">场地勘验报告/要货函</nz-form-label>-->
                    <!--          <nz-form-control [nzSm]="4" [nzXs]="24">-->
                    <!--            <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/">-->
                    <!--              <button *ngIf="isDisable==1"  nz-button><i nz-icon nzType="upload"></i><span>文件上传</span></button>-->
                    <!--              <a  href="javascript:" *ngIf="isDisable==2||isDisable==3" href="javascript:">附件</a>-->
                    <!--            </nz-upload>-->
                    <!--          </nz-form-control>-->
                    <!--          <nz-form-control [nzSm]="8" [nzXs]="24" *ngIf="isChan">-->
                    <!--&lt;!&ndash;              <label nz-checkbox [disabled]="isDisable==2||isDisable==3"  [(ngModel)]="data.completionDate">预计机房完成日期小于6个月</label>&ndash;&gt;-->
                    <!--          </nz-form-control>-->
                    <!--      </nz-form-item>-->
                    <!--  </div>-->
                    <div nz-col nzSpan="24">
                      <nz-form-item>
                        <nz-form-label nzRequired [nzSm]="4" [nzXs]="24">Bidding Award Price<br>中标价格</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24">
                          <!--不可编辑-->
                          <nz-input-number *ngIf="(isDisable==2||isDisable==3) || flag" [ngModelOptions]="{standalone:true}" [nzDisabled]="isDisable==2||isDisable==3 || flag" [(ngModel)]="dataInfor.biddingPrice" [nzMin]="0" [nzMax]="99999999999999999.99" style="width: 100%"></nz-input-number>
                          <!--可编辑-->
                          <nz-input-number *ngIf="!(isDisable==2||isDisable==3) && !flag" formControlName='price' [nzDisabled]="isDisable==2||isDisable==3" [(ngModel)]="dataInfor.biddingPrice" [nzMin]="0" [nzMax]="99999999999999999.99" style="width: 100%"></nz-input-number>
<!--                          <nz-form-explain-->
<!--                            *ngIf="validateForm.get('price')?.dirty && validateForm.get('price')?.errors">-->
<!--                            此选项必填字段-->
<!--                          </nz-form-explain>-->
                        </nz-form-control>
                        <nz-form-control [nzSm]="3" [nzXs]="24" style="width: 120px;">
                          <!--不可编辑-->
                          <nz-select *ngIf="(isDisable==2||isDisable==3) || flag"  [ngModelOptions]="{standalone:true}" [disabled]="isDisable==2||isDisable==3 || flag" style="width: 120px;margin-left:4px" [(ngModel)]="dataInfor.isUsdOrRmb"  nzAllowClear nzPlaceHolder="Choose">
                            <nz-option nzValue="USD" nzLabel="USD"></nz-option>
                            <nz-option nzValue="RMB" nzLabel="RMB"></nz-option>
                          </nz-select>
                          <!--可编辑-->
                          <nz-select *ngIf="!(isDisable==2||isDisable==3) && !flag" formControlName='pricetype' [disabled]="isDisable==2||isDisable==3" style="width: 120px;margin-left:4px" [(ngModel)]="dataInfor.isUsdOrRmb"  nzAllowClear nzPlaceHolder="Choose">
                            <nz-option nzValue="USD" nzLabel="USD"></nz-option>
                            <nz-option nzValue="RMB" nzLabel="RMB"></nz-option>
                          </nz-select>
<!--                          <nz-form-explain-->
<!--                            *ngIf="validateForm.get('pricetype')?.dirty && validateForm.get('pricetype')?.errors">-->
<!--                            此选项必填字段-->
<!--                          </nz-form-explain>-->
                        </nz-form-control>
                        <nz-form-control [nzSm]="12" [nzXs]="24" style="min-width: 400px;">
                          <nz-form-item style="margin-left: 10px;width: 500px">Make sure the price is aligning with price in Notification of Award<br> 请确保中标价格与中标通知书金额一致</nz-form-item>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                    <!--<div nz-col nzSpan="24" *ngIf="isChan">
                        <nz-form-item>
                            <nz-form-label [nzSm]="12" [nzXs]="24">需后补备案文件</nz-form-label>
                            <nz-form-control [nzSm]="12" [nzXs]="24">
                              <div><label  [nzDisabled]="isDisable==2||isDisable==3" nz-checkbox [(ngModel)]="data.bidWinningNotices">中标通知书</label></div>
                              <div><label  [nzDisabled]="isDisable==2||isDisable==3"  nz-checkbox [(ngModel)]="data.bidWinningAnnouncement">中标公告</label></div>
                              <div class="flex">
                                <label class="mixwid"  [nzDisabled]="isDisable==2||isDisable==3"  nz-checkbox>其它</label>
                                <input  [disabled]="isDisable==2||isDisable==3" nz-input  [(ngModel)]="data.otherDocument" name="email" type="email">
                              </div>
                            </nz-form-control>
                        </nz-form-item>
                    </div>-->
                    <div nz-col nzSpan="24" *ngIf="isChan2()">
                      <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24">Description for Lack of Documents<br>文件缺失或需特批说明</nz-form-label>
                        <nz-form-control [nzSm]="7" [nzXs]="24">
                          <!--不可编辑-->
                          <textarea rows="4" *ngIf="(isDisable==2||isDisable==3) || flag" [disabled]="isDisable==2||isDisable==3 || flag"  nz-input [(ngModel)]="dataInfor.bidWinningbidExplain" [ngModelOptions]="{standalone: true}"></textarea>
                          <!--可编辑-->
                          <textarea rows="4" *ngIf="!(isDisable==2||isDisable==3) && !flag" nz-input [(ngModel)]="dataInfor.bidWinningbidExplain" [ngModelOptions]="{standalone: true}"></textarea>
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <div nz-col nzSpan="24">
                      <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>Sample Check<br>是否特价项目</nz-form-label>
                        <nz-form-control [nzSm]="6" [nzXs]="24">
                          <!--不可编辑-->
                          <nz-radio-group rows="4" *ngIf="(isDisable==2||isDisable==3) || flag" [disabled]="isDisable==2||isDisable==3 || flag" nzSize="default" [ngModelOptions]="{standalone: true}"
                                          [(ngModel)]="dataInfor.isSpecial" style="margin-top: 20px">
                            <label nz-radio nzValue="1">Y 是</label>
                            <label nz-radio nzValue="0">N 否</label>
                          </nz-radio-group>
                          <!--可编辑-->
                          <nz-radio-group rows="4" *ngIf="!(isDisable==2||isDisable==3) && !flag" nzSize="default" formControlName="isSpecial"
                                          [(ngModel)]="dataInfor.isSpecial">
                            <label nz-radio nzValue="1">Y 是</label>
                            <label nz-radio nzValue="0">N 否</label>
                          </nz-radio-group>
<!--                          <nz-form-explain-->
<!--                            *ngIf="validateForm.get('isSpecial')?.dirty && validateForm.get('isSpecial')?.errors">-->
<!--                            此选项必填字段-->
<!--                          </nz-form-explain>-->
                        </nz-form-control>
                      </nz-form-item>
                    </div>

                    <!--中标日期   可选择-->
                    <div nz-col nzSpan="24" *ngIf="isChan2()&&!(isDisable==2||isDisable==3)&&!flag">
                      <nz-form-item class="mb6">
                        <nz-form-label [nzSpan]="4" nzRequired nzFor="email">Bidding Award Date<br>中标日期</nz-form-label>
                        <nz-form-control [nzSpan]="7">
                          <!--          <input ngModel [(ngModel)]="data.bidWinningTime" formControlName='time' class="form-control" [disabled]="isDisable==2||isDisable==3" name="createTimeStart" ngbDatepicker navigation="'select'" #d1="ngbDatepicker">-->
                          <nz-date-picker formControlName="time" [(ngModel)]="dataInfor.bidWinningTime"  [disabled]="isDisable==2||isDisable==3" name="createTimeStart"></nz-date-picker>
                          <!--          <input ngModel [(ngModel)]="data.bidWinningTime" [ngModelOptions]="{standalone: true}" class="form-control" [disabled]="isDisable==2||isDisable==3" name="createTimeStart" ngbDatepicker navigation="'select'" #d1="ngbDatepicker">-->
<!--                          <nz-form-explain-->
<!--                            *ngIf="validateForm.get('time')?.dirty && validateForm.get('time')?.errors">-->
<!--                            此选项必填字段-->
<!--                          </nz-form-explain>-->
                        </nz-form-control>
                        <nz-form-control [nzSpan]="4">
                          <!--        <button class="input-group-text" [disabled]="isDisable==2||isDisable==3" (click)="d1.toggle()" type="button" style="margin: 0 !important;">-->
                          <!--          <span class="ion ion-md-calendar" style="cursor: pointer;"></span>-->
                          <!--        </button>-->
                        </nz-form-control>

                      </nz-form-item>
                    </div>

                    <!--中标日期   不可选择-->
                    <div nz-col nzSpan="24" *ngIf="isChan2()&&((isDisable==2||isDisable==3)||flag)">
                      <nz-form-item class="mb6">
                        <nz-form-label [nzSpan]="4" nzRequired nzFor="email">Bidding Award Date<br>中标日期</nz-form-label>
                        <nz-form-control [nzSpan]="7">
                          <!--          <input [(ngModel)]="data.bidWinningTime" [ngModelOptions]="{standalone: true}" class="form-control" [disabled]="isDisable==2||isDisable==3" name="createTimeStart">-->
                          <nz-date-picker [ngModelOptions]="{standalone: true}" [(ngModel)]="dataInfor.bidWinningTime"  [disabled]="isDisable==2||isDisable==3||flag" name="createTimeStart"></nz-date-picker>
                          <!--          <input ngModel [(ngModel)]="data.bidWinningTime" [ngModelOptions]="{standalone: true}" class="form-control" [disabled]="isDisable==2||isDisable==3" name="createTimeStart" ngbDatepicker navigation="'select'" #d1="ngbDatepicker">-->
<!--                          <nz-form-explain-->
<!--                            *ngIf="validateForm.get('time')?.dirty && validateForm.get('time')?.errors">-->
<!--                            此选项必填字段-->
<!--                          </nz-form-explain>-->
                        </nz-form-control>
                        <nz-form-control [nzSpan]="4">
                          <!--          <button class="input-group-text" [disabled]="isDisable==2||isDisable==3" type="button" style="margin: 0 !important;">-->
                          <!--            <span class="ion ion-md-calendar" style="cursor: pointer;"></span>-->
                          <!--          </button>-->
                        </nz-form-control>

                      </nz-form-item>
                    </div>

                  </div>
                  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">

                    <!--中标产品   可选择-->
<!--                    <div nz-col nzSpan="24" *ngIf="!(isDisable==2||isDisable==3) && !flag">-->
<!--                      <nz-form-item>-->
<!--                        <nz-form-label [nzSm]="4" [nzXs]="24">中标产品信息</nz-form-label>-->
<!--                        <nz-form-control [nzSm]="18" [nzXs]="24">-->
<!--                          <div class="cheabox" *ngFor="let it of dataInfor.biddingProductlist">-->
<!--                            <header>-->
<!--                              <a href="javascript:">Opportunity {{it.opportunityId}}</a>-->
<!--                            </header>-->
<!--                            <div *ngIf="it.biddingProductlist">-->
<!--                              <nz-table-->
<!--                                #it2-->
<!--                                [nzScroll]="{ x: '1510px' }"-->
<!--                                [nzFrontPagination]="false"-->
<!--                                [nzData]="it.biddingProductlist"-->
<!--                              >-->
<!--                                <thead>-->
<!--                                <tr class="table-tr">-->
<!--                                  <th nzWidth="20px" nzLeft="0px"></th>-->
<!--                                  <th nzWidth="150px">Opportunity ID</th>-->
<!--                                  <th nzWidth="100px">Cluster</th>-->
<!--                                  <th nzWidth="100px">BMC</th>-->
<!--                                  <th nzWidth="100px">MAG</th>-->
<!--                                  <th nzWidth="350px">Market Bundle Name<br>本地产品名称</th>-->
<!--                                  <th nzWidth="170px">Create Date<br>创建时间</th>-->
<!--                                  <th nzWidth="170px">Creator<br>创建人</th>-->
<!--                                  <th nzWidth="150px">Status<br>状态</th>-->
<!--                                  <th nzWidth="200px" nzRight="0px">中标价格</th>-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                <tr *ngFor="let itmk of it2.data" class="table-tr">-->
<!--                                  <td nzLeft="0px">-->
<!--                                    <label [(ngModel)]="itmk.checked" [ngModelOptions]="{standalone: true}"-->
<!--                                           [nzDisabled]="isDisable==2||isDisable==3||flags==1"-->
<!--                                           nz-checkbox-->
<!--                                           style="display: inline-block;"-->
<!--                                    >-->
<!--                                    </label>-->
<!--                                  </td>-->
<!--                                  <td>{{itmk.opportunityId}}</td>-->
<!--                                  <td>{{ itmk.cluster }}</td>-->
<!--                                  <td>{{ itmk.bmc }}</td>-->
<!--                                  <td>{{ itmk.mag }}</td>-->
<!--                                  <td>{{ itmk.marketBundleName }}</td>-->
<!--                                  <td>{{ itmk.createdDate | TimeFormatePipe}}</td>-->
<!--                                  <td>{{ itmk.createUser }}</td>-->
<!--                                  <td>{{ itmk.status }}</td>-->
<!--                                  <td nzRight="0px"><nz-input-number style="width: 175px" [formControlName]='itmk.id' [(ngModel)]="itmk.biddingPrice"  nzSize="default" [nzMin]="0" [nzMax]="99999999999999999.99"></nz-input-number></td>-->
<!--                                </tr>-->
<!--                                </tbody>-->
<!--                              </nz-table>-->
<!--                            </div>-->

<!--                            &lt;!&ndash;            <div *ngFor="let itmk of it.biddingProductlist;let i=index">&ndash;&gt;-->
<!--                            &lt;!&ndash;              <label [(ngModel)]="itmk.checked" [ngModelOptions]="{standalone: true}"&ndash;&gt;-->
<!--                            &lt;!&ndash;                     [nzDisabled]="isDisable==2||isDisable==3||flags==1"&ndash;&gt;-->
<!--                            &lt;!&ndash;                     nz-checkbox&ndash;&gt;-->
<!--                            &lt;!&ndash;                     style="display: inline-block;width: 135px"&ndash;&gt;-->
<!--                            &lt;!&ndash;              >{{itmk.marketBundleName}}&ndash;&gt;-->
<!--                            &lt;!&ndash;              </label>&ndash;&gt;-->
<!--                            &lt;!&ndash;              &nbsp;&nbsp;&nbsp;&ndash;&gt;-->
<!--                            &lt;!&ndash;              中标价格&ndash;&gt;-->
<!--                            &lt;!&ndash;              &nbsp;&nbsp;&nbsp;&ndash;&gt;-->
<!--                            &lt;!&ndash;              <input   style="width: 125px" [formControlName]='itmk.id' [(ngModel)]="itmk.biddingPrice"  nz-input nzSize="default" />&ndash;&gt;-->
<!--                            &lt;!&ndash;            </div>&ndash;&gt;-->
<!--                          </div>-->
<!--&lt;!&ndash;                          <nz-form-explain  style="color: #f5222d !important;"&ndash;&gt;-->
<!--&lt;!&ndash;                                            *ngIf="validateForm.get('opp')?.dirty && validateForm.get('opp')?.errors">&ndash;&gt;-->
<!--&lt;!&ndash;                            <ng-container *ngIf="validateForm.get('opp')?.hasError('required')">&ndash;&gt;-->
<!--&lt;!&ndash;                              至少选择一个&ndash;&gt;-->
<!--&lt;!&ndash;                            </ng-container>&ndash;&gt;-->
<!--&lt;!&ndash;                          </nz-form-explain>&ndash;&gt;-->
<!--                        </nz-form-control>-->

<!--                      </nz-form-item>-->
<!--                    </div>-->

                    <!--中标产品  不可选-->
                    <div nz-col nzSpan="24" *ngIf="isDisable==2||isDisable==3 || flag">
                      <nz-form-item>
                        <nz-form-label [nzSm]="4" [nzXs]="24">Winning Product Details<br>中标产品信息</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24">
                          <div class="cheabox" *ngFor="let it of dataInfor.biddingProductlist">
                            <header>
                              <a href="javascript:" style="cursor:default;">Opportunity : {{it.opportunityId}}</a>
                              <a href="javascript:" style="cursor: default;" *ngIf="it.dealFormId != null && it.dealFormId != ''">&nbsp; Deal Form ID : {{it.dealFormId}}</a>
                            </header>

                            <div *ngIf="it.biddingProductlist">
                              <nz-table
                                #it2
                                [nzScroll]="{ x: '1510px' }"
                                [nzFrontPagination]="false"
                                [nzData]="it.biddingProductlist"
                              >
                                <thead>
                                <tr class="table-tr">
                                  <th nzWidth="20px" nzLeft="0px">
                                    <label [nzDisabled]="isDisable==2||isDisable==3||flags==1"
                                           [nzChecked]="AllCheck(it2.data)"
                                           (nzCheckedChange)="CheckAll($event, it2.data)"
                                           nz-checkbox
                                           style="display: inline-block;"
                                    >
                                    </label>
                                  </th>
                                  <th nzWidth="150px">Opportunity ID</th>
                                  <th nzWidth="100px">Cluster</th>
                                  <th nzWidth="100px">BMC</th>
                                  <th nzWidth="100px">MAG</th>
                                  <th nzWidth="350px">Market Bundle Name<br>本地产品名称</th>
                                  <th nzWidth="100px">Qty<br> 台数</th>
                                  <th nzWidth="170px">Create Date<br>创建时间</th>
                                  <th nzWidth="170px">Creator<br>创建人</th>
<!--                                  <th nzWidth="150px">Status<br>状态</th>-->
                                  <th nzWidth="200px" nzRight="0px">Bidding Award Price<br>中标价格</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let itmk of it2.data" class="table-tr">
                                  <td nzLeft="0px">
                                    <label [(ngModel)]="itmk.checked" [ngModelOptions]="{standalone: true}"
                                           [nzDisabled]="true"
                                           nz-checkbox
                                           style="display: inline-block;"
                                    >
                                    </label>
                                  </td>
                                  <td>{{itmk.opportunityId}}</td>
                                  <td>{{ itmk.cluster }}</td>
                                  <td>{{ itmk.bmc }}</td>
                                  <td>{{ itmk.mag }}</td>
                                  <td>{{ itmk.marketBundleName }}</td>
                                  <td>{{ itmk.number }}</td>
                                  <td>{{ itmk.createdDate | TimeFormatePipeNow}}</td>
                                  <td>{{ itmk.createUser }}</td>
<!--                                  <td>{{ itmk.status }}</td>-->
                                  <td nzRight="0px"><nz-input-number style="width: 175px" [ngModelOptions]="{standalone: true}" [(ngModel)]="itmk.biddingPrice" nzSize="default" [nzMin]="0" [nzMax]="99999999999999999.99" [nzDisabled]="true"></nz-input-number></td>
                                </tr>
                                </tbody>
                              </nz-table>
                            </div>

                          </div>

                        </nz-form-control>

                      </nz-form-item>
                    </div>
                  </div>
                </form>




              </div>
            </div>
          </nz-card>

          <app-emp-emp-app [data]="dataBase"></app-emp-emp-app>

          <nz-card class="mtb1rem" nzTitle="Bidding Award Confirmation 中标确认">
            <form nz-form>
              <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Required for Special Approval<br>需特批事项</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                      <div class="cheabox">
                        <div>
                          <label *ngIf="isChan2()" class="marginNone" [nzDisabled]="true" [(ngModel)]="odata.bidWinningNotice" [ngModelOptions]="{standalone: true}"
                                 nz-checkbox>Notice of Missing Bidding<br>缺失中标通知书</label>
                          <label *ngIf="biddingNoType&&isChan2()" class="marginNone" [nzDisabled]="true" [(ngModel)]="odata.bidWinningAnnouncement"
                                 [ngModelOptions]="{standalone: true}" nz-checkbox>Deficiency Bid Won Announcement<br>缺失中标公告</label>
                          <label class="marginNone" [nzDisabled]="true" [(ngModel)]="odata.demandLetter" [ngModelOptions]="{standalone: true}"
                                 nz-checkbox> Delivery Request Letter instead of Delivery Request Letter<br>缺要货函，用场地报告代替</label>
<!--                          <label class="marginNone" [nzDisabled]="true" [(ngModel)]="odata.otherTypes" [ngModelOptions]="{standalone: true}"-->
<!--                                 nz-checkbox>公立医院，招标编号-其他类型</label>-->
                          <div class="flax">
                          <label class="marginNone" [nzDisabled]="true" [nzChecked]="odata.other!=null&&odata.other!=''" [(ngModel)]="othercheck"
                                 [ngModelOptions]="{standalone: true}" nz-checkbox>Other<br>其他</label>
                          <a class="is" *ngIf="IsOtherInput()"></a>
                          <!-- <input  [disabled]="true" [(ngModel)]="odata.other" [ngModelOptions]="{standalone: true}" nz-input
                                  placeholder="" nzSize="default" style="width: 190px;margin-left:0px;" /> -->
                                <div class="text" [(ngModel)]="odata.other" nz-tooltip [nzTitle]="odata.other" [ngModelOptions]="{standalone: true}" >
                                  {{ odata.other }}
                                </div>
                          </div>
                        </div>
                      </div>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzRequired]="IsspecialApprovalFile()" [nzSm]="8" [nzXs]="24">Documents for Special Approval <br>特批支持文件</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
<!--                      <nz-upload *ngIf="flag==0" [(nzFileList)]="fileSpecialList"-->
<!--                                 [nzBeforeUpload]="beforeSpecialUpload" [nzLimit]="1" [nzPreview]="dwonLoad">-->
<!--                        <button nz-button><i nz-icon nzType="upload"></i><span>上传附件</span></button>-->
<!--                        &lt;!&ndash; <button *ngIf="flag==1" disabled="true"    nz-button><i nz-icon nzType="upload"></i><span>上传附件</span></button> &ndash;&gt;-->
<!--                      </nz-upload>-->
                      <button nz-tooltip [nzTitle]="odata.specialApprovalFileName" *ngIf="odata.specialApprovalFile" class="down link-tesk" nz-button nzType="link"
                              (click)="fileDwon(odata.specialApprovalFile)">{{odata.specialApprovalFileName}}</button>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24"><span>Remarks</span><br>备注</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
<!--            <textarea *ngIf="flag==0" [ngModelOptions]="{standalone: true}" nz-input placeholder="" [disabled]="flag === 1"-->
<!--                      [nzAutosize]="{ minRows: 2, maxRows: 6 }" [(ngModel)]="odata.remarks"></textarea>-->
                      <textarea nz-input placeholder="" disabled [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                                [(ngModel)]="odata.remarks" [ngModelOptions]="{standalone:true}"></textarea>
<!--                      <nz-form-explain *ngIf="validateForm.get('remarks')?.dirty && validateForm.get('remarks')?.errors">-->
<!--                        请填写拒绝理由-->
<!--                      </nz-form-explain>-->
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Bidding Award Announcement<br> 中标公告</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
                      <nz-upload *ngIf="flag==0" [(nzFileList)]="bidAnnouncementList"
                                 [nzBeforeUpload]="bidAnnouncementUpload" [nzLimit]="1" [nzPreview]="dwonLoad" [nzRemove]="beforeBidAnnouncement">
                        <button nz-button><i nz-icon nzType="upload"></i><span>上传附件</span></button>
<!--                        <button *ngIf="flag==1" disabled="true" nz-button><i nz-icon nzType="upload"></i><span>上传附件</span></button>-->
                      </nz-upload>
                      <button nz-tooltip [nzTitle]="odata.bidAnnouncementName" *ngIf="odata.bidAnnouncement && flag == 1" class="down link-tesk" nz-button nzType="link"
                              (click)="fileDwon(odata.bidAnnouncement)">{{odata.bidAnnouncementName}}</button>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Bidding Announcement Price<br> 中标公告价格</nz-form-label>
                    <nz-form-control [nzSm]="10" [nzXs]="24">
                      <input nz-input #price [(ngModel)]="odata.bidAnnouncementPrice" [ngModelOptions]="{standalone:true}" [disabled]="flag==1" (ngModelChange)="toNumber($event)" />

                    </nz-form-control>
                    <nz-form-control [nzSm]="4" [nzXs]="24" style="padding-left:4px;">
                      <nz-select [ngModelOptions]="{standalone:true}" style="width: 100%;" [(ngModel)]="odata.bidAnnouncementCurrency"  nzAllowClear nzPlaceHolder="请选择币制" [disabled]="flag==1">
                        <nz-option nzValue="USD" nzLabel="USD"></nz-option>
                        <nz-option nzValue="RMB" nzLabel="RMB"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Announcement Time of Bidding<br>中标公告发布时间</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
                      <nz-date-picker  [ngModelOptions]="{standalone: true}"  [disabled]="flag==1" style="width: 100%" [nzStyle]="style"
                                          [(ngModel)]="odata.announcementTime" nzPlaceHolder=""></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">End Time of Bidding<br> 公示期结束时间</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
                      <nz-date-picker  [ngModelOptions]="{standalone: true}"  [disabled]="flag==1" style="width: 100%" [nzStyle]="style"
                                          [(ngModel)]="odata.publicityEndTime" nzPlaceHolder=""></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Specially Examined Time<br>特批完成时间</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
                      <nz-date-picker  [ngModelOptions]="{standalone: true}"  [disabled]="flag==1" style="width: 100%" [nzStyle]="style"
                                          [(ngModel)]="odata.speciallyExaminedTime" nzPlaceHolder=""></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24">Bidding Notification Sign Time<br>后补中标通知书的签订时间</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
                      <nz-date-picker  [ngModelOptions]="{standalone: true}" [disabled]="flag==1" style="width: 100%" [nzStyle]="style"
                                          [(ngModel)]="odata.biddingNotificationSignTime" nzPlaceHolder=""></nz-date-picker>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>

              <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24" [nzRequired]="othercheck == true || othercheck == 'true'"><span>Supplementary Document</span><br>补充文件</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
                      <nz-upload *ngIf="flag==0 && (othercheck == true || othercheck == 'true')" [(nzFileList)]="filesupplementList"
                                 [nzBeforeUpload]="beforeSupplementUpload" [nzLimit]="1" [nzPreview]="dwonLoad" [nzRemove]="beforeSupplementRemo">
                        <button nz-button><i nz-icon nzType="upload"></i><span>Upload Attachment 上传附件</span></button>
                         <button *ngIf="flag==1" disabled="true" nz-button><i nz-icon nzType="upload"></i><span>Upload Attachment上传附件</span></button>
                      </nz-upload>
                      <button nz-tooltip [nzTitle]="odata.supplementaryFileName" *ngIf="odata.supplementaryFile && !(othercheck == true || othercheck == 'true')" class="down link-tesk" nz-button nzType="link"
                              (click)="fileDwon(odata.supplementaryFile)">{{odata.supplementaryFileName}}</button>

                      <!--补充文件2-->
                      <nz-upload *ngIf="flag==0 && (othercheck == true || othercheck == 'true')" [(nzFileList)]="filesupplementsList"
                                 [nzBeforeUpload]="beforeSupplementsUpload" [nzLimit]="1" [nzPreview]="dwonLoad" [nzRemove]="beforeSupplementsRemo">
                        <button nz-button><i nz-icon nzType="upload"></i><span>Upload Attachment 上传附件</span></button>
                        <button  *ngIf="flag==1" disabled="true" nz-button><i nz-icon nzType="upload"></i><span>Upload Attachment上传附件</span></button>
                        <!-- <button *ngIf="flag==1" disabled="true"    nz-button><i nz-icon nzType="upload"></i><span>上传附件</span></button> -->
                      </nz-upload>
                      <button nz-tooltip [nzTitle]="odata.supplementaryFileNames" *ngIf="odata.supplementaryFiles && !(othercheck == true || othercheck == 'true')" class="down link-tesk" nz-button nzType="link"
                              (click)="fileDwon(odata.supplementaryFiles)">{{odata.supplementaryFileNames}}</button>
                      <!--补充文件3-->
                      <nz-upload *ngIf="flag==0 && (othercheck == true || othercheck == 'true')" [(nzFileList)]="filesupplementssList"
                                 [nzBeforeUpload]="beforeSupplementssUpload" [nzLimit]="1" [nzPreview]="dwonLoad" [nzRemove]="beforeSupplementssRemo">
                        <button nz-button><i nz-icon nzType="upload"></i><span>Upload Attachment 上传附件</span></button>
                        <button *ngIf="flag==1" disabled="true" nz-button><i nz-icon nzType="upload"></i><span>Upload Attachment 上传附件</span></button>
                        <!-- <button *ngIf="flag==1" disabled="true"    nz-button><i nz-icon nzType="upload"></i><span>上传附件</span></button> -->
                      </nz-upload>
                      <button nz-tooltip [nzTitle]="odata.supplementaryFileNamess" *ngIf="odata.supplementaryFiless && !(othercheck == true || othercheck == 'true')" class="down link-tesk" nz-button nzType="link"
                              (click)="fileDwon(odata.supplementaryFiless)">{{odata.supplementaryFileNamess}}</button>

                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="8" [nzXs]="24" [nzRequired]="true">Missing Files have been Filled Up<br> 缺失文件已补齐</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                      <nz-radio-group nzSize="default" [ngModelOptions]="{standalone: true}" [disabled]="flag == 1"
                                      [(ngModel)]="isSupp">
                        <label nz-radio nzValue="1">Y 是</label>
                        <label nz-radio nzValue="0">N 否</label>
                      </nz-radio-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>


              <div *ngIf="flag==0" nz-row nzType="flex" nzJustify="end" nzAlign="middle">
                <div nz-col nzSpan="16">
                  <nz-form-item style="text-align: right;">
                    <ng-container>
                      <button nz-button nzType="primary" nzSize="6" class="ml10"
                              (click)="submitForm(0)">Save 保存</button>
                      <button [disabled]="isSupp != 1" nz-button nzType="primary" nz-popconfirm nzTitle="你确定要执行提交的操作?" nzSize="6" class="ml10" (nzOnConfirm)="submitForm(1)">Submit 提交</button>
                    </ng-container>
                  </nz-form-item>
                </div>
              </div>
            </form>
          </nz-card>


        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <!-- <button nz-button class="ml6 save" nzType="primary">保存</button>
  <button nz-button class="ml6 submit" nzType="primary">保存并提交</button> -->
  <nz-card class="mtb1rem" nzTitle="Related OIT Form Link 相关进单进程链接" *ngIf="flag==1 && CkUrlLength()">
    <div>《进单准备表》/《合同概要表》/《OrderSummary》/《合同签署》/《OIT完成》链接（进程状态以实际状态为准）：</div>
    <div *ngFor="let item of mainid_winList">
      <a class="a-url a-url-left" (click)="toWin(item)">{{item.referenceId}}</a>
<!--      <a class="a-url" (click)="toWin(item)">{{item.jdChildMainId ? item.jdChildMainId : item.jdMainId}}</a>-->
    </div>
  </nz-card>

  <nz-card class="mtb1rem" nzTitle="Approved History 审批记录">
    <app-emp-acc></app-emp-acc>
  </nz-card>
</div>

