<app-apploading [load]="load"></app-apploading>
<form nz-form [formGroup]="validateForm">
  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
    <div nz-col nzXs="24"
    nzSm="24"
    *ngIf="mergeData.businessModel=='DIRECT'"
    nzMd="12">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>买卖协议号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="salesAgreementNo" [(ngModel)]="dataBase.salesAgreementNo">
          <nz-form-explain *ngIf="
          validateForm.get('salesAgreementNo')?.dirty &&
          validateForm.get('salesAgreementNo')?.errors
        ">
        此选项必填字段
      </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24"
    *ngIf="mergeData.invoiceInformation=='USD'"
    nzSm="24"
    nzMd="12">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>进口协议号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="importAgreementNo" [(ngModel)]="dataBase.importAgreementNo">
            <nz-form-explain *ngIf="
            validateForm.get('importAgreementNo')?.dirty &&
            validateForm.get('importAgreementNo')?.errors
          ">
          此选项必填字段
        </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24"
    *ngIf="mergeData.businessModel=='DISTRIBUTOR'"
    nzSm="24"
    nzMd="12">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>采购订单号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="purchaseOrderNumber" [(ngModel)]="dataBase.purchaseOrderNumber">
          <nz-form-explain *ngIf="
          validateForm.get('purchaseOrderNumber')?.dirty &&
          validateForm.get('purchaseOrderNumber')?.errors
        ">
        此选项必填字段
      </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24"
    *ngIf="mergeData.invoiceInformation=='USD'"
    nzSm="24"
    nzMd="12">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>价格术语</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="priceTerms" [(ngModel)]="dataBase.priceTerms">
          <nz-form-explain *ngIf="
          validateForm.get('priceTerms')?.dirty &&
          validateForm.get('priceTerms')?.errors
        ">
        此选项必填字段
      </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24"
    nzSm="24"
    nzMd="12">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>是否含有solution</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-radio-group nzSize="default" formControlName="solution" [(ngModel)]="dataBase.solution">
            <label nz-radio nzValue="1">是</label>
            <label nz-radio nzValue="0">否</label>
          </nz-radio-group>
          <nz-form-explain *ngIf="
          validateForm.get('solution')?.dirty &&
          validateForm.get('solution')?.errors
        ">
        此选项必填字段
      </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24" *ngIf="mergeData.invoiceInformation=='CNY'">
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired>发票邮寄信息</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="invoiceMailingInformation" [(ngModel)]="dataBase.invoiceMailingInformation">
          <nz-form-explain *ngIf="
              validateForm.get('invoiceMailingInformation')?.dirty &&
              validateForm.get('invoiceMailingInformation')?.errors
            ">
            此选项必填字段
          </nz-form-explain>
        </nz-form-control>       
      </nz-form-item>
    </div>

    <div nz-col nzXs="24"
    *ngIf="mergeData.invoiceInformation=='USD'"
    nzSm="24"
    nzMd="12">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>目的港英文名称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="portShipment" [(ngModel)]="dataBase.portShipment">
          <nz-form-explain *ngIf="
          validateForm.get('portShipment')?.dirty &&
          validateForm.get('portShipment')?.errors
        ">
        此选项必填字段
      </nz-form-explain>
        </nz-form-control>       
      </nz-form-item>
    </div>

    <div nz-col nzXs="24"
    *ngIf="mergeData.invoiceInformation=='USD'"
    nzSm="24"
    nzMd="12">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>运输方式</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">         
          <nz-select style="width: 100%" zAllowClear [(ngModel)]="dataBase.typeShipping"
          nzPlaceHolder=""
          formControlName="typeShipping">
          <nz-option nzLabel="-海运或空运 By sea or by air" nzValue="-海运或空运 By sea or by air"></nz-option>
          <nz-option nzLabel="-空运By air" nzValue="-空运By air"></nz-option>
        </nz-select>
        <nz-form-explain *ngIf="
          validateForm.get('typeShipping')?.dirty &&
          validateForm.get('typeShipping')?.errors
        ">
        此选项必填字段
      </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24"
    *ngIf="mergeData.invoiceInformation=='USD'"
    nzSm="24"
    nzMd="12">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>目的港中文名称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="portDestination" [(ngModel)]="dataBase.portDestination">
          <nz-form-explain *ngIf="
              validateForm.get('portDestination')?.dirty &&
              validateForm.get('portDestination')?.errors
            ">
            此选项必填字段
          </nz-form-explain>
        </nz-form-control>       
      </nz-form-item>
    </div>

    <div nz-col nzXs="24"
    nzSm="24"
    nzMd="12">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>合同确认日期</nz-form-label>
<!--        <nz-form-control [nzSm]="14" [nzXs]="24">-->
<!--          <input type="text" class="form-control" placeholder="">-->
<!--        </nz-form-control>-->
        <nz-form-control [nzSpan]="14">
<!--          <nz-date-picker nzSize="large" formControlName="openBiddingDate" [(ngModel)]="dataBase.openBiddingDate"></nz-date-picker>-->
<!--          <nz-date-picker nzSize="large" [ngModelOptions]="{standalone: true}" disabled="true" [(ngModel)]="dataBase.openBiddingDate"></nz-date-picker>-->
          <nz-date-picker nzSize="large" formControlName="contractDate" [(ngModel)]="dataBase.contractDate"></nz-date-picker>
          <nz-form-explain
            *ngIf="validateForm.get('contractDate')?.dirty && validateForm.get('contractDate')?.errors">
            <ng-container *ngIf="validateForm.get('contractDate')?.hasError('required')">此选项必填字段</ng-container>
<!--            <ng-container *ngIf="validateForm.get('contractDate')?.hasError('dataform')">yyyy-mm-dd-->
<!--            </ng-container>-->
          </nz-form-explain>          
        </nz-form-control>
      </nz-form-item>
    </div>



    <!--模板控件-->
    <div  class="showDiag" *ngIf="isPdf">
      <div class="showDiag-box" >
        <div class="showDiag-box-title">
          <div>查看PDF</div>
          <i nz-icon nzType="close" class="close" (click)="isPdfCancel()" nzTheme="outline"></i>
        </div>
        <app-pdfpreview [padData]="pdfSRC"></app-pdfpreview>
        <!-- <ngx-extended-pdf-viewer [src]="pdfSRC" useBrowserLocale="true" height="100vh"></ngx-extended-pdf-viewer> -->
      </div>
    </div>

    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24">正式合同模板</nz-form-label>
        <nz-form-control [nzSm]="7" [nzXs]="24">
          <ng-container *ngFor="let item of dataBase.tmpList" >
             <button nz-button nzType="link" (click)="tenderDeclarationLetter3(item.templateCode)">{{item.templateName}}</button>
          </ng-container>          
        </nz-form-control>
      </nz-form-item>
    </div>
  

    <div nz-col nzSpan="24">
      <nz-form-item>
        <!--nzRequired-->
        <nz-form-label [nzSm]="4" [nzXs]="24">合同文件</nz-form-label>
        <nz-form-control [nzSm]="7" [nzXs]="24">
          <div class="flex">
            <nz-upload 
            [(nzFileList)]="fileFileList"
            [nzBeforeUpload]="fileBeforeUpload"           
            [nzLimit]="1"
            [nzPreview]="dwonLoad"
            [nzRemove]="nzRemovcontractFile"
          >
            <button [disabled]="disas" nz-button><i nz-icon nzType="upload"></i><span>上传合同文件</span></button>
          </nz-upload>
          
          <!-- <ng-container *ngIf="state!='DHTQS'&&dataBase.fileFileList.length>0">
             <button *ngFor="let item of dataBase.fileFileList" class="down" nz-button nzType="link" (click)="fileDwon(item.fileId)">{{item.name}}</button>
          </ng-container> -->
          <button nz-button [disabled]="dataBase.contractFile==null||dataBase.contractFile==undefined||dataBase.contractFile==''"  *ngIf="!disas&&state!='DHTQS'" class="updata" nzType="primary"
          (click)="updata()">更新</button>
          </div>          
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24"
    nzSm="24"
    nzMd="24">
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24">正本合同已上传</nz-form-label>
        <ng-container *ngIf="disas||disad">
        <nz-form-control [nzSm]="7" [nzXs]="24">
          <nz-radio-group nzSize="default"  [ngModelOptions]="{standalone:true}" [disabled]="true"  [(ngModel)]="dataBase.isContract">
            <label nz-radio nzValue="1">是</label>
            <label nz-radio nzValue="0">否</label>
          </nz-radio-group>
        </nz-form-control>
      </ng-container>
      <ng-container *ngIf="!disas&&!disad">
        <nz-form-control [nzSm]="7" [nzXs]="24">
          <nz-radio-group nzSize="default" formControlName="isContract"  [(ngModel)]="dataBase.isContract">
            <label nz-radio nzValue="1">是</label>
            <label nz-radio nzValue="0">否</label>
          </nz-radio-group>
        </nz-form-control>
      </ng-container>
      </nz-form-item>
    </div>  
    <div nz-col nzXs="24"
    nzSm="24"
    nzMd="24">
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24">补充文件</nz-form-label>       
        <div nz-col [nzSm]="7" [nzXs]="24">
          <nz-form-control>
            <nz-upload
              *ngIf="!disa"
              [(nzFileList)]="productConfFileList"
              [nzBeforeUpload]="file2BeforeUpload"
              [nzMultiple]="true"
              [nzLimit]="30"
              [nzPreview]="dwonLoad"
              [nzRemove]="nzRemovsitePreparation"
            >
              <button [disabled]="flag == 1"  nz-button><i nz-icon nzType="upload"></i><span>文件上传</span></button>
            </nz-upload>
            <button *ngIf="disa&&dataBase.productConfFile" nz-tooltip [nzTitle]="dataBase.productConfFileNames" class="down link-tesk" nz-button nzType="link" (click)="fileDwon(dataBase.productConfFile)">{{dataBase.productConfFileNames?dataBase.productConfFileNames:"文件下载"}}</button>
          </nz-form-control>
        </div>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24">备注</nz-form-label>
        <nz-form-control [nzSm]="7" [nzXs]="24">
        <textarea oninput="if(value.length>255)value=value.slice(0,255)" [disabled]="flag==1" nz-input placeholder="" formControlName="remark" [(ngModel)]="dataBase.remark"
                  [nzAutosize]="{ minRows: 3, maxRows: 6 }"></textarea>
                  <div>还可以输入:{{dataBase.remark.length}}/{{textLen}}</div>
                  <nz-form-explain *ngIf="validateForm.get('remark')?.dirty && validateForm.get('remark')?.errors">
                    {{'请填写退回理由'}} 
                   </nz-form-explain>          
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>  
</form>
