@import '../../../../node_modules/@swimlane/ngx-datatable/release/index.css';
@import '../../../vendor/libs/ngx-datatable/ngx-datatable.scss';
@import '../../../../node_modules/@swimlane/ngx-datatable/release/assets/icons.css';
@import '../../../vendor/libs/angular2-ladda/angular2-ladda.scss';
@import '../../../vendor/libs/ng-select/ng-select.scss';

.table-responsive {
  overflow: visible;
}

.ngx-datatable {
  overflow: visible !important;
}

.primary-detail {
  margin-left: 10px;
}

.quotation-block {
  padding:0;
}

:host ::ng-deep .datatable-body-cell {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ng5-slider-tick-legend {
  position: absolute !important;
  top: 24px !important;
  -webkit-transform: translate(-50%, 0) !important;
  transform: translate(-50%, 0) !important;
}

.quotation-header {
  width: 100%;
  display: table;
  background: lightgray;
  font-weight: bolder;
  height: 42px;
  font-size: large;
  padding: 10px 24px 10px 24px;
}

.quotation-header-span {
  vertical-align: bottom;
}

.quotation-header-small-text {
  color: rgba(0, 0, 0, .65);
  font-size: 12px;
  font-weight: normal;
  cursor: default;
}

.row-bold {
  font-weight: bold;
}


.not-raw {
  color: darkred !important;
}

.label-btn {
  vertical-align: bottom;
}

.quotation-scroll-btn{
  position:fixed;
  position:-webkit-sticky;
  position:sticky;
  top:20px;
  right:96px;
  z-index: 1100;
  text-align:right;
  opacity:0.8;
  filter:alpha(opacity=80);
}