.red{
  color: red;
}
.green{
  color: green;
}
.innerbox{
  white-space: pre-wrap;
    text-indent: 10px;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // display:block;
  // -webkit-line-clamp: 2;
  // -webkit-box-orient: vertical;
  // width: 230px;
  // margin:0 auto;
  // white-space: nowrap;
  // word-break: break-all;
}

.innerboxs{
  margin-bottom:10px;
  white-space: pre-wrap;
}
.innerboxs div{
background:red;  
}
