.search-form-wrap {
  margin: 16px 0;
  padding: 24px 24px 0;
  background-color: #f6f7f9;
}

.collapse-btn {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #1890ff;
}

.table-header {
  background-color: #3798DB;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 22px;
  direction: ltr;
}

.table-data {
  word-break: break-all;
}