<nz-card class="mtb1rem" nzTitle="订单信息">
  <form nz-form [formGroup]="formValues">
    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired nzFor="exchangeMethod">换货方式</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-select formControlName="exchangeMethod" nzPlaceHolder="请选择换货方式">
<!--              <nz-option *ngFor="let item of" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>-->
              <nz-option [nzLabel]="'互换'" [nzValue]="'互换'"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="exchangeMethod?.dirty && exchangeMethod?.errors">
              请选择换货方式
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div formArrayName="orders">
      <div *ngFor="let ord of orders.controls;let i = index" [formGroupName]="i">
        <span>订单{{i+1}}：</span>
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired nzFor="exchangeRole">换货角色</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-select formControlName="exchangeRole" nzPlaceHolder="请选择换货角色">
                  <!--              <nz-option *ngFor="let item of" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>-->
                  <nz-option [nzLabel]="'互换'" [nzValue]="'互换'"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="ord.get('exchangeRole')?.dirty && ord.get('exchangeRole')?.errors">
                  请选择换货角色
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>


        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired nzFor="orderType">订单类型</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-select formControlName="orderType" nzPlaceHolder="请选择订单类型">
                  <nz-option *ngFor="let item of selectOptions.orderTypes" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="ord.get('orderType')?.dirty && ord.get('orderType')?.errors">
                  请选择订单类型
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzFor="referenceId">Reference ID</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-input-group nzFlex style="width: 100%" [nzAddOnAfter]="importReferenceBtn">
                  <input id="referenceId" type="text" nz-input formControlName="referenceId" class="flex-grow-1" />
                </nz-input-group>

                <ng-template #importReferenceBtn>
                  <button *ngIf="editable && bg.value === 'PD&IGT'" nz-button nzType="primary" class="ml-md" (click)="onShowReferenceModal()">导入数据</button>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6">产品型号</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <input type="text" nz-input formControlName="productType" disabled />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired>产品线</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-select formControlName="bmc" nzPlaceHolder="请选择产品线">
                  <nz-option *ngFor="let item of bmcList" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="ord.get('bmc')?.dirty && ord.get('bmc')?.errors">
                  请选择产品线
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6">BG</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-select formControlName="bg" nzPlaceHolder="请先选择BG" #bg>
                  <nz-option *ngFor="let item of selectOptions.bgList" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired>销售区域</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-input-group style="width: 100%;font-size: 0;" *ngIf="editable">
                  <nz-select formControlName="cycleGroup" style="width: 48%;margin-right:4%" nzPlaceHolder="Team/Cycle Group" (ngModelChange)="onCycleGroupChange(i)" #cycleGroup>
                    <nz-option *ngFor="let item of spService.cycleGroups" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                  </nz-select>

                  <nz-select formControlName="bigArea" style="width: 48%" nzPlaceHolder="Region">
                    <nz-option *ngFor="let item of (cycleGroup.value ? spService.cycleGroupBigAreaMap[cycleGroup.value] : [])" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                    <nz-option *ngIf="(cycleGroup.value ? spService.cycleGroupBigAreaMap[cycleGroup.value] : []).length === 0" nzLabel="请先选择Team/Cycle Group" [nzDisabled]="true"></nz-option>
                  </nz-select>
                </nz-input-group>
                <nz-input-group style="width: 100%;font-size: 0;" *ngIf="!editable">
                  <input nz-input formControlName="cycleGroup" style="width: 48%;margin-right:4%">

                 <input nz-input formControlName="bigArea" style="width: 48%">
                </nz-input-group>
                <div style="display: flex;">
                  <nz-form-explain style="width: 48%;margin-right:4%" >
                    <span style="color:#f5222d" *ngIf="ord.get('cycleGroup')?.dirty && ord.get('cycleGroup')?.errors">请选择销售区域</span>
                  </nz-form-explain>
                  <nz-form-explain style="width: 48%" *ngIf="ord.get('bigArea')?.dirty && ord.get('bigArea')?.errors">
                    <span style="color:#f5222d">请选择销售区域</span>
                  </nz-form-explain>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired>业务模式</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-select formControlName="businessModel" nzPlaceHolder="请选择业务模式">
                  <nz-option *ngFor="let item of selectOptions.businessModels" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="ord.get('businessModel')?.dirty && ord.get('businessModel')?.errors">
                  请选择业务模式
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle" *ngIf="i === 0 ? showOrder1DealerArea : showOrder2DealerArea">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6">经销商名称</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-input-group style="width: 100%" [nzSuffix]="clearDealerBtn" [nzAddOnAfter]="selectDealerBtn">
                  <input id="dealerName" type="text" nz-input formControlName="dealerName" [placeholder]="editable ? '点击右侧按钮选择经销商' : ''" />
                </nz-input-group>
                <ng-template #clearDealerBtn>
                  <i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="ord.get('dealerCode').value && editable"></i>
                </ng-template>

                <ng-template #selectDealerBtn>
                  <button *ngIf="editable" nz-button nzType="primary" class="ml-md" (click)="onShowSelectDealerModal(i)">选择经销商</button>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6">经销商编号</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <input id="dealerCode" nz-input formControlName="dealerCode" [disabled]="true" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6">医院名称</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-input-group style="width: 100%" [nzSuffix]="clearHospitalBtn" [nzAddOnAfter]="selectHospitalBtn">
                  <input id="hospitalName" type="text" nz-input formControlName="hospitalName" [placeholder]="editable ? '点击右侧按钮选择医院' : ''" />
                </nz-input-group>

                <ng-template #clearHospitalBtn>
                  <i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="ord.get('hospitalNo').value && editable" (click)="onClearHospital()"></i>
                </ng-template>

                <ng-template #selectHospitalBtn>
                  <button *ngIf="editable" nz-button nzType="primary" class="ml-md" (click)="onShowSelectHospitalModal(i)">选择医院</button>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6">医院编号</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <input id="hospitalNo" nz-input formControlName="hospitalNo" [disabled]="true" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="48" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired nzFor="projectName">项目名称</nz-form-label>
              <nz-form-control nzXs="48" nzSm="24" nzMd="14">
                <input id="projectName" nz-input formControlName="projectName" [placeholder]="bg.value === 'PD&IGT' ? '' : '自动生成: 医院名称-产品型号'" />
                <nz-form-explain *ngIf="ord.get('projectName')?.dirty && ord.get('projectName')?.errors && bg.value === 'PD&IGT'">
                  请填写项目名称
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired nzFor="sapOrderNo">SAP订单号(SO#)</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <input id="sapOrderNo" nz-input formControlName="sapOrderNo" />
                <nz-form-explain *ngIf="ord.get('sapOrderNo')?.dirty && ord.get('sapOrderNo')?.errors">
                  请填写SAP订单号(SO#)
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired>币制</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-select formControlName="currency" [nzPlaceHolder]="editable ? 'Select 请选择币制' : ''">
                  <nz-option *ngFor="let item of selectOptions.currencies" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="ord.get('currency')?.dirty && ord.get('currency')?.errors">
                  请填写币制
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>

        </div>


        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6">OM</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-select formControlName="om" [nzPlaceHolder]="editable ? '请选择OM' : ''">
                  <nz-option *ngFor="let item of selectOptions.oms" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzRequired nzXl="8" nzXXl="6">进单日期</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-date-picker formControlName="orderDate"></nz-date-picker>
                <nz-form-explain *ngIf="ord.get('orderDate')?.dirty && ord.get('orderDate')?.errors">
                  请选择进单日期
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label [nzRequired]="i == 1" nzXl="8" nzXXl="6">销售邮箱</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-select nzShowSearch nzAllowClear formControlName="saleEmail" [nzPlaceHolder]="editable ? '输入查询销售邮箱' : ''" (ngModelChange)="salesChange($event, i)"
                (nzOnSearch)="onSearchSales($event)" [nzServerSearch]="true"
                >
<!--                  <nz-option *ngFor="let item of salesList" [nzLabel]="item" [nzValue]="item"></nz-option>-->
                  <ng-container *ngFor="let sale of salesList">
                    <nz-option *ngIf="!isSearchLoading" [nzValue]="sale.email" [nzLabel]="sale.email" [nzCustomContent]="true">
                      {{sale.email }}
                    </nz-option>
                  </ng-container>
                  <nz-option *ngIf="isSearchLoading" nzDisabled nzCustomContent>
                    <i nz-icon type="loading" class="loading-icon"></i> 查询中...
                  </nz-option>
                </nz-select>
                <nz-form-explain *ngIf="ord.get('saleEmail')?.dirty && ord.get('saleEmail')?.errors">
                  请选择销售邮箱
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">

          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6">District Leader邮箱</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
<!--                <nz-select *ngIf="editable" formControlName="districtLeader" [nzPlaceHolder]="editable ? 'District Leader邮箱' : ''">-->
<!--                  <nz-option *ngFor="let item of districtList" [nzLabel]="item.approverEmail" [nzValue]="item.approverEmail"></nz-option>-->
<!--                </nz-select>-->
                <input nz-input formControlName="districtLeader">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6">Sales Leader邮箱</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
<!--                <nz-select *ngIf="editable" formControlName="salesLeader" [nzPlaceHolder]="editable ? 'Sales Leader邮箱' : ''">-->
<!--                  <nz-option *ngFor="let item of salesLeaderList" [nzLabel]="item.approverEmail" [nzValue]="item.approverEmail"></nz-option>-->
<!--                </nz-select>-->
                <input nz-input formControlName="salesLeader">
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label nzSpan="3" nzRequired>产品列表</nz-form-label>
              <nz-form-control nzSpan="19">
                <special-approval-product-list [isWarranty]="false" [isExchange]="true" [orderInfo]="ord" [editable]="editable"></special-approval-product-list>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>


      </div>
    </div>



  </form>

  <app-select-hospital #selectHospital (select)="onSelectHospital($event)"></app-select-hospital>
  <app-select-dealer #selectDealer (select)="onSelectDealer($event)"></app-select-dealer>
  <app-select-reference #selectReference (select)="onSelectReference($event)"></app-select-reference>
</nz-card>

