.product-form-checkbox {
  .ant-checkbox-wrapper {
    height: 24px;
    display: flex;
    align-items: center;
    margin-left: 0;
  }
}

.global-form .ant-form-item-label {
  padding: 5px 5px 10px 0 !important;
  line-height: 20px;
  white-space: break-spaces;
  text-align: center;
}

.prodSelect {
  position: relative;
  top: -4px;
}

.global-form .global-form-control-icon {
  font-size: 20px;
  margin-left: 10px;
  position: relative;
  top: -6px;
}
.global-form .negative{
  left: 110px;
  position: absolute;
  top: 5px;
}
.global-form .negatives{
  right:-181px;   
  position: absolute;
  top: 5px;
}

.ant-upload.ant-upload-select {
  position: relative;
  top: -4px;
}

.other {
  position: relative;
  top: -4px;
  left: 13px;
}

.radioClass {
  position: relative;
  top: -3px;
}

.ant-checkbox+span,
.ant-checkbox-wrapper+span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.freeTextBox {
  position: relative;
}

.freeText {
  // position: absolute;
  // right: -155px;
  // top: -11px;    
  display: flex;
  .textBoxd {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  &::before{
    display: inline-block;
    margin-right: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
    position: relative;
    top: 9px;
  }
}
