<div class="mtb1rem" nz-row>
  <div nz-col class="opera">
    <div nz-row nzType="flex" class="opera-oppo" nzJustify="start" [class]="scoll?'scoll':''">
      <button *ngIf="!ishow&&dataBase.detail.flag!='1'" nz-button nzType="primary" [nzSize]="6" (click)="addEntryUnit('success')">添加进单单位</button>
      <button *ngIf="!ishow&&dataBase.detail.flag!='1'" class="ml10" nz-button nzType="primary" [nzSize]="6"
        (click)="deleteEntryUnit()">删除进单单位</button>
    </div>
    <div class="opera-oppo">
      <div nz-col>
        <nz-form-item>
          <div class="opera-oppo-input-group">
            <nz-form-label nzFor="email">
              Deal Form总价
            </nz-form-label>
            <nz-form-control>
              <input readonly="true" class="select form-control" nz-input nz-tooltip [nzTitle]="dataBase.dealContractPrice"
                [ngModel]="dataBase.dealContractPrice|NumberThousandth" type="text" />
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
      <div  nz-col>
        <nz-form-item *ngIf="dataBase.tableColOff">
          <div class="opera-oppo-input-group">
            <nz-form-label nzFor="email">
              E-COM总价
            </nz-form-label>
            <nz-form-control>
              <input readonly="true" class="select form-control" nz-input nz-tooltip [nzTitle]="dataBase.entryUnitPrice"
                [ngModel]="dataBase.entryUnitPrice|NumberThousandth" type="text" />
            </nz-form-control>
          </div>
        </nz-form-item>
      </div> 
      <ng-container *ngIf="dataBase.invoiceInformation=='CNY'">
        <div nz-col>
          <nz-form-item>
            <div class="opera-oppo-input-group">
              <nz-form-label nzFor="email">
                税率
              </nz-form-label>
              <nz-form-control>
                <nz-select class="select" [disabled]="disa" nz-tooltip [nzTitle]="dataBase.taxrate" nzShowSearch  [(ngModel)]="dataBase.taxrate"
                  nzPlaceHolder="" nzSize="large">
                  <nz-option *ngFor="let item of rateList" [nzValue]="item.code" [nzLabel]="item.code">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </div>
          </nz-form-item>
        </div>
      </ng-container>
        <div nz-col>
          <nz-form-item>
            <div class="opera-oppo-input-group">
              <nz-form-label nzFor="email">
                币制
              </nz-form-label>
              <nz-form-control>
                <nz-select class="select" nzShowSearch disabled="true"  [(ngModel)]="dataBase.invoiceInformation"
                  nzPlaceHolder="" nzSize="large">
                  <nz-option nzLabel="人民币" nzValue="CNY"></nz-option>
                  <nz-option nzLabel="美元" nzValue="USD"></nz-option>
                </nz-select>
              </nz-form-control>
            </div>
          </nz-form-item>
        </div>      
    </div>
    <nz-modal [(nzVisible)]="isVisibleMarketBundle" nzTitle="匹配的Deal Form产品选择区（Deal Form ID）" nzCentered nzWidth="700"
      (nzOnCancel)="handleCancelMarketBundle()" (nzOnOk)="handleOkMarketBundle()">
      <ng-container>
        <app-transferbox (onTransToLeft)="myskip($event)" [dataList]="dataBase.dataList" [value]="this.dataBase.productList" #tranf></app-transferbox>
      </ng-container>
    </nz-modal>
  </div>
</div>
<nz-empty *ngIf="dataBase.productList.length==0"></nz-empty>
<ng-template [ngIf]="dataBase.productList.length>0">
  <nz-card *ngFor="let itemData of dataBase.productList; index as i;"
    [ngClass]="{ 'mtb1rem': true, 'global-nz-cord-toggle-actions': true, 'global-nz-cord-toggle-actions-full': itemData.showActionsSwitch }"
    style="min-height: 365px;">
    <div nz-row nzType="flex" nzJustify="start">
      <div class="opera" style="min-width: 216px" nz-col nzXs="24" nzSm="24" nzMd="24">
        <div class="opera-oppo">
          <div nz-col>
            <label class="font16" [nzDisabled]="ishow==true" [ngModel]="itemData.checked"
              (ngModelChange)="modelChange(i)" nz-checkbox>{{ itemData.modelNumber}}</label>
          </div>
          <nz-form-item *ngIf="dataBase.tableColOff">
            <div class="opera-oppo-input-group">
              <nz-form-label nzFor="email">
                进单单位Net Price审批价
              </nz-form-label>
              <nz-form-control>
                <input [ngModel]="itemData.totalPrice|NumberThousandth" class="form-control" readonly nz-input nz-tooltip [nzTitle]="itemData.totalPrice"
                  type="text" />
              </nz-form-control>
            </div>
          </nz-form-item>
          <nz-form-item *ngIf="dataBase.tableColOff">
            <div class="opera-oppo-input-group">
              <nz-form-label nzFor="email">
                进单单位合同价
              </nz-form-label>
              <nz-form-control nz-tooltip [nzTitle]="itemData.totalContractPrice">
                <input nz-input style="width:175px;"
                oninput="if(value.length>18)value=value.slice(0,18)"
                onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9\,]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" (keyup)="toNumber(event,itemData.totalContractPrice, 'c'+i,i)"  [id]="'c'+i" 
                   [ngModelOptions]="{standalone: true}"  [(ngModel)]="itemData.totalContractPrice" nz-input 
                [disabled]="priceEdit"    >
              </nz-form-control>
            </div>
          </nz-form-item>
          <div nz-col>
            <button nz-button nzType="primary" *ngIf="!ishow&&dataBase.detail.flag!='1'" class="ml10" [nzSize]="6"
              (click)="addMarketBundle(i)">添加Market Bundle</button>
          </div>
        </div>
        <div nz-col>
          <button nz-button nzType="primary" (click)="toggleShowActions(itemData.showActionsSwitch, i)">
            {{ itemData.showActionsSwitch ? '收起' : '展开' }}
            <i nz-icon [nzType]="itemData.showActionsSwitch ? 'up' : 'down'" nzTheme="outline"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="mtb1rem">
      <nz-table #rowSelectionTable nzTableLayout="fixed" [nzScroll]="{ x: '2000px' }" [nzFrontPagination]="false"
        [nzPageIndex]="1" [nzPageSize]="10" [nzShowPagination]="false" [nzShowTotal]="totalTemplate"
        [nzTotal]="itemData.productList.length" [nzData]="itemData.productList"
        (nzCurrentPageDataChange)="currentPageDataChange($event)">
        <thead>
          <tr>
            <th nzLeft="0px" nzAlign="center" nzWidth="200px">主机</th>
            <th nzAlign="center" nzWidth="200px">产品名称</th>
            <th nzAlign="center" nzWidth="100px">台数</th>
            <th nzAlign="center" nzWidth="200px">产品型号</th>
            <th nzAlign="center" nzWidth="200px">NMPA证号</th>
            <th nzAlign="center" nzWidth="150px">Simulation ID</th>
            <th nzAlign="center" nzWidth="200px">Market Bundle ID</th>
            <th *ngIf="dataBase.tableColOff" nzAlign="center" nzWidth="200px">Net price审批价</th>
            <th nzAlign="center" nzWidth="200px">Opportunity ID</th>
            <th nzAlign="center" nzWidth="200px">产品专家</th>
            <th *ngIf="dataBase.tableColOff" nzAlign="center" nzWidth="200px">促销号</th>
            <th *ngIf="dataBase.tableColOff" nzAlign="center" nzWidth="200px">Rebate</th>
            <th nzAlign="center" nzWidth="200px">配置文件</th>
            <th *ngIf="flag!=='1'&&ishow==false" nzRight="0px" nzWidth="200px">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rowSelectionTable.data let m=index">
            <td nzAlign="left" nzLeft="0px"><label nz-radio [ngModel]="data.checked"
                (ngModelChange)="agentChange(i,m)" [disabled]="flag =='1'||ishow==true"></label>
              <span>主机</span>
            </td>
            <td nzAlign="center">{{ data.marketBundleName}}</td>
            <td nzAlign="center">{{ data.marketBundleQuantity}}</td>
            <td nzAlign="center">{{ data.modelNumber}}</td>
            <td nzAlign="center">{{data.registrationNumber}}</td>
            <td nzAlign="center">{{data.simulationIds}}</td>
            <td nzAlign="center">{{data.dealFormMarketBundleId}}</td>
            <td *ngIf="dataBase.tableColOff" nzAlign="center">{{data.approvalPrice|NumberThousandth}}</td>
            <td nzAlign="center">{{data.opportunityId}}</td>
            <td nzAlign="center">{{data.productExpert!=""&&data.productExpert!=null?data.productExpert:"无"}}</td>
            <td *ngIf="dataBase.tableColOff" nzAlign="center">{{data.promotions!=""&&data.promotions!=null?data.promotions:"无"}}</td>
            <td *ngIf="dataBase.tableColOff" nzAlign="center">{{data.rebates!=""&&data.rebates!=null?data.rebates:"无"}}</td>
            <td nzAlign="center">
              <div *ngFor="let file of data.configurationFileList; index as j;">
                {{file.configurationFile}}
              </div>
            </td>
            <td *ngIf="flag!=='1'&&ishow==false" nzAlign="center" nzRight="0px">
              <button *ngIf="flag!=='1'&&ishow==false" class="global-center" nz-button nzType="primary"
                (click)="delMarket(i,m)" nzShape="circle"><i nz-icon type="delete"></i></button>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <!-- <ng-template #totalTemplate let-total>总条数{{itemData.productList.length}}</ng-template> -->
      <div class="tr mr10 mt10">总条数{{itemData.productList.length}}条</div>
    </div>
    <app-preOrderProductForm [dataBase]="itemData" [sofonoff]="sofonoff" [dataBases]='dataBase' [disa]="disa"
      [paySwitch]="paySwitch" [installSwitch]="installSwitch" (copy)="Copy($event)"></app-preOrderProductForm>
    <div class="global-nz-cord-toggle-actions-show" (click)="toggleShowActions(itemData.showActionsSwitch, i)">
      {{ itemData.showActionsSwitch ? '收起' : '展开' }}
      <i nz-icon [nzType]="itemData.showActionsSwitch ? 'up' : 'down'" nzTheme="outline"></i>
    </div>
  </nz-card>
</ng-template>
