.title{
   color:#333;
   font-size:16px;
   position: relative;
   &::after{
      content: "";
      display: block;
      position: absolute;
      left: -10px;
      top: 6px;
      height: 14px;
      width: 4px;
      background: #3380d8;
   }
}
.heads {
   color: red;
}
.red{
   color:red;
}
.mt10{
   margin-top:10px;
}
.ml10{
   margin-left:10px;
}
.mb10{
   margin-bottom:10px;
}
.wid150{
   width:150px;
}
.flex{
   display: flex;
   width:100%;
   align-items: center;

   .opera{
      width:auto;
   }
}
.textinput{
   width:100%
}
.text{
   width:350px;
   height:30px;
   line-height:30px;
   overflow: hidden;
   text-overflow:ellipsis;
   display: inline-block;
   border:1px solid #ddd;
   white-space:nowrap;
   vertical-align: -10px;
   border-radius: 3px;
   padding-left: 6px;
}
.wid120{
   width:143px;
   display: inline-block;
}
.wid200{
   width:350px;
   display: inline-block;
}
.cjlj{
   position: relative;
   top:10px;
   max-width:500px;
}
.won {
  font-weight: bold;
}
.opera{
   display: flex;
   justify-content: space-between;
   .opera-oppo{
      display: flex;
      align-items: center;
      .ant-form-item{
         margin-bottom: 0;
         .opera-oppo-input-group{
            display: flex;
            &::ng-deep label{
               margin-bottom: 0;
            }
         }
      }
   }
}
.product{
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.product-left{
  display: inline-block;
  width: 20%;
  min-width: 370px;
  color: rgba(0,0,0,.85);
}
.product-right{
  display: inline-block;
  width: 80%;
}
