<nz-card class="mtb1rem" nzTitle="审批记录">
  <app-emp-acc></app-emp-acc>
</nz-card>
<nz-card class="mtb1rem" [nzTitle]="title">
  <form nz-form [formGroup]="validateForm">
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="3"  nzFor="email">备注</nz-form-label>          
          <nz-form-control [nzSpan]="7" nz-tooltip [nzTitle]="remark">                    
             <textarea nz-input oninput="if(value.length>255)value=value.slice(0,255)" formControlName="remark" [(ngModel)]="remark" rows="4" nz-input></textarea> 
             <div>还可以输入:{{remark.length}}/{{textLen}}</div>
            <nz-form-explain
                      *ngIf="validateForm.get('remark')?.dirty && validateForm.get('remark')?.errors">
                      请填写拒绝理由
                    </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="3" nzFor="email">审核支持文件</nz-form-label>
          <nz-form-control [nzSpan]="7">
            <div class="maxuploadto">
            <nz-upload
              [(nzFileList)]="fileFileList"
              [nzBeforeUpload]="fileBeforeUpload"
              [nzLimit]="1"
              [nzPreview]="dwonLoad"
            >
              <button [disabled]="flag == 1" nz-button><i nz-icon nzType="upload"></i><span>上传附件</span></button>
            </nz-upload>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div *ngIf="flag==0" nz-row nzType="flex" nzJustify="end" nzAlign="middle">
    <div nz-col nzXs="24" nzSm="24" nzMd="16">
      <nz-form-item style="text-align: right;">
        <button nz-button [nzType]="'primary'" style="margin-left: 10px;" nz-popconfirm
                nzTitle="你确定要执行通过的操作?" (nzOnConfirm)="adopt(1)"
                (nzOnCancel)="cancelAction()">审核通过</button>
        <button nz-button [nzType]="'primary'" style="margin-left: 10px;" nz-popconfirm
                nzTitle="你确定要执行拒绝的操作?" (nzOnConfirm)="adopt(0)"
                (nzOnCancel)="cancelAction()">拒绝</button>
      </nz-form-item>
    </div>
  </div>
  <!-- <div class="tr">
    <button nz-button  [nzType]="'primary'" (click)="pre()">上一步</button>
  </div> -->
  <app-apploading [load]="load"></app-apploading>
</nz-card>
