<form nz-form [formGroup]="validateForm">
  <div nz-row>
    <div nz-col nzSpan="13">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">三方自采核查状态</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="selectVal"  formControlName="selectVal">
            <nz-option nzLabel="未交付未逾期" nzValue="wjfwyq"></nz-option>
            <nz-option nzLabel="未交付已逾期" nzValue="wjfyyq"></nz-option>
            <nz-option nzLabel="交付未逾期" nzValue="jfwyq"></nz-option>
            <nz-option nzLabel="交付已逾期" nzValue="jfyyq"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="validateForm.get('selectVal')?.dirty && validateForm.get('selectVal')?.errors">
            此选项必填字段
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="13">
      <nz-form-item>
        <nz-form-label [nzNoColon]="true" [nzSpan]="6" nzFor="email"></nz-form-label>
        <nz-form-control [nzSpan]="14">
          <!-- <button nz-button  nzType="primary">保存</button> -->
          <button nz-button class="ml6" nzType="primary" (click)="submit()">提交</button>
        </nz-form-control>  
      </nz-form-item>
    </div>
  </div>    
</form>