<div class="pdf-container">
  <ngx-extended-pdf-viewer
    [src]="src"
    useBrowserLocale="true"
    height="80vh"
    [handTool]="false"
    [showSidebarButton]="showSidebarButton"
    [showFindButton]="showFindButton"
    [showPagingButtons]="showPagingButtons"
    [showZoomButtons]="showZoomButtons"
    [showPresentationModeButton]="showPresentationModeButton"
    [showOpenFileButton]="showOpenFileButton"
    [showPrintButton]="showPrintButton"
    [showDownloadButton]="showDownloadButton"
    [showBookmarkButton]="showBookmarkButton"
    [showSecondaryToolbarButton]="showSecondaryToolbarButton"
    [showRotateButton]="showRotateButton"
    [showHandToolButton]="showHandToolButton"
    [showScrollingButton]="showScrollingButton"
    [showSpreadButton]="showSpreadButton"
    [showPropertiesButton]="showPropertiesButton"
  ></ngx-extended-pdf-viewer>
</div>
