<h4 class="font-weight-bold py-3">
  <span>Master Data Maintenance</span>
</h4>
<!-- <ng-template *ngIf="ruleFileNotUploaded"> -->
<div *ngIf="ruleFileNotUploaded">
  <hr class="border-light container-m--x mt-0 mb-4">

  <div class="demo-vertical-spacing">
    <div class="form-group">
      <label class="form-label w-100">请先上传 <span style="color:red;">{{tablename}}_rule.xlsx</span> 模板文件</label>
      <input id="mdm-upload-rule-file-input" type="file" accept=".xlsx" (change)="selectFile($event)">
      <!-- <small class="form-text text-muted"></small> -->
    </div>
    <button type="button" style="margin-bottom:10px;" class="btn btn-primary" (click)="uploadMDMTemplateFile()">上传</button>
  </div>
</div>
<!-- </ng-template> -->

<div *ngIf="!ruleFileNotUploaded">
  <hr class="border-light container-m--x mt-0 mb-4">

  <div class="demo-vertical-spacing">
    <div class="form-group">
      <label class="form-label w-100">上传 <span style="color:red;">{{tablename}}.xlsx</span> 数据文件</label>
      <input id="mdm-upload-data-file-input" type="file" accept=".xlsx" (change)="selectFile2($event)">
    </div>
    <button type="button" style="margin-bottom:10px;" class="btn btn-primary" (click)="uploadMDMDataFile()">上传</button>
  </div>

  <hr class="border-light container-m--x mt-0 mb-4">

  <div class="demo-vertical-spacing" >
    <div>
      <div class="row">
        <ng-container *ngIf="columnFilterName.length > 0;else simpleFilter">
          <ng-container *ngFor="let v of columnFilterName">
            <div class="col-sm-6 col-md-5 col-lg-3 mb-3" filtertype="dynamic">
              <input class="form-control" #filterInputs type="text" attr.filtername="{{v}}" placeholder='Filter by {{v}}' (keyup)="updateFilterAll($event)">
            </div>
          </ng-container>
        </ng-container>
        <ng-template #simpleFilter>
          <div class="col-sm-6 col-md-5 col-lg-3 mb-3" filtertype="simple">
            <input class="form-control" type="text" placeholder='Filter by {{filterKey}}' (keyup)="updateFilter($event)">
          </div>
        </ng-template>
        <ng-container *ngIf="hasStatus">
          <div class="col-sm-6 col-md-5 col-lg-3 mb-3 ml-auto">
            <button type="button" class="btn btn-round btn-success" (click)="triggerStatus('1')">&ensp;Active&ensp;</button>
            <button type="button" class="btn btn-round btn-danger" (click)="triggerStatus('0')">Deactive</button>
          </div>
        </ng-container>
      </div>

      <div class="table-responsive" *ngIf="rows.length > 0">
        <ngx-datatable #table style="min-width: 500px"
                       [rows]="rows"
                       [loadingIndicator]="loadingIndicator"
                       [columnMode]="'force'"
                       [headerHeight]="43"
                       [footerHeight]="'auto'"
                       [rowHeight]="'auto'"
                       [reorderable]="true"
                       [selected]="selected"
                       [selectionType]="'checkbox'"
                       [scrollbarH]="true"
                       [limit]="15"
                       (select)='onSelect($event)'>
          <!-- Column Templates -->
          <ngx-datatable-column
            [width]="40"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            [headerCheckboxable]="true"
            [checkboxable]="true">
          </ngx-datatable-column>
          <ng-container *ngFor="let item of columnName;index as i">
            <ng-container *ngIf="['status'] == item;else other_column">
              <ngx-datatable-column prop={{item}} nowrap="nowrap" [headerClass]="getHeaderClass">
                <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                  <span *ngIf="value == '1';else other_content">Active</span>
                  <ng-template #other_content><span>Deactive</span></ng-template>
                </ng-template>
              </ngx-datatable-column>
            </ng-container>
            <ng-template #other_column>
              <ng-container *ngIf="i==0;else not_first">
                <ngx-datatable-column prop={{item}} [headerClass]="getHeaderClass">
                  <ng-template let-row="row" let-column="column" let-value="value" ngx-datatable-cell-template>
                    <a href="javascript:void(0)" style="text-decoration:underline;text-align:center;" (click)="toEditMasterData('id',row.id);"><strong>{{value}}</strong></a>
                  </ng-template>
                </ngx-datatable-column>
              </ng-container>
              <ng-template #not_first>
                <ngx-datatable-column prop={{item}} [headerClass]="getHeaderClass" [cellClass]="getCellClass"></ngx-datatable-column>
              </ng-template>
            </ng-template>
          </ng-container>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>
<a #uploadErrorFile style="display:none;" download="error.txt" href=""></a>
<!-- </ng-container> -->
