<nz-card class="mtb1rem transfer-lib" nzTitle="订单信息">
  <form nz-form [formGroup]="formValues">
    <div nz-row nzType="flex" nzJustify="start" nzAlign="top" formArrayName="orders">
      <div nz-col nzSpan="6">
        <nz-card nzTitle="订单属性" [nzBodyStyle]="{padding: '0'}" [nzExtra]="expandTemplate">
          <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
            <div nz-col nzSpan="24" [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>换货角色</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24" [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>订单类型</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label>Reference ID</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24" [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>产品型号</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>产品线</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label>BG</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label>销售区域-Team</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label>销售区域-大区</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>业务模式</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24" [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>医院名称</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>医院编号</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>项目名称</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24" [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired >SAP订单号(SO#)</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired >合同金额</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24" [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>币制</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24" [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>销售邮箱</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label>OM</nz-form-label>
              </nz-form-item>
            </div>

            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label>Product Sales Manager 邮箱</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>District Leader邮箱</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>Sales Leader邮箱</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>预计付款日期</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24" [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>到货日期</nz-form-label>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24"  [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-label">
                <nz-form-label nzRequired>预计记认销售日期</nz-form-label>
              </nz-form-item>
            </div>
          </div>
        </nz-card>
      </div>
      <div nz-col nzSpan="9" *ngFor="let ord of orders.controls;let index = index" [formGroupName]="index">
        <nz-card [nzTitle]="index === 0 ? '转出项目': '转入项目'" [nzBodyStyle]="{padding: '0'}">
          <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
            <div nz-col nzSpan="24"  [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
<!--                  <nz-select formControlName="exchangeRole" nzPlaceHolder="请选择换货角色">-->
<!--                    <nz-option *ngFor="let item of selectOptions.exchangeExportRoles" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>-->
<!--                  </nz-select>-->
                  <input nz-input formControlName="exchangeRole">
                  <nz-form-explain *ngIf="ord.get('exchangeRole')?.dirty && ord.get('exchangeRole')?.errors">
                    请选择订换货角色
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24" [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-select formControlName="orderType" nzPlaceHolder="请选择订单类型">
                    <nz-option *ngFor="let item of selectOptions.orderTypes" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                  </nz-select>
                  <nz-form-explain *ngIf="ord.get('orderType')?.dirty && ord.get('orderType')?.errors">
                    请选择订单类型
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-input-group nzFlex style="width: 100%" [nzAddOnAfter]="index === 0 ? exportTemplate0: exportTemplate1">
                    <input id="referenceId" type="text" nz-input formControlName="referenceId" class="flex-grow-1"/>
                    <nz-form-explain *ngIf="ord.get('referenceId')?.dirty && ord.get('referenceId')?.errors">
                      请输入referenceId
                    </nz-form-explain>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24"  [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <input type="text" nz-input formControlName="productType" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-select formControlName="bmc" nzPlaceHolder="请选择产品线" (ngModelChange)="onBMCChange(index)">
                    <nz-option *ngFor="let item of bmcList" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                  </nz-select>
                  <nz-form-explain *ngIf="ord.get('bmc')?.dirty && ord.get('bmc')?.errors">
                    请选择产品线
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-select formControlName="bg" nzPlaceHolder="请先选择BG" #bg>
                    <nz-option *ngFor="let item of selectOptions.bgList" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-input-group style="width: 100%;font-size: 0;">
                    <nz-select formControlName="cycleGroup" style="width: 100%;margin-right:4%" nzPlaceHolder="Team/Cycle Group" (ngModelChange)="onBigAreaChange($event, index)">
                      <nz-option *ngFor="let item of spService.cycleGroups" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                      <nz-option *ngIf="spService.cycleGroups.length === 0" nzLabel="请先选择Team/Cycle Group" [nzDisabled]="true"></nz-option>
                    </nz-select>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-input-group style="width: 100%;font-size: 0;" *ngIf="editable">
                    <nz-select formControlName="bigArea" style="width: 100%" nzPlaceHolder="Region">
                      <nz-option *ngFor="let item of index == 0? selectOptions.bigArea0 : selectOptions.bigArea1 " [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                      <nz-option *ngIf="(index == 0? selectOptions.bigArea0.length === 0 : selectOptions.bigArea1.length === 0 )" nzLabel="请先选择Team/Cycle Group" [nzDisabled]="true"></nz-option>
                    </nz-select>
                  </nz-input-group>
                  <input nz-input formControlName="bigArea" style="width: 100%" placeholder="Region" *ngIf="!editable">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-select formControlName="businessModel" nzPlaceHolder="请选择业务模式" (ngModelChange)="onBusinessModelChange($event, index)">
                    <nz-option *ngFor="let item of selectOptions.businessModels" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                  </nz-select>
                  <nz-form-explain *ngIf="ord.get('businessModel')?.dirty && ord.get('businessModel')?.errors">
                    请选择业务模式
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24"  [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-input-group style=" width: 100%" [nzAddOnAfter]="selectHospitalBtn">
                      <input id="hospitalName" type="text" nz-input formControlName="hospitalName" [placeholder]="editable ? '点击右侧按钮选择医院' : ''"/>
                  </nz-input-group>

                  <ng-template #clearHospitalBtn>
                    <i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="ord.get('hospitalNo').value && editable" (click)="onClearHospital(index)"></i>
                  </ng-template>

                  <ng-template #selectHospitalBtn>
                    <button *ngIf="editable" [disabled]="index === 0 ? referenceImport0 : referenceImport1" nz-button nzType="primary" class="ml-md" (click)="onShowSelectHospitalModal(index)">选择医院</button>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <input id="hospitalNo" nz-input formControlName="hospitalNo" [disabled]="true" />
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <input id="projectName" nz-input formControlName="projectName" [placeholder]="bg.value === 'PD&IGT' ? '' : '自动生成: 医院名称-产品型号'" />
                  <nz-form-explain *ngIf="ord.get('projectName')?.dirty && ord.get('projectName')?.errors && bg.value === 'PD&IGT'">
                    请填写项目名称
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24"  [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <input id="sapOrderNo" nz-input formControlName="sapOrderNo" />
                  <nz-form-explain *ngIf="ord.get('sapOrderNo')?.dirty && ord.get('sapOrderNo')?.errors">
                    请填写SAP订单号(SO#)
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <input *ngIf="isCreateUser[index]" id="orderAmount" type="text" nz-input formControlName="orderAmount" />
                  <nz-form-explain *ngIf="ord.get('orderAmount')?.dirty && ord.get('orderAmount')?.errors">
                    请填写合同金额
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24"  [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="9">
                  <nz-select formControlName="currency" nzPlaceHolder="Select 请选择币制" (ngModelChange)="onCurrencyChanged($event, index)">
                    <nz-option *ngFor="let item of selectOptions.currencies" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                  </nz-select>
                  <nz-form-explain *ngIf="ord.get('currency')?.dirty && ord.get('currency')?.errors">
                    请选择币制
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24" [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-select *ngIf="editable && index === 0" nzShowSearch nzAllowClear formControlName="saleEmail" [nzPlaceHolder]="editable ? '销售邮箱' : ''" (ngModelChange)="salesChange(index)"
                             (nzOnSearch)="onSearchSales($event)" [nzServerSearch]="true"
                  >
                    <ng-container *ngFor="let sale of index == 0? salesList0 : salesList1">
                      <nz-option *ngIf="!isSearchLoading" [nzValue]="sale.email" [nzLabel]="sale.email" [nzCustomContent]="true">
                        {{sale.email }}
                      </nz-option>
                    </ng-container>
                    <nz-option *ngIf="isSearchLoading" nzDisabled nzCustomContent>
                      <i nz-icon type="loading" class="loading-icon"></i> 查询中...
                    </nz-option>
                  </nz-select>
                  <input *ngIf="!editable || index === 1" nz-input formControlName="saleEmail" (ngModelChange)="salesChange(index)">
                  <nz-form-explain *ngIf="ord.get('saleEmail')?.dirty && ord.get('saleEmail')?.errors">
                    请选择销售邮箱
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-select formControlName="om" [nzPlaceHolder]="editable ? '请选择OM' : ''">
                    <nz-option *ngFor="let item of selectOptions.oms" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-select *ngIf="editable" formControlName="productSalesMgr" [nzPlaceHolder]="editable ? 'Product Sales Manager 邮箱' : ''">
                    <nz-option *ngFor="let item of productSalesList[index]" [nzLabel]="item.email" [nzValue]="item.email"></nz-option>
                  </nz-select>
                  <input nz-input formControlName="productSalesMgr" *ngIf="!editable">
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-select *ngIf="editable" formControlName="districtLeader" [nzPlaceHolder]="editable ? 'District Leader邮箱' : ''">
                    <nz-option *ngFor="let item of districtList[index]" [nzLabel]="item.email" [nzValue]="item.email"></nz-option>
                  </nz-select>
                  <input nz-input formControlName="districtLeader" *ngIf="!editable">
                  <nz-form-explain *ngIf="ord.get('districtLeader')?.dirty && ord.get('districtLeader')?.errors">
                    请选择District Leader邮箱
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-select *ngIf="editable" formControlName="salesLeader" [nzPlaceHolder]="editable ? 'Sales Leader邮箱' : ''">
                    <nz-option *ngFor="let item of salesLeaderList[index]" [nzLabel]="item.email" [nzValue]="item.email"></nz-option>
                  </nz-select>
                  <input nz-input formControlName="salesLeader" *ngIf="!editable">
                  <nz-form-explain *ngIf="ord.get('salesLeader')?.dirty && ord.get('salesLeader')?.errors">
                    请选择Sales Leader邮箱
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-date-picker formControlName="expectedPaymentDate" style="width: 100%" [nzStyle]="{ width: '100%' }"></nz-date-picker>
                  <nz-form-explain *ngIf="ord.get('expectedPaymentDate')?.dirty && ord.get('expectedPaymentDate')?.errors">
                    请选择预计付款日期
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24" [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-date-picker formControlName="arrivalDate" style="width: 100%" [nzStyle]="{ width: '100%' }"></nz-date-picker>
                  <nz-form-explain *ngIf="ord.get('arrivalDate')?.dirty && ord.get('arrivalDate')?.errors">
                    请选择到货日期
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="24" [@openClose]="isExpand ? 'close' : 'open'">
              <nz-form-item class="order-list-normal-item">
                <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                  <nz-date-picker formControlName="expectedSaleDate" style="width: 100%" [nzStyle]="{ width: '100%' }"></nz-date-picker>
                  <nz-form-explain *ngIf="ord.get('expectedSaleDate')?.dirty && ord.get('expectedSaleDate')?.errors">
                    请选择预计记认销售日期
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
  </form>
  <ng-template #exportTemplate0>
    <button *ngIf="editable" nz-button nzType="primary" class="ml-md export-btn" (click)="onShowReferenceModal(0, false)">导入数据</button>
  </ng-template>
  <ng-template #exportTemplate1>
    <button *ngIf="editable" nz-button nzType="primary" class="ml-md export-btn" (click)="onShowReferenceModal(1)">导入数据</button>
  </ng-template>
  <ng-template #expandTemplate>
    <button nz-button nzType="primary" class="ml-md export-btn" (click)="expand()">{{isExpand? '展开': '收起'}}</button>
  </ng-template>
  <app-select-hospital #selectHospital (select)="onSelectHospital($event)"></app-select-hospital>
  <app-select-reference #selectReference (select)="onSelectReference($event)" (cancelModal)="onHideReferenceModal()"></app-select-reference>
</nz-card>
