<div style="display: flex; justify-content: end; flex-direction: row">
  <button (click)="dialog.showModal()" nz-button nzType="primary">
    {{
      "common._add"
        | translate
          : {
              name:
                "system-settings.message-management.carousel.title" | translate
            }
    }}
  </button>
</div>
<nz-table
  (nzPageIndexChange)="searchData()"
  (nzPageSizeChange)="searchData(true)"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzData]="data"
>
  <thead>
    <tr>
      <th nzWidth="250px">
        {{ "system-settings.message-management.common.title" | translate }}
      </th>
      <th nzWidth="450px">
        {{ "system-settings.message-management.common.content" | translate }}
      </th>
      <th>
        {{ "system-settings.message-management.carousel.image" | translate }}
      </th>
      <th>
        {{ "system-settings.message-management.carousel.link" | translate }}
      </th>
      <th>
        {{ "system-settings.message-management.common.enabled" | translate }}
      </th>
      <th>
        {{ "system-settings.message-management.common.start-date" | translate }}
      </th>
      <th>
        {{ "system-settings.message-management.common.end-date" | translate }}
      </th>
      <th>
        {{ "common.action" | translate }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.title }}</td>
      <td><div [innerHtml]="item.content | html"></div></td>
      <td><img [src]="item.thumb" style="width: 200px" /></td>
      <td>{{ item.link }}</td>
      <td>
        <nz-switch
          [ngModel]="item.isEnable"
          (ngModelChange)="toggleEnable(item)"
          [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"
        ></nz-switch>
        <ng-template #checkedTemplate><i nz-icon type="check"></i></ng-template>
        <ng-template #unCheckedTemplate
          ><i nz-icon type="close"></i
        ></ng-template>
      </td>
      <td>{{ item.startDate | TimeFormatePipeNow }}</td>
      <td>{{ item.endDate | TimeFormatePipeNow }}</td>
      <td>
        <button (click)="dialog.showEditModal(item)" nz-button nzType="default">
          {{ "system-settings.message-management.common.update" | translate }}
        </button>

        <button
          nz-popconfirm
          [nzTitle]="
            'common._delete_confirm'
              | translate
                : {
                    name:
                      'system-settings.message-management.carousel.title'
                      | translate
                  }
          "
          (nzOnConfirm)="handleDelete(item)"
          nzPlacement="top"
          nz-button
        >
          {{ "system-settings.message-management.common.delete" | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
<app-carousel-form-dialog
  (submit)="searchData(true)"
  #dialog
></app-carousel-form-dialog>
