<link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">{{code}}</span>
        <div class="mb-4 lead">{{msg}}</div>
        <a href="#" (click)="backToHome();" class="btn btn-link">返回首页</a>
      </div>
    </div>
  </div>
</div>