<div>
  <nz-radio-group [(ngModel)]="activeMode" [nzButtonStyle]="'solid'">
    <label nz-radio-button nzValue="business" class="nav-btn">业务流程管理</label>
    <label nz-radio-button nzValue="approve" class="nav-btn">审批流程管理</label>
  </nz-radio-group>
</div>

<div class="list-container" *ngIf="activeMode==='business'">
  <sp-setting-business-proc-list></sp-setting-business-proc-list>
</div>
<div class="list-container" *ngIf="activeMode==='approve'">
  <sp-setting-approve-proc-list></sp-setting-approve-proc-list>
</div>