<div>
    <div class="first">
        <div nz-row>
            <div nz-col nzSpan="12">
                <nz-form-item>
                    <nz-form-label [nzSm]="3" [nzXs]="24">业务模式</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <input type="text" class="form-control" disabled value="默认投标申请表带入">
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <!-- <span>业务模式</span>
        <input type="text" class="form-control" disabled value="默认投标申请表带入"> -->
        <!-- <nz-select name="name" [(ngModel)]="stockCode" (ngModelChange)="selectChange()" class="wid200">
            <nz-option *ngFor="let item of empowerList let i=index" [nzValue]="item.value" [nzLabel]="item.name">
            </nz-option>
        </nz-select> -->
    </div>
    <div class="form">
        <div class="title">
            授权详情 Direct Deal
        </div>
        <div *ngIf="models">
            <div nz-row class="p20 mt10">
                <a href="javascript:">在线提交参与投标声明函</a>
                <a href="javascript:" class="ml10">打印签署投标声明函</a>
            </div>
            <div nz-row class="p20 mt10">
                <span>上传招标文件</span>
                <a href="javascript:">2021HNS-2231 招标文件.docx    </a>
            </div>
            <div nz-row class="p20 mt10">
                <div class="explain">物流条款说明</div>
                <textarea rows="4" class="textarea" disabled></textarea>
            </div>
            <div nz-row class="p20 mt10">
                <div class="explain">非长清单第三方产品</div>
                <textarea rows="4" class="textarea" disabled></textarea>
            </div>
            <div nz-row class="p20 mt10">
                <div class="explain">售后维修条款说明</div>
                <textarea rows="4" class="textarea" disabled></textarea>
            </div>
            <div nz-row class="p20 mt10">
                <div class="explain">投标保证金及履约保证金额说明</div>
            </div>
            <div nz-row class="p20 mt10">
                <div class="explain flex">
                    A.预计投标价格：币种
                    <nz-select disabled style="width: 120px;margin-left:10px" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
                        <nz-option nzValue="jack" nzLabel="USD"></nz-option>
                        <nz-option nzValue="lucy" nzLabel="CNY"></nz-option>
                    </nz-select>
                    <span class="ml10">金额</span>
                    <input disabled nz-input placeholder="" nzSize="middle" class="flex-short" />
                </div>
            </div>
            <div nz-row class="p20 mt10">
                <div class="explain flex">
                    B.投标保证金：不小于投标总价的
                    <input disabled nz-input placeholder="" nzSize="middle" class="flex-min" />% （参考国际招标文件第六章*15.1）
                    <span class="ml10">金额</span>
                    <input disabled nz-input placeholder="" nzSize="middle" class="flex-min" />
                </div>
            </div>
            <div nz-row class="p20 mt10">
                <div class="explain flex">
                    C.履约保证金：合同总价的
                    <input disabled nz-input placeholder="" nzSize="middle" class="flex-min" /> % （参考国际招标文件第六章7.1）
                </div>
            </div>

            <div nz-row class="p20 mt10">
                <div class="explain flex">
                    付款方式说明
                    <nz-select disabled style="width: 120px;margin-left:10px" [(ngModel)]="selectedValue" nzAllowClear nzPlaceHolder="Choose">
                        <nz-option nzValue="1" nzLabel="是"></nz-option>
                        <nz-option nzValue="0" nzLabel="否"></nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-row class="p20 mt10">
                <textarea rows="4" disabled class="textarea"></textarea>
            </div>
            <div nz-row class="p20 mt10">
                <div class="explain">技术条款说明</div>
                <textarea disabled rows="4" class="textarea"></textarea>
            </div>
            <div nz-row class="p20 mt10">
                <div class="explain">涉及法律条款说明</div>
                <textarea disabled rows="4" class="textarea"></textarea>
            </div>
        </div>
        <div *ngIf="!models">
            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-form-item class="mb6">
                        <nz-form-label [nzSpan]="6" nzRequired nzFor="email">是否投标授权</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <nz-radio-group name="radio" [(ngModel)]="radioValue">
                                <label nz-radio nzValue='1'>是</label>
                                <label nz-radio nzValue='0'>否</label>
                            </nz-radio-group>
                            <span>
                民营医院直接进单
                <button nz-button *ngIf="radioValue==0" class="ml6" nzType="primary" [nzSize]="6" (click)="showFill()">
                  填写/查看支持信息</button>
              </span>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-form-item class="mb6">
                        <nz-form-label [nzSpan]="6" nzRequired nzFor="email">二级代理商投标</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <nz-radio-group name="radio" [(ngModel)]="secondLevel">
                                <label nz-radio nzValue='1'>是</label>
                                <label nz-radio nzValue='2'>否</label>
                            </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item class="mb6">
                        <nz-form-label [nzSpan]="6" nzRequired nzFor="email">投标公司名称</nz-form-label>
                        <nz-form-control [nzSpan]="10">
                            <input nz-input name="email" [(ngModel)]="company.nameCn" type="email">
                        </nz-form-control>
                        <nz-form-control [nzSpan]="4">
                            <button nz-button class="ml6" nzType="primary" (click)="showAgent()">选择代理商</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-form-item class="mb6">
                        <nz-form-label [nzSpan]="6" nzRequired nzFor="email">投标公司DDP状态</nz-form-label>
                        <nz-form-control [nzSpan]="18">
                            <nz-select name="name" [(ngModel)]="adopt">
                                <nz-option *ngFor="let item of stats let i=index" [nzValue]="item.value" [nzLabel]="item.name">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-form-item class="mb6">
                        <nz-form-label [nzSpan]="6" nzRequired nzFor="email">协议代理商名称</nz-form-label>
                        <nz-form-control [nzSpan]="10">
                            <input nz-input name="email" [(ngModel)]="agreement.nameCn" type="email">
                        </nz-form-control>
                        <nz-form-control [nzSpan]="4">
                            <button nz-button class="ml6" nzType="primary" (click)="showAgre()">选择代理商</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row class="lightgray pl68">
                请在清单中对照申请区域及产品选择准确内容
            </div>
            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-form-item class="mb6">
                        <nz-form-label [nzSpan]="6" nzFor="email">打印投标申请函</nz-form-label>
                        <nz-form-control [nzSpan]="10">
                            <a class="down" href="javascript:">投标申请函模板</a>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-form-item class="mb6">
                        <nz-form-label [nzSpan]="6" nzRequired nzFor="email">上传盖章后的投标申请函</nz-form-label>
                        <nz-form-control [nzSpan]="4">
                            <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/">
                                <button nz-button><i nz-icon nzType="upload"></i><span>文件上传</span></button>
                            </nz-upload>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-form-item class="mb6">
                        <nz-form-label [nzSpan]="6" nzFor="email">打印投标申请函</nz-form-label>
                        <nz-form-control [nzSpan]="14">
                            <a class="down" href="javascript:">飞利浦不出具投标授权</a>
                            <a class="down ml10" href="javascript:">飞利浦直接出授权给二级代理商</a>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-row>
                <div class="flex">
                    <div>协议代理商出具投标委托函 <br>非二级代理商投标模式无需上传</div>
                    <nz-upload class="ml10" nzAction="https://jsonplaceholder.typicode.com/posts/">
                        <button nz-button><i nz-icon nzType="upload"></i><span>文件上传</span></button>
                    </nz-upload>
                </div>
            </div>
        </div>
    </div>
    <nz-modal [(nzVisible)]="isBid" nzWidth="1000px" nzTitle="选择代理商" (nzOnCancel)="isBidCancel()" (nzOnOk)="isBidagentOk()">
        <app-agentshow #child1></app-agentshow>
    </nz-modal>
    <nz-modal [(nzVisible)]="isAgre" nzWidth="1000px" nzTitle="选择代理商" (nzOnCancel)="isAgreCancel()" (nzOnOk)="isAgregentOk()">
        <app-agentshow #child2></app-agentshow>
    </nz-modal>
</div>
