<h4 class="font-weight-bold py-3">
  <span>数据字典</span>
</h4>
<div class="card-container">
  <nz-card
    [ngClass]="{ 'mtb1rem': true }"
  >
    <igt-DictionaryForm
      (passFormValues)="updateParams($event)"
      (passModelSwitch)="controlModel($event)"
      (passIsCreate)="updateIsCreate($event)"
    ></igt-DictionaryForm>
    <igt-DictionaryTable
      (updateTable)="updateDataList($event)"
      (setLoading)="getLoading($event)"
      (passModelSwitch)="controlModel($event)"
      (passItem)="updateFormData($event)"
      (passIsCreate)="updateIsCreate($event)"
      [listOfMapData]="listOfMapData"
      [total]="total"
      [loading]="loading"
    ></igt-DictionaryTable>
    <igt-DictionaryModel
      [isVisible]="isVisible"
      [formData]="formData"
      [isCreate]="isCreate"
      (passModelSwitch)="controlModel($event)"
      (reloadTable)="reloadTable($event)"
    ></igt-DictionaryModel>
  </nz-card>
</div>
