.sub-title {
    color: #888;
    font-size: 14px;
    padding: 15px 0 9px 15px;
  }
  .not-square-grid .am-grid-icon {
    width: 40px;
    height: 60px;
  }
  
  // ng zorro list style
  .demo-loadmore-list {
    min-height: 350px;
  }
  .loadmore {
    text-align: center;
    margin-top: 8px;
    height: 25px;
    line-height: 325px;
  }