<form nz-form [formGroup]="orderInfo">
  <nz-card class="mtb1rem" nzTitle="订单信息">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>订单类型</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-select formControlName="orderType" nzPlaceHolder="请选择订单类型">
              <nz-option *ngFor="let item of selectOptions.orderTypes" [nzLabel]="item.label" [nzValue]="item.value">
              </nz-option>
            </nz-select>
            <nz-form-explain *ngIf="orderInfo.get('orderType')?.dirty && orderInfo.get('orderType')?.errors">
              请选择订单类型
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">Reference ID</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-input-group style="width: 100%" [nzAddOnAfter]="importReferenceBtn">
              <input type="text" nz-input formControlName="referenceId" class="flex-grow-1" />
            </nz-input-group>
            <ng-template #importReferenceBtn>
              <button *ngIf="editable" nz-button nzType="primary" class="ml-md"
                (click)="onShowReferenceModal()">导入数据</button>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">产品型号</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input type="text" nz-input formControlName="productType" disabled />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>产品线</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-select formControlName="bmc" nzPlaceHolder="请选择产品线">
              <nz-option *ngFor="let item of bmcList" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="orderInfo.get('bmc')?.dirty && orderInfo.get('bmc')?.errors">
              请选择产品线
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">BG</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input type="text" nz-input formControlName="bg" disabled />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">销售区域</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-input-group style="width: 100%;font-size: 0;">
              <nz-select formControlName="cycleGroup" style="width: 48%;margin-right:4%"
                [nzPlaceHolder]="editable ? 'Team/Cycle Group' : ''" (ngModelChange)="onCycleGroupChange()">
                <nz-option *ngFor="let item of spService.cycleGroups" [nzLabel]="item.label" [nzValue]="item.value">
                </nz-option>
              </nz-select>

              <nz-select formControlName="bigArea" style="width: 48%" [nzPlaceHolder]="editable ? 'Region' : ''">
                <nz-option *ngFor="let item of bigAreas" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
                <nz-option *ngIf="bigAreas.length === 0" nzLabel="请先选择Team/Cycle Group" [nzDisabled]="true"></nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>业务模式</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-select formControlName="businessModel" nzPlaceHolder="请选择业务模式" #businessModel>
              <nz-option *ngFor="let item of selectOptions.businessModels" [nzLabel]="item.label"
                [nzValue]="item.value"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="orderInfo.get('businessModel')?.dirty && orderInfo.get('businessModel')?.errors">
              请选择业务模式
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row *ngIf="businessModel.value===BUSINESS_MODEL.DISTRIBUTOR_DEAL">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">经销商名称</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14"
            [ngClass]="orderInfo.get('dealerName')?.dirty && orderInfo.errors?.hospitalDealerRequired ? 'has-error' : ''">
            <nz-input-group style="width: 100%" [nzSuffix]="clearDealerBtn" [nzAddOnAfter]="selectDealerBtn">
              <input type="text" nz-input formControlName="dealerName" [placeholder]="editable ? '点击右侧按钮选择经销商' : ''" />
            </nz-input-group>
            <ng-template #clearDealerBtn>
              <i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                *ngIf="orderInfo.get('dealerName').value && editable" (click)="onClearDealer()"></i>
            </ng-template>

            <ng-template #selectDealerBtn>
              <button *ngIf="editable" nz-button nzType="primary" class="ml-md"
                (click)="onShowSelectDealerModal()">选择经销商</button>
            </ng-template>
            <nz-form-explain *ngIf="orderInfo.get('dealerName')?.dirty && orderInfo.errors?.hospitalDealerRequired">
              请选择医院或者经销商
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">经销商编号</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input nz-input formControlName="dealerCode" disabled />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" [nzRequired]="businessModel.value!==BUSINESS_MODEL.DISTRIBUTOR_DEAL">医院名称
          </nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14"
            [ngClass]="orderInfo.get('hospitalName')?.dirty && (orderInfo.errors?.hospitalDealerRequired || orderInfo.errors?.hospitalRequired) ? 'has-error' : ''">
            <nz-input-group style="width: 100%" [nzSuffix]="clearHospitalBtn" [nzAddOnAfter]="selectHospitalBtn">
              <input id="hospitalName" type="text" nz-input formControlName="hospitalName"
                [placeholder]="editable ? '点击右侧按钮选择医院' : ''" />
            </nz-input-group>

            <ng-template #clearHospitalBtn>
              <i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
                *ngIf="orderInfo.get('hospitalName').value && editable" (click)="onClearHospital()"></i>
            </ng-template>

            <ng-template #selectHospitalBtn>
              <button *ngIf="editable" nz-button nzType="primary" class="ml-md"
                (click)="onShowSelectHospitalModal()">选择医院</button>
            </ng-template>
            <nz-form-explain *ngIf="orderInfo.get('hospitalName')?.dirty && orderInfo.errors?.hospitalDealerRequired">
              请选择医院或者经销商
            </nz-form-explain>
            <nz-form-explain *ngIf="orderInfo.get('hospitalName')?.dirty && orderInfo.errors?.hospitalRequired">
              请选择医院
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" [nzRequired]="businessModel.value!==BUSINESS_MODEL.DISTRIBUTOR_DEAL">医院编号
          </nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input id="hospitalNo" nz-input formControlName="hospitalNo" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired nzFor="sapOrderNo">SAP订单号(SO#)</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input id="sapOrderNo" nz-input formControlName="sapOrderNo" maxlength="50" />
            <nz-form-explain *ngIf="orderInfo.get('sapOrderNo')?.dirty && orderInfo.get('sapOrderNo')?.errors">
              请填写SAP订单号(SO#)
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXs="24" nzSm="24" nzMd="8" nzXl="8" nzXXl="6" nzRequired nzFor="orderAmount">合同金额
          </nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-form-control nzXs="24" nzSm="24" nzMd="9">
              <nz-input-number id="orderAmount" style="width: 100%;" formControlName="orderAmount"
                [ngModel]="orderInfo.get('orderAmount').value|pricePermissions" [nzMin]="0">
              </nz-input-number>
              <nz-form-explain *ngIf="orderInfo.get('orderAmount')?.dirty && orderInfo.get('orderAmount')?.errors">
                请填写合同金额
              </nz-form-explain>
            </nz-form-control>

            <nz-form-label nzXs="24" nzSm="24" nzMd="6" nzRequired>币制</nz-form-label>
            <nz-form-control nzXs="24" nzSm="24" nzMd="9">
              <nz-select formControlName="currency" nzPlaceHolder="Select 请选择币制" #currency>
                <nz-option *ngFor="let item of selectOptions.currencies" [nzLabel]="item.label" [nzValue]="item.value">
                </nz-option>
              </nz-select>
              <nz-form-explain *ngIf="orderInfo.get('currency')?.dirty && orderInfo.get('currency')?.errors">
                请选择币制
              </nz-form-explain>
            </nz-form-control>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row *ngIf="currency.value === 'USD'">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">外贸公司</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-select formControlName="foreignCompany" nzAllowClear (ngModelChange)="onForeignCompanyChange($event)">
              <nz-option *ngFor="let item of selectOptions.foreignCompanies" [nzLabel]="item.corporateName"
                [nzValue]="item.corporateName"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">外贸公司编号</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input nz-input formControlName="foreignCompanyNo" disabled />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6">OM</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-select formControlName="om" [nzPlaceHolder]="editable ? '请选择OM' : ''">
              <nz-option *ngFor="let item of selectOptions.oms" [nzLabel]="item.label" [nzValue]="item.value">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>COO签署方</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-radio-group formControlName="cooSign">
              <label nz-radio nzValue="最终用户">最终用户</label>
              <label nz-radio nzValue="双签">双签</label>
            </nz-radio-group>
            <nz-form-explain *ngIf="orderInfo.get('cooSign')?.dirty && orderInfo.get('cooSign')?.errors">
              请选择COO签署方
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzFor="contractBuyer" nzRequired>合同买方</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input id="contractBuyer" type="text" nz-input formControlName="contractBuyer" />
            <nz-form-explain *ngIf="orderInfo.get('contractBuyer')?.dirty && orderInfo.get('contractBuyer')?.errors">
              请填写合同买方
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>飞利浦实体名称</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-select formControlName="philipsName">
              <nz-option nzLabel="飞利浦电子香港有限公司" nzValue="飞利浦电子香港有限公司"></nz-option>
              <nz-option nzLabel="飞利浦（中国）投资有限公司" nzValue="飞利浦（中国）投资有限公司"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="orderInfo.get('philipsName')?.dirty && orderInfo.get('philipsName')?.errors">
              请选择飞利浦实体名称
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired nzFor="contractNo">合同号</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input id="contractNo" type="text" nz-input formControlName="contractNo" />
            <nz-form-explain *ngIf="orderInfo.get('contractNo')?.dirty && orderInfo.get('contractNo')?.errors">
              请填写合同号
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>付款方式</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-select formControlName="paymentMethod" (ngModelChange)="onPaymentMethodChange($event)" #paymentMethod>
              <nz-option *ngFor="let item of selectOptions.paymentMethodList" [nzLabel]="item.label"
                [nzValue]="item.value"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="orderInfo.get('paymentMethod')?.dirty && orderInfo.get('paymentMethod')?.errors">
              请选择付款方式
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12" *ngIf="paymentMethod.value === PAYMENT_METHOD_PDIGT_OTHER">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>其他付款方式</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <input type="text" nz-input formControlName="paymentMethodOther" />
            <nz-form-explain
              *ngIf="orderInfo.get('paymentMethodOther')?.dirty && orderInfo.get('paymentMethodOther')?.errors">
              请填写其他付款方式
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control>
        <nz-table nzSize="small" [nzData]="products.value" [nzShowPagination]="false" nzBordered
          [nzScroll]="{ x: '1000px' }">
          <thead>
            <tr>
              <th nzWidth="200px">产品型号</th>
              <th nzWidth="120px">数量</th>
              <ng-container *ngIf="showOmField">
                <th nzWidth="200px">订单WBS#</th>
                <th nzWidth="200px">Item#</th>
                <th nzWidth="200px">设备SN号</th>
                <th nzWidth="200px">进单日期</th>
                <th nzWidth="200px">出厂日期</th>
                <th nzWidth="200px">到货日期</th>
                <th nzWidth="200px">货物送达日期</th>
              </ng-container>
            </tr>
          </thead>
          <tbody formArrayName="products">
            <tr nz-form *ngFor="let product of products.controls;let i = index" [formGroupName]="i">
              <td>
                <nz-form-item>
                  <nz-form-control>
                    <input type="text" nz-input formControlName="productType"
                      (ngModelChange)="onCalcOrderProductType($event)" />
                  </nz-form-control>
                </nz-form-item>
              </td>
              <td>
                <nz-form-item>
                  <nz-form-control>
                    <nz-input-number style="width:100%" formControlName="quantity" [nzMin]="1" [nzPrecision]="0">
                    </nz-input-number>
                    <nz-form-explain *ngIf="product.get('quantity')?.dirty && product.get('quantity')?.errors">
                      请填写数量
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </td>
              <ng-container *ngIf="showOmField">
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <input type="text" nz-input formControlName="wbsNo" />
                      <nz-form-explain *ngIf="product.get('wbsNo')?.dirty && product.get('wbsNo')?.errors">
                        请填写订单WBS#
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <input type="text" nz-input formControlName="itemNo" />
                      <nz-form-explain *ngIf="product.get('itemNo')?.dirty && product.get('itemNo')?.errors">
                        请填写Item#
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <input type="text" nz-input formControlName="equipmentSn" />
                      <nz-form-explain *ngIf="product.get('equipmentSn')?.dirty && product.get('equipmentSn')?.errors">
                        请填写设备SN号
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <shared-date-picker formControlName="orderDate"></shared-date-picker>
                      <nz-form-explain *ngIf="product.get('orderDate')?.dirty && product.get('orderDate')?.errors">
                        请选择进单日期
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <shared-date-picker formControlName="productionDate"></shared-date-picker>
                      <nz-form-explain
                        *ngIf="product.get('productionDate')?.dirty && product.get('productionDate')?.errors">
                        请选择出厂日期
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <shared-date-picker formControlName="arrivalDate"></shared-date-picker>
                      <nz-form-explain *ngIf="product.get('arrivalDate')?.dirty && product.get('arrivalDate')?.errors">
                        请选择到货日期
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <shared-date-picker formControlName="goodsDeliveryDate"></shared-date-picker>
                      <nz-form-explain
                        *ngIf="product.get('goodsDeliveryDate')?.dirty && product.get('goodsDeliveryDate')?.errors">
                        请选择货物送达日期
                      </nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </nz-table>
      </nz-form-control>
    </nz-form-item>

    <ng-container *ngIf="showOmField">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12">
          <nz-form-item>
            <nz-form-label nzXl="8" nzXXl="6" nzRequired nzFor="shipToName">Ship-to Name</nz-form-label>
            <nz-form-control nzXs="24" nzSm="24" nzMd="14">
              <input id="shipToName" type="text" nz-input formControlName="shipToName" />
              <nz-form-explain *ngIf="orderInfo.get('shipToName')?.dirty && orderInfo.get('shipToName')?.errors">
                请填写Ship-to Name
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12">
          <nz-form-item>
            <nz-form-label nzXl="8" nzXXl="6" nzRequired>全款是否已经收到</nz-form-label>
            <nz-form-control nzXs="24" nzSm="24" nzMd="14">
              <nz-radio-group formControlName="paymentReceived">
                <label nz-radio nzValue="1">是</label>
                <label nz-radio nzValue="0">否</label>
              </nz-radio-group>
              <nz-form-explain
                *ngIf="orderInfo.get('paymentReceived')?.dirty && orderInfo.get('paymentReceived')?.errors">
                请选择全款是否已经收到
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="12">
          <nz-form-item>
            <nz-form-label nzXl="8" nzXXl="6" nzRequired nzFor="receivedAmount">已收金额</nz-form-label>
            <nz-form-control nzXs="24" nzSm="24" nzMd="14">
              <nz-input-group style="width: 100%" [nzAddOnAfter]="amountPercentAddOn">
                <nz-input-number id="receivedAmount" style="width: 100%;" formControlName="receivedAmount" [nzMin]="0">
                </nz-input-number>
              </nz-input-group>
              <ng-template #amountPercentAddOn>
                <span style="display:inline-block;width:100px;text-align:left;">占比: {{ amountPercent }}</span>
              </ng-template>
              <nz-form-explain
                *ngIf="orderInfo.get('receivedAmount')?.dirty && orderInfo.get('receivedAmount')?.errors">
                请填写已收金额
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

      </div>

      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12">
          <nz-form-item>
            <nz-form-label nzXl="8" nzXXl="6" nzRequired>采购订单</nz-form-label>
            <nz-form-control nzXs="24" nzSm="24" nzMd="14">
              <shared-upload-file formControlName="purchaseOrderNo"></shared-upload-file>
              <nz-form-explain
                *ngIf="orderInfo.get('purchaseOrderNo')?.dirty && orderInfo.get('purchaseOrderNo')?.errors">
                请上传采购订单
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzXs="24" nzSm="24" nzMd="12">
          <nz-form-item>
            <nz-form-label nzXl="8" nzXXl="6" [nzRequired]="isPurchaseAgreementRequired">买卖协议</nz-form-label>
            <nz-form-control nzXs="24" nzSm="24" nzMd="14">
              <shared-upload-file formControlName="purchaseAgreement"></shared-upload-file>
              <nz-form-explain
                *ngIf="orderInfo.get('purchaseAgreement')?.dirty && orderInfo.get('purchaseAgreement')?.errors">
                请上传买卖协议
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <ng-container formGroupName="cooProduct">
        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6">是否为CIP港口</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-radio-group formControlName="cipPort">
                  <label nz-radio nzValue="1">是</label>
                  <label nz-radio nzValue="0">否</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired>POD扫描件, 如为CIP 港口导致没有POD，请提供空运单</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <shared-upload-file formControlName="airTransportNo"></shared-upload-file>
                <nz-form-explain
                  *ngIf="cooProduct.get('airTransportNo')?.dirty && cooProduct.get('airTransportNo')?.errors">
                  请上传POD扫描件/空运单
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired>送达地址类型</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <nz-select formControlName="addressType" nzPlaceHolder="Select 请选择">
                  <nz-option nzLabel="医院地址" nzValue="医院地址"></nz-option>
                  <nz-option nzLabel="代理商仓库地址" nzValue="代理商仓库地址"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="cooProduct.get('addressType')?.dirty && cooProduct.get('addressType')?.errors">
                  请选择送达地址类型
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired>货物送达地址中文</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <input type="text" nz-input formControlName="deliveryAddress" />
                <nz-form-explain
                  *ngIf="cooProduct.get('deliveryAddress')?.dirty && cooProduct.get('deliveryAddress')?.errors">
                  请填写货物送达地址中文
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired>货物送达地址英文</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <input type="text" nz-input formControlName="deliveryAddressEn" />
                <nz-form-explain
                  *ngIf="cooProduct.get('deliveryAddressEn')?.dirty && cooProduct.get('deliveryAddressEn')?.errors">
                  请填写货物送达地址英文
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired>清关口岸中文</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <input type="text" nz-input formControlName="customsClearancePort" />
                <nz-form-explain
                  *ngIf="cooProduct.get('customsClearancePort')?.dirty && cooProduct.get('customsClearancePort')?.errors">
                  请填写清关口岸中文
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item>
              <nz-form-label nzXl="8" nzXXl="6" nzRequired>清关口岸英文</nz-form-label>
              <nz-form-control nzXs="24" nzSm="24" nzMd="14">
                <input type="text" nz-input formControlName="customsClearancePortEn" />
                <nz-form-explain
                  *ngIf="cooProduct.get('customsClearancePortEn')?.dirty && cooProduct.get('customsClearancePortEn')?.errors">
                  请填写清关口岸英文
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

      </ng-container>
    </ng-container>

  </nz-card>
</form>

<form nz-form [formGroup]="cooInfo">
  <nz-card class="mtb1rem" nzTitle="COO条件校验">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>是否已装机或派单</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-radio-group formControlName="installationOrDispatch">
              <label nz-radio nzValue="1">是</label>
              <label nz-radio nzValue="0">否</label>
            </nz-radio-group>
            <ng-container
              *ngIf="cooInfo.get('installationOrDispatch')?.dirty && cooInfo.get('installationOrDispatch')?.errors">
              <nz-form-explain *ngIf="cooInfo.get('installationOrDispatch')?.errors?.required">
                请选择是否已装机或派单
              </nz-form-explain>
              <nz-form-explain *ngIf="cooInfo.get('installationOrDispatch')?.errors?.disableSubmit">
                是否已装机或派单选择"是"时, 无法提交特批申请
              </nz-form-explain>
            </ng-container>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>是否到货>3个月</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-radio-group formControlName="threeMonthsAfterArrival">
              <label nz-radio nzValue="1">是</label>
              <label nz-radio nzValue="0">否</label>
            </nz-radio-group>
            <ng-container
              *ngIf="cooInfo.get('threeMonthsAfterArrival')?.dirty && cooInfo.get('threeMonthsAfterArrival')?.errors">
              <nz-form-explain *ngIf="cooInfo.get('threeMonthsAfterArrival')?.errors?.required">
                请选择是否到货>3个月
              </nz-form-explain>
              <nz-form-explain *ngIf="cooInfo.get('threeMonthsAfterArrival')?.errors?.disableSubmit">
                是否到货>3个月选择"是"时, 无法提交特批申请
              </nz-form-explain>
            </ng-container>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>经销商是否为COO签署12个月内未签回ICF</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-radio-group formControlName="cooSignedNotIcf" (ngModelChange)="onCooSignedNotIcf($event)">
              <label nz-radio nzValue="1">是</label>
              <label nz-radio nzValue="0">否</label>
            </nz-radio-group>
            <nz-form-explain *ngIf="cooInfo.get('cooSignedNotIcf')?.dirty && cooInfo.get('cooSignedNotIcf')?.errors">
              请选择经销商是否为COO签署12个月内未签回ICF
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>是否需要特批</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <nz-radio-group formControlName="specialApproval">
              <label nz-radio nzValue="1">是</label>
              <label nz-radio nzValue="0">否</label>
            </nz-radio-group>
            <nz-form-explain *ngIf="cooInfo.get('specialApproval')?.dirty && cooInfo.get('specialApproval')?.errors">
              请选择是否需要特批
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </nz-card>

  <nz-card class="mtb1rem" nzTitle="COO文件" *ngIf="showPmField">
    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>预计签署日期</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <shared-date-picker formControlName="applySignedDate"></shared-date-picker>
            <nz-form-explain *ngIf="cooInfo.get('applySignedDate')?.dirty && cooInfo.get('applySignedDate')?.errors">
              请选择预计签署日期
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>COO确认函草稿</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <shared-upload-file formControlName="cooConfirmationLetterDraft"></shared-upload-file>
            <nz-form-explain
              *ngIf="cooInfo.get('cooConfirmationLetterDraft')?.dirty && cooInfo.get('cooConfirmationLetterDraft')?.errors">
              请上传COO确认函草稿
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>经销商盖章后的COO确认函</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <shared-upload-file formControlName="cooConfirmationLetterDealer"></shared-upload-file>
            <nz-form-explain
              *ngIf="cooInfo.get('cooConfirmationLetterDealer')?.dirty && cooInfo.get('cooConfirmationLetterDealer')?.errors">
              请上传经销商盖章后的COO确认函
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12" *ngIf="showPmFeedbackField">
        <nz-form-item>
          <nz-form-label nzXl="8" nzXXl="6" nzRequired>双签后的COO确认函</nz-form-label>
          <nz-form-control nzXs="24" nzSm="24" nzMd="14">
            <shared-upload-file formControlName="cooConfirmationLetterSign"></shared-upload-file>
            <nz-form-explain
              *ngIf="cooInfo.get('cooConfirmationLetterSign')?.dirty && cooInfo.get('cooConfirmationLetterSign')?.errors">
              请上传双签后的COO确认函
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </nz-card>
</form>

<app-select-hospital #selectHospital (select)="onSelectHospital($event)"></app-select-hospital>
<app-select-dealer #selectDealer (select)="onSelectDealer($event)"></app-select-dealer>
<app-select-reference #selectReference (select)="onSelectReference($event)"></app-select-reference>