<nz-card class="title_warpper">
  <div>
    <h4 class="font-weight-bold">
      <span>Review Bidding Application 审核投标申请表</span>
    </h4>
  </div>
</nz-card>
<app-apploading [load]="true" *ngIf="load > 0"></app-apploading>
<igt-approval-flowline></igt-approval-flowline>
<div class="demo-vertical-spacing">
    <div class="tabs-box">
      <div
        nz-row
        nzType="flex"
        nzJustify="end"
        nzAlign="middle"
        class="tabs-box-actions"
      >
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right">
              <button
                nz-button
                nzType="default"
                (click)="toReturn()"
                style="margin-right: 10px"
              >
                Return 返回
              </button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
        <ngb-tabset type="tabs" [destroyOnHide]="true" class="nav-tabs-top nav-responsive-xl" [activeId]="tab">
            <ngb-tab id="0">
                <ng-template ngbTabTitle><span class="tab-title"><strong>Bidding Application<br>投标申请表</strong></span></ng-template>
                <ng-template ngbTabContent>
                    <div class="card-body">
                        <!--基础信息-->
                        <app-applybase [isDisable]="true" [dataBase]="dataBase"></app-applybase>
                        <!--产品信息-->
                        <app-newproduct [isDisable]="true" [dataBase]="dataBase"></app-newproduct>
                        <!--补充信息-->
                        <app-supplement [isDisable]="true" [dataBase]="dataBase"></app-supplement>
                      <div style="padding: 10px 0;text-align: right">
<!--                        <button  nz-button class="nextbtn ml6" nzType="primary" (click)="upTab('l')">上一步</button>-->
                            <button  nz-button class="nextbtn ml6" nzType="primary" (click)="upTab('n')">Next 下一步</button>
                      </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="1">
                <ng-template ngbTabTitle><span class="tab-title"><strong>Approval<br> 审批</strong></span></ng-template>
                <ng-template ngbTabContent>
                    <div class="card-body">
                        <app-review [urls]="urls" [dataBase]="dataBase" [(labarr)]="labarr" [isVisibleDate]="isVisibleDate" [contractEndDate]="contractEndDate" [fileList]="fileList"></app-review>
                      <div style="padding: 10px 0;text-align: right">
                        <button  nz-button class="nextbtn ml6" nzType="primary" (click)="upTab('l')">Back 上一步</button>
<!--                        <button  nz-button class="nextbtn ml6" nzType="primary" (click)="upTab('n')">下一步</button>-->
                      </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>
