<nz-alert nzType="info" nzMessage="请选择至少一位审批人。选择多位审批人时，需所有人审批通过" nzShowIcon></nz-alert>
<nz-card class="mtb1rem" nzTitle="审批人选择">
  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
    <div nz-col nzXs="24" nzSm="24" nzMd="12">
      <nz-form-item>
        <nz-form-label nzXl="8" nzXXl="6" nzRequired>审批人</nz-form-label>
        <nz-form-control nzXs="24" nzSm="24" nzMd="14">
          <nz-select nzSize="large" style="width: 100%" nzPlaceHolder="请选择" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let item of selectOptions.approvers" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</nz-card>