.baseInfoHeader{
      text-align: center;
      margin-top: 10px;
      font-weight:bold;
    }

.infoTabs div{
      width: 50%;
      height: 60px;
      float: left;
      text-align: center;
      line-height: 60px;
  }

.infoTabs{clear: left;}

::ng-deep .ant-modal-body {
  padding: 0;
}