@import "styles/media_query.scss";
.first {
  margin-bottom: 20px;
}

.input-group-append {
  height: 38px;
}
.ywms {
  min-width: 192px;
}
.zbsq {
  margin-bottom: 10px;
}
.labelcs {
  width: 230px;
  text-align: center;
  display: inline-block;
}
.ml10 {
  margin-left: 10px;
}
.wid200 {
  width: 300px;
}
.item {
  margin-top: 10px;
}
.form {
  border: 1px solid #ddd;
  padding: 20px 0px;
  position: relative;
  .title {
    position: absolute;
    padding: 3px 6px;
    top: -16px;
    left: 24px;
    background: #fff;
    font-size: 16px;
    color: #333;
    font-weight: 600;
  }
}
.ml10 {
  margin-left: 10px;
}
/deep/.mb0 label {
  margin: 0px;
}
.ml {
  margin-left: 10px;
}

.mt10 {
  margin-top: 10px;
}
.lm10 {
  margin-left: -10px;
  i {
    margin-right: 10px;
  }
}
.larg {
  color: #999;
  font-weight: 500;
  margin: -5px 0px 0px 0px;
  display: block;
  font-size: 12px;
}

.mb20 {
  margin-bottom: 20px;
}

.p20 {
  padding: 0px 48px;
}

.ml10 {
  margin-left: 10px;
}

.ml6 {
  margin-left: 6px;
}

.pl68 {
  padding: 0px 60px;
}

.pl30 {
  padding-left: 30px;
}

.textarea {
  width: 100%;
  border: 1px solid #ddd;
}
.textarea1 {
  width: 100%;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
}
.ml1 {
  margin-left: -4px;
}
.wid200 {
  width: 300px;
}
.plr6 {
  padding: 0px 6px;
}
.flex {
  display: flex;
  align-items: center;
  &-short {
    width: 100px;
    margin: 0px 10px;
  }
  &-min {
    width: 80px;
    margin-left: 10px;
  }
}
.lightgray {
  color: #999;
  line-height: 20px;
  height: 20px;
  font-size: 12px;
}
.nml10 {
  margin-left: -10px;
}

.down {
  color: #00cc66;
}
.note {
  @media screen and (max-width: $screen-xs-max) {
    display: block;
  }
}
.itbox {
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 3px 10px;
  border-radius: 2px;
}
::ng-deep .tooltip-pree {
  width: 1000px !important;
  min-width: 500px !important;
}
pre {
  width: 100%;
  font-size: 14px;
  color: #efefef;
}
.highlight {
  color: red !important;
  font-weight: bold;
}

.title-head {
  display: flex;
  margin-bottom: 10px;
  padding-left: 22px;
  .ml20 {
    margin-left: 20px;
  }
}
.tr {
  text-align: right;
}
.pr {
  position: relative;
  .cancel,
  .submit,
  .save {
    position: absolute;
    right: 10px;
    top: 0px;
    z-index: 999;
  }
  .cancel {
    right: 200px;
  }
  .submit {
    right: 10px;
  }
  .save {
    right: 153px;
  }
}

::ng-deep .ant-form-item-control {
  margin-left: 0 !important;
}
@import "theme/common/dashboard.scss";
