<app-apploading [load]="load"></app-apploading>
 <form  nz-form [formGroup]="validateForm">
  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
    <div nz-col nzXs="24" nzSm="24" nzMd="24">
      <nz-form-item style="margin-bottom: 6px">
        <nz-form-label nzSm="6" nzXl="6" nzXXl="6" [nzNoColon]="true">
        </nz-form-label>
        <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
          <div class="warnings"><i class="icon" nz-icon nzType="warning" nzTheme="outline"></i>请确认是否{{titleName}}</div>
        </nz-form-control>
    </nz-form-item>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
    <div nz-col nzXs="24" nzSm="24" nzMd="24">
      <nz-form-item style="margin-bottom: 6px">
        <nz-form-label nzSm="6" nzXl="6" nzXXl="6"  nzRequired>Reason<br> 原因</nz-form-label>
        <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
          <nz-select style="width: 100%" nzShowSearch nzAllowClear [(ngModel)]="infor.refuseReason"
            nzPlaceHolder="" nzSize="large" formControlName="refuseReason">
            <nz-option *ngFor="let item of reasonList" [nzValue]="item.label" [nzLabel]="item.label">
            </nz-option>
          </nz-select>
          <nz-form-explain *ngIf="
          validateForm.get('refuseReason')?.dirty &&
          validateForm.get('refuseReason')?.errors
        ">
          <ng-container *ngIf="validateForm.get('refuseReason')?.hasError('required')">
            此选项必填字段</ng-container>
        </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
    <div nz-col nzXs="24" nzSm="24" nzMd="24">
      <nz-form-item style="margin-bottom: 6px">
        <nz-form-label nzSm="6" nzXl="6" nzXXl="6"><span>Remarks</span><br>备注</nz-form-label>
        <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
          <textarea nz-input oninput="if(value.length>255)value=value.slice(0,255)" nz-input placeholder=""
            formControlName="remarks" [(ngModel)]="infor.remarks" [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
          <ng-container *ngIf="infor.remarks">
            <div>还可以输入:{{infor.remarks.length}}/{{textLen}}</div>
          </ng-container>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
    <div nz-col nzXs="24" nzSm="24" nzMd="24">
      <nz-form-item style="margin-bottom: 6px">
        <nz-form-label nzSm="6" nzXl="6" nzXXl="6">Attachment<br>附件</nz-form-label>
        <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
          <div class="maxuploadto">
            <nz-upload [(nzFileList)]="fileFileList" [nzBeforeUpload]="fileBeforeUpload" [nzLimit]="1" [nzRemove]="nzRemovmr"
              [nzPreview]="dwonLoad">
              <button nz-button><i nz-icon
                  nzType="upload"></i><span>Upload 上传附件</span></button>
            </nz-upload>
            </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>

