<nz-card class="title_warpper mb-4">
  <div>
    <h4 class="font-weight-bold">
      <span>我的申请</span>
    </h4>
  </div>
</nz-card>

<div class="bg-white py-2">
  <div nzType="flex" nz-row nzJustify="center" nzAlign="middle" class="mb-2 pt-2">
    <div nz-col [nzSpan]="1" class="text-center">
      <span class="ant-avatar ant-avatar-lg ant-avatar-circle ant-avatar-icon bg-primary d-flex align-items-center justify-content-center">
        <i nz-icon nzType="control" nzTheme="outline"></i>
      </span>
    </div>
    <div nz-col [nzSpan]="1">
      <strong class="h4">{{ countData.total }}</strong> 个
      <div class="text-grey">我的申请</div>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="center" nzAlign="middle" class="pb-2">
    <div nz-col [nzSpan]="3" class="d-flex align-items-center justify-content-center">
      <nz-badge [nzStatus]="'processing'"></nz-badge>
      待审批
      <span class="text-grey-dark ml-2 mb-0">{{ countData.pending }}</span>
    </div>
    <div nz-col [nzSpan]="3" class="d-flex align-items-center justify-content-center">
      <nz-badge [nzStatus]="'success'"></nz-badge>
      已完成
      <span class="text-grey-dark ml-2 mb-0">{{ countData.approved }}</span>
    </div>
    <div nz-col [nzSpan]="3" class="d-flex align-items-center justify-content-center">
      <nz-badge [nzStatus]="'processing'"></nz-badge>
      待反馈
      <span class="text-grey-dark ml-2 mb-0">{{ countData.feedback }}</span>
    </div>
    <div nz-col [nzSpan]="3" class="d-flex align-items-center justify-content-center">
      <nz-badge [nzStatus]="'error'"></nz-badge>
      已退回
      <span class="text-grey-dark ml-2 mb-0">{{ countData.reject }}</span>
    </div>
    <div nz-col [nzSpan]="3" class="d-flex align-items-center justify-content-center">
      <nz-badge [nzStatus]="'warning'"></nz-badge>
      已撤回
      <span class="text-grey-dark ml-2 mb-0">{{ countData.withdraw }}</span>
    </div>
    <div nz-col [nzSpan]="3" class="d-flex align-items-center justify-content-center">
      <nz-badge [nzStatus]="'success'"></nz-badge>
      已取消
      <span class="text-grey-dark ml-2 mb-0">{{ countData.cancel }}</span>
    </div>
  </div>
</div>

<nz-card [nzBodyStyle]="{ padding: '12px' }">
  <form nz-form [formGroup]="formValues" (ngSubmit)="getTableData(true)">
    <div nz-row>
      <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">申请类型</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-select formControlName="type" nzAllowClear nzPlaceHolder="Select 请选择">
              <nz-option *ngFor="let type of selectOptions.applyTypes" [nzValue]="type.value" [nzLabel]="type.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">申请状态</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-select formControlName="processStatus" nzAllowClear nzPlaceHolder="Select 请选择">
              <nz-option *ngFor="let status of selectOptions.statuses" [nzValue]="status.value" [nzLabel]="status.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">BG</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-select formControlName="orderBg" nzAllowClear nzPlaceHolder="Select 请选择">
              <nz-option *ngFor="let bg of selectOptions.bgList" [nzValue]="bg.value" [nzLabel]="bg.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="keyword">关键字</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-input-group nzPrefixIcon="search" style="width: 100%">
              <input id="keyword" formControlName="keyword" nz-input placeholder="查询申请编号、经销商、医院名称、SAP订单号" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="submitDate">提交时间</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-range-picker nzFormat="yyyy年MM月dd日" style="width: 100%" id="submitDate" formControlName="submitDate"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24" style="text-align: right">
        <nz-form-item>
          <nz-form-control [nzOffset]="4">
            <button nz-button nzType="primary">
              <i nz-icon nzType="search"></i>
              搜索
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <nz-table
    [nzData]="tableData.list"
    [nzLoading]="tableData.loading"
    [nzFrontPagination]="false"
    [nzTotal]="tableData.count"
    [nzScroll]="{ x: '1000px' }"
    [(nzPageIndex)]="searchParams.pageNo"
    [(nzPageSize)]="searchParams.pageSize"
    (nzPageIndexChange)="getTableData()"
    (nzPageSizeChange)="getTableData()"
  >
    <thead>
      <tr>
        <th>申请编号</th>
        <th>申请类型</th>
        <th>发起人</th>
        <th>状态</th>
        <th>当前节点</th>
        <th>申请时间</th>
        <th nzWidth="180px" nzRight="0px">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of tableData.list">
        <td>{{ data.applyCode }}</td>
        <td>{{ spService.formatApplyType(data.applyType) }}</td>
        <td>{{ data.applicant }}</td>
        <td>{{ spService.formatRequestStatus(data.processStatus, data.nodeAction, data.status) }}</td>
        <td>{{ data.nodeName }}</td>
        <td>{{ data.createTime }}</td>
        <td nzRight="0px">
          <button nz-button nzType="primary" nzSize="small" class="bg-success" (click)="onNavigateToRequestDetail(data)">
            {{ getEditBtnTitle(data) }}
          </button>
          <button nz-button nz-popconfirm nzSize="small" nzTitle="确定取消申请?" *ngIf="['REJECTED', 'WITHDRAW'].includes(data.processStatus) && data.status == 1" (nzOnConfirm)="onCancelRequest(data)">取消申请</button>
          <button nz-button nz-popconfirm nzSize="small" nzTitle="确定撤回申请?" *ngIf="data.processStatus === 'START' && data.nodeAction !== 'feedback'" (nzOnConfirm)="onWithdrawRequest(data)">撤回</button>
          <button nz-button nz-popconfirm nzSize="small" nzTitle="确定删除草稿?" *ngIf="data.processStatus === 'DRAFT'" (nzOnConfirm)="onDeleteRequest(data)">删除</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
