<!-- <nz-table nzVirtualScroll [nzData]="tableData" [nzVirtualItemSize]="10" nzFrontPagination="false"
  [nzPageIndex]="pageParams.pageNo" [nzPageSize]="pageParams.pageSize" [nzTotal]="total" [nzLoading]="loading"
  [nzScroll]="{ x: '2200px', y: '600px' }" (nzPageIndexChange)="changePageIndex($event)" [nzShowTotal]="totalTemplate"
  (nzPageSizeChange)="changePageSize($event)" style="margin-top: 16px"> -->
<!-- [nzFrontPagination]="false"
[nzData]="listOfData"
[nzLoading]="loading"
[nzTotal]="total"
[(nzPageIndex)]="pageIndex"
[(nzPageSize)]="pageSize"
(nzPageIndexChange)="searchData()"
(nzPageSizeChange)="searchData(true)" -->
<nz-table #bestSignTable [nzData]="tableData" [nzFrontPagination]="false" [(nzPageIndex)]="pageParams.pageNo"
  [(nzPageSize)]="pageParams.pageSize" [nzTotal]="total" [nzLoading]="loading"
  [nzScroll]="{x: (formData.queryType=='todo' || formData.queryType=='handled') ? '1500px' : '2200px'}"
  (nzPageIndexChange)="changePageIndex($event)" style="margin-top: 16px">
  <thead>
    <ng-container *ngIf="formData.queryType=='todo' || formData.queryType=='handled'">
      <tr>
        <th class="tableHead" style="width: 50px" *ngIf="formData.queryType=='todo'">
          <label [nzChecked]="AllCheck()" (nzCheckedChange)="CheckAll($event)" nz-checkbox
            style="display: inline-block;">
          </label>
        </th>
        <!--<th class="tableHead" nzAlign="center" style="width: 300px">
          {{"list-pages.table-header.ref-no" | translate}}
          签署流程编号
        </th> -->
        <th class="tableHead" nzAlign="center" style="width: 200px">
          <!-- {{"list-pages.table-header.applicant" | translate}} -->
          签章发起人
        </th>
        <th class="tableHead" nzAlign="center" style="width: 240px">
          <!-- {{"list-pages.table-header.hospital-name" | translate}} -->
          最新签署文件
        </th>
        <th class="tableHead" nzAlign="center" style="width: 200px">
          <!-- {{"list-pages.table-header.task-status" | translate}} -->
          最新签署节点
        </th>
        <th class="tableHead" nzAlign="center" style="width: 240px">
          <!-- {{"list-pages.table-header.dealer-name" | translate}} -->
          签署流程
        </th>
        <th class="tableHead" nzAlign="center" style="width: 240px">
          <!-- {{"list-pages.table-header.oit-mode" | translate}} -->
          Reference No
        </th>
        <th class="tableHead" nzAlign="center" style="width: 200px">
          <!-- {{"list-pages.table-header.so" | translate}} -->
          任务状态
        </th>

        <th class="tableHead" nzAlign="center" style="width: 150px">
          <!-- {{"list-pages.table-header.business-model" | translate}} -->
          查看COS审批
        </th>
        <th class="tableHead tableAction" nzAlign="center" nzRight="0px" *ngIf="formData.queryType=='todo'">
          {{"list-pages.table-header.action" | translate}}
        </th>
      </tr>
    </ng-container>

    <ng-container *ngIf="formData.queryType=='draft' || formData.queryType=='done'">
      <tr>
        <th class="tableHead" nzAlign="center" style="width: 240px">
          {{"list-pages.table-header.ref-no" | translate}}
        </th>
        <th class="tableHead" nzAlign="center" style="width: 200px">
          {{"list-pages.table-header.task-status" | translate}}
        </th>
        <th class="tableHead" nzAlign="center" style="width: 220px">
          {{"list-pages.table-header.applicant" | translate}}
        </th>
        <th class="tableHead" nzAlign="center" style="width: 240px">
          {{"list-pages.table-header.hospital-name" | translate}}
        </th>
        <th class="tableHead" nzAlign="center" style="width: 240px">
          {{"list-pages.table-header.dealer-name" | translate}}
        </th>
        <th class="tableHead" nzAlign="center" style="width: 100px">
          {{"list-pages.table-header.business-model" | translate}}
        </th>
        <th class="tableHead" nzAlign="center" style="width: 100px">
          {{"list-pages.table-header.oit-mode" | translate}}
        </th>
        <th class="tableHead" nzAlign="center" style="width: 200px">
          {{"list-pages.table-header.so" | translate}}
        </th>
        <th class="tableHead" nzAlign="center" style="width: 200px">
          {{"list-pages.table-header.bidding-number" | translate}}
        </th>
        <th class="tableHead" nzAlign="center" style="width: 200px">
          {{"list-pages.table-header.market-bundle-name" | translate}}
        </th>
        <th class="tableHead" nzAlign="center" style="width: 200px">
          {{"list-pages.table-header.bidder-name" | translate}}
        </th>
        <th class="tableHead" nzAlign="center" style="width: 200px">
          {{"list-pages.table-header.third-check" | translate}}
        </th>
        <th class="tableHead tableAction" nzAlign="center" nzRight="0px">
          {{"list-pages.table-header.action" | translate}}
        </th>
      </tr>
    </ng-container>
  </thead>
  <tbody>
    <!-- *ngFor="let data of bestSignTable.data; index as index" -->
    <ng-container *ngIf="formData.queryType=='todo' || formData.queryType=='handled'">
      <tr *ngFor="let data of bestSignTable.data; index as index">
        <td style="width: 50px;" *ngIf="formData.queryType=='todo'">
          <label nz-checkbox [(ngModel)]="mapOfCheckedId[data.flowId]"></label>
        </td>
        <!--签署流程编号-->
        <!--<td class="tableData" style="width: 300px;" nzAlign="center">{{ data?.contractSignFlowVo?.id }}</td>-->

        <!--签署发起人-->
        <td class="tableData" style="width: 200px;" nzAlign="center">{{ data?.contractSignFlowVo?.applicantId }}</td>

        <!--最新签署文件-->
        <td class="tableData" style="width: 240px;" nzAlign="center">
          <div *ngIf="data?.contractSignFlowVo?.contracts">
            <div *ngFor="let item of data?.contractSignFlowVo?.contracts" class="contract-file">
              <span class="file-name" [title]="item.fileName">{{ item.fileName }}</span> <span class="download-btn"
                (click)="handleDownloadFile(item)">下载</span>
            </div>
          </div>
        </td>
        <!--最新签署节点-->
        <td class="tableData" style="width: 200px;" nzAlign="center">
          {{convertRole(data?.contractSignFlowVo?.currentUserRole)}}{{data?.contractSignFlowVo?.currentUserName ?
          '('+data?.contractSignFlowVo?.currentUserName+')' :
          ''}}{{convertStatusText(data?.contractSignFlowVo?.status)}}
        </td>
        <!--签署流程-->
        <td class="tableData" style="width: 240px;" nzAlign="center">
          {{ templateMap.get(data?.contractSignFlowVo?.templateId) }}
        </td>

        <!--Reference No-->
        <td class="tableData" style="width: 240px;" nzAlign="center">{{ data.referenceId }}</td>
        <!--任务状态-->
        <td class="tableData" style="width: 200px;" nzAlign="center">{{ data.taskStatus
          | ProcessTaskStatusPipe | async}}</td>

        <!--查看COS审批-->
        <td class="tableData" style="width: 150px;" nzAlign="center">
          <a style="display: block; color: #337FBF;" (click)="goDetail(data, '')">
            查看
          </a>
        </td>
        <td class="tableData tableAction" nzAlign="center" nzRight="0px" *ngIf="formData.queryType=='todo'">
          <button nz-button nzType="link" nzSize="small" (click)="goDetail(data, '1')">
            办理
          </button>

          <!--<button nz-button nzType="primary" nzSize="small" (click)="handleSingleSignContract(data)">
            确认签署
          </button>
          <br>
           <button nz-button nzType="primary" nzSize="small" style="margin:4px 0;" (click)="handleShowRejectModal(data)">
            驳回反馈
          </button><br>
          <button nz-button nzType="danger" nzSize="small" (click)="handleCancel(data)">
            确认作废
          </button> -->
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="formData.queryType=='draft' || formData.queryType=='done'">
      <tr *ngFor="let data of bestSignTable.data; index as index">
        <td class="tableData" style="width: 240px;" nzAlign="center">{{ data.referenceId }}</td>
        <td *ngIf="data.procPhase === 'p3'" class="tableData" style="width: 200px;" nzAlign="center">{{
          data.taskStatus
          | ProcessTaskStatusPipe | async}}</td>
        <td *ngIf="data.procPhase != 'p3'" class="tableData" style="width: 200px;" nzAlign="center">{{ data.taskStatus
          |
          ProcessStatusPipe}}</td>
        <td class="tableData" style="width: 220px;" nzAlign="center">{{ data.applicant }}</td>
        <td class="tableData" style="width: 240px;" nzAlign="center">{{ data.hospitalName }}</td>
        <td class="tableData" style="width: 240px;" nzAlign="center">{{ data.dealerName }}</td>
        <td class="tableData" style="width: 100px;" nzAlign="center">{{ data.businessModel | ProcessModel}}</td>
        <td class="tableData" style="width: 100px;" nzAlign="center">{{ ProOitModeType(data.oitMode?data.oitMode:''
          )}}
        </td>
        <td class="tableData" style="width: 200px;" nzAlign="center">{{ data.so }}</td>
        <td class="tableData" style="width: 200px;" nzAlign="center">{{ data.biddingNumber }}</td>
        <td class="tableData" style="width: 200px;" nzAlign="center">{{ data.marketBundleName }}</td>
        <td class="tableData" style="width: 200px;" nzAlign="center">{{ data.bidderName }}</td>
        <td class="tableData" style="width: 200px;" nzAlign="center">{{ data.productVerificationInformation }}</td>
        <td class="tableData tableAction" nzAlign="center" nzRight="0px">
          <a style="display: block; color: #337FBF;" (click)="goDetail(data, '1')">
            查看
          </a>
        </td>
      </tr>
    </ng-container>

  </tbody>

</nz-table>
<ng-template #totalTemplate let-total> {{"list-pages.list-total" | translate: { total: total} }} </ng-template>
<nz-modal [(nzVisible)]="rejectModalVisible" nzWidth="650px" nzTitle="驳回反馈" [nzFooter]="modalFooter">
  <form nz-form [formGroup]="rejectForm">
    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzMd="24">
        <nz-form-item>
          <nz-form-label nzXs="8" nzSm="8" nzMd="8" nzXl="8" nzXXl="6">
            驳回原因
          </nz-form-label>
          <nz-form-control nzXs="14" nzSm="14" nzMd="14">
            <textarea class="textarea" nz-input formControlName="reason" rows="4"></textarea>
          </nz-form-control>
        </nz-form-item>
        <div style="text-align: center">系统将通过邮件通知发起人，进行撤回操作</div>
      </div>
    </div>
  </form>
  <ng-template #modalFooter>
    <button nz-button nzType="default"
      (click)="rejectModalVisible=false">{{'orderv3.components.change-order-popup.cancel' |
      translate}}</button>
    <button nz-button nzType="primary" [nzLoading]="rejectSubmitLoading"
      (click)="handleSubmitReject()">{{'orderv3.components.change-order-popup.ok' | translate}}</button>
  </ng-template>
</nz-modal>
