<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage - 主页</title>
  </head>
  <body>
    <div class="homepage-container">
      <div class="row d-flex flex-row first-row mb-4">
        <div class="flex-fill mr-4 card placeImage"></div>
        <div class="col-lg-2 col-sm-12 card quick_link">
          <div class="card-header">
            <i nz-icon type="link"></i><span>Quick Link</span>
          </div>
          <div class="card-body">
            <ul>
              <li *ngFor="let item of linkList">
                <a [href]="item.label" target="_blank" > <i nz-icon type="global"></i>{{item.tag}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row d-flex flex-row second-row">
        <div class="mr-4 card user-manual-group">
          <div class="card-header"><i nz-icon type="read"></i>Q&A</div>
          <div class="card-body d-flex  user-manual-body" >
            <div class="user-manual-container">
              <div *ngFor="let item of manualList" class="user-manual manual-unfold">
                <a href="javascript:" (click)="openPdf(item.value,item.tag)">
                  <div class="user-manual-title">{{item.tag}}</div>
                  <!-- <span class="user-manual-meta" *ngIf="item.unfold">{{item.tag}}</span> -->
                </a>
              </div>
            </div>
          </div>
        </div>
        <div
          (click)="handleClick()"
          (mouseenter)="handleHover()"
          (mouseleave)="handleLeave()"
          class="mr-4 card dashboard_nav"
        >
          <div class="dashboard_nav_shadow">
            <div class="dashboard_cycle_decoration"></div>
          </div>
          <div
            [ngClass]="{
              ShowDashboard: showDashboard,
              HideDashboard: !showDashboard
            }"
            [routerLink]="['']"
            class="card-body d-flex flex-column"
          >
            <div class="dashboard_intro">
              <span class="nav_title"
                ><i nz-icon type="dashboard"></i>&nbsp;我的工作台
                <!-- <b class="todo_count">{{ todoList.length }}</b> -->
              </span>
              <!-- <div>
                <ul>
                  <li *ngFor="let item of todoList">
                    <span
                      [ngClass]="{
                        entered: item.isEntered
                      }"
                      *ngIf="item.isDisplay"
                      >{{ item.label }}</span
                    >
                  </li>
                </ul>
              </div> -->
            </div>
            <div class="dashboard_entry">
              <span class="nav_title"
                >进入工作台&nbsp;<i nz-icon type="dashboard"></i
              ></span>
            </div>
          </div>
        </div>
        <div class="card user-card-group">
          <div class="card-header">
            <i nz-icon type="team"></i>System Support
          </div>
          <div class="card-content">
          </div>
          <!-- <div class="card-body-group">
            <div *ngFor="let item of supportList;let i = index" class="card-body">
              <div class="user-card" [ngClass]="{'left-avatar':i%2!==0,'right-avatar':i%2===0}">
                <div class="user-card-body">
                  <div class="user-card-avatar">
                    <img [src]="item.avatar" alt="">
                  </div>
                  <div>
                    <div class="user-card-name">{{item.name}}</div>
                    <div class="user-card-info">
                      <span>{{item.job}}</span>
                      <p>Mobile: {{item.mobile}}</p>
                      <p>Email: {{item.email}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="card-body-group">
            <div *ngFor="let item of supportList;let i = index" class="card-body">
              <div class="user-card">
                <div class="user-card-body">                  
                  <div>
                    <div class="user-card-name">{{item.name}}</div>
                    <div *ngFor="let it of item.comment" class="user-card-info" [innerHTML]="it.name">                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>
