<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage - 主页</title>
  </head>
  <body>
    <div class="homepage-container">
      <!-- message -->
      <div style="padding-bottom: 16px" *ngIf="message_length > 0">
        <div *ngFor="let item of message_error" class="message_div" #message>
          <nz-alert nzType="error" [nzMessage]="item.label" nzCloseable (nzOnClose)="closeMessage(message)"></nz-alert>
        </div>
        <div *ngFor="let item of message_info" class="message_div" #message>
          <nz-alert nzType="info" [nzMessage]="item.label" nzCloseable (nzOnClose)="closeMessage(message)"></nz-alert>
        </div>
        <div *ngFor="let item of message_warning" class="message_div" #message>
          <nz-alert nzType="warning" [nzMessage]="item.label" nzCloseable (nzOnClose)="closeMessage(message)"></nz-alert>
        </div>
      </div>
      <div class="">
        <div>
          <div class="float-left carousel-wrapper">
            <div class="flex-fill mr-4 card placeImage">
              <nz-carousel
                [nzEffect]="effect"
                [nzAutoPlay]="true"
                [nzAutoPlaySpeed]="5000"
              >
                <!-- 入口 -->
                <div nz-carousel-content>
                  <div style="display: flex">
                    <div
                      (click)="handleClick('/homepage')"
                      (mouseenter)="handleHover()"
                      (mouseleave)="handleLeave()"
                      class="card dashboard_nav"
                    >
                      <div class="dashboard_nav_shadow">
                        <div class="dashboard_cycle_decoration"></div>
                      </div>
                      <div
                        [ngClass]="{
                          ShowDashboard: showDashboard,
                          HideDashboard: !showDashboard
                        }"
                        [routerLink]="['']"
                        class="card-body d-flex flex-column"
                      >
                        <div class="dashboard_intro">
                          <div class="nav_title">
                            <i nz-icon type="dashboard"></i>&nbsp;我的工作台
                          </div>
                        </div>
                        <div class="dashboard_entry">
                          <div class="nav_title">
                            进入工作台&nbsp;<i nz-icon type="dashboard"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <img src="assets/image/homepage_btn.jpg" /> -->
                </div>
                <!--Special Approval-->
                <div nz-carousel-content>
                  <div class="dashboard_sp" (click)="handleClick('/special-approval/home')">
                    <div class="dashboard_shadow_sp">
                    </div>
                    <div [routerLink]="['']" class="dashboard_link">
                      <div class="nav_title">
                        <i nz-icon type="dashboard"></i>&nbsp;Special Approval
                      </div>
                    </div>

<!--                    <div class="dashboard_sp_message">-->
<!--                      特批模块已于2022年4月10日上线，OIT后的特批申请请在特批模块中发起！-->
<!--                    </div>-->
                  </div>
                </div>
                <!-- 图片 -->
                <div nz-carousel-content>
                  <img src="assets/image/homepage_banner.jpg" />
                </div>
              </nz-carousel>
            </div>
          </div>
          <div class="card quick_link float-right">
            <div class="card-header">
              <i nz-icon type="link"></i><span>Quick Link</span>
            </div>
            <div class="card-body">
              <ul>
                <li *ngFor="let item of linkList">
                  <a [href]="item.label" target="_blank">
                    <i nz-icon type="global"></i>{{ item.tag }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row d-flex flex-row QA_and_Support_row">
          <div class="mr-4 card user-manual-group">
            <div class="card-header"><i nz-icon type="read"></i>Q&A
              <nz-radio-group [(ngModel)]="qsType" [nzButtonStyle]="'solid'" style="position: absolute; right: 20px">
                <label nz-radio-button nzValue="cos" class="qa-label" [ngClass]="{'button-checked' : qsType == 'cos' , 'button-notchecked' : qsType != 'cos'}">COS</label>
                <label nz-radio-button nzValue="sp" class="qa-label" [ngClass]="{'button-checked' : qsType == 'sp', 'button-notchecked' : qsType != 'sp'}">Special Approval</label>
              </nz-radio-group>
            </div>
            <div class="card-body d-flex user-manual-body">
              <div class="user-manual-container" *ngIf="qsType == 'cos'">
                <div
                  *ngFor="let item of manualList"
                  nz-tooltip
                  [nzTitle]="item.tag"
                  class="user-manual"
                >
                  <a href="javascript:" (click)="openPdf(item)">
                    <div class="user-manual-title">{{ item.tag }}</div>
                    <!-- <span class="user-manual-meta" *ngIf="item.unfold">{{item.tag}}</span> -->
                  </a>
                </div>
              </div>
              <div class="user-manual-container" *ngIf="qsType == 'sp'">
                <div
                  *ngFor="let item of manualListSp"
                  nz-tooltip
                  [nzTitle]="item.tag"
                  class="user-manual"
                >
                  <a href="javascript:" (click)="openPdf(item)">
                    <div class="user-manual-title">{{ item.tag }}</div>
                    <!-- <span class="user-manual-meta" *ngIf="item.unfold">{{item.tag}}</span> -->
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card user-card-group">
            <div class="card-header">
              <i nz-icon type="team"></i>System Support
            </div>
            <div class="card-content"></div>
            <div class="card-body-group">
              <div
                *ngFor="let item of supportList; let i = index"
                class="card-body"
                (mouseenter)="item.active = true"
                (mouseleave)="item.active = false"
              >
                <div class="user-card">
                  <div class="user-card-body">
                    <div class="user-card-name">
                      <div>
                        {{ item.name }}
                      </div>
                    </div>
                    <div class="user-card-info">
                      <div *ngIf="!item.active">Need Help?</div>
                      <div *ngIf="item.active">
                        <div
                          *ngFor="let it of item.comment"
                          [innerHTML]="it.name"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
