<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage - 主页</title>
  </head>
  <body>
    <div class="homepage-container">
      <!-- message -->
      <div style="padding-bottom: 16px" #message_box>
        <div *ngFor="let item of message_error" class="message_div" #message>
          <div class="message message_error">
            <i style="color: #f5222d" class="message_i"><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c9-0" data-icon="close-circle" aria-hidden="true"><path d="M685.4 354.8c0-4.4-3.6-8-8-8l-66 .3L512 465.6l-99.3-118.4-66.1-.3c-4.4 0-8 3.5-8 8 0 1.9.7 3.7 1.9 5.2l130.1 155L340.5 670a8.32 8.32 0 0 0-1.9 5.2c0 4.4 3.6 8 8 8l66.1-.3L512 564.4l99.3 118.4 66 .3c4.4 0 8-3.5 8-8 0-1.9-.7-3.7-1.9-5.2L553.5 515l130.1-155c1.2-1.4 1.8-3.3 1.8-5.2z"></path><path d="M512 65C264.6 65 64 265.6 64 513s200.6 448 448 448 448-200.6 448-448S759.4 65 512 65zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path></svg></i>
            <span [innerHTML]="trusHtml(item.label)"></span>
            <a class="message_close" (click)="closeMessage(message,message_box)"><i><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c11-0" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></a>
          </div>
        </div>
        <div *ngFor="let item of message_info" class="message_div" #message>
          <div class="message message_info">
            <i style="color: #1890ff" class="message_i"><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c9-1" data-icon="info-circle" aria-hidden="true"><path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path><path d="M464 336a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm72 112h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V456c0-4.4-3.6-8-8-8z"></path></svg></i>
            <span [innerHTML]="trusHtml(item.label)"></span>
            <a class="message_close" (click)="closeMessage(message,message_box)"><i><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c11-0" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></a>
          </div>
        </div>
        <div *ngFor="let item of message_warning" class="message_div" #message>
          <div class="message message_warning">
            <i style="color: #faad14" class="message_i"><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c9-2" data-icon="exclamation-circle" aria-hidden="true"><path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path><path d="M464 688a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm24-112h48c4.4 0 8-3.6 8-8V296c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8z"></path></svg></i>
            <span [innerHTML]="trusHtml(item.label)"></span>
            <a class="message_close" (click)="closeMessage(message,message_box)"><i><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c11-0" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></a>
          </div>
        </div>
      </div>

<!--      <div style="padding-bottom: 16px" [ngClass]="{'remove':message_length < 1}">-->
<!--        <div *ngFor="let item of message_error" class="message_div" #message>-->
<!--          <div class="message message_error2">-->
<!--            <i style="color: #f5222d" class="message_i"><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c9-0" data-icon="close-circle" aria-hidden="true"><path d="M685.4 354.8c0-4.4-3.6-8-8-8l-66 .3L512 465.6l-99.3-118.4-66.1-.3c-4.4 0-8 3.5-8 8 0 1.9.7 3.7 1.9 5.2l130.1 155L340.5 670a8.32 8.32 0 0 0-1.9 5.2c0 4.4 3.6 8 8 8l66.1-.3L512 564.4l99.3 118.4 66 .3c4.4 0 8-3.5 8-8 0-1.9-.7-3.7-1.9-5.2L553.5 515l130.1-155c1.2-1.4 1.8-3.3 1.8-5.2z"></path><path d="M512 65C264.6 65 64 265.6 64 513s200.6 448 448 448 448-200.6 448-448S759.4 65 512 65zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path></svg></i>-->
<!--            <span [innerHTML]="trusHtml(item.label)"></span>-->
<!--            <a class="message_close" (click)="closeMessage(message)"><i><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c11-0" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div *ngFor="let item of message_info" class="message_div" #message>-->
<!--          <div class="message message_info2">-->
<!--            <i style="color: #1890ff" class="message_i"><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c9-1" data-icon="info-circle" aria-hidden="true"><path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path><path d="M464 336a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm72 112h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V456c0-4.4-3.6-8-8-8z"></path></svg></i>-->
<!--            <span [innerHTML]="trusHtml(item.label)"></span>-->
<!--            <a class="message_close" (click)="closeMessage(message)"><i><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c11-0" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div *ngFor="let item of message_warning" class="message_div" #message>-->
<!--          <div class="message message_warning2">-->
<!--            <i style="color: #faad14" class="message_i"><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c9-2" data-icon="exclamation-circle" aria-hidden="true"><path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path><path d="M464 688a48 48 0 1 0 96 0 48 48 0 1 0-96 0zm24-112h48c4.4 0 8-3.6 8-8V296c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8v272c0 4.4 3.6 8 8 8z"></path></svg></i>-->
<!--            <span [innerHTML]="trusHtml(item.label)"></span>-->
<!--            <a class="message_close" (click)="closeMessage(message)"><i><svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c11-0" data-icon="close" aria-hidden="true"><path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path></svg></i></a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div style="padding-bottom: 16px" *ngIf="message_length > 0">-->
<!--        <div *ngFor="let item of message_error" class="message_div" #message>-->
<!--          <nz-alert nzShowIcon nzType="error" [nzMessage]="item.label" nzCloseable (nzOnClose)="closeMessage(message)"></nz-alert>-->
<!--        </div>-->
<!--        <div *ngFor="let item of message_info" class="message_div" #message>-->
<!--          <nz-alert nzShowIcon nzType="info" [nzMessage]="item.label" nzCloseable (nzOnClose)="closeMessage(message)"></nz-alert>-->
<!--        </div>-->
<!--        <div *ngFor="let item of message_warning" class="message_div" #message>-->
<!--          <nz-alert nzShowIcon nzType="warning" [nzMessage]="item.label" nzCloseable (nzOnClose)="closeMessage(message)"></nz-alert>-->
<!--        </div>-->
<!--      </div>-->
      <div class="">
        <div>
          <div class="float-left carousel-wrapper">
            <div class="flex-fill mr-4 card placeImage">
              <nz-carousel
                [nzEffect]="effect"
                [nzAutoPlay]="true"
                [nzAutoPlaySpeed]="5000"
              >
                <!-- 入口 -->
                <div nz-carousel-content>
                  <div style="display: flex">
                    <div
                      (click)="handleClick('/homepage')"
                      (mouseenter)="handleHover()"
                      (mouseleave)="handleLeave()"
                      class="card dashboard_nav"
                    >
                      <div class="dashboard_nav_shadow">
                        <div class="dashboard_cycle_decoration"></div>
                      </div>
                      <div
                        [ngClass]="{
                          ShowDashboard: showDashboard,
                          HideDashboard: !showDashboard
                        }"
                        [routerLink]="['']"
                        class="card-body d-flex flex-column"
                      >
                        <div class="dashboard_intro">
                          <div class="nav_title">
                            <i nz-icon type="dashboard"></i>&nbsp;我的工作台
                          </div>
                        </div>
                        <div class="dashboard_entry">
                          <div class="nav_title">
                            进入工作台&nbsp;<i nz-icon type="dashboard"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <img src="assets/image/homepage_btn.jpg" /> -->
                </div>
                <!--Special Approval-->
                <div nz-carousel-content>
                  <div class="dashboard_sp" (click)="handleClick('/special-approval/home')">
                    <div class="dashboard_shadow_sp">
                    </div>
                    <div [routerLink]="['']" class="dashboard_link">
                      <div class="nav_title">
                        <i nz-icon type="dashboard"></i>&nbsp;Special Approval
                      </div>
                    </div>

<!--                    <div class="dashboard_sp_message">-->
<!--                      特批模块已于2022年4月10日上线，OIT后的特批申请请在特批模块中发起！-->
<!--                    </div>-->
                  </div>
                </div>
                <!-- 图片 -->
                <div nz-carousel-content>
                  <img src="assets/image/homepage_banner.jpg" />
                </div>
              </nz-carousel>
            </div>
          </div>
          <div class="card quick_link float-right">
            <div class="card-header">
              <i nz-icon type="link"></i><span>Quick Link</span>
            </div>
            <div class="card-body">
              <ul>
                <li *ngFor="let item of linkList">
                  <a [href]="item.label" target="_blank">
                    <i nz-icon type="global"></i>{{ item.tag }}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row d-flex flex-row QA_and_Support_row">
          <div class="mr-4 card user-manual-group">
            <div class="card-header"><i nz-icon type="read"></i>Q&A
              <nz-radio-group [(ngModel)]="qsType" [nzButtonStyle]="'solid'" style="position: absolute; right: 20px">
                <label nz-radio-button nzValue="cos" class="qa-label" [ngClass]="{'button-checked' : qsType == 'cos' , 'button-notchecked' : qsType != 'cos'}">COS</label>
                <label nz-radio-button nzValue="sp" class="qa-label" [ngClass]="{'button-checked' : qsType == 'sp', 'button-notchecked' : qsType != 'sp'}">Special Approval</label>
              </nz-radio-group>
            </div>
            <div class="card-body d-flex user-manual-body">
              <div class="user-manual-container" *ngIf="qsType == 'cos'">
                <div
                  *ngFor="let item of manualList"
                  nz-tooltip
                  [nzTitle]="item.tag"
                  class="user-manual"
                >
                  <a href="javascript:" (click)="openPdf(item)">
                    <div class="user-manual-title">{{ item.tag }}</div>
                    <!-- <span class="user-manual-meta" *ngIf="item.unfold">{{item.tag}}</span> -->
                  </a>
                </div>
              </div>
              <div class="user-manual-container" *ngIf="qsType == 'sp'">
                <div
                  *ngFor="let item of manualListSp"
                  nz-tooltip
                  [nzTitle]="item.tag"
                  class="user-manual"
                >
                  <a href="javascript:" (click)="openPdf(item)">
                    <div class="user-manual-title">{{ item.tag }}</div>
                    <!-- <span class="user-manual-meta" *ngIf="item.unfold">{{item.tag}}</span> -->
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="card user-card-group">
            <div class="card-header">
              <i nz-icon type="team"></i>System Support
            </div>
            <div class="card-content"></div>
            <div class="card-body-group">
              <div
                *ngFor="let item of supportList; let i = index"
                class="card-body"
                (mouseenter)="item.active = true"
                (mouseleave)="item.active = false"
              >
                <div class="user-card">
                  <div class="user-card-body">
                    <div class="user-card-name">
                      <div>
                        {{ item.name }}
                      </div>
                    </div>
                    <div class="user-card-info">
                      <div *ngIf="!item.active">Need Help?</div>
                      <div *ngIf="item.active">
                        <div
                          *ngFor="let it of item.comment"
                          [innerHTML]="it.name"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
