<form nz-form [formGroup]="regionForm">
  <div nz-row nzType="flex" nzJustify="space-between">
    <div nz-col>
      <h4>区域信息</h4>
    </div>
    <div nz-col></div>
  </div>
  <div nz-row>
    <!-- Level -->
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Level</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <nz-select nzSize="small" formControlName="level">
            <nz-option
              *ngFor="let item of levelOptions"
              [nzValue]="item.value"
              [nzLabel]="item.label"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- End Level -->
    <!-- Group -->
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Group</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <nz-select nzSize="small" formControlName="group">
            <nz-option
              *ngFor="let item of groupOptions"
              [nzValue]="item.value"
              [nzLabel]="item.label"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- End Group -->
    <!-- Big Area -->
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Big Area</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <nz-select nzSize="small" formControlName="bigArea">
            <nz-option
              *ngFor="let item of bigAreaOptions"
              [nzValue]="item.value"
              [nzLabel]="item.label"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- End Big Area -->
    <!-- Small Area -->
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Small Area</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <nz-select nzSize="small" formControlName="smallArea">
            <nz-option
              *ngFor="let item of smallAreaOptions"
              [nzValue]="item.value"
              [nzLabel]="item.label"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- End Small Area -->
    <!-- Province -->
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Province</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <input nzSize="small" formControlName="province" nz-input />
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- End Province -->
  </div>
</form>
<app-role-management-form-user-table [userTable]="roleUsersData" [type]="type">
</app-role-management-form-user-table>
