:root {
  --COLOR_PRIMARY: #3798db;
  --COLOR_PRIMARY_HOVER: #148de1;
  --COLOR_PRIMARY_PRESSED: #1274b8;
  --COLOR_PRIMARY_DISABLED: #a7c7e0;
  --COLOR_PRIMARY_DISABLED_TEXT: #64a2ce;
  --COLOR_SECONDARY_BORDER: #c8ced9;
  --COLOR_SECONDARY_HOVER_BORDER: #148de1;
  --COLOR_SECONDARY_PRESSED_BORDER: #1274b8;
  --COLOR_SECONDARY_DISABLED_BORDER: #dde1e8;
  --COLOR_SECONDARY_DISABLED_TEXT: #c4c9cf;
  --COLOR_SECONDARY_DISABLED_BACKGROUND: #eeeff3;
  --COLOR_DANGER: #d30201;
  --COLOR_DANGER_HOVER: #c10403;
  --COLOR_DANGER_PRESSED: #990101;
  --COLOR_TAB_INACTIVE_BG: #fff;
  --COLOR_TAB_INACTIVE_TEXT: #9aa1aa;
  --COLOR_TAB_INACTIVE_BORDER: #c7cdd8;
  --COLOR_TAB_ACTIVE_BG: #317ebf;
  --COLOR_TAB_ACTIVE_TEXT: #337fbf;
  --COLOR_TAB_ACTIVE_INDICATOR_TEXT: #fff;
  --COLOR_TAB_ERROR_BG: #d30201;
  --COLOR_TAB_ERROR_TEXT: #fff;
  --COLOR_TAB_ERROR_INDICATOR_TEXT: #d30201;
  --COLOR_TAB_LINE_BG: #dadee6;
}
