<button (click)="showDialog()" nzSize="small" nzShape="round" nz-button nzType="primary">
  <i nz-icon nzType="plus" nzTheme="outline"></i>New 新建
</button>

<nz-skeleton [nzLoading]="treeloading">
  <nz-tree #tree [nzData]="nodes" nzShowLine [nzExpandedKeys]="expandKey" [nzDefaultExpandAll]="true"
    [nzMultiple]="false" (nzClick)="nzEvent($event)"></nz-tree>
</nz-skeleton>
<!-- <ng-template #nzTreeTemplate let-node let-origin="origin">
  <span class="custom-node">
    <span *ngIf="!node.isLeaf">
      <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"></i>
      <span class="folder-name">{{ node.title }}</span>
    </span>
    <span *ngIf="node.isLeaf">
      <i nz-icon nzType="file"></i>
      <span class="file-name">{{ node.title }}</span>
    </span>
  </span>
</ng-template> -->
<nz-drawer [nzClosable]="true" [nzVisible]="ifShowDrawer" nzPlacement="right" [nzMaskClosable]="false"
  [nzTitle]="'New Area 新建区域'" [nzWidth]="'50%'" (nzOnClose)="hideDialog()" class="role-management-draw">
  <div nz-row>
    <!-- Group Type -->
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Group Type</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <nz-input-group [nzSuffix]="suffixTemplate0">
            <input nz-input nzSize="small" [(ngModel)]="groupTypeOptions">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- End Group Type -->

    <!-- Group -->
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Group</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <nz-input-group [nzSuffix]="suffixTemplate1">
            <input nz-input nzSize="small" [(ngModel)]="groupOptions" [disabled]="!groupDisabled">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- End Group -->
    <!-- Big Area -->
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Big Area</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <nz-input-group [nzSuffix]="suffixTemplate2">
            <input nz-input nzSize="small" [(ngModel)]="bigAreaOptions" [disabled]="!bigAreaDisabled">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- End Big Area -->
    <!-- Small Area -->
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Small Area</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <nz-input-group [nzSuffix]="suffixTemplate3">
            <input nz-input nzSize="small" [(ngModel)]="smallAreaOptions" [disabled]="!smallAreaDisabled">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- End Small Area -->
    <!-- Province -->
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSpan]="7"><span>Province</span><br>省份</nz-form-label>
        <nz-form-control [nzSpan]="17">
          <nz-input-group [nzSuffix]="suffixTemplate4">
            <input nz-input nzSize="small" [(ngModel)]="provinceOptions" [disabled]="!provinceDisabled">
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col>
    </div>
    <div nz-col>
      <button nz-button nzType="primary" (click)="saveArea()">Create 创建</button>
    </div>
  </div>

</nz-drawer>


<!--  下拉框=============================================================   -->

<ng-template #suffixTemplate0>
  <nz-dropdown>
    <a nz-dropdown><i nz-icon type="down"></i> </a>
    <ul nz-menu>
      <li nz-menu-item *ngFor="let item of groupTypes" (click)="log(item,0)">
        {{item.title}}
      </li>
    </ul>
  </nz-dropdown>
</ng-template>

<ng-template #suffixTemplate1>
  <nz-dropdown>
    <a nz-dropdown><i nz-icon type="down"></i> </a>
    <ul nz-menu>
      <li nz-menu-item *ngFor="let item of groups" (click)="log(item,1)">
        {{item.title}}
      </li>
    </ul>
  </nz-dropdown>
</ng-template>

<ng-template #suffixTemplate2>
  <nz-dropdown>
    <a nz-dropdown><i nz-icon type="down"></i> </a>
    <ul nz-menu>
      <li nz-menu-item *ngFor="let item of bigAreas" (click)="log(item,2)">
        {{item.title}}
      </li>
    </ul>
  </nz-dropdown>
</ng-template>

<ng-template #suffixTemplate3>
  <nz-dropdown>
    <a nz-dropdown><i nz-icon type="down"></i> </a>
    <ul nz-menu>
      <li nz-menu-item *ngFor="let item of smallAreas" (click)="log(item,3)">
        {{item.title}}
      </li>
    </ul>
  </nz-dropdown>
</ng-template>

<ng-template #suffixTemplate4>
  <nz-dropdown>
    <a nz-dropdown><i nz-icon type="down"></i> </a>
    <ul nz-menu>
      <li nz-menu-item *ngFor="let item of province" (click)="log(item,4)">
        {{item.title}}
      </li>
    </ul>
  </nz-dropdown>
</ng-template>