<nz-card class="title_warpper mb-4">
  <div>
    <h4 class="font-weight-bold">
      <span>新建审批</span>
    </h4>
  </div>
</nz-card>

<hr class="border-light container-m--x mt-0 mb-4">

<div class="demo-vertical-spacing">
  <div>
      <div class="row">
        <ng-container *ngIf="columnFilterName.length > 0">
          <ng-container *ngFor="let kv of columnFilterName ">
            <div class="col-sm-6 col-md-5 col-lg-3 mb-3" filtertype="innerts">
              <input class="form-control" #filterInputs type="text" attr.filtername="{{kv.key}}" placeholder='Filter by {{kv.value}}' (keyup)="updateFilterAll($event)">
            </div>
          </ng-container>
        </ng-container>
      </div>

    <div class="table-responsive">
      <ngx-datatable #table style="min-width: 500px"
        [rows]="rows"
        [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'"
        [headerHeight]="43"
        [footerHeight]="0"
        [rowHeight]="'auto'"
        [reorderable]="false"
        [selected]="selected"
        [limit]="10">
        <ngx-datatable-column prop="name" name="审批名称" [headerClass]="getHeaderClass" [cellClass]="getCellClass"></ngx-datatable-column>
        <ngx-datatable-column prop="lastUpdateDate" name="最后更新时间" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
          <ng-template let-value="value" ngx-datatable-cell-template>
            {{value | date:'yyyy-MM-dd'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="操作" [sortable]="false" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a href="javascript:void(0)" class="btn btn-info btn-xs" (click)="openSimpleModal(row.id, row.name)">查看流程</a>
            <a href="javascript:void(0)" class="btn btn-primary btn-xs" (click)="open($event,row.key,row.name)">发起申请</a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
