<!-- User Basic Inform -->
<div nz-row nzType="flex" nzJustify="space-between">
  <div nz-col>
    <h5>基础信息</h5>
  </div>
</div>
<div nz-row>
  <div nz-col>
    <app-user-basic-info-form
      [user]="userInform"
      [readonly]="true"
    ></app-user-basic-info-form>
  </div>
</div>
<!-- End User Basic Inform -->
<!-- Business Info-Area -->
<div nz-row nzType="flex" class="mtb1rem" nzJustify="space-between">
  <div nz-col>
    <h5>Business Info-Area</h5>
  </div>

  <div nz-col *ngIf="!readOnly">
    <button nz-button (click)="handleCreateDialog()" nzType="primary">
      添加
    </button>
  </div>
</div>
<div nz-row>
  <div nz-col>
    <app-business-info-area [dataSource]="tableData"></app-business-info-area>
  </div>
</div>
<div
  *ngIf="!readOnly"
  nz-row
  style="position: absolute; bottom: 0; right: 0; margin: 1rem"
>
  <div style="float: right">
    <button nz-button style="margin-right: 8px" (click)="handleCancel()">
      Cancel 取消
    </button>
    <button nz-button nzType="primary" (click)="handleSubmit()">Submit 提交</button>
  </div>
</div>

<!-- Business Info-Area -->

<nz-modal
  [(nzVisible)]="ifShowDialog"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  [nzMaskClosable]="false"
  [nzKeyboard]="false"
  [nzWidth]="800"
>
  <!--(nzOnCancel)="handleDialogCancel()"-->

  <ng-template #modalTitle>{{ title }}</ng-template>

  <ng-template #modalContent>
    <!-- Role-Modality-BMC  -->
    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col>
        <h5>Role-Modality-BMC</h5>
      </div>
    </div>
    <div nz-row>
      <div nz-col>
        <app-role-modality-bmc-form
          [user]="userInform"
        ></app-role-modality-bmc-form>
      </div>
    </div>
    <!-- End Role-Modality-BMC  -->
    <!-- User Basic Inform -->
    <div nz-row nzType="flex" nzJustify="space-between">
      <div nz-col>
        <h5>基础信息</h5>
      </div>
    </div>
    <div nz-row>
      <div nz-col>
        <app-user-basic-info-form
          [user]="userInform"
        ></app-user-basic-info-form>
      </div>
    </div>
    <!-- End User Basic Inform -->
  </ng-template>

  <ng-template #modalFooter>
    <button
      nz-button
      nzType="primary"
      (click)="handleDialogOK()"
      [nzLoading]="isConfirmLoading"
    >
     Save 保存
    </button>
    <button nz-button nzType="default" (click)="handleDialogCancel()">
     Cancel 取消
    </button>
  </ng-template>
</nz-modal>
