<nz-card class="title_warpper">
  <div>
    <h4 class="font-weight-bold">
      <span>Supporting Documents Upload 待补充文件上传</span>
    </h4>
  </div>
</nz-card>
<igt-approval-flowline></igt-approval-flowline>
<hr class="border-light container-m--x mt-0 mb-4">
<div class="tabs-box">
  <div nz-row nzType="flex" nzJustify="end" nzAlign="middle" class="tabs-box-actions">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;">
          <!--暂时隐藏-->
          <button nz-button *ngIf="infor.detail.status=='DBCWJSC'&&infor.detail.flag=='0'"style="margin-right:10px;"  nzType="default" (click)="cancelFn()">Cancel 取消</button>
          <button nz-button *ngIf="infor.detail.status=='DBCWJSC'&&infor.detail.flag=='1'"style="margin-right:10px;"   nzType="default" (click)="toReturn()">Return 返回</button>
          <button nz-button *ngIf="infor.detail.status=='DBCWJSC'&&infor.detail.flag=='0'" style="margin-right:10px;"   nzType="default" (click)="save(0)">Save 保存</button>
          <button nz-button *ngIf="infor.detail.status=='DBCWJSC'&&infor.detail.flag=='0'"  nzType="primary" (click)="save(1)">Submit 提交</button>
      </nz-form-control>
     </nz-form-item>
    </div>
  </div>
  <ngb-tabset type="tabs" [destroyOnHide]="false" class="nav-tabs-top nav-responsive-xl">
    <ngb-tab id="pending-tab">
      <ng-template ngbTabTitle><span class="tab-title"><strong>Contract Summary<br> 合同概要表</strong></span></ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-preOrderBaseInfo
            [disa]="true"
            [dataBase]="infor"
            [showChek]="true"
            [conTable]="true"
            [defect]="defect"
          >
          </app-preOrderBaseInfo>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="complete-tab">
      <ng-template ngbTabTitle><span class="tab-title"><strong>Order Summary<br>&nbsp;</strong></span></ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-inorder-in [dataBase]="dataBase"></app-inorder-in>
          <app-inorder-ex [dataBase]="dataBase" [disa]="true"></app-inorder-ex>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="complete-pad">
      <ng-template ngbTabTitle><span class="tab-title"><strong>Contract Signing<br> 合同签署</strong></span></ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-consign-consign [dataBase]="signingData" [mergeData]="mergeData" [disa]="true"></app-consign-consign>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="complete-pads">
      <ng-template ngbTabTitle><span class="tab-title"><strong>Approved History<br> 审批记录</strong></span></ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-emp-acc></app-emp-acc>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="complete-padd">
      <ng-template ngbTabTitle><span class="tab-title"><strong>OIT Completion<br> OIT完成</strong></span></ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
          <app-oitcomplete  [oitInfor]="oitData"></app-oitcomplete>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="change-tab" *ngIf="infor.hsId">
      <ng-template ngbTabTitle><span class="tab-title"><strong>Order Change Review<br> 审核改单</strong></span></ng-template>
      <ng-template ngbTabContent>
        <div class="card-body">
           <app-approve-change [disa]="disa" [dataBase]="infor"></app-approve-change>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
