<nz-card>
  <form nz-form [formGroup]="validateForm">
    <div nzType="flex" nz-row nzAlign="middle" nzJustify="space-between">
      <div nz-col>
        <h6>角色信息</h6>
      </div>
      <div nz-col>
        <button [disabled]="!isEditable" nz-button nzType="primary">
          编辑
        </button>
        <button *ngIf="isDeleteable" nz-button nzType="danger">删除</button>
      </div>
    </div>
    <div nz-row>
      <!--  -->
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="7">Role</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <input nzSize="small" readonly formControlName="role" nz-input />
          </nz-form-control>
        </nz-form-item>
      </div>
      <!--  -->
      <!-- Team -->
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="7">Team</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <nz-select nzSize="small" nzMode="multiple" formControlName="team">
              <nz-option
                *ngFor="let item of teamOptions"
                [nzValue]="item.value"
                [nzLabel]="item.label"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- End Team -->
      <!-- isRequestor -->
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="7">是否申请人角色</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <nz-select nzSize="small" formControlName="isRequestor">
              <nz-option [nzValue]="true" nzLabel="是"></nz-option>
              <nz-option [nzValue]="false" nzLabel="否"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- End isRequestor -->
      <!-- isApprover -->
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label [nzSpan]="7">是否审核角色</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <nz-select nzSize="small" formControlName="isApprover">
              <nz-option [nzValue]="true" nzLabel="是"></nz-option>
              <nz-option [nzValue]="false" nzLabel="否"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <!-- End isApprover -->
    </div>
  </form>
</nz-card>
