<div>
  <ng-container *ngIf="!isMultiFunnel else multiFunnelTpl" >
    <nz-collapse>
      <ng-template #funnelHeaderRef>
        <span>商机信息</span><span style="padding-right: 20px;padding-left: 20px;font-weight: bold;"><small>DMS中商机最后更新时间: {{funnel.modifyTime}}</small></span>
        <span style="float: right;padding-right: 10px;"><i nz-icon nzType="up-circle" nzTheme="outline"
            class="custom-collapse-icon" [nzRotate]="p.nzActive ? 0 : 180"></i></span>
      </ng-template>
      <nz-collapse-panel #p [nzHeader]="funnelHeaderRef" [nzActive]="isActive" [nzDisabled]="false" [nzShowArrow]="false">
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="12" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >商机名称</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.funnelName || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">商机编号</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.distributorFunnelID || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >客户名称</nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.customerCN || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >此商机对应的协议号</nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.agreementNo || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >BG</nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.bG || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >BU</nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.bU || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >科室</nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.departmentsDisplayName || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >补充科室</nz-form-label>
              <nz-form-control >
                <!-- dms未提供 -->
                <input nz-input [nzSize]="nzSize" value="" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >授权产品系列</nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.productSeries || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >授权产品</nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.product || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >公开投标时间
                <span class="funnel-label-red-plus" style="padding-left: 4px;">{{funnel.bidYear}}</span>
              </nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.bidDate || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >预计中标时间
                <span class="funnel-label-red-plus" style="padding-left: 4px;">{{funnel.winningDateYear}}</span>
              </nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.winningDate || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >预计进单时间
                <span class="funnel-label-red-plus" style="padding-left: 4px;">{{funnel.expectedYear}}</span>
              </nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.expectedDate || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >预计安装时间
                <span class="funnel-label-red-plus" style="padding-left: 4px;">{{funnel.installDateYear}}</span>
              </nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.installDate || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >数量</nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.quantity || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >币别</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.currency || ''" disabled>
                <!-- <nz-select [nzSize]="nzSize" style="width: 100%;"
                  [ngModel]="funnel.currency" nzDisabled>
                  <nz-option *ngFor="let item of currencyTypeSelect" [nzValue]="item.code" [nzLabel]="item.name">
                  </nz-option>
                </nz-select> -->
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >终端销售价格（不含税）万元</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.terminalPricing"
                  disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >可能性（%）</nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.possibility || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >客户选择倾向</nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.prefer || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >进度</nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.schedule || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >资金状况/交易实现度</nz-form-label>
              <nz-form-control >
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.financial || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >竞争对手</nz-form-label>
              <nz-form-control >
                <!-- <input nz-input [nzSize]="nzSize" value="General Electric (GE) || ''" disabled> -->
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.competitor || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="12" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon] ="true" >其他输赢信息</nz-form-label>
              <nz-form-control >
                <textarea nz-input [nzSize]="nzSize" [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                  disabled>{{firstFunnel.otherWinLoss}}</textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!--OrderType-->
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">进单类型</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="firstFunnel.orderType || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </ng-container>

  <!-- For Multi Funnel -->
  <ng-template #multiFunnelTpl>
    <nz-collapse nzAccordion>
        <nz-collapse-panel #p *ngFor="let item of funnel; index as i" [nzHeader]="multiFunnelHeaderRef" [nzShowArrow]="false" [nzActive]="i === 0">
          <ng-template #multiFunnelHeaderRef>
            <span>商机信息 {{item.distributorFunnelID || ''}}</span><span style="padding-right: 20px;padding-left: 20px;font-weight: bold;"><small>DMS中商机最后更新时间:
                {{item.modifyTime}}</small></span>
            <span style="float: right;padding-right: 10px;"><i nz-icon nzType="up-circle" nzTheme="outline"
                class="custom-collapse-icon" [nzRotate]="p.nzActive ? 0 : 180"></i></span>
          </ng-template>
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="12" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">商机名称</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.funnelName || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">商机编号</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.distributorFunnelID || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">客户名称</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.customerCN || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">此商机对应的协议号</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.agreementNo || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">BG</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.bG || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">BU</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.bU || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">科室</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.departmentsDisplayName || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">补充科室</nz-form-label>
              <nz-form-control>
                <!-- dms未提供 -->
                <input nz-input [nzSize]="nzSize" value="" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">授权产品系列</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.productSeries || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">授权产品</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.product || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">公开投标时间
                <span class="funnel-label-red-plus" style="padding-left: 4px;">{{funnel.bidYear}}</span>
              </nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.bidDate || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">预计中标时间
                <span class="funnel-label-red-plus" style="padding-left: 4px;">{{funnel.winningDateYear}}</span>
              </nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.winningDate || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">预计进单时间
                <span class="funnel-label-red-plus" style="padding-left: 4px;">{{funnel.expectedYear}}</span>
              </nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.expectedDate || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">预计安装时间
                <span class="funnel-label-red-plus" style="padding-left: 4px;">{{funnel.installDateYear}}</span>
              </nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.installDate || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">数量</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.quantity || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">币别</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.currency || ''" disabled>
                <!-- <nz-select [nzSize]="nzSize" style="width: 100%;"
                  [ngModel]="funnel.currency" nzDisabled>
                  <nz-option *ngFor="let item of currencyTypeSelect" [nzValue]="item.code" [nzLabel]="item.name">
                  </nz-option>
                </nz-select> -->
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">终端销售价格（不含税）万元</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.terminalPricing" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">可能性（%）</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.possibility || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">客户选择倾向</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.prefer || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">进度</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.schedule || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">资金状况/交易实现度</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="item.financial || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">竞争对手</nz-form-label>
              <nz-form-control>
                <!-- <input nz-input [nzSize]="nzSize" value="General Electric (GE) || ''" disabled> -->
                <input nz-input [nzSize]="nzSize" [value]="item.competitor || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" [nzGutter]="32" nzJustify="start">
          <div nz-col [nzSm]="12" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">其他输赢信息</nz-form-label>
              <nz-form-control>
                <textarea nz-input [nzSize]="nzSize" [nzAutosize]="{ minRows: 2, maxRows: 6 }"
                  disabled>{{funnel.otherWinLoss}}</textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
          <!--OrderType-->
          <div nz-col [nzSm]="6" [nzXs]="24">
            <nz-form-item class="custom-form-item">
              <nz-form-label [nzNoColon]="true">进单类型</nz-form-label>
              <nz-form-control>
                <input nz-input [nzSize]="nzSize" [value]="funnel.orderType || ''" disabled>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
    
  </ng-template>
  
</div>
