<app-apploading [load]="load"></app-apploading>
<div style="width: 100%; background-color: #ffffff; padding: 15px">
  <form nz-form [formGroup]="formValues">
    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle" style="background-color: #F6F7F9;
    color: #FFFFFF;
    line-height: 22px;
    padding-top: 24px">
      <div nz-col nzXs="24" nzMd="12" nzXl="8">
        <nz-form-item>
          <nz-form-label nzXs="24" nzMd="10" nzXl="8" nzXXl="6">
            SO#
          </nz-form-label>
          <nz-form-control nzXs="24" nzMd="14">
            <input nz-input formControlName="so" placeholder="" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzMd="12" nzXl="10">
        <nz-form-item>
          <nz-form-label nzXs="12" nzMd="12" nzXl="10">
            是否被抽取核查三方
          </nz-form-label>
          <nz-form-control nzXs="12" nzMd="12" nzXl="14">
            <nz-select formControlName="status" style="width: 100%" nzPlaceHolder="">
              <nz-option *ngFor="let item of registerList" [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzMd="12" nzXl="8">
        <nz-form-item>
          <nz-form-label nzXs="24" nzMd="10" nzXl="8" nzXXl="6">
            DealForm Id
          </nz-form-label>
          <nz-form-control nzXs="24" nzMd="14">
            <input nz-input formControlName="dealFormId" placeholder="" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzMd="12" nzXl="6">
        <nz-form-item class="btns-group" style="text-align: right">
          <div style="display: flex;justify-content: center;">
            <button nz-button nzType="primary" nzXl="10" nzXXl="6" (click)="updateParams()">
              <i nz-icon type="search"></i>{{"list-pages.search-form.form.search" | translate}}
            </button>
            <button nz-button nzType="default" style="margin-left: 10px;" (click)="resetForm()">
              <i nz-icon nzType="undo" nzTheme="outline"></i>{{"list-pages.search-form.form.clear" | translate}}
            </button>
          </div>
        </nz-form-item>

      </div>
    </div>
  </form>
  <div style="display: flex;justify-content: space-between;align-items: flex-end;">
    <nz-radio-group class="radioBtn" [(ngModel)]="isHandle" [nzButtonStyle]="'solid'" (ngModelChange)="updateParams()">
      <label nz-radio-button [nzValue]="0">待登记ICF
        <span *ngIf="isHandle == 0 && total>0">({{total}})</span></label>
      <label nz-radio-button style="margin-left: 10px;" [nzValue]="1">已登记ICF
        <span *ngIf="isHandle == 1 && total>0">({{total}})</span></label>
    </nz-radio-group>
    <div>
      <button nz-button nzType="primary" nzXl="8" (click)="exportFile()" nzXXl="6"> 导出 </button>
      <nz-upload *ngIf="isHandle == 0" style="margin-left: 10px;" nzAction="" [nzMultiple]="false" [nzCustomRequest]="onUploadFile"
        [nzBeforeUpload]="onBeforeUpload" [nzShowUploadList]="false" [nzLimit]="1" nzAccept=".xlsx">
        <button nz-button nzType="default"><i nz-icon nzType="upload"></i><span> 导入
          </span></button>
      </nz-upload>
    </div>
  </div>

  <register-ICF-list #table [loading]="loading" [tableData]="tableData" [total]="total" [type]="type"
    (pageChange)="updateDataList($event)" (setLoading)="getLoading($event)" [flag]="0">
  </register-ICF-list>
</div>
