<nz-card nzTitle="管理流程实例" style="width:100%; margin-top: 20px">

  <form [formGroup]="processInstanceManager.searchForm" nz-form>
    <div nz-row nzJustify="space_between">
      <div [nzSpan]="12" nz-col>
        <nz-form-item>
          <nz-form-label [nzSpan]="7">审批编号</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input formControlName="businessNumber" nz-input/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div [nzSpan]="12" nz-col>
        <nz-form-item>
          <nz-form-label [nzSpan]="7">申请类型</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-select
              [nzAllowClear]="true"
              [nzSize]="'default'"
              formControlName="processName"
              nzPlaceHolder="申请类型"
            >
              <nz-option *ngFor="let item of processInstanceManager.processList" [nzLabel]="item.name"
                         [nzValue]="item.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
    <div nz-row nzJustify="space_between">
      <div [nzSpan]="12" nz-col>
        <nz-form-item>
          <nz-form-label [nzSpan]="7">最终用户名称</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input formControlName="businessName" nz-input/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div [nzSpan]="12" nz-col>
        <nz-form-item>
          <nz-form-label [nzSpan]="7">申请人</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-select
              (nzOnSearch)="processInstanceManager.searchUser($event)"
              [nzShowArrow]="false"
              [nzAllowClear]="true"
              formControlName="owner"
              nzPlaceHolder="搜索用户"
              nzServerSearch
              nzShowSearch
            >
              <nz-option *ngFor="let option of processInstanceManager.selectUserList" [nzLabel]="option.text"
                         [nzValue]="option"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

  <div nz-row class="table-operations">
    <div [nzSpan]="8" nz-col nz-form-label>
      <button nz-button (click)="processInstanceManager.onSearch($event)" [nzLoading]="processInstanceManager.loading"
              [nzType]="'primary'">查询
      </button>
      <button nz-button (click)="processInstanceManager.onReset($event)" [nzType]="'primary'"
              style="margin-left:16px;">重置
      </button>
    </div>
  </div>

  <nz-table #processInstanceTable
            (nzPageIndexChange)="processInstanceManager.changeIndex($event)"
            (nzPageSizeChange)="processInstanceManager.changeSize($event)"
            [nzData]="processInstanceManager.processInstanceList"
            [nzFrontPagination]="false"
            [nzLoading]="processInstanceManager.loading"
            [nzPageIndex]="processInstanceManager.page.pageNumber"
            [nzPageSizeOptions]="[10,20]"
            [nzPageSize]="processInstanceManager.page.pageSize"
            [nzShowSizeChanger]="true"
            [nzShowTotal]="rangeTemplate"
            [nzTotal]="processInstanceManager.page.total"
            nzSize="small"
  >
    <ng-template #rangeTemplate let-range="range" let-total>
      {{ range[0] }}-{{ range[1] }} 共 {{ processInstanceManager.page.total }}
    </ng-template>
    <thead>
    <tr>
      <th>流程编号</th>
      <th>审批编号</th>
      <th>最终用户名称</th>
      <th>申请类型</th>
      <th>申请人</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of processInstanceTable.data">
      <td>{{ data['processInstanceId'] }}</td>
      <td>{{ data['businessNumber'] }}</td>
      <td>{{ data['businessName'] }}</td>
      <td>{{ data['name'] }}</td>
      <td>{{ data['ownerName'] }}</td>
      <td>{{ data['startDateTime'] | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>{{ data['finishedDateTime'] | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td>
        <nz-badge
          nzStatus="{{data['state'] == 'finished' ? 'default' : data['state'] == 'suspended' ? 'warning' : 'processing'}}"
          nzText="{{data['state'] == 'finished' ? '已完成' : data['state'] == 'suspended' ? '暂停' : '正在运行' }}">
        </nz-badge>
      </td>
      <td>
        <a nz-icon type="eye" (click)="openProcessDetailModal(data)" nzTitle="查看" title="查看"></a>
        <nz-divider nzType="vertical"></nz-divider>
        <ng-container *ngIf="data.state != 'finished'">
          <a *ngIf="data.state == 'running'" (nzOnConfirm)="processInstanceManager.suspendedSelected(data)" nz-icon nz-popconfirm nzTitle="暂停" title="暂停"
             type="pause"></a>
          <a *ngIf="data.state == 'suspended'" (nzOnConfirm)="processInstanceManager.runningSelected(data)" nz-icon nz-popconfirm nzTitle="运行" title="运行"
             type="play-square"></a>
          <nz-divider nzType="vertical"></nz-divider>
        </ng-container>

        <a style="color: #0066cc" (nzOnConfirm)="processInstanceManager.removeRealTimeReport(data)" nz-icon nz-popconfirm nzTitle="移除RealTime Report" title="移除RealTime Report"
           type="delete"></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a style="color: red" (nzOnConfirm)="processInstanceManager.removeSelected(data)" nz-icon nz-popconfirm nzTitle="删除" title="移除"
           type="delete"></a>

      </td>
    </tr>
    </tbody>
  </nz-table>
  <!--<div style="margin-top: 20px">-->
    <!--<button (nzOnConfirm)="processInstanceManager.removeAll()" nz-button nz-popconfirm-->
            <!--nzTitle="是否需要清除所有的流程实例，一旦确认不能逆转！" nzType="danger" style="width: 100%">清除所有流程实例-->
    <!--</button>-->
  <!--</div>-->
</nz-card>
