<nz-card class="title_warpper">
  <div>
    <h4 class="font-weight-bold">
      <span>Fill in Order Summary 填写Order Summary</span>
    </h4>
  </div>
</nz-card>
<igt-approval-flowline></igt-approval-flowline>
<app-apploading [load]="load"></app-apploading>
  <div class="tabs-box">
    <div nz-row nzType="flex" nzJustify="end" nzAlign="middle" class="tabs-box-actions">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;">
            <!-- <button *ngIf="flag==0" nz-button nzType="default" nz-popconfirm nzTitle="你确定要执行退回的操作?" (nzOnConfirm)="submit(1,'REJECTED')" style="margin-right:10px;">退回</button> -->
            <button *ngIf="flag==1" nz-button nzType="default" (click)="toReturn()" style="margin-right:10px;">Return 返回</button>
            <button *ngIf="flag==0" nz-button nzType="default" (click)="cancelFn()" style="margin-right:10px;">Cancel 取消</button>
            <button *ngIf="flag==0" nz-button nzType="default" (click)="submit(0)" style="margin-right:10px;">Save 保存</button>
            <button *ngIf="flag==0" nz-button nzType="primary" (click)="submit(1,'APPROVED')" >Submit  提交Order Summary</button>
            <nz-dropdown [nzPlacement]="'bottomRight'" *ngIf="flag==0">
              <button nz-button nz-dropdown><i class="tranf90" nz-icon nzType="more" nzTheme="outline"></i></button>
              <ul nz-menu>
                <li nz-menu-item>
                  <a href="javascript:" (click)="backContract()">Return to Contract Summary 退回到合同概要表</a>
                </li>
              </ul>
            </nz-dropdown>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <ngb-tabset type="tabs" [destroyOnHide]="false"  (tabChange)="tabclick($event)" [activeId]="activedId"  class="nav-tabs-top nav-responsive-xl">
      <!--基础信息-->
      <ngb-tab id="pending-tab">
        <ng-template ngbTabTitle><span class="tab-title"><strong>General Information<br> 基础信息</strong></span></ng-template>
        <ng-template ngbTabContent>
          <div class="card-body">
            <app-inorder-in [dataBase]="dataBase"></app-inorder-in>
            <div class="step">
              <button (click)="myskip('complete-duc')" nz-button nzType="primary">Next 下一步</button>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <!--审核结果核查及补充-->
      <ngb-tab id="complete-duc">
        <ng-template ngbTabTitle><span class="tab-title"><strong>Result Review and Supplementation<br> 审核结果核查及补充</strong></span></ng-template>
        <ng-template ngbTabContent>
          <div class="card-body">
            <app-inorder-ex [dataBase]="dataBase" #childbase></app-inorder-ex>
            <div class="step">
              <button (click)="myskip('pending-tab')" nz-button nzType="primary">Back 上一步</button>
              <button (click)="myskip('complete-duc2')" nz-button nzType="primary">Next 下一步</button>
            </div>
          </div>
        </ng-template>
      </ngb-tab>

      <!--合同概要表-->
      <ngb-tab id="complete-duc2">
        <ng-template ngbTabTitle><span class="tab-title"><strong>Contract Summary<br> 合同概要表</strong></span></ng-template>
        <ng-template ngbTabContent>
          <div class="card-body">
              <app-preOrderBaseInfo
                  [dataBase]="infor"
                  [disa]="true"
                  [conTable]="true"
                  [showChek]="true"
                  #baseInfo
              >
              </app-preOrderBaseInfo>
              <div class="step">
                <button (click)="myskip('complete-duc')" nz-button nzType="primary">Back 上一步</button>
                <button (click)="myskip('complete-duc3')" nz-button nzType="primary">Next 下一步</button>
              </div>
          </div>
        </ng-template>
      </ngb-tab>

      <!--审批记录-->
      <ngb-tab id="complete-duc3">
        <ng-template ngbTabTitle><span class="tab-title"><strong>Approved History<br>审批记录</strong></span></ng-template>
        <ng-template ngbTabContent>
           <div class="card-body">
              <nz-card  nzTitle="Approved History 审批记录">
                <app-emp-acc></app-emp-acc>
               </nz-card>
               <div class="step">
                <button (click)="myskip('complete-duc2')" nz-button nzType="primary">Back 上一步</button>
                <button *ngIf="infor.hsId" (click)="myskip('change-tab')" nz-button nzType="primary">Next 下一步</button>
              </div>
           </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="change-tab" *ngIf="infor.hsId">
        <ng-template ngbTabTitle><span class="tab-title"><strong>Order Change Review<br> 审核改单</strong></span></ng-template>
        <ng-template ngbTabContent>
          <div class="card-body">
             <app-approve-change [disa]="disa" [dataBase]="infor"></app-approve-change>
             <div nz-row nzType="flex" nzJustify="end" nzAlign="middle">
              <div nz-col nzSpan="4">
                <nz-form-item>
                  <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;">
                    <button nz-button [nzType]="'primary'" (click)="myskip('complete-duc3')">Back 上一步</button>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
     <!-- <button type="button" class="btn btn-primary">取消</button> -->
    <!-- <button *ngIf="flag==0" type="button" nz-button nzType="primary" class="btn btn-info flag" (click)="submit(1,'REJECTED')">退回</button>
    <button *ngIf="flag==0" type="button" nz-button nzType="primary" (click)="submit(0)" class="btn btn-info save">保存</button>
    <button *ngIf="flag==0" type="button" nz-button nzType="primary" (click)="submit(1,'APPROVED')" class="btn btn-info submit">提交Order Summary</button> -->

  </div>
  <nz-modal [(nzVisible)]="isAgres" nzWidth="650px" nzTitle="Remind 提示" [nzFooter]="modalFooter1" (nzOnCancel)="isAgreCancels()">
    <app-confirm #child [infor]="showData" ></app-confirm>
    <ng-template #modalFooter1>
      <button nz-button nzType="default" (click)="isAgreCancels()">Cancel 取消</button>
      <button nz-button nzType="primary" (click)="isAgregentOk()">OK 确定</button>`
    </ng-template>
  </nz-modal>
  <nz-modal [(nzVisible)]="isShowDate" nzWidth="650px" nzTitle="Remind 提醒" [nzFooter]="null" (nzOnCancel)="isshowDateCancel()">
    <div>
      经销商DDP有效期为{{this.dataBase.contractEndDate}}日，当前已过有效期，请退回
    </div>
  </nz-modal>
  <nz-modal [(nzVisible)]="isShowDates" nzWidth="650px" nzTitle="提醒" [nzFooter]="null" (nzOnCancel)="isshowDateCancels()">
    <div>
      外贸公司DDP有效期为{{dataBase.poolEndDate}}日，当前已过有效期，请退回
    </div>
  </nz-modal>
