<nz-card class="title_warpper">
  <div>
    <h4 class="font-weight-bold">
      <span>填写合同概要表</span>
    </h4>
  </div>
</nz-card>
<nz-card class="mtb1rem">
  <div nz-row nzType="flex" nzJustify="end">
    <div nz-col nzSpan="12">
      <div class="product-info-actions">
        <button nz-button nzType="primary" (click)="cancelContract()">取消</button>
        <button nz-button nzType="primary" (click)="saveContract()">保存</button>
        <a
          nz-popconfirm
          nzTitle="确定要生成合同概要表草稿?"
          nzOkText="确定"
          nzCancelText="取消"
          (nzOnConfirm)="confirmGenerateContractDraft()"
          (nzOnCancel)="cancelGenerateContractDraft()"
        >
          <button nz-button nzType="primary">提交合同概要表</button>
        </a>
      </div>
    </div>
  </div>
</nz-card>
<div class="demo-vertical-spacing">
  <div class="posi">
    <ngb-tabset type="tabs" [destroyOnHide]="true"  class="nav-tabs-top nav-responsive-xl">
      <!--基础信息-->
      <ngb-tab id="pending-tab">
        <ng-template ngbTabTitle><span class="tab-title"><strong>基础信息</strong>&ensp;</span></ng-template>
        <ng-template ngbTabContent>
          <div class="card-body">
            <!--            <app-my-ppending (pendingTaskEvent)="onPendingTaskEvent($event)"></app-my-ppending>-->
            <app-incon-in></app-incon-in>
            <!--            <my-task-pending (pendingTaskEvent)="onPendingTaskEvent($event)"></my-task-pending>-->
          </div>
        </ng-template>
      </ngb-tab>
      <!--支持文件-->
      <ngb-tab id="complete-duc">
        <ng-template ngbTabTitle><span class="tab-title"><strong>支持文件</strong></span></ng-template>
        <ng-template ngbTabContent>
          <div class="card-body">
            <app-incon-file></app-incon-file>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
