@import '../../../../node_modules/@swimlane/ngx-datatable/release/index.css';
@import '../../../vendor/libs/ngx-datatable/ngx-datatable';
@import '../../../../node_modules/@swimlane/ngx-datatable/release/assets/icons.css';
@import '../../../vendor/libs/ngb-datepicker/ngb-datepicker';

.table-responsive {
  overflow: visible;
}

.ngx-datatable {
  overflow: visible !important;
}

.modal-xl .modal-lg {
  max-width: 95%;
}
.datatable-body-cell-label{
  text-align: center !important;
}
.ck{
  width: 40px !important;
  height: 20px !important;
}
.tit1{
  width: 100%;
  font-size: 16px;
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  border-bottom: 1px solid rgba(24, 28, 33, 0.06);
  margin-bottom: 20px;
}
.cks{
  margin: 20px auto;
}
.cks a{
  margin-right: 20px;
}
.cks a:nth-child(1){
  font-weight: bold;
}
.next{
  text-align: right;
}
.a1{
  font-weight: bold;
  margin-right: 20px;
}
.a2{
  margin-right: 20px;
}
.radio{
  margin-right: 10px;
}
.p1{
  margin: 20px auto;
}
.ckselect{
  width: 100px !important;
  display: inline !important;
}
.ckselect250{
  width: 250px !important;
  display: inline !important;
}
.ckinput{
  width: 150px !important;
  display: inline !important;
}
.ckinput2{
  width: 80px !important;
  display: inline !important;
}

