<Navbar [icon]="leftIcon" [rightContent]="rightContent" [mode]="'light'" (onLeftClick)="onLeftClick()">
  <h5 class="">{{title}}</h5>
</Navbar>

<ng-template #icon>
  <Icon [type]="'left'"></Icon>
</ng-template>

<ng-template #noIcon>
</ng-template>

<ng-template #rightContent>
  <!-- <Icon [type]="'search'" [ngStyle]="{marginRight: '16px'}"></Icon> -->
  <!-- <Icon [type]="'home'"></Icon> -->
  <div (click)="goHome()">
  <span style="color: black;font-size: 10px;">{{name}}</span>&ensp;
  <i class="ion d-inline ion-ios-home"></i>
  </div>
</ng-template>

