<table border="1" cellspacing="0">
  <tr>
    <td rowspan="5">招标文件审核</td>
    <td>中标通知书</td>
    <td><a class="ba">上传</a></td>
  </tr>
  <tr>
    <td>场地报告</td>
    <td><a class="ba">上传</a></td>
  </tr>
  <tr>
    <td>要货函</td>
    <td><a class="ba">上传</a></td>
  </tr>
  <tr>
    <td>项目解决方案售前支持报告（仅针对函solution项目）</td>
    <td><a class="ba">上传</a></td>
  </tr>
  <tr>
    <td>不适用</td>
    <td>
      <nz-switch></nz-switch>
    </td>
  </tr>


  <tr>
    <td rowspan="6">抽样审核订单支持文件</td>
    <td>招标文件</td>
    <td><a class="ba">上传</a></td>
  </tr>
  <tr>
    <td>投标文件</td>
    <td><a class="ba">上传</a></td>
  </tr>
  <tr>
    <td>最终用户合同</td>
    <td><a class="ba">上传</a></td>
  </tr>
  <tr>
    <td>经营商利润分析表</td>
    <td><a class="ba">上传</a></td>
  </tr>
  <tr>
    <td>项目分析表</td>
    <td><a class="ba">生成项目分析表模板/</a><a class="ba">上传</a></td>
  </tr>
  <tr>
    <td>不适用</td>
    <td>
      <nz-switch></nz-switch>
    </td>
  </tr>



  <tr>
    <td rowspan="6">合同条款确认</td>
    <td>付款条款</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <a class="ba">上传</a>
    </td>
  </tr>

  <tr>
    <td>装运及交货</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <a class="ba">上传</a>
    </td>
  </tr>
  <tr>
    <td>安装及保修</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <a class="ba">上传</a>
    </td>
  </tr>
  <tr>
    <td>直投订单合同金额和中标金额有价差</td>
    <td> <select class="form-control custom-select ckselect" name="processName">
      <option value="">条目一</option>
      <option value="">条目二</option>
      <option value="">条目三</option>
      <option value="">条目四</option>
    </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <a class="ba">上传</a>
    </td>
  </tr>
  <tr>
    <td>培训</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <a class="ba">上传</a>
    </td>
  </tr>
  <tr>
    <td>场地准备</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <a class="ba">上传</a>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>罚款及违约责任</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <a class="ba">上传</a>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>其他条款</td>
    <td>
      <select class="form-control custom-select ckselect" name="processName">
        <option value="">条目一</option>
        <option value="">条目二</option>
        <option value="">条目三</option>
        <option value="">条目四</option>
      </select>
      <input class="form-control ckinput" type="text" name="taskName" value="备注：多行文本">
      <a class="ba">上传</a>
    </td>
  </tr>
</table>
