<nz-select (ngModelChange)="modelChange($event)" (nzOnSearch)="onSearch($event)" [(ngModel)]="selectedOption"
           [nzDisabled]="disabled"
           [nzServerSearch]="true"
           nzAllowClear="true"
           [nzPlaceHolder]="placeholder"
           nzShowSearch="true"
           style="width:100%">
  <ng-container *ngFor="let o of userList">
    <nz-option *ngIf="!loading" [nzLabel]="o.name" [nzValue]="o"></nz-option>
  </ng-container>
  <nz-option *ngIf="loading" nzCustomContent nzDisabled>
    <i class="loading-icon" nz-icon nzType="loading"></i>&nbsp;loading
  </nz-option>
</nz-select>
