<div class="modal-header">
    <h5 class="modal-title">
      {{title}}
    </h5>
    <button type="button" class="close" (click)="closeModal()">
      <span style="color:black;font-size:28px;font-weight:bold;">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div *ngIf="pageType == 'totalAndCtp'" ngbTabContent>
      <div class="card-body" class="mt-0 mb-0">
        <div>
          <ng-container *ngIf="params.type == '1'">
            <nz-form-item style="margin: 0">
              <nz-form-label [nzSm]="8" [nzXs]="24">合同总价</nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="24">
                <span>{{params?.contractpriceall | slice:0:2}}{{params?.contractpriceall | slice:2 | number:'1.0-0'}}</span>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item style="margin: 0">
              <nz-form-label [nzSm]="8" [nzXs]="24">CTP</nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="24">
                <span>{{params?.ctpall | slice:0:2}}{{params?.ctpall | slice:2 | number:'1.0-0'}}</span>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item style="margin: 0">
              <nz-form-label [nzSm]="8" [nzXs]="24">CTP百分比</nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="24">
                <span>{{params?.ctpallRatio}}</span>
              </nz-form-control>
            </nz-form-item>
          </ng-container>
          <ng-container *ngIf="params.type == '0'">
            <div class="col-md-12 mb-3">
              <span>合同总价:&nbsp;&nbsp;</span>
              <span>{{params?.contractpriceall | slice:0:2}}{{params?.contractpriceall | slice:2 | number:'1.0-0'}}</span>
            </div>
            <!-- <nz-form-item style="margin: 0">
              <nz-form-label [nzSm]="8" [nzXs]="24">合同总价</nz-form-label>
              <nz-form-control [nzSm]="8" [nzXs]="24">
                <span>{{params?.contractpriceall | slice:0:2}}{{params?.contractpriceall | slice:2 | number:'1.0-0'}}</span>
              </nz-form-control>
            </nz-form-item> -->
            <!-- table -->
            <div class="table-responsive col-md-12">
              <nz-table #priceTable 
                nzSize="small" 
                [nzData]="params.qlist"
                [nzShowPagination]="false">
                <thead>
                  <tr>
                    <th nzWidth="10%">临床</th>
                    <th nzWidth="15%">产品</th>
                    <th nzWidth="15%">亚型</th>
                    <th nzWidth="10%">数量</th>
                    <th nzWidth="15%">CTP</th>
                    <th nzWidth="10%">CTP%</th>
                    <th nzWidth="10%">IGM%</th>
                    <th nzWidth="15%">总价/台</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of priceTable.data">
                    <td>{{item.Clinical_Segmentation}}</td>
                    <td>{{item.Product_Name}}</td>
                    <td>{{item.quotation}}</td>
                    <td>{{item.counts}}</td>
                    <td>{{params.prefix}}  {{item.ctp | number}}</td>
                    <td>{{item.ctpRatio}}</td>
                    <td>{{item.igm}}</td>
                    <td>{{item.unitTotalPrice | slice:0:2}}{{item.unitTotalPrice | slice:2 | number:'1.0-0'}}</td>
                  </tr>
                </tbody>
              </nz-table>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div *ngIf="pageType == 'batchApproval'" ngbTabContent>
      <div class="card-body" class="mt-0 mb-0">
        <approval-batch-comments [tasks]="params"></approval-batch-comments>
      </div>
    </div>
    <div *ngIf="pageType == 'pricingLabel' || pageType == 'omLabel'" ngbTabContent>
      <div class="card-body" class="mt-0 mb-0">
        <div class="col-md-12">
         <nz-tag *ngFor="let tag of tags; let i = index" [nzMode]="params.tagMode || 'default'"
          (nzAfterClose)="handleClose(tag)">
            {{tag}}
        </nz-tag>
        <nz-tag *ngIf="!('default' === params.tagMode) && !inputVisible" class="editable-tag" nzNoAnimation
          (click)="showInput()">
          <i nz-icon type="plus"></i> 新标签
        </nz-tag>
          <input #inputElement nz-input nzSize="small" *ngIf="inputVisible" type="text" [(ngModel)]="inputValue"
            style="width: 78px;" (blur)="handleInputConfirm()" (keydown.enter)="handleInputConfirm()" />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer" style="justify-content:center;">
    <ng-container *ngIf="pageType == 'batchApproval'">
      <button type="button" class="btn btn-primary" [ladda]="isProcessing" data-style="zoom-in"
        (click)="passBatchTask($event)">完成</button>
    </ng-container>
    <ng-container *ngIf="(pageType == 'pricingLabel' || pageType == 'omLabel') && ('default' !== params.tagMode)">
      <button type="button" class="btn btn-primary"
        (click)="saveLabel()">保存标签</button>
    </ng-container>
    <div>
      <button type="button" class="btn btn-info" [ladda]="isProcessing" data-style="zoom-in"
      (click)="closeModal()">关闭
      </button>
    </div>
  </div>
  