/deep/.ant-form-item {
    margin-bottom: 6px;
}

.tips {
    width: 100%;
    background-color: #fffbe5;
    border-radius: 5px;
    border: 1px solid #f4bc00;
    color: #5c3c00;
    padding: 20px 20px;
    line-height: 20px;
}