<app-mobile-header-navbar [parentUrl]="parentUrl" [title]="'我的申请（进行中）'"></app-mobile-header-navbar>
<WhiteSpace></WhiteSpace>
<Accordion>
  <AccordionPanel [header]="accordionHeader">
    <app-mobile-history [processInstanceId]="processInstanceId"></app-mobile-history>
  </AccordionPanel>
</Accordion>
<!-- <ng-template #accordionHeader><span style="font-size:14px;">审批历史</span></ng-template> -->
<ng-template #accordionHeader><span >审批历史</span></ng-template>

<WhiteSpace></WhiteSpace>
<app-mobile-main-form-view [processType]="processType" [processStatus]="'0'" [taskData]="taskData" [displayType]="'approval'"
  [display]="true"></app-mobile-main-form-view>