:host {
  .chat-icon {
    margin-top: 8px;
    background: url(assets/image/chat.svg) no-repeat;
  }
  
  .chat-icon, .group-chat-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .group-chat-icon {
    background: url(assets/image/group-chat.svg) no-repeat;
  }
  
  /deep/ .ant-input-group-addon {
    border: none;
    background: none;
  }
}