.ckbox {
  margin-right: 10px;
}

.input2 {
  width: 100px !important;
}

.right-top {
  margin-bottom: 20px;
}

.ant-form-item-children {
  display: flex !important
}

.input-group-text {
  height: 37px;
}

.mixwid {
  width: 100px;
}

.flex {
  display: flex;
}

nz-form-label {
  width: 250px !important;
}

.table-tr th,
.table-tr td {
  text-align: center !important;
}

nz-table {
  margin-top: 20px;
}