.p1 {
  margin: 20px auto;
}

.a1 {
  margin-left: 20px !important;
  color: #1e70cd !important;
}

.next {
  margin-top: 10px;
}

.flex {
  display: flex;
  position: relative;

  .updata {
    display: inline-block;
    position: absolute;
    left: 196px;
    top: 3px;
  }

}

/deep/.ant-upload-list-item {
  max-width: 300px;
}