<nz-upload
  [nzType]="type"
  [nzMultiple]="true"
  [nzLimit]="limit"
  [nzCustomRequest]="onUploadFile"
  [nzBeforeUpload]="onBeforeUpload"
  [nzDisabled]="disabled"
  [nzShowUploadList]="false"
>
  <ng-container *ngIf="type === 'drag'">
    <p class="ant-upload-drag-icon">
      <i nz-icon nzType="inbox"></i>
    </p>
    <p class="ant-upload-text">点击或者拖拽上传</p>
  </ng-container>
  <ng-container *ngIf="type !== 'drag'">
    <button nz-button><i nz-icon nzType="upload"></i><span>请选择文件</span></button>
  </ng-container>
</nz-upload>
<nz-alert *ngIf="hint" nzType="warning" [nzMessage]="hint"></nz-alert>

<div class="upload-file-list">
  <div *ngFor="let file of fileList" class="file-item">
    <span class="file-name" [title]="file.name">
      <i nz-icon [nzType]="file.status === 'uploading' ? 'loading' : 'paper-clip'"></i>
      {{ file.name }}
    </span>
    <span class="file-btn">
      <i nz-icon nzType="download" nzTheme="outline" (click)="onDownloadFile(file)"></i>
      <i nz-icon *ngIf="!disabled" style="margin-left:8px" nzType="close" (click)="onRemoveFile(file)"></i>
    </span>
  </div>
</div>
