:host /deep/ {
  .ant-upload-disabled {
    display: none;
  }
}

:host /deep/ .file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  color: #00CC66;
  cursor: pointer;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .file-name {
    margin-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;  
    &-title{
      max-width:200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
    }    
  }

  .file-btn, .file-name {
    display: flex;
    align-items: center;
  }

  
  &:last-child {
    margin-bottom: 0;
  }
}

:host .upload-file-list {
  margin-top:0px;
}