.is-required {
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
}

.sp-item-list {
  white-space: nowrap;
  .sp-item {
    display: flex;
    .view-detail {
      cursor: pointer;
      color: #337fbf;
    }

    .comment-input {
      margin: 0 16px;
      width: 300px;
    }

    .comment-span {
      display: block;
      max-width: 200px;
      white-space: normal;
      word-break: break-all;
      line-height: 16px;
      padding: 8px 12px;
      color: #337fbf;
    }
  }
}