<div class="col-sm-8 col-md-5 col-lg-4 mb-4">
  <label class="form-label">进单模式</label>
  <select ngModel class="form-control custom-select" name="processName">
    <option value="">请选择</option>
    <option value="">Bidding模式</option>
    <option value="">Stock模式</option>
    <option value="">Pre-OIT模式</option>
  </select>
</div>
<button type="button" class="btn btn-primary">查询CP审核结果</button>
<div class="tit1">项目基本信息</div>
<div class="row">

  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">业务模式</label>
    <input class="form-control" type="text" name="taskName" value="默认CP带入">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">区域</label>
    <input class="form-control" type="text" name="taskName" value="默认CP带入">
  </div>

  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">中标通知书</label><br>
    <a style="color: blue">中标通知书</a>
    <a>中标确认校验后带入</a>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">招标编号</label>
    <input class="form-control" type="text" name="taskName" value="默认CP带入">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">经销商</label>
    <input class="form-control" type="text" name="taskName" value="默认CP带入">
    <button type="button" class="btn btn-primary">选择经销商</button>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">DDP Status</label>
    <input class="form-control" type="text" name="taskName" value="实时查询">
  </div>

  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">经销商地址</label>
    <input class="form-control" type="text" name="taskName" value="默认CP带入">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">经销商联系人</label>
    <input class="form-control" type="text" name="taskName" value="默认带入">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">经销商电话</label>
    <input class="form-control" type="text" name="taskName" value="默认CP带入">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">经销商邮件</label>
    <input class="form-control" type="text" name="taskName" value="默认CP带入或经销商数据库查询">
  </div>

  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">采购订单签署人</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">采购订单签署人职务</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">合同买方</label>
    <input class="form-control" type="text" name="taskName" value="">
    <button type="button" class="btn btn-primary">IE Pool选择</button>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">DDP Status</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">合同买方地址</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">合同买方联系人</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">合同买方电话</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">合同买方邮箱</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">进口协议签署人</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">进口协议签署人职务</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">最终用户</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">医院性质</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">最终用户地址</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">最终用户联系人</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">最终用户电话</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">最终用户邮箱</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="lan" >
    <label class="form-label">VAT发票开票信息</label>
    <input class="form-control" type="text" name="taskName" value="" style="width: 100% !important;">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">币制</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">是否抽样审核</label><br>
    <input type="radio" name="r" value=""><a>是</a>
    <input type="radio" name="r" value=""><a>否</a>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">Contract Price</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">产品型号</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">CFDA证</label>
    <input class="form-control" type="text" name="taskName" value="">
  </div>

</div>

<div class="next"><button type="button" class="btn btn-primary">下一步</button></div>

