<!-- <div class="bg-white py-2">
  <div nzType="flex" nz-row nzJustify="center" nzAlign="middle" class="mb-2 pt-2">
    <div nz-col [nzSpan]="1" class="text-center">
      <span
        class="ant-avatar ant-avatar-lg ant-avatar-circle ant-avatar-icon bg-primary d-flex align-items-center justify-content-center">
        <i nz-icon nzType="control" nzTheme="outline"></i>
      </span>
    </div>
    <div nz-col [nzSpan]="2">
      <strong class="h4">{{ tableData.count }}</strong> 个
      <span class="text-grey">我的待办</span>
    </div>
  </div>
</div> -->

<!-- <nz-card class="request-form" [nzBodyStyle]="{ padding: '12px' }"> -->
<div style="width: 100%; background-color: #ffffff; padding: 15px 0 15px 0">
  <form
    nz-form
    style="flex: 1"
    [formGroup]="formValues"
    (ngSubmit)="getTableData(true)"
  >
    <div
      nz-row
      nzType="flex"
      nzJustify="start"
      nzAlign="middle"
      style="
        background-color: #f6f7f9;
        color: #ffffff;
        line-height: 22px;
        padding-top: 24px;
      "
    >
      <div nz-col nzXs="24" nzMd="12" nzXl="8">
        <nz-form-item>
          <nz-form-label nzXs="24" nzMd="10" nzXl="8" nzXXl="6"
            >申请类型</nz-form-label
          >
          <nz-form-control nzXs="24" nzMd="14">
            <nz-select
              formControlName="applyType"
              nzAllowClear
              nzPlaceHolder="Select 请选择"
            >
              <nz-option
                *ngFor="let type of selectOptions.applyTypes"
                [nzValue]="type.value"
                [nzLabel]="type.label"
              >
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzMd="12" nzXl="8">
        <nz-form-item>
          <nz-form-label nzXs="24" nzMd="10" nzXl="8" nzXXl="6"
            >BG</nz-form-label
          >
          <nz-form-control nzXs="24" nzMd="14">
            <nz-select
              formControlName="orderBg"
              nzAllowClear
              nzPlaceHolder="Select 请选择"
            >
              <nz-option
                *ngFor="let bg of selectOptions.bgList"
                [nzValue]="bg.value"
                [nzLabel]="bg.label"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div
        nz-col
        nzXs="24"
        nzMd="12"
        nzXl="8"
        [style.display]="isCollapse ? 'block' : 'none'"
      >
        <nz-form-item>
          <nz-form-label nzXs="24" nzMd="10" nzXl="8" nzXXl="6" nzFor="keyword"
            >关键字</nz-form-label
          >
          <nz-form-control nzXs="24" nzMd="14">
            <nz-input-group nzPrefixIcon="search" style="width: 100%">
              <input
                id="keyword"
                formControlName="keyword"
                nz-input
                placeholder="查询申请编号、经销商、医院名称、SAP订单号"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div
        nz-col
        nzXs="24"
        nzMd="12"
        nzXl="8"
        [style.display]="isCollapse ? 'block' : 'none'"
      >
        <nz-form-item>
          <nz-form-label nzXs="24" nzMd="10" nzXl="8" nzXXl="6"
            >提交时间</nz-form-label
          >
          <nz-form-control nzXs="24" nzMd="14">
            <nz-range-picker
              formControlName="submitDate"
              nzFormat="yyyy年MM月dd日"
              style="width: 100%"
            ></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div
        nz-col
        [nzMd]="{ span: 4, offset: isCollapse ? 10 : 2 }"
        [nzSm]="{ span: 12, offset: isCollapse ? 12 : 0 }"
        [nzXs]="{ span: 24 }"
        style="text-align: right"
      >
        <div nz-col [nzSpan]="20" style="text-align: right">
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary">
                <i nz-icon nzType="search"></i>
                搜索
              </button>
              <a
                class="btn-collapse"
                style="margin-left: 10px; color: #1890ff"
                (click)="toggleCollapse()"
              >
                {{
                  (isCollapse
                    ? "list-pages.search-form.form.collapse"
                    : "list-pages.search-form.form.expand"
                  ) | translate
                }}
                <i nz-icon [type]="isCollapse ? 'up' : 'down'"></i>
              </a>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="components-table-demo-control-bar">
  <form nz-form nzLayout="inline">
    <nz-form-item>
      <nz-form-label><label>批量操作</label></nz-form-label>
      <nz-form-control>
        <nz-switch [(ngModel)]="checkbox" name="checkbox"></nz-switch>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="checkbox">
      <button
        nz-button
        nzType="info"
        style="margin-top: 4px"
        (click)="showModal()"
      >
        转派
      </button>
    </nz-form-item>
  </form>
</div>

<nz-table
  [nzData]="tableData.list"
  [nzLoading]="tableData.loading"
  [nzFrontPagination]="false"
  [nzTotal]="tableData.count"
  [nzScroll]="{ x: '1000px' }"
  [(nzPageIndex)]="searchParams.pageNo"
  [(nzPageSize)]="searchParams.pageSize"
  (nzPageIndexChange)="getTableData()"
  (nzPageSizeChange)="getTableData()"
>
  <thead>
    <tr>
      <th
        nzShowCheckbox
        *ngIf="checkbox"
        [(nzChecked)]="allChecked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="checkAll($event)"
      ></th>
      <th>申请编号</th>
      <th>申请类型</th>
      <th>发起人</th>
      <th>状态</th>
      <th>当前节点</th>
      <th>申请提交时间</th>
      <th nzWidth="100px" nzRight="0px">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of tableData.list">
      <td
        nzShowCheckbox
        *ngIf="checkbox"
        [(nzChecked)]="mapOfCheckedId[data.applyCode]"
        (nzCheckedChange)="refreshStatus()"
      ></td>
      <td>{{ data.applyCode }}</td>
      <td>{{ spService.formatApplyType(data.applyType) }}</td>
      <td>{{ data.applicant }}</td>
      <td>
        {{
          spService.formatRequestStatus(
            data.processStatus,
            data.nodeAction,
            data.status
          )
        }}
      </td>
      <td>{{ data.nodeName }}</td>
      <td>{{ data.processInstanceCreateTime }}</td>
      <td nzRight="0px">
        <button
          nz-button
          nzType="primary"
          nzSize="small"
          (click)="onNavigateToRequestDetail(data)"
        >
          {{ data.nodeAction === "feedback" ? "反馈" : "审批" }}
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
<!-- </nz-card> -->

<div>
  <form nz-form [formGroup]="reassignParams">
    <nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="提示"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
      [nzOkLoading]="isOkLoading"
    >
      <div
        nz-row
        nzType="flex"
        nzJustify="center"
        nzAlign="middle"
        nzType="flex"
      >
        <div nz-col style="font-size: 24px" nzSpan="2">
          <i nz-icon nzType="warning" nzTheme="twotone"></i>
        </div>
        <div nz-col nzSpan="20" style="margin-top: 10px">
          <p>请选择任务转派给接收人</p>
        </div>
      </div>

      <div
        nz-row
        nzType="flex"
        nzJustify="start"
        nzAlign="middle"
        style="margin-top: 20px"
      >
        <div nz-col nzOffset="2" nzSpan="18">
          <nz-form-item>
            <nz-form-label nzXl="8" nzXXl="6" nzFor="role">角色</nz-form-label>
            <nz-form-control nzXs="24" nzSm="24" nzMd="16">
              <nz-select
                formControlName="role"
                nzPlaceHolder="请选择"
                style="width: 100%"
                (ngModelChange)="onRolesChange()"
              >
                <nz-option
                  *ngFor="let item of selectOptions.roleList"
                  [nzLabel]="item.label"
                  [nzValue]="item.value"
                >
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzOffset="2" nzSpan="18">
          <nz-form-item>
            <nz-form-label nzXl="8" nzXXl="6" nzRequired>接收人</nz-form-label>
            <nz-form-control nzXs="24" nzSm="24" nzMd="16">
              <nz-select
                nzShowSearch
                nzAllowClear
                formControlName="receiver"
                nzPlaceHolder="请选择"
                style="width: 100%"
              >
                <nz-option
                  *ngFor="let item of selectOptions.userList"
                  [nzLabel]="item.label"
                  [nzValue]="item.value"
                >
                </nz-option>
                <nz-option
                  *ngIf="selectOptions.userList.length === 0"
                  nzLabel="请先选择角色"
                  [nzDisabled]="true"
                ></nz-option>
              </nz-select>
              <nz-form-explain
                *ngIf="
                  reassignParams.get('receiver')?.dirty &&
                  reassignParams.get('receiver')?.errors
                "
              >
                请选择接收人
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
        <div nz-col nzOffset="2" nzSpan="18">
          <nz-form-item>
            <nz-form-label nzFor="" nzXl="8" nzXXl="6" nzRequired
              >备注</nz-form-label
            >
            <nz-form-control nzXs="24" nzSm="24" nzMd="16">
              <textarea
                rows="4"
                nz-input
                formControlName="transferReason"
                id="transferReason"
                oninput="if(value.length>1000)value=value.slice(0,1000)"
                placeholder="说明转派原因"
              ></textarea>
              <div>
                还可以输入:{{
                  reassignParams.get("transferReason").value
                    ? reassignParams.get("transferReason").value.length
                    : 0
                }}/{{ 1000 }}
              </div>
              <nz-form-explain
                *ngIf="
                  reassignParams.get('transferReason')?.dirty &&
                  reassignParams.get('transferReason')?.errors
                "
              >
                请填写备注
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-modal>
  </form>
</div>
