<!-- 手机端主页index (用于导航) -->
<app-mobile-header-navbar [parentUrl]="'/m'" [title]="'首页'" [hideLeft]="true"></app-mobile-header-navbar>
<!-- <WingBlank style="margin-top:25vh;"> -->
<WingBlank style="margin-top:0vh;">
  <ng-container *ngFor="let item of viewMenuBtnList">
    <WhiteSpace></WhiteSpace>
    <div Button style="text-align: left;height: 80px;" (click)="jumpToUrl(item.url)">
      <div style="margin-top: 16px;"><ng-container *ngTemplateOutlet="item.icon"></ng-container>{{item.display}}<ng-container *ngTemplateOutlet="item.append"></ng-container></div>
    </div>
  </ng-container>
  <WhiteSpace></WhiteSpace>
</WingBlank>

<ng-template #myApprovalIcon>
  <div class="d-inline" style="margin-left:12px;margin-right:12px;">
    <i class="ion ion-ios-albums"></i>
  </div>
</ng-template>

<ng-template #claimTaskIcon>
  <div class="d-inline" style="margin-left:12px;margin-right:12px;">
    <i class="ion ion-ios-alert"></i>
  </div>
</ng-template>

<ng-template #myTaskIcon>
  <div class="d-inline" style="margin-left:12px;margin-right:12px;">
    <i class="ion ion-ios-at"></i>
  </div>
</ng-template>

<ng-template #claimTaskCountAppend>
  <span *ngIf="this.claimTaskCount > 0" class="badge badge-pill badge-danger">{{claimTaskCount}}</span>
</ng-template>

<ng-template #pendingTaskCountAppend>
  <span *ngIf="this.pendingTaskCount > 0" class="badge badge-pill badge-danger">{{pendingTaskCount}}</span>
</ng-template>

<ng-template #approvalAwaitCountAppend>
  <span *ngIf="this.approvalAwaitCount > 0" class="badge badge-pill badge-danger">{{approvalAwaitCount}}</span>
</ng-template>
