<h4 class="font-weight-bold py-3 mb-4">
    <!--<span class="text-muted font-weight-light">Tables /</span>-->角色权限管理
</h4>
<div class="card mb-4">
    <!-- <h6 class="card-header">
      Overview
    </h6> -->
    <div class="card-body">
        <!-- <form> -->
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-right">角色</label>
            <div class="col-sm-10">
                <!-- <ng-select [items]="roleList" bindLabel="name" [(ngModel)]="selectedRelation" placeholder="Choose a role" [disabled]=false (clear)="onClearRole()" (change)="onChangeRole($event)">
                </ng-select> -->
                <nz-select style="width: 200px;" nzShowSearch nzAllowClear nzPlaceHolder="请选择角色"
                    [(ngModel)]="selectedValue" (ngModelChange)="changes()">
                    <nz-option *ngFor="let item of listOfRole" [nzLabel]="item.roleName" [nzValue]="item.id">
                    </nz-option>
                </nz-select>
            </div>
        </div>

        <!-- <div class="form-group row">
          <label class="col-form-label col-sm-2 text-sm-right">Role Description</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" readonly [(ngModel)]="selectedRole.comment">
          </div>
        </div> -->
        <!-- <div nz-row>
            <div nz-col nzSpan="16">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzFor="email">树形联动</nz-form-label>
                    <nz-form-control [nzSpan]="14">
                        <nz-radio-group [(ngModel)]="radioValue">
                            <label nz-radio nzValue='false'>是</label>
                            <label nz-radio nzValue='true'>否</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div> -->
        <div class="form-group row">
            <label class="col-form-label col-sm-2 text-sm-right">功能权限</label>
            <div class="col-sm-10">
                <!-- <tree-root id="role-tree" #tree [ngClass]="'my-tree'" [nodes]="menuNodeList" [options]="treeOptions" [(state)]="state" (initialized)="onInitialized(tree)" (select)="onSelectNode($event,true)" (deselect)="onSelectNode($event,false)">
                </tree-root> -->
                <nz-tree #nzTreeComponent [nzData]="nodes" nzCheckable [nzCheckedKeys]="defaultCheckedKeys"
                    [nzExpandAll]="true" [nzCheckStrictly]="radioValue" >
                </nz-tree>
            </div>
        </div>
        <!-- </form> -->
        <div class="form-group row">
            <div class="col-sm-10 ml-sm-auto">
                <button class="btn btn-primary" type="button" (click)="updateRole()">保存</button>
            </div>
        </div>
    </div>
</div>
<app-apploading [load]="load"></app-apploading>
