<app-apploading [load]="load"></app-apploading>
<form nz-form [formGroup]="validateForm">
  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">备注</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea oninput="if(value.length>255)value=value.slice(0,255)" nz-input placeholder="" formControlName="remark" [(ngModel)]="params.remark"
            [nzAutosize]="{ minRows: 3, maxRows: 6 }"></textarea>
            <div>还可以输入:{{params.remark.length}}/{{textLen}}</div>
          <nz-form-explain *ngIf="validateForm.get('remark')?.dirty && validateForm.get('remark')?.errors">
            请填写拒绝理由
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">审核支持文件</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <div class="maxuploadto">
          <nz-upload
            [(nzFileList)]="fileFileList"
            [nzBeforeUpload]="fileBeforeUpload"
            [nzLimit]="1"
            [nzPreview]="dwonLoad"
          >
            <button [disabled]="flag==1" nz-button><i nz-icon nzType="upload"></i><span>上传附件</span></button>
          </nz-upload>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div nz-row nzType="flex" nzJustify="end" nzAlign="middle">
  <div nz-col nzXs="24" nzSm="24" nzMd="16">
    <nz-form-item style="text-align: right;">
<!--      <button nz-button *ngIf="flag==0" [nzType]="'primary'" style="margin-left: 10px;" (click)="sumbit(1)">通过</button>-->
<!--      <button nz-button *ngIf="flag==0" [nzType]="'primary'" style="margin-left: 10px;" (click)="sumbit(0)">拒绝</button>-->    
      <button *ngIf="flag==0" nz-button [nzType]="'primary'" style="margin-left: 10px;" nz-popconfirm
              nzTitle="你确定要执行通过的操作?" (nzOnConfirm)="sumbit(1)"
              >审核通过</button>
      <button *ngIf="flag==0" nz-button [nzType]="'primary'" style="margin-left: 10px;" nz-popconfirm
              nzTitle="你确定要执行拒绝的操作?" (nzOnConfirm)="sumbit(0)"
              >拒绝</button>
    </nz-form-item>
  </div>
</div>
