<nz-card class="title_warpper">
  <div>
    <h4 class="font-weight-bold">
      <span>Bidding Award Confirmation 中标确认</span>
    </h4>
  </div>
</nz-card>
<igt-approval-flowline></igt-approval-flowline>

<div class="pr tabs-box">

  <div nz-row nzType="flex" nzJustify="end" nzAlign="middle" class="tabs-box-actions" style="z-index: 999;margin-right: 106px;
">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right;">
<!--          <button *ngIf="bidding_flag" nz-button nzType="default" nz-popconfirm nzTitle="你确定要执行程终止的操作?" (nzOnConfirm)="openBiddingBreak()" style="margin-right:10px;">流程终止</button>-->
          <button *ngIf="bidding_flag" nz-button nzType="default" (click)="openBiddingBreak()" style="margin-right:10px;">Cancel Project 取消项目</button>
          <!--          <button nz-button nzType="primary" (click)="submit()">流程终止</button>-->
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <nz-modal
    [(nzVisible)]="showoff"
    nzWidth="600px"
    nzTitle="Cancellation of project 取消项目"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="biddingBreak()"
    nzOkText="OK 确定取消"
  >
    <ng-container>
      <div>
        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24" [nzRequired]="true">Cancellation Reasons<br>取消原因</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <textarea nz-input oninput="if(value.length>255)value=value.slice(0,255)" nz-input placeholder=""
                      [nzAutosize]="{ minRows: 2, maxRows: 6 }" [(ngModel)]="remarks"></textarea>
<!--            <ng-container *ngIf="odata && odata.remarks">-->
<!--              <div>还可以输入:{{odata.remarks.length}}/{{textLen}}</div>-->
<!--            </ng-container>-->
            <div *ngIf="rem_mess">
              <a style="color: #f5222d">Please Fill in the Reason for Cancel 请填写取消理由</a>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </ng-container>
  </nz-modal>
  <div class="tabs-box">
    <div
      nz-row
      nzType="flex"
      nzJustify="end"
      nzAlign="middle"
      class="tabs-box-actions"
    >
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control [nzSm]="24" [nzXs]="24" style="text-align: right">
            <button
              nz-button
              nzType="default"
              (click)="toReturn()"
              style="margin-right: 10px"
            >
              Return 返回
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>
    <ngb-tabset type="tabs" [destroyOnHide]="true" class="nav-tabs-top nav-responsive-xl">
        <ngb-tab id="pending-tab">
            <ng-template ngbTabTitle><span class="tab-title"><strong>General Information<br> 基础信息</strong></span></ng-template>
            <ng-template ngbTabContent>
                <div class="card-body">
                    <!--项目信息-->
                    <app-applybase [name]="name" [isDisable]="true" [dataBase]="dataBase" ></app-applybase>
                     <!--产品信息-->
                    <app-newproduct [isDisable]="true" [dataBase]="dataBase"></app-newproduct>
                    <!--产品信息-->
                    <app-supplement [isDisable]="true" [dataBase]="dataBase"></app-supplement>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="complete-ba">
            <ng-template ngbTabTitle><span class="tab-title"><strong>Bidding Award Confirmation<br>中标确认</strong></span></ng-template>
            <ng-template ngbTabContent>
                <div class="card-body">
                    <app-winningconfirm [flag]="flag" [odata]="odata" [data]="data" [dataBase]="dataBase" [isVisibleDate]="isVisibleDate" [contractEndDate]="contractEndDate" [othercheck]="othercheck" [fileList]="fileList"></app-winningconfirm>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <!-- <button nz-button class="ml6 save" nzType="primary">保存</button>
    <button nz-button class="ml6 submit" nzType="primary">保存并提交</button> -->
</div>
