<!-- <div class="row">
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">招标授权模式</label>
    <input ngModel class="form-control" type="text" name="taskName" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">当前数据来源</label>
    <input ngModel class="form-control" type="text" name="taskName" disabled="disabled">
  </div>
</div> -->

<!-- <div class="tit1">项目信息</div> -->

<!-- <div class="cks"><a>Reference ID</a><a>2021HNS-2231</a></div> -->
<!--readonly="readonly"-->
<!-- <div class="row">
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">招标项目</label>
    <input class="form-control" type="text" name="taskName" value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">业务模式</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">商机层级链接</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">客户类型</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">招标编号</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">招标机构</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">开标日期</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">投标有效期</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">投标公司</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">投标公司注册地址</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">采购集团名称</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">投标公司注册所在地</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">医院名称</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">省份</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">投标负责人</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>
  <div class="col-sm-6 col-md-5 col-lg-3 mb-3" >
    <label class="form-label">投标负责人职务</label>
    <input class="form-control" type="text" name="taskName"  value="默认投标申请表带入" disabled="disabled">
  </div>

</div> -->
<!--基础信息-->
<app-applybase [isDisable]="true" [dataBase]="infor"></app-applybase>
<!--产品信息-->
<app-newproduct [isDisable]="true" [dataBase]="infor"></app-newproduct>
<!--补充信息-->
<app-supplement [isDisable]="true" [dataBase]="infor"></app-supplement>
<!-- <div class="next"><button type="button" class="btn btn-primary">下一步</button></div> -->
