<!-- <div>
    已签署正式合同 <a href="javascript:">查看附件</a>
</div> -->
<form nz-form [formGroup]="validateForm">
  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="24"><span>Remarks</span><br>备注</nz-form-label>
        <nz-form-control [nzSm]="7" [nzXs]="24">
        <textarea [disabled]="flag==1" nz-input placeholder="" formControlName="remark" [(ngModel)]="dataBase.remark"
                  [nzAutosize]="{ minRows: 1, maxRows: 6 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Purchase Order Number<br> 买卖协议号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="salesAgreementNo" [(ngModel)]="dataBase.salesAgreementNo">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Import Agreement No.<br>进口协议号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="importAgreementNo" [(ngModel)]="dataBase.importAgreementNo">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24"><span>Customer Purchase Order Number</span><br>采购订单号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="purchaseOrderNumber" [(ngModel)]="dataBase.purchaseOrderNumber">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Price Terms<br>价格术语</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="priceTerms" [(ngModel)]="dataBase.priceTerms">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>Solution Contract Template</span><br>是否含有Solution</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" style="margin-top: 15px">
          <nz-radio-group nzSize="default" formControlName="solution" [(ngModel)]="dataBase.solution" style="margin-top: 15px">
            <label nz-radio nzValue="1">Y 是</label>
            <label nz-radio nzValue="0">N 否</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="24">Product Configuration<br> 产品配置</nz-form-label>
        <nz-form-control [nzSm]="7" [nzXs]="24" style="margin-top: 15px">
          <input type="text" class="form-control" placeholder="" formControlName="productConf" [(ngModel)]="dataBase.productConf">
        </nz-form-control>
<!--        <nz-form-control [nzSm]="7" [nzXs]="24" style="margin-left: 10px">-->
<!--          <nz-upload-->
<!--            [(nzFileList)]="productConfFileList"-->
<!--            [nzBeforeUpload]="file2BeforeUpload"-->
<!--            [nzMultiple]="true"-->
<!--            [nzLimit]="30"-->
<!--            [nzPreview]="dwonLoad"-->
<!--          >-->
<!--            <button [disabled]="flag == 1" nz-button><i nz-icon nzType="upload"></i><span>上传</span></button>-->
<!--          </nz-upload>-->
          <button *ngIf="dataBase.file2" class="down" nz-button nzType="link" (click)="fileDwon(dataBase.file2)">Download 下载文件</button>

          <!--        </nz-form-control>-->
      </nz-form-item>
    </div>

    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="24"><span>Invoices Delivery Address</span><br>发票邮寄信息</nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24" style="margin-top: 15px">
          <input type="text" class="form-control" placeholder="" formControlName="invoiceMailingInformation" [(ngModel)]="dataBase.invoiceMailingInformation">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Departure Port<br> 发货港</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="portShipment" [(ngModel)]="dataBase.portShipment">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24"><span>Transport Mode</span><br>运输方式</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="typeShipping" [(ngModel)]="dataBase.typeShipping">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">Destination Port<br>目的港</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input type="text" class="form-control" placeholder="" formControlName="portDestination" [(ngModel)]="dataBase.portDestination">
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24"><span>Contract Confirmed Date</span><br>合同确认日期</nz-form-label>
        <!--        <nz-form-control [nzSm]="14" [nzXs]="24">-->
        <!--          <input type="text" class="form-control" placeholder="">-->
        <!--        </nz-form-control>-->
        <nz-form-control [nzSpan]="14">
          <!--          <nz-date-picker nzSize="large" formControlName="openBiddingDate" [(ngModel)]="dataBase.openBiddingDate"></nz-date-picker>-->
          <!--          <nz-date-picker nzSize="large" [ngModelOptions]="{standalone: true}" disabled="true" [(ngModel)]="dataBase.openBiddingDate"></nz-date-picker>-->
          <nz-date-picker nzSize="large" disabled [ngModelOptions]="{standalone: true}" [(ngModel)]="dataBase.contractDate"></nz-date-picker>
          <nz-form-explain
            *ngIf="validateForm.get('contractDate')?.dirty && validateForm.get('contractDate')?.errors">
            <ng-container *ngIf="validateForm.get('contractDate')?.hasError('required')">此选项必填字段</ng-container>
            <!--            <ng-container *ngIf="validateForm.get('contractDate')?.hasError('dataform')">yyyy-mm-dd-->
            <!--            </ng-container>-->
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired>正式合同2</nz-form-label>
        <nz-form-control [nzSm]="7" [nzXs]="24">
          <nz-upload
            [(nzFileList)]="file2FileList"
            [nzBeforeUpload]="file2BeforeUpload"
            [nzLimit]="1"
            [nzPreview]="dwonLoad"
          >
            <button [disabled]="flag == 1" nz-button><i nz-icon nzType="upload"></i><span>上传已签署的正式合同2</span></button>
          </nz-upload>
          <button *ngIf="flag == 1 || dataBase.file2" class="down" nz-button nzType="link" (click)="fileDwon(dataBase.file2)">下载已签署的正式合同1</button>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="24" nzRequired>正式合同3</nz-form-label>
        <nz-form-control [nzSm]="7" [nzXs]="24">
          <nz-upload
            [(nzFileList)]="file3FileList"
            [nzBeforeUpload]="file3BeforeUpload"
            [nzLimit]="1"
            [nzPreview]="dwonLoad"
          >
            <button [disabled]="flag == 1" nz-button><i nz-icon nzType="upload"></i><span>上传已签署的正式合同3</span></button>
          </nz-upload>
          <button *ngIf="flag == 1 || dataBase.file3" class="down" nz-button nzType="link" (click)="fileDwon(dataBase.file3)">下载已签署的正式合同1</button>
        </nz-form-control>
      </nz-form-item>
    </div> -->

    <!--模板控件-->
<!--    <div  class="showDiag" *ngIf="isPdf">-->
<!--      <div class="showDiag-box" >-->
<!--        <div class="showDiag-box-title">-->
<!--          <div>查看PDF</div>-->
<!--          <i nz-icon nzType="close" class="close" (click)="isPdfCancel()" nzTheme="outline"></i>-->
<!--        </div>-->
<!--        <app-pdfpreview [padData]="pdfSRC"></app-pdfpreview>-->
<!--        &lt;!&ndash; <ngx-extended-pdf-viewer [src]="pdfSRC" useBrowserLocale="true" height="100vh"></ngx-extended-pdf-viewer> &ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->

    <!--************************************合同模板-->

<!--    <div nz-col nzSpan="24">-->
<!--      <nz-form-item>-->
<!--        <nz-form-label [nzSm]="4" [nzXs]="24">正式合同模板1</nz-form-label>-->
<!--        <nz-form-control [nzSm]="7" [nzXs]="24">-->
<!--          <button nz-button nzType="link" (click)="tenderDeclarationLetter1('DPOH')">正式合同模板1</button>-->
<!--        </nz-form-control>-->
<!--      </nz-form-item>-->
<!--    </div>-->
<!--    <div nz-col nzSpan="24">-->
<!--      <nz-form-item>-->
<!--        <nz-form-label [nzSm]="4" [nzXs]="24">正式合同模板2</nz-form-label>-->
<!--        <nz-form-control [nzSm]="7" [nzXs]="24">-->
<!--          <button nz-button nzType="link" (click)="tenderDeclarationLetter2('IAH')">正式合同模板2</button>-->
<!--        </nz-form-control>-->
<!--      </nz-form-item>-->
<!--    </div>-->
<!--    <div nz-col nzSpan="24">-->
<!--      <nz-form-item>-->
<!--        <nz-form-label [nzSm]="4" [nzXs]="24">正式合同模板3</nz-form-label>-->
<!--        <nz-form-control [nzSm]="7" [nzXs]="24">-->
<!--          <button nz-button nzType="link" (click)="tenderDeclarationLetter3('SOH')">正式合同模板3</button>-->
<!--        </nz-form-control>-->
<!--      </nz-form-item>-->
<!--    </div>-->






<!--    <div nz-col nzSpan="24">-->
<!--      <nz-form-item>-->
<!--        &lt;!&ndash;nzRequired&ndash;&gt;-->
<!--        <nz-form-label [nzSm]="3" [nzXs]="24">合同文件</nz-form-label>-->
<!--        <nz-form-control [nzSm]="7" [nzXs]="24">-->
<!--          <nz-upload-->
<!--            [(nzFileList)]="fileFileList"-->
<!--            [nzBeforeUpload]="fileBeforeUpload"-->
<!--            [nzMultiple]="true"-->
<!--            [nzLimit]="30"-->
<!--            [nzPreview]="dwonLoad"-->
<!--          >-->
<!--            <button [disabled]="flag == 1" nz-button><i nz-icon nzType="upload"></i><span>上传合同文件</span></button>-->
<!--          </nz-upload>-->
<!--          <button *ngIf="flag == 1 || dataBase.file" class="down" nz-button nzType="link" (click)="fileDwon(dataBase.file)">已签合同</button>-->
<!--        </nz-form-control>-->
<!--      </nz-form-item>-->
<!--    </div>-->


    <!--多文件-->
<!--    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">-->
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSm]="3" [nzXs]="24"><span>Contract Document</span><br>合同文件</nz-form-label>
          <nz-form-control [nzSm]="7" [nzXs]="24" style="margin-top: 15px">
            <div *ngFor="let item of fileFileList">
              <button  class="down" nz-button nzType="link" (click)="fileDwon(item.fileId)">{{item.name}}</button>
            </div>
          </nz-form-control>
          <nz-form-control [nzSm]="7" [nzXs]="24" style="margin-top: 15px">
            <nz-upload
              [(nzFileList)]="fileFileList"
              [nzBeforeUpload]="fileBeforeUpload"
              [nzMultiple]="true"
              [nzLimit]="30"
              [nzPreview]="dwonLoad"
            >
              <button [disabled]="flag == 1" nz-button><i nz-icon nzType="upload"></i><span>Modify<br>修改合同文件</span></button>
            </nz-upload>
            <button *ngIf="flag == 1 || dataBase.file" class="down" nz-button nzType="link" (click)="fileDwon(dataBase.file)">已签合同</button>
          </nz-form-control>
        </nz-form-item>
      </div>
<!--    </div>-->

    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>The Philips Contract<br> has been Upload</span><br>正式合同已上传</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" style="margin-top: 30px">
          <nz-radio-group nzSize="default" formControlName="isContract" [(ngModel)]="dataBase.isContract">
            <label nz-radio nzValue="1">是</label>
            <label nz-radio nzValue="0">否</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!--  <button type="button" class="btn btn-primary">取消</button>-->
    <!--  <button type="button" class="btn btn-primary">保存</button>-->
    <!--  <button type="button" class="btn btn-primary">在线生成正式合同</button>-->
    <!--      <button *ngIf="flag==0" type="button" class="btn btn-primary">上传已签署的正式合同</button>-->
  </div>




</form>
