<div nz-row nzType="flex" nzJustify="end" nzAlign="middle">
  <div nz-col nzSpan="12">
    <nz-form-item>
      <nz-form-label [nzSm]="8" [nzXs]="24">选择进单单位</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select
          style="width: 100%;"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder=""
          [(ngModel)]="selectedValue"
        >
          <nz-option nzLabel="进单单位1" nzValue="进单单位1"></nz-option>
          <nz-option nzLabel="进单单位2" nzValue="进单单位2"></nz-option>
          <nz-option nzLabel="进单单位3" nzValue="进单单位3"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
<div class="global-center">
  <nz-transfer
    [nzDataSource]="list"
    [nzShowSearch]="true"
    nzSearchPlaceholder="请输入搜索内容"
    [nzTitles]="['Deal Form的Sofon列表', '已选Sofon']"
    [nzOperations]="['右移', '左移']"
    [nzListStyle]="{ 'width.px': 385, 'height.px': 385 }"
    [nzRender]="render"
    (nzSelectChange)="select($event)"
    (nzChange)="change($event)"
  >
    <ng-template #render let-item> {{ item.title }} </ng-template>
  </nz-transfer>
</div>
