<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event, validateForm.value)">
  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
    <div nz-col nzXs="24" nzSm="24" nzMd="8">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>Sales Email</span><br>销售邮箱</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <input nz-input formControlName="sale" placeholder="" [(ngModel)]="searchConditions.sale" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>Hospital Name</span><br>医院</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <input nz-input formControlName="hospital" placeholder="" [(ngModel)]="searchConditions.hospital" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Reference No</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <input nz-input formControlName="referenceNo" placeholder="" [(ngModel)]="searchConditions.referenceNo" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label class="localtion" [nzNoColon]="true" [nzSm]="8" [nzXs]="24"
          >Distributor Name<br>经销商名称</nz-form-label
        >
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <input nz-input formControlName="agreementAgenName" placeholder=""
            [(ngModel)]="searchConditions.agreementAgenName" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzSm="24" nzMd="16" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24"><span>Submit Date</span><br>提交时间</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <nz-range-picker nzFormat="yyyy-MM-dd" formControlName="subDate" [(ngModel)]="searchConditions.subDate">
          </nz-range-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label  [nzSm]="8" [nzXs]="24"
        >Market Bundle<br/>本地名称
        </nz-form-label
        >
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <input nz-input formControlName="productName" placeholder="" [(ngModel)]="searchConditions.productName" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Product Model<br>产品型号</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <input nz-input formControlName="productType" placeholder="" [(ngModel)]="searchConditions.productType" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">BMC</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <nz-select formControlName="bmc" style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder=""
            [(ngModel)]="searchConditions.bmc">
            <nz-option *ngFor="let item of bmcList" [nzValue]="item.code" [nzLabel]="item.label"
              [nzDisabled]="item.disabled"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24"><span>Business Mode</span><br>业务模式</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <nz-select formControlName="businessPattern" style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder=""
              [(ngModel)]="searchConditions.businessPattern">
              <nz-option *ngFor="let item of businessModelList" [nzValue]="item.code" [nzLabel]="item.label"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="16" [style.display]="isCollapse ? 'block' : 'none'">
        <nz-form-item>
          <nz-form-label [nzSm]="4" [nzXs]="24">Opportunity ID</nz-form-label>
          <nz-form-control [nzSm]="6" [nzXs]="24">
            <input nz-input formControlName="opportunityId" placeholder="" [(ngModel)]="searchConditions.opportunityId" />
          </nz-form-control>
          <nz-form-control [nzSm]="18" [nzXs]="24">
           </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24"><span>Bidding Mode</span><br>招标授权模式</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <nz-select formControlName="applyType" style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder=""
              [(ngModel)]="searchConditions.applyType">
              <nz-option *ngFor="let item of biddingAuthorizationModeList" [nzValue]="item.code" [nzLabel]="item.label"
                [nzDisabled]="item.disabled"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24"><span>Bidding Status</span><br>招标授权状态</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <nz-select formControlName="taskStatus" style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder=""
              [(ngModel)]="searchConditions.taskStatus">
              <nz-option *ngFor="let item of taskStatusList" [nzValue]="item.code" [nzLabel]="item.label"
                [nzDisabled]="item.disabled"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24"><span>Need Authorization</span><br>是否授权</nz-form-label>
          <nz-form-control [nzSm]="12" [nzXs]="24">
            <nz-select formControlName="authorize" style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder=""
              [(ngModel)]="searchConditions.authorize">
              <nz-option *ngFor="let item of isAuthorizedList" [nzValue]="item.code" [nzLabel]="item.label"
                [nzDisabled]="item.disabled"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>Project Name</span><br>项目名称</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <input nz-input formControlName="projectName" placeholder="" [(ngModel)]="searchConditions.projectName" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>Bidding Number</span><br> 招标编号</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <input nz-input formControlName="biddingNo" placeholder="" [(ngModel)]="searchConditions.biddingNo" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>Bidder</span><br> 投标公司</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <input nz-input formControlName="biddingCompany" placeholder=""
            [(ngModel)]="searchConditions.biddingCompany" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>OIT Mode</span><br>进单模式</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <nz-select formControlName="orderPattern" style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder=""
            [(ngModel)]="searchConditions.orderPattern">
            <nz-option *ngFor="let item of entryModeList" [nzValue]="item.code" [nzLabel]="item.label"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>OIT Status</span><br>进单状态</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <nz-select formControlName="orderType" style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder=""
            [(ngModel)]="searchConditions.orderType">
            <nz-option *ngFor="let item of orderTypeList" [nzValue]="item.code" [nzLabel]="item.label"
              [nzDisabled]="item.disabled"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">OIT Month<br>OIT 月份</nz-form-label>
        <nz-form-control [nzSm]="6" [nzXs]="24">
          <nz-month-picker formControlName="oitDateStart" nzPlaceHolder="开始月份"
            (ngModelChange)="changeStartMonth(validateForm.value);" [nzDisabledDate]="disabledStartDate"
            [(ngModel)]="searchConditions.oitDateStart"></nz-month-picker>
        </nz-form-control>
        <nz-form-control [nzSm]="6" [nzXs]="24">
          <nz-month-picker formControlName="oitDateEnd" nzPlaceHolder="结束月份"
              (ngModelChange)="changeEndMonth(validateForm.value);" [nzDisabledDate]="disabledEndDate"
              [(ngModel)]="searchConditions.oitDateEnd"></nz-month-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Teams</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <nz-select formControlName="teams" style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder=""
            [(ngModel)]="searchConditions.teams">
            <nz-option *ngFor="let item of teamsList" [nzValue]="item.code" [nzLabel]="item.label"
              [nzDisabled]="item.disabled"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>Sales Area</span><br>大区</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <nz-select formControlName="bigRegion" style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder="大区"
            [(ngModel)]="searchConditions.bigRegion">
            <nz-option *ngFor="let item of bigRegionList" [nzValue]="item.code" [nzLabel]="item.label"
              [nzDisabled]="item.disabled"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>Sales District</span><br>小区</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <input nz-input formControlName="smallRegion" placeholder="小区" [(ngModel)]="searchConditions.smallRegion" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Deal Form ID</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <input nz-input formControlName="dealFormId" placeholder="" [(ngModel)]="searchConditions.dealFormId" />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">SO#</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <input nz-input formControlName="sap" placeholder="" [(ngModel)]="searchConditions.sap" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>The Philips Contract<br> has been Uploaded</span><br>正本合同是否已上传</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24" style="margin-top:18px">
          <nz-select formControlName="isContract" style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder=""
          [(ngModel)]="searchConditions.isContract">
          <nz-option  nzValue="1" nzLabel="是"></nz-option>
          <nz-option  nzValue="0" nzLabel="否"></nz-option>
        </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>3rd Party Item Check</span><br>第三方产品核查</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <nz-select formControlName="thirdVerification" style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder=""
          [(ngModel)]="searchConditions.thirdVerification">
          <nz-option *ngFor="let item of thirdVerificationModeList" [nzValue]="item.code" [nzLabel]="item.label"></nz-option>
        </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">File Supplement Status<br>文件补充状态</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <nz-select formControlName="fileSupportStatus" style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder=""
          [(ngModel)]="searchConditions.fileSupportStatus">
          <nz-option *ngFor="let item of fileSupportStatusModeList" [nzValue]="item.code" [nzLabel]="item.label"></nz-option>
        </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24"><span>Pre-Book Status</span><br>Pre-Book状态</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <nz-select formControlName="preBookStatus" style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder=""
                     [(ngModel)]="searchConditions.preBookStatus">
            <nz-option *ngFor="let item of prebookList" [nzValue]="item.code" [nzLabel]="item.label"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzXs="24" nzSm="24" nzMd="8" [style.display]="isCollapse ? 'block' : 'none'">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Other<br>其他</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
          <nz-select formControlName="other" style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder=""
                     [(ngModel)]="searchConditions.other">
            <nz-option *ngFor="let item of searchOtherList" [nzValue]="item.code" [nzLabel]="item.label"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>





  </div>
  <div nz-row nzType="flex" nzJustify="end" nzAlign="middle">
    <div nz-col nzSpan="24">
      <nz-form-item style="text-align: right;">
        <!--        <button nz-button [nzType]="'primary'" (click)="addNewItem('999')" style="margin-left: 10px;">向父元素传值999</button>-->
        <button nz-button [nzType]="'primary'" [nzLoading]="nzLoading" style="margin-left: 10px;">Search 搜索</button>
        <button nz-button [nzType]="'primary'" style="margin-left: 10px;" (click)="resetForm()">Clear 清空</button>
        <button nz-button [nzType]="'primary'" (click)="exportExcel($event)" [nzLoading]="loadingButton.exportExcel"
          style="margin-left: 10px;">Export to Excel  导出Excel</button>
        <button nz-button [nzType]="'primary'" (click)="projectReport($event, validateForm.value)"
          [nzLoading]="loadingButton.projectReport" style="margin-left: 10px;" *appPermissionsIf="'report_oit'">OIT Report</button>
        <button nz-button [nzType]="'primary'" (click)="showModeal()" [nzLoading]="loadingButton.opportunityReport"
          style="margin-left: 10px;" *appPermissionsIf="'report_opportunity'">进单状态-按Opportunity查询</button>
        <button nz-button [nzType]="'primary'" (click)="BundleReport($event)" [nzLoading]="loadingButton.BundleReport"
          style="margin-left: 10px;" *appPermissionsIf="'report_preparation'">Search by Order 进单状态-按进单准备表查询</button>
        <button nz-button [nzType]="'primary'" (click)="biddingReport($event)" [nzLoading]="loadingButton.biddingReport"
          style="margin-left: 10px;" *appPermissionsIf="'report_bidding'">Bidding Report</button>
        <button nz-button [nzType]="'primary'" (click)="prebookReport($event)" [nzLoading]="loadingButton.preBookReport"
                style="margin-left: 10px;" *appPermissionsIf="'report_prebook'">PreBook Report</button>
        <button nz-button [nzType]="'primary'" (click)="POSReport($event)" [nzLoading]="loadingButton.POSReport"
          style="margin-left: 10px;" *appPermissionsIf="'report_pos'">POS Report</button>
        <a style="font-size:14px;margin-left: 10px;color: #1890ff;" (click)="toggleCollapse()">
          {{ isCollapse ? 'Collapse 收起' : 'Expand 展开' }}
          <i nz-icon [type]="isCollapse ? 'up' : 'down'"></i>
        </a>
      </nz-form-item>
    </div>
  </div>
</form>

<!--Opportunity Report 输入框-->
<nz-modal [(nzVisible)]="opportunityReportShow" nzWidth="800px" nzTitle="输入opportunity" (nzOnCancel)="cancelModeal()"
  (nzOnOk)="opportunityReport()">
  <ng-container>
    <div style="text-align: center">
      <textarea style="width: 90%" rows="4" nz-input [(ngModel)]="opportunityText"></textarea>
    </div>
  </ng-container>
</nz-modal>
