<nz-card class="mtb1rem" nzTitle="请详细列明转出、转入订单具体配置差异及差异处理计划和成本金额。">
  <nz-table [nzData]="orders.value" [nzFooter]="tableFooter" [nzShowPagination]="false" nzBordered [nzScroll]="{ x: '1000px' }">
    <thead>
    <tr>
      <th nzWidth="200px">配置详情</th>
      <th nzWidth="200px">转出项目</th>
      <th nzWidth="200px">转入项目</th>
      <th nzWidth="100px">差异处理计划</th>
      <th nzWidth="200px">成本（和转入项目币制一致）</th>
      <th nzWidth="100px" nzRight="0px" *ngIf="editable">Action</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let analysis of orders.value">
        <td>
          <input type="text" nz-input [(ngModel)]="analysis.configDetail" [disabled]="!editable" />
        </td>
        <td>
          <input type="text" nz-input [(ngModel)]="analysis.transferOut" [disabled]="!editable" />
        </td>
        <td>
          <input type="text" nz-input [(ngModel)]="analysis.transferIn" [disabled]="!editable" />
        </td>
        <td>
          <input type="text" nz-input [(ngModel)]="analysis.handlePlan" [disabled]="!editable" />
        </td>
        <td>
          <input type="number" nz-input [(ngModel)]="analysis.cost" min="0" [disabled]="!editable" />
        </td>
        <td nzRight="0px" *ngIf="editable">
          <button nz-button nzType="primary" nzSize="small" (click)="onDeleteProduct(analysis)">删除</button>
        </td>
      </tr>
    </tbody>
    <ng-template #tableFooter>
      <button nz-button nzType="dashed" nzBlock (click)="onAddAnalysis()">
        <i nz-icon nzType="plus" nzTheme="outline"></i>添加
      </button>
    </ng-template>
  </nz-table>
</nz-card>
