<nz-card class="title_warpper mb-4">
  <div>
    <h4 class="font-weight-bold">
      <span>Lead Time Analysis Lead Time分析</span>
    </h4>
  </div>
</nz-card>

<nz-card>
  <form nz-form [formGroup]="formValues" (ngSubmit)="onExportData()">
    <div nz-row>
      <div nz-col [nzMd]="6" [nzSm]="12" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="year">Year<br>年份</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-year-picker id="year" nzFormat="yyyy年" formControlName="year" nzPlaceHolder="" (ngModelChange)="onYearChange($event)"></nz-year-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="6" [nzSm]="12" [nzXs]="24">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="month">Month<br>月份</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-select
              id="month"
              formControlName="month"
              nzAllowClear
            >
              <nz-option *ngIf="months.length === 0" nzDisabled nzLabel="请先选择年份"></nz-option>
              <nz-option *ngFor="let month of months" [nzValue]="month.value" [nzLabel]="month.label" [nzDisabled]="month.disabled"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzMd]="6" [nzSm]="12" [nzXs]="24">
        <nz-form-item>
          <nz-form-control [nzOffset]="4">
            <button nz-button nzType="primary" [nzLoading]="exportBtnLoading">Exprot 导出</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>

</nz-card>
