.heads {
  color: red;
}

.mt10 {
  margin-top: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.wid150 {
  width: 150px;
}

.tabbox {
  min-height: 200px;
  margin-bottom: 20px;
}