<h4 class="font-weight-bold py-3 mb-4" #qTop id="modalBodyTop">{{quotationTitle}} </h4>

<div class="row" *ngIf="comments && '' !== comments" style="margin-bottom:24px;">

  <div class="col-lg-12">
    <div class="attachment-title d-flex">
      <div class="container text-left" style="padding-left:0;margin-inline-start:0;">
        <strong>{{comments}}</strong></div>
    </div>
  </div>
</div>

<hr class="border-light container-m--x mt-0 mb-4">

<!------------------------------------------------------- 主配置 start ---------------------------------------------------->
<div class="card">
  <div class="card-header quotation-header">
    <span class="quotation-header-span">主配置</span>
  </div>
  <div class="card-body quotation-block" >
    <div class="table-responsive">
      <ngx-datatable #primary_table style="min-width: 500px" [rows]="rows" [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'" [headerHeight]="43" [footerHeight]="0" [rowHeight]="'auto'"
        [reorderable]="true" [limit]="200">

        <ngx-datatable-row-detail [rowHeight]="'auto'" #detailRow>
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
            <ng-container *ngFor="let detail of row.details">
              <div class="row primary-detail"
                [ngStyle]="{'width': '90%' ,'font-weight': detail.bold === 'false' ? 'normal' : 'bold','color': detail.fontColor ? '#' + detail.fontColor:  '#000000'}">
                <div class="col-4">{{detail.chinese}}</div>
                <div class="col-4">{{detail.english}}</div>
                <div class="col-1">{{detail.CNY}}</div>
                <div class="col-1">{{detail.USD}}</div>
                <div class="col-1">{{detail.PN}}</div>
              </div>
            </ng-container>
          </ng-template>
        </ngx-datatable-row-detail>
        <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <a href="javascript:void(0)" *ngIf="row.details.length > 0" [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded" (click)="togglePrimaryTableExpandRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="400" [sortable]="false" prop="chinese" name="中文描述" [headerClass]="getHeaderClass"
          [cellClass]="getCellClassAlt"></ngx-datatable-column>
        <ngx-datatable-column [width]="400" [sortable]="false" prop="english" name="英文描述" [headerClass]="getHeaderClass"
          [cellClass]="getCellClassAlt"></ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="CNY" name="人民币" [headerClass]="getHeaderClass"
          [cellClass]="getCellClassAlt">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span *ngIf="value">￥ {{value | number }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="USD" name="美金" [headerClass]="getHeaderClass"
          [cellClass]="getCellClassAlt">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span *ngIf="value">$ {{value | number }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="_qty" name="QTY" [headerClass]="getHeaderClass"
          [cellClass]="getCellClassAlt">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <input [disabled]="disabled || specialEdit" *ngIf="row.QTY=='_';else fixedQTY"
              (blur)="updateValue($event, '_qty', rowIndex)" type="number" min="0" [max]="row.maxqty"
              oninput="validity.valid||(value='');" [value]="value" />
            <ng-template #fixedQTY>
              {{value}}
            </ng-template>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="PN" name="产品号" [headerClass]="getHeaderClass"
          [cellClass]="getCellClassAlt"></ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>

  <div class="card-body quotation-block" >
    <div class="table-responsive">
      <ngx-datatable #primary_table2 style="min-width: 500px"
        [columnMode]="'force'" [headerHeight]="43" [footerHeight]="0"
        [rowHeight]="'auto'" [reorderable]="true" [limit]="200">

        <ngx-datatable-row-detail [rowHeight]="'auto'" #detailRow>
          <ng-template let-row="row" let-expanded="expanded2" ngx-datatable-row-detail-template>
            <ng-container *ngFor="let detail of row.details">
              <div class="row primary-detail"
                [ngStyle]="{'width': '90%' ,'font-weight': detail.bold === 'false' ? 'normal' : 'bold','color': detail.fontColor ? '#' + detail.fontColor:  '#000000'}">
                <div class="col-4">{{detail.chinese}}</div>
                <div class="col-4">{{detail.english}}</div>
                <div class="col-1">{{detail.CNY}}</div>
                <div class="col-1">{{detail.USD}}</div>
                <div class="col-1">{{detail.PN}}</div>
              </div>
            </ng-container>
          </ng-template>
        </ngx-datatable-row-detail>
        <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false"
          [canAutoResize]="false">
          <ng-template let-row="row" let-expanded="expanded2" ngx-datatable-cell-template>
            <a href="javascript:void(0)" *ngIf="row.details.length > 0" [class.datatable-icon-right]="!expanded"
              [class.datatable-icon-down]="expanded" (click)="toggleSelectedPrimaryTableExpandRow(row)">
            </a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="chinese" name="中文描述" [headerClass]="getHeaderClass"
          [cellClass]="getCellClass"></ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="english" name="英文描述" [headerClass]="getHeaderClass"
          [cellClass]="getCellClass"></ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="CNY" name="人民币" [headerClass]="getHeaderClass"
          [cellClass]="getCellClass">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span *ngIf="value">￥ {{value | number }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="USD" name="美金" [headerClass]="getHeaderClass"
          [cellClass]="getCellClass">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <span *ngIf="value">$ {{value | number }}</span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="_qty" name="QTY" [headerClass]="getHeaderClass"
          [cellClass]="getCellClass">
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
            <input disabled *ngIf="row.QTY=='_';else fixedQTY" (blur)="updateValue($event, '_qty', rowIndex)"
              type="number" min="0" [max]="row.maxqty" oninput="validity.valid||(value='');" [value]="value" />
            <ng-template #fixedQTY>
              {{value}}
            </ng-template>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" prop="PN" name="产品号" [headerClass]="getHeaderClass"
          [cellClass]="getCellClass"></ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
