<hr/>
<div style="margin-bottom:10px;"><strong>特价审批订单信息</strong></div>
<!-- progress bar -->
<app-upload-progressbar [progressCount]="progressCount"></app-upload-progressbar>
<div class="row">
  <div class="form-group col-sm-6 col-md-4">
    <label class="ng-star-inserted">销售团队<span *ngIf="!disabled">&ensp;*</span></label> 
    <ng-select required name="salesGroupName"
      #specialTag  #salesGroupName="ngModel"
      [ngClass]="{ 'is-invalid': salesGroupName.invalid && (salesGroupName.dirty || salesGroupName.touched) }" 
      [items]="salesGroupSelect" bindLabel="name" bindValue="name" [hideSelected]="true"
      [(ngModel)]="quotationForm.quotationBaseInfo.salesGroupName" (change)="changeMiscSelect($event,'salesGroup');"
      [disabled]="disabled">
    </ng-select>
    <input type="hidden" [(ngModel)]="quotationForm.quotationBaseInfo.salesGroupCode">
    <div *ngIf="salesGroupName.invalid && (salesGroupName.dirty || salesGroupName.touched)" class="invalid-feedback d-block">
      <div *ngIf="salesGroupName.errors.required">该信息为必填项</div>
    </div>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label class="ng-star-inserted">订单类型<span *ngIf="!disabled">&ensp;*</span></label> 
    <ng-select required name="purchaseTypeName"
      #specialTag #purchaseTypeName="ngModel" 
      [ngClass]="{ 'is-invalid': purchaseTypeName.invalid && (purchaseTypeName.dirty || purchaseTypeName.touched) }" 
      [items]="purchaseTypeSelect" bindLabel="name" bindValue="name" [hideSelected]="true"
      [(ngModel)]="quotationForm.quotationBaseInfo.purchaseTypeName"
      (change)="changeMiscSelect($event,'purchaseType');purchaseTypeRefactor();initTwoBooleanFlag();"
      [disabled]="disabled || quotationForm.quotationList.length > 0">
    </ng-select>
    <input type="hidden" [(ngModel)]="quotationForm.quotationBaseInfo.purchaseTypeCode">
    <div *ngIf="purchaseTypeName.invalid && (purchaseTypeName.dirty || purchaseTypeName.touched)" class="invalid-feedback d-block">
      <div *ngIf="purchaseTypeName.errors.required">该信息为必填项</div>
  </div>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label class="ng-star-inserted">Solution</label> 
    <ng-select [items]="solutionTypeSelect" bindLabel="name" bindValue="name" [hideSelected]="true"
      [(ngModel)]="quotationForm.quotationBaseInfo.solutionTypeName" (change)="changeMiscSelect($event,'solutionType');"
      [disabled]="disabled">
    </ng-select>
    <input type="hidden" [(ngModel)]="quotationForm.quotationBaseInfo.solutionTypeCode">
  </div>
</div>
<div class="row" #row1Body>
  <div class="form-group col-sm-6 col-md-4">
    <label class="ng-star-inserted">币种<span *ngIf="!disabled">&ensp;*</span></label> 
    <select required name="currencyType"
      #specialTag #currencyType="ngModel" 
      class="form-control custom-select" 
      [ngClass]="{ 'is-invalid': currencyType.invalid && (currencyType.dirty || currencyType.touched) }" 
      [(ngModel)]="quotationForm.quotationBaseInfo.currencyType" (change)="elementsChanged();updateCurrencyType($event);"
      [disabled]="disabled || quotationForm.quotationList.length > 0">
      <option selected value="">--请选择--</option>
      <option value="1">美金</option>
      <option value="2">人民币</option>
    </select>
    <div *ngIf="currencyType.invalid && (currencyType.dirty || currencyType.touched)" class="invalid-feedback d-block">
      <div *ngIf="currencyType.errors.required">该信息为必填项</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6 col-md-4">
    <label class="ng-star-inserted">最终用户名称<custom-tooltip [dynamic]="1" [info]="'enduserNameSpecial'"></custom-tooltip><span *ngIf="!disabled">&ensp;*</span>&ensp;<button class="btn btn-xs btn-info" (click)="viewLicense('2')">查看证照</button></label>
    <ng-select required  name="enduserName"
      #specialTag #enduserName="ngModel" 
      [ngClass]="{ 'is-invalid': enduserName.invalid && (enduserName.dirty || enduserName.touched) }" 
      [items]="hospital$ | async"
      typeToSearchText="请输入最终用户名称"
      notFoundText=""
      loadingText="查询中..."
      bindLabel="CustomerName"
      bindValue="CustomerName"
      (compositionstart)="changeImeFlag('0');"
      (compositionend)="changeImeFlag('1');"
      [hideSelected]="true"
      [loading]="hospitalLoading"
      [typeahead]="hospitalInput$"
      [(ngModel)]="quotationForm.quotationBaseInfo.enduserName"
      (change) = "getEnduserInfo($event);"
      [disabled]="disabled || quotationForm.quotationList.length > 0">
    </ng-select>
    <input type="hidden" [(ngModel)]="quotationForm.quotationBaseInfo.enduserId" >
    <input type="hidden" [(ngModel)]="quotationForm.quotationBaseInfo.enduserProvince">
    <input type="hidden" [(ngModel)]="quotationForm.quotationBaseInfo.enduserCity">
    <input type="hidden" [(ngModel)]="quotationForm.quotationBaseInfo.enduserCountry">
    <div *ngIf="enduserName.invalid && (enduserName.dirty || enduserName.touched)" class="invalid-feedback d-block">
      <div *ngIf="enduserName.errors.required">该信息为必填项</div>
  </div>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label class="ng-star-inserted">最终用户类型</label>
    <input class="form-control" [(ngModel)]="quotationForm.quotationBaseInfo.enduserType" readonly (change)="elementsChanged()"
      [disabled]="disabled"/>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label class="ng-star-inserted">客户字典最终用户地址</label>
    <input class="form-control" [(ngModel)]="quotationForm.quotationBaseInfo.customerDirAddress"
            (change)="elementsChanged()" readonly [disabled]="disabled"/>
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6 col-md-4">
    <label class="ng-star-inserted">最终用户地址<span *ngIf="!disabled">&ensp;*</span></label>
    <input required name="enduserAddress" 
      #specialTag #enduserAddress="ngModel" type="text" class="form-control" 
      [ngClass]="{ 'is-invalid': enduserAddress.invalid && (enduserAddress.dirty || enduserAddress.touched) }" 
      [(ngModel)]="quotationForm.quotationBaseInfo.enduserAddress"
            (change)="elementsChanged();"  [disabled]="disabled"/>
    <div *ngIf="enduserAddress.invalid && (enduserAddress.dirty || enduserAddress.touched)" class="invalid-feedback d-block">
      <div *ngIf="enduserAddress.errors.required">该信息为必填项</div>
    </div>
  </div>
  <div class="form-group col-sm-6 col-md-4" style="display:none;">
    <label class="ng-star-inserted">实际发货地址</label>
    <input type="text" class="form-control" [(ngModel)]="quotationForm.quotationBaseInfo.deliveryAddress"
      (change)="elementsChanged()" [disabled]="disabled" />
  </div>
  <div class="form-group col-sm-6 col-md-4">
        <label class="ng-star-inserted">飞利浦类型</label>
        <input class="form-control" [(ngModel)]="quotationForm.quotationBaseInfo.philipsType" (change)="elementsChanged()"
              readonly [disabled]="disabled"/>
  </div>
  <input class="form-control" [(ngModel)]="quotationForm.quotationBaseInfo.philipsAuthList" (change)="elementsChanged()"
    readonly style="display: none;" [disabled]="disabled" />
</div>
<div class="row">
  <div class="form-group col-sm-6 col-md-4" *ngIf="'2' === quotationForm.quotationBaseInfo.version">
    <label class="ng-star-inserted">是否为HTAUS</label>
    <label class="form-check form-control no-border" style="background-color: inherit;">
      <input class="form-check-input" type="checkbox" [disabled]="true" [checked]="quotationForm.quotationBaseInfo.philipsAuthList &&
          quotationForm.quotationBaseInfo.philipsAuthList.length > 0 &&
          quotationForm.quotationBaseInfo.philipsAuthList.indexOf('HTAUS') > -1">
      <div class="form-check-label">是</div>
    </label>
  </div>
  <div class="form-group col-sm-6 col-md-4" *ngIf="'2' === quotationForm.quotationBaseInfo.version">
    <label class="ng-star-inserted">是否民营</label>
      <span class="form-check form-control no-border">
        <label>
          <input class="form-check-input" type="checkbox" [checked]="quotationForm.quotationBaseInfo.isPrivate"
            [disabled]="disabled || quotationForm.quotationList.length > 0" (change)="changeCkb($event, 'isPrivate')">
          <div class="form-check-label">是</div>
        </label>
      </span>
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6 col-md-4">
    <label class="ng-star-inserted">经销商名称<custom-tooltip [dynamic]="1" [info]="'distributorNameSpecial'"></custom-tooltip><span *ngIf="!disabled && !distributorDisableFlag">&ensp;*</span>&ensp;<button class="btn btn-xs btn-info" (click)="viewLicense('1')">查看证照</button></label>
    <ng-select [required]='!disabled && !distributorDisableFlag' name="distributorName"
      #specialTag #distributorName="ngModel" 
      [ngClass]="{ 'is-invalid': distributorName.invalid && (distributorName.dirty || distributorName.touched) }" 
      [items]="distributor$ | async" 
      typeToSearchText="请输入经销商名称" 
      (compositionstart)="changeImeFlag('0');"
      (compositionend)="changeImeFlag('1');"
      notFoundText="" 
      loadingText="查询中..."
      bindLabel="NameCN" 
      bindValue="NameCN" 
      [hideSelected]="true" 
      [loading]="distributorLoading"
      [typeahead]="distributorInput$" 
      [(ngModel)]="quotationForm.quotationBaseInfo.distributorName"
      (change)="getDistributorInfo($event);" 
      [disabled]="disabled || quotationForm.quotationList.length > 0 || distributorDisableFlag">
    </ng-select>
    <input type="hidden" [(ngModel)]="quotationForm.quotationBaseInfo.distributorId">
    <input type="hidden" [(ngModel)]="quotationForm.quotationBaseInfo.distributorAgreementNos">
    <div *ngIf="distributorName.invalid && (distributorName.dirty || distributorName.touched)" class="invalid-feedback d-block">
      <div *ngIf="distributorName.errors.required">该信息为必填项</div>
  </div>
  </div>
  <div class="form-group col-sm-6 col-md-4" style="display:none;">
    <label class="ng-star-inserted">经销商地址</label>
    <input class="form-control" [(ngModel)]="quotationForm.quotationBaseInfo.distributorAddress" [disabled]="disabled"/>
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6 col-md-4">
    <label class="ng-star-inserted">预计经销商利润/中标价格币种<span *ngIf="!disabled && !distributorDisableFlag">&ensp;*</span></label>
    <select [required]="!disabled && !distributorDisableFlag" name="expectwinbidbz" 
      #specialTag #expectwinbidbz="ngModel" class="form-control custom-select" 
      [ngClass]="{ 'is-invalid': expectwinbidbz.invalid && (expectwinbidbz.dirty || expectwinbidbz.touched) }" 
      [(ngModel)]="quotationForm.quotationBaseInfo.expectwinbidbz"
      (change)="elementsChanged();"
      [disabled]="disabled || distributorDisableFlag">
      <option selected value="">--请选择--</option>
      <option value="1">美金</option>
      <option value="2">人民币</option>
    </select>
    <div *ngIf="expectwinbidbz.invalid && (expectwinbidbz.dirty || expectwinbidbz.touched)" class="invalid-feedback d-block">
      <div *ngIf="expectwinbidbz.errors.required">该信息为必填项</div>
  </div>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label class="form-label">预计经销商其他费用<span *ngIf="!disabled && !distributorDisableFlag">&ensp;*</span></label>
    <input [required]="!disabled && !distributorDisableFlag" name='expectdistributerotherfee'
      #specialTag #expectdistributerotherfee="ngModel" 
      type="number" min="0" class="form-control"
      [ngClass]="{ 'is-invalid': expectwinbidbz.invalid && (expectwinbidbz.dirty || expectwinbidbz.touched) }"
      [(ngModel)]="quotationForm.quotationBaseInfo.expectdistributerotherfee" (change)="elementsChanged()"
      [disabled]="disabled || distributorDisableFlag" />
      <div *ngIf="expectdistributerotherfee.invalid && (expectdistributerotherfee.dirty || expectdistributerotherfee.touched)" class="invalid-feedback d-block">
        <div *ngIf="expectdistributerotherfee.errors.required">该信息为必填项</div>
    </div>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label class="form-label">预计中标价格<span *ngIf="!disabled && !distributorDisableFlag">&ensp;*</span></label> 
    <input [required]="!disabled && !distributorDisableFlag" name="purchasePrice"
      #speicalTag #purchasePrice="ngModel"
      [ngClass]="{ 'is-invalid': purchasePrice.invalid && (purchasePrice.dirty || purchasePrice.touched) }"
      type="number" min="0" class="form-control" [(ngModel)]="quotationForm.quotationBaseInfo.purchasePrice"
      (change)="elementsChanged()" [disabled]="disabled || distributorDisableFlag" />
      <div *ngIf="purchasePrice.invalid && (purchasePrice.dirty || purchasePrice.touched)" class="invalid-feedback d-block">
        <div *ngIf="purchasePrice.errors.required">该信息为必填项</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6 col-md-4">
    <label class="form-label">预计进单时间</label> 
    <div class="input-group">
      <div class="input-group-prepend">
        <button class="input-group-text" (click)="d1.toggle()" type="button">
          <span class="ion ion-md-calendar" style="cursor: pointer;"></span>
        </button>
      </div>
      <input required #purchaseDate="ngModel" class="form-control" [(ngModel)]="quotationForm.quotationBaseInfo.purchaseDate"
        ngbDatepicker
        navigation="'select'"
        (click)="d1.toggle()"
        [disabled]="disabled"
        #d1="ngbDatepicker"
        (ngModelChange)="elementsChanged();">

    </div>
    <div *ngIf="purchaseDate.invalid && (purchaseDate.dirty || purchaseDate.touched)" class="invalid-feedback d-block">
      <div *ngIf="purchaseDate.errors.required">该信息为必填项</div>
  </div>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label class="form-label">预计申请金额</label> 
    <input required #applyPrice="ngModel" type="number" min="0" class="form-control" [(ngModel)]="quotationForm.quotationBaseInfo.applyPrice"
      (change)="elementsChanged()" [disabled]="disabled" />
      <div *ngIf="applyPrice.invalid && (applyPrice.dirty || applyPrice.touched)" class="invalid-feedback d-block">
        <div *ngIf="applyPrice.errors.required">该信息为必填项</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6 col-md-4">
    <label class="form-label">招标公司全称</label> 
    <input type="text" class="form-control" [(ngModel)]="quotationForm.quotationBaseInfo.biddingCompany"
      (change)="elementsChanged()" [disabled]="disabled || !isZhitou" />
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label class="form-label">佣金公司全称</label> 
    <input type="text" class="form-control" [(ngModel)]="quotationForm.quotationBaseInfo.commisionCompany"
      (change)="elementsChanged()" [disabled]="disabled || !isZhitou" />
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-6 col-md-8">
    <label class="form-label">申请理由<span *ngIf="!disabled">&ensp;*</span></label>  
    <textarea 
      required name="applyReason"
      #specialTag #applyReason="ngModel" class="form-control" rows="5" [(ngModel)]="quotationForm.quotationBaseInfo.applyReason"
      [ngClass]="{ 'is-invalid': applyReason.invalid && (applyReason.dirty || applyReason.touched) }" 
      (change)="elementsChanged()" [disabled]="disabled"></textarea>
    <div *ngIf="applyReason.invalid && (applyReason.dirty || applyReason.touched)" class="invalid-feedback d-block">
      <div *ngIf="applyReason.errors.required">该信息为必填项</div>
    </div>
  </div>
</div>
<div class="row" *ngIf="ctpFields" style="display: none;">
  <div class="form-group col-sm-6 col-md-4">
    <label class="form-label" style="color:darkred;">总CTP价格<span *ngIf="!customDisabled.ctpall">&ensp;*</span></label>
    <input #specialTag #ctpall="ngModel" 
      [required]="false" name="ctpall"
      [ngClass]="{ 'is-invalid': ctpall.invalid && (ctpall.dirty || ctpall.touched) }" 
      type="number" min="0" class="form-control" 
      [(ngModel)]="quotationForm.quotationBaseInfo.ctpall"
      (change)="formatNumber($event, 'ctpall');elementsChanged();"
      [disabled]="customDisabled.ctpall"  />
    <div *ngIf="ctpall.invalid && (ctpall.dirty || ctpall.touched)" class="invalid-feedback d-block">
      <div *ngIf="ctpall.errors.required">该信息为必填项</div>
    </div>
  </div>
  <div class="form-group col-sm-6 col-md-4">
    <label class="form-label" style="color:darkred;">总CTP价格百分比<span *ngIf="!customDisabled.ctpallRatio">&ensp;*</span></label>
    <div class="input-group">
      <input #specialTag #ctpallRatio="ngModel"
        [ngClass]="{ 'is-invalid': ctpallRatio.invalid && (ctpallRatio.dirty || ctpallRatio.touched) }" 
        type="number" min="0" max="100" class="form-control" 
        [(ngModel)]="quotationForm.quotationBaseInfo.ctpallRatio"
        (change)="elementsChanged()" [required]="false" [disabled]="customDisabled.ctpallRatio"  />
      <div class="input-group-append">
        <span class="input-group-text">%</span>
      </div>
    </div>
    <div *ngIf="ctpallRatio.invalid && (ctpallRatio.dirty || ctpallRatio.touched)" class="invalid-feedback d-block">
      <div *ngIf="ctpallRatio.errors.required">该信息为必填项</div>
    </div>
  </div>
</div>
<div class="row" *ngIf="sofonFilesFields" style="margin-bottom:10px;">
  <div class="form-group col-md-4" style="color:darkred;">SOFON文件 (.doc/.docx/.xls/.xlsx文件)</div>
  <div class="form-group col-md-2 mr-auto mt-auto" style="text-align:right;" *ngIf="!customDisabled.sofonFiles">
    <input type="file" (change)="uploadFile('sofonFiles');" style="display:none;" #sofonFilesInput>
    <button class="btn btn-sm btn-primary" (click)="sofonFilesInput.click()">+ 添加</button>
  </div>
</div>
<div class="row" *ngIf="sofonFilesFields">
  <div class="table-responsive col-md-6">
    <ngx-datatable [rows]="quotationForm.quotationBaseInfo.sofonFiles" style="padding:0;" [columnMode]="'force'"
      [headerHeight]="0" [footerHeight]="0" [rowHeight]="'auto'" [limit]="20" [messages]="{emptyMessage:''}">
      <ngx-datatable-column prop="name" name="文件名称"></ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="操作" [cellClass]="getAlignToRightClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <a href="javascript:void(0)" class="btn btn-primary btn-xs" (click)="downloadFile(row)">下载</a>
          <a *ngIf="!disabled || !customDisabled.sofonFiles" href="javascript:void(0)"
            class="btn btn-danger btn-xs" mwlConfirmationPopover popoverMessage="确认删除？" placement="top" confirmText="确认" [popoverTitle]="''"
            cancelText="取消" (confirm)="removeFile(row, 'sofonFiles');">删除</a>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
<hr/>
<div style="margin-bottom:10px;"><strong>亚型订单</strong></div>
<div class="row" *ngIf="!disabled">
  <div class="form-group col-md-2">
    <label class="form-label">临床细分</label> 
    <select required #clinic="ngModel" required #selectClinicalValu="ngModel" class="form-control" [(ngModel)]="selectClinicalValue" (change)="selectClinic()">
      <option value="" selected>--请选择--</option>
      <option *ngFor="let clinic of clinicalSelectSet" [value]="clinic">{{clinic}}</option>
    </select>
  </div>
  <div class="form-group col-md-2">
    <label class="form-label">产品</label> 
    <select required #product="ngModel" class="form-control" [(ngModel)]="selectProductValue" (change)="selectProduct()">
      <option value="" selected>--请选择--</option>
      <option *ngFor="let product of productSelectSet" [value]="product">{{product}}</option>
    </select>
  </div>
  <div class="form-group col-md-2">
    <label class="form-label">亚型</label> 
    <select required #quotation="ngModel" class="form-control" [(ngModel)]="selectQuotationIdValue" (change)="selectQuotation()">
      <option value="" selected>--请选择--</option>
      <option *ngFor="let quotation of quotationSelectSet" [value]="quotation.value + '||' + quotation.subValueCode">{{quotation.text}} ({{quotation.subValue}})</option>
    </select>
  </div>
  <div class="form-group col-md-2">
    <label class="form-label">一级科室分类</label> 
    <select required #LevelOneValue="ngModel" class="form-control" [(ngModel)]="selectLevelOneClassificationValue" (change)="selectLevelOneValueFun()">
      <option value="">--请选择--</option>
      <option *ngFor="let LevelOneValue of selectLevelOneValue" [value]="LevelOneValue">{{LevelOneValue}}</option>
    </select>
  </div>
  <div class="form-group col-md-2">
    <label class="form-label">二级科室分类</label> 
    <select required #LevelTwoValue="ngModel" class="form-control" [(ngModel)]="selectLevelTwoClassificationValue" (change)="selectLevelTwoValueFun()">
      <option value="">--请选择--</option>
      <option *ngFor="let LevelTwoValue of selectLevelTwoValue"
              [value]="LevelTwoValue['id']">{{LevelTwoValue['2_Department']}}</option>
    </select>
  </div>
  <div class="form-group col-md-2" [hidden]="!selectLevelOther">
    <label class="form-label">二级科室分类其他</label>
    <input type="text" class="form-control" [(ngModel)]="selectLevelOtherClassificationValue"/>
  </div>
  <div class="form-group col-md-2 ml-auto mt-auto" style="text-align:right;">
    <button class="btn btn-primary" (click)="addNewQuotation()">+ 添加</button>
  </div>
</div>
  <div class="row">
  <div class="table-responsive col-md-12">
    <ngx-datatable #table style="min-width: 500px"
      [rows]="quotationForm.quotationList"
      [columnMode]="'force'"
      [headerHeight]="43"
      [footerHeight]="0"
      [rowHeight]="'auto'"
      [reorderable]="true"
      [selected]="quotationSelected"
      [limit]="10">
      <ngx-datatable-column prop="Clinical_Segmentation" name="临床分类" [headerClass]="getHeaderClass"
                            [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column prop="Product_Name" name="产品名称" [headerClass]="getHeaderClass"
                            [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column prop="quotation" name="亚型名称" [headerClass]="getHeaderClass"
                            [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column prop="regioncn" name="原产地" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
      </ngx-datatable-column>
      <ngx-datatable-column prop="levelOne" name="一级科室分类" [headerClass]="getHeaderClass"
                            [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column prop="levelTwo" name="二级科室分类" [headerClass]="getHeaderClass"
                            [cellClass]="getCellClass"></ngx-datatable-column>
      <ngx-datatable-column prop="counts" name="数量" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <input
            [ngStyle]="{'width':'60%'}"
            type="number"
            min="1"
            oninput="validity.valid||(value='');"
            (change)="updateCounts($event, rowIndex)"
            [value]="value"
            [disabled]="disabled"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column prop="sumPrice" name="设备总价（合计）" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" let-rawValue="row.rawSumPrice"
          ngx-datatable-cell-template>
          <span (dblclick)="changeEditingCell(rowIndex, '-sumPrice')"
            *ngIf="!editingCell[rowIndex + '-sumPrice']">
            {{value | slice:0:2}}{{value | slice:2 | number:'1.0-0'}}
            <span *ngIf="value != rawValue && !!rawValue" style="color:red;"><br />
              (原价: {{rawValue | slice:0:2}}{{rawValue | slice:2 | number:'1.0-0'}})
            </span>
          </span>
          <input autofocus [ngStyle]="{'width':'90%'}" (blur)="updateUnitTotalPriceByHand($event, 'sumPrice', rowIndex)"
            *ngIf="editingCell[rowIndex + '-sumPrice']" type="text" [value]="value" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column *ngIf="ctpSingleFields" prop="ctp" name="CTP" [minWidth]="120" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <input class="no-spin" [ngStyle]="{'width':'95%'}" type="number" min="0" oninput="validity.valid||(value='');" 
            [value]="value" [disabled]="customDisabled.ctp" (change)="updateCtpSingle($event, rowIndex,'ctp');" />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column *ngIf="ctpSingleFields" style="color:red;" prop="ctpRatio" name="CTP百分比" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <input [ngStyle]="{'width':'60%'}" type="number" min="0" oninput="validity.valid||(value='');" 
            [value]="value" [disabled]="customDisabled.ctpRatio"  (change)="updateCtpSingle($event, rowIndex,'ctpRatio');" /> %
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column *ngIf="igmFields" prop="igm" name="IGM" [minWidth]="120"
        [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <input [ngStyle]="{'width':'60%'}" type="number" oninput="validity.valid||(value='');" [value]="value"
            [disabled]="!igmchangeFlag" step=".01" (change)="updateIgmInT14($event,rowIndex);" /> %
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="操作" [headerClass]="getHeaderClass" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <a *ngIf="!disabled" href="javascript:void(0)" class="btn btn-primary btn-xs"
            (click)="editQuotationDetail(row,row)">编辑</a>
          <a *ngIf="disabled" href="javascript:void(0)" class="btn btn-primary btn-xs"
            (click)="viewQuotationDetail(row, row)">查看</a>
          <!-- <a href="javascript:void(0)" class="btn btn-primary btn-xs" (click)="viewPrimaryPdf(row)">主配置</a> -->
          <a *ngIf="'2' == quotationForm.quotationBaseInfo.version" href="javascript:void(0)" class="btn btn-primary btn-xs" (click)="exportExcel(row)">导出xlsx</a>
          <a *ngIf="!disabled" href="javascript:void(0)" class="btn btn-danger btn-xs" mwlConfirmationPopover
            popoverMessage="确认删除？"
            placement="top"
            confirmText="确认" [popoverTitle]="''"
            cancelText="取消"
            (confirm)="removeQuotation(row, rowIndex);">删除</a>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
  <input type="hidden" [formControl]="formControl" [formlyAttributes]="field">
  <hr/>
</div>
<div class="row" *ngIf="!disabled">
  <div class="form-group col-md-2 ml-auto" style="text-align:right;"><button class="btn btn-xs btn-info" id='quotation-add-btn1' (click)='updateTotalAll();'>计算/更新总价</button></div>
</div>
<div class="row">
    <div class="table-responsive col-md-8 ml-auto">
        <ngx-datatable #tableTotalAll style="min-width: 500px"
                  [rows]="quotationForm.totalAllList"
                  [columnMode]="'force'"
                  [headerHeight]="43"
                  [footerHeight]="0"
                  [rowHeight]="'auto'"
                  [reorderable]="false"
                  [limit]="20">
          <ngx-datatable-column prop="totalall" name="总价/利润" [headerClass]="getHeaderClass"
                                [cellClass]="getCellClass"></ngx-datatable-column>
          <ngx-datatable-column prop="money" name="金额/百分比" [headerClass]="getHeaderClass"
                                [cellClass]="getCellClass">
            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
              <span *ngIf="value && row.totalall_name != 'distributermargin'">{{value | slice:0:2}}{{value | slice:2 | number:'1.0-0'}}</span>
              <span *ngIf="value && row.totalall_name == 'distributermargin'">{{value | numeral:'0.00%'}}</span>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
<div style="margin-bottom:10px;"><strong>备案信息</strong></div>

<!-- <button (click)="validateQuotation();" id="validateQuotation" [hidden]="true"></button> -->
<button (click)="validateSpecial();" id="validateSpecial" class="btn btn-sm" [hidden]="true">validator</button>
<button (click)="forceTouch();" class="btn btn-sm" [hidden]="true">touch</button>
