<nz-card class="mtb1rem" nzTitle="订单信息">
  <header *ngIf="editable">
    <nz-upload nzAction="" [nzShowUploadList]="false" [nzBeforeUpload]="onImportOrderInfo">
      <button nz-button nzType="link">
        <i nz-icon nzType="import" nzTheme="outline"></i>
        批量导入
      </button>
    </nz-upload>
    <a href="../../../../../../assets/template/RDD-OIT-180-Template.xlsx" download="RDD-OIT>180天订单保留template.xlsx">RDD-OIT>180天订单保留template.xlsx</a>
  </header>

  <div class="table-container">
    <nz-table 
      nzBordered
      nzSize="small"
      [nzData]="formValues.value"
      [nzFrontPagination]="false"
      [nzScroll]="{ x: '1000px' }"
      [nzShowPagination]="false"
    >
      <thead>
        <tr>
          <th nzWidth="150px">订单类型</th>
          <th nzWidth="200px">订单Reference ID</th>
          <th nzWidth="200px">产品型号</th>
          <th nzWidth="150px">产品线</th>
          <th nzWidth="150px">BG(Modality)</th>
          <th nzWidth="300px">销售区域</th>
          <th nzWidth="180px">业务模式</th>
          <th nzWidth="300px">经销商编号</th>
          <th nzWidth="300px">经销商</th>
          <th nzWidth="300px">医院编号</th>
          <th nzWidth="300px">医院名称</th>
          <th nzWidth="300px">项目名称</th>
          <th nzWidth="200px">SAP 订单号（SO#）</th>
          <th nzWidth="150px">合同金额</th>
          <th nzWidth="120px">币制</th>
          <th nzWidth="200px">预计记认销售日期</th>
          <th nzWidth="220px">预计付款（或场地就位）日期</th>
          <th nzWidth="200px">申请到货日期</th>
          <th nzWidth="220px">OM</th>
          <th nzWidth="200px">产品型号</th>
          <th nzWidth="200px">WBS#</th>
          <th nzWidth="200px">进单日期</th>
          <th nzWidth="200px">原RDD</th>
          <th nzWidth="200px">推迟货期原因</th>
          <th nzWidth="200px">新RDD</th>
          <th nzWidth="180px">是否有可换货期订单</th>
          <th nzWidth="150px">可换货期订单销售</th>
          <th nzWidth="300px">可换货期订单销售区域</th>
          <th nzWidth="200px">可换货期医院编号</th>
          <th nzWidth="300px">可换货期医院名称</th>
          <th nzWidth="150px">可换货期订单型号</th>
          <th nzWidth="150px">可换货期订单SO#</th>
          <th nzWidth="200px">可换货期订单WBS#</th>
          <th nzWidth="220px">可换货期订单记认销售日期</th>
          <!-- <th nzWidth="100px" nzRight="0px">操作</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of formValues.value">
          <td>
            <nz-select [(ngModel)]="data.orderType" style="width: 100%;" *ngIf="data.isMain" [disabled]="!editable">
              <nz-option *ngFor="let item of selectOptions.orderTypes" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
          </td>
          <td>
            <input nz-input [(ngModel)]="data.referenceId"  *ngIf="data.isMain" [disabled]="!editable" />
          </td>
          <td>
            <input nz-input disabled [ngModel]="data.productType"  *ngIf="data.isMain" [disabled]="!editable" />
          </td>
          <td>
            <nz-select style="width: 100%;" [(ngModel)]="data.bmc" (ngModelChange)="onBmcChange(data)" *ngIf="data.isMain" [disabled]="!editable">
              <nz-option *ngFor="let item of spService.bmcList" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
          </td>
          <td>
            <input nz-input disabled [ngModel]="data.bg" #bg  *ngIf="data.isMain" [disabled]="!editable" />
          </td>
          <td>
            <nz-select style="width: 48%;" [(ngModel)]="data.cycleGroup" (ngModelChange)="onCycleGroupChange(data)" *ngIf="data.isMain" [disabled]="!editable">
              <nz-option *ngFor="let item of spService.cycleGroups" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
            <nz-select style="width: 48%;" [(ngModel)]="data.bigArea" *ngIf="data.isMain" [disabled]="!editable">
              <nz-option *ngFor="let item of spService.cycleGroupBigAreaMap[data.cycleGroup]" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
          </td>
          <td>
            <nz-select style="width: 100%;" [(ngModel)]="data.businessModel" *ngIf="data.isMain" [disabled]="!editable">
              <nz-option *ngFor="let item of selectOptions.businessModels" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
          </td>
          <td>
            <input nz-input [(ngModel)]="data.dealerCode" *ngIf="data.isMain" [disabled]="!editable" />
          </td>
          <td>
            <input nz-input [(ngModel)]="data.dealerName" *ngIf="data.isMain" [disabled]="!editable" />
          </td>
          <td>
            <input nz-input [(ngModel)]="data.hospitalNo" *ngIf="data.isMain" [disabled]="!editable" />
          </td>
          <td>
            <input nz-input [(ngModel)]="data.hospitalName" *ngIf="data.isMain" [disabled]="!editable" />
          </td>
          <td>
            <input nz-input [(ngModel)]="data.projectName" *ngIf="data.isMain" [disabled]="!editable" />
          </td>
          <td>
            <input nz-input [(ngModel)]="data.sapOrderNo" *ngIf="data.isMain" [disabled]="!editable" />
          </td>
          <td>
            <input nz-input [(ngModel)]="data.orderAmount" *ngIf="data.isMain" [disabled]="!editable" />
          </td>
          <td>
            <nz-select style="width: 100%;" [(ngModel)]="data.currency" *ngIf="data.isMain" [disabled]="!editable">
              <nz-option *ngFor="let item of selectOptions.currencies" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
          </td>
          <td>
            <nz-date-picker [(ngModel)]="data.expectedSaleDate" style="width: 100%" [nzStyle]="{ width: '100%' }" *ngIf="data.isMain" [disabled]="!editable"></nz-date-picker>
          </td>
          <td>
            <nz-date-picker [(ngModel)]="data.expectedPaymentDate" style="width: 100%" [nzStyle]="{ width: '100%' }" *ngIf="data.isMain" [disabled]="!editable"></nz-date-picker>
          </td>
          <td>
            <nz-date-picker [(ngModel)]="data.applyArrivalTime" style="width: 100%" [nzStyle]="{ width: '100%' }" *ngIf="data.isMain" [disabled]="!editable"></nz-date-picker>
          </td>
          <td>
            <nz-select style="width: 100%;" [(ngModel)]="data.om" *ngIf="data.isMain" [disabled]="!editable">
              <nz-option *ngFor="let item of selectOptions.oms" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
          </td>
          <td>
            <input type="text" nz-input [(ngModel)]="data.subProductType" (ngModelChange)="onProductChange(data)" *ngIf="bg !== 'US'" [disabled]="!editable" />
            <nz-select style="width: 100%;" *ngIf="bg === 'US'" [(ngModel)]="data.subProductType" (ngModelChange)="onProductChange(data)" [disabled]="!editable">
              <nz-option *ngFor="let item of spService.usProductList" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
          </td>
          <td>
            <input nz-input [(ngModel)]="data.wbsNo" [disabled]="!editable" />
          </td>
          <td>
            <nz-date-picker [(ngModel)]="data.orderDate" style="width: 100%" [nzStyle]="{ width: '100%' }" [disabled]="!editable"></nz-date-picker>
          </td>
          <td>
            <input nz-input [(ngModel)]="data.originalRdd" [disabled]="!editable" />
          </td>
          <td>
            <input nz-input [(ngModel)]="data.deliveryDelayReason" [disabled]="!editable" />
          </td>
          <td>
            <input nz-input [(ngModel)]="data.newRdd" [disabled]="!editable" />
          </td>
          <td>
            <nz-select style="width: 100%;" [(ngModel)]="data.exchangeableOrder" [disabled]="!editable">
              <nz-option nzLabel="是" [nzValue]="1"></nz-option>
              <nz-option nzLabel="否" [nzValue]="0"></nz-option>
            </nz-select>
          </td>
          <td>
            <input nz-input [(ngModel)]="data.exchangeableOrderSale" [disabled]="!editable" />
          </td>
          <td>
            <nz-select style="width: 48%;" [(ngModel)]="data.exchangeableOrderSaleCycleGroup" (ngModelChange)="onSaleCycleGroupChange(data)" [disabled]="!editable">
              <nz-option *ngFor="let item of spService.cycleGroups" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
            <nz-select style="width: 48%;" [(ngModel)]="data.exchangeableOrderSaleBigArea" [disabled]="!editable">
              <nz-option *ngFor="let item of spService.cycleGroupBigAreaMap[data.exchangeableOrderSaleCycleGroup]" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
            </nz-select>
          </td>
          <td>
            <input nz-input [(ngModel)]="data.exchangeableHospitalNo" [disabled]="!editable" />
          </td>
          <td>
            <input nz-input [(ngModel)]="data.exchangeableHospitalName" [disabled]="!editable" />
          </td>
          <td>
            <input nz-input [(ngModel)]="data.exchangeableOrderModel" [disabled]="!editable" />
          </td>
          <td>
            <input nz-input [(ngModel)]="data.exchangeableSoNo" [disabled]="!editable" />
          </td>
          <td>
            <input nz-input [(ngModel)]="data.exchangeableWbsNo" [disabled]="!editable" />
          </td>
          <td>
            <nz-date-picker [(ngModel)]="data.exchangeableOrderSaleDate" style="width: 100%" [nzStyle]="{ width: '100%' }" [disabled]="!editable"></nz-date-picker>
          </td>
          
          <!-- <td nzRight="0px">
            <a nz-icon class="operation-btn" type="delete" title="删除" nz-popconfirm nzTitle="确定删除流程?" (nzOnConfirm)="onDeleteProc(item)"></a>
          </td> -->
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-card>