<form  nz-form [formGroup]="validateForm">
  <app-apploading [load]="load"></app-apploading>
  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
    <div nz-col nzXs="24" nzSm="24" nzMd="6">
      <nz-form-item style="margin-bottom: 6px">
        <nz-form-label nzXs="24" nzSm="24" nzMd="8" nzXl="8" nzXXl="8"><span>OIT Mode</span><br>进单模式</nz-form-label>
        <nz-form-control nzXs="24" nzSm="24" nzMd="16" nzXl="16" nzXXl="16">
          <nz-select style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder="选择进单模式"
            formControlName="entryMode" value [(ngModel)]="dataBase.entryMode"
            (nzOpenChange)="changeEntryMode(validateForm.value)">
            <nz-option *ngFor="let item of entryModeList" [nzValue]="item.code" [nzLabel]="item.label"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="
              validateForm.get('entryMode')?.dirty &&
              validateForm.get('entryMode')?.errors
            ">
            此选项必填字段
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row nzType="flex" nzJustify="start" nzAlign="middle"
    *ngIf="dataBase&&dataBase.detail&&dataBase.detail.status === ''">
    <div nz-col nzXs="24" nzSm="24" nzMd="6">
      <nz-form-item>
        <nz-form-control [nzSm]="20" [nzXs]="24">
          <div *ngIf="!disa" nz-button nzType="primary" [nzSize]="6" (click)="searchCPResult()" class="button">
            Import CP Deal Form 查询CP审核结果
          </div>
          <nz-modal [(nzVisible)]="isVisibleCPResult" nzTitle="Import CP Deal Form 查询CP审核结果" nzCentered nzWidth="700"
            (nzOnCancel)="handleCancelCPResult()" [nzFooter]="modalFooter">
            <ng-container>
              <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
                <div nz-col nzSpan="24">
                  <nz-form-item>
                    <nz-form-label [nzSm]="5" [nzXs]="24">Deal Form ID</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                      <input type="text" class="form-control" value="" placeholder="请输入Deal Form ID"
                        [ngModelOptions]="{ standalone: true }" [(ngModel)]="dealFormIdinput"
                        (ngModelChange)="changeDealFormID()" />
                    </nz-form-control>
                    <nz-form-control [nzSm]="5" [nzXs]="24">
                      <button nz-button [nzLoading]="deal_load"  nzType="primary" style="margin-left: 20px" (click)="GetDealList()">
                        Search 查询
                      </button>
                    </nz-form-control>

                  </nz-form-item>
                  <!-- list展示-->
                  <div class="dealbox" *ngIf="box">
                    <app-apploading *ngIf="deal_load"></app-apploading>
                    <nz-table #deal [nzData]="dealformlist">
                      <thead>
                        <tr>
                          <th nzLeft="0px" nzAlign="center" nzWidth="20px">
                            &nbsp;
                          </th>
                          <th nzAlign="center">Deal Form ID</th>
                          <th nzAlign="center"><span>Hospital Name</span><br> 医院名称</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of deal.data; let m = index" (click)="changDealForm(m, data)"
                          style="cursor: pointer">
                          <td nzLeft="0px" nzAlign="center">
                            <label [nzDisabled]="data.isDisable" nz-radio [ngModelOptions]="{ standalone: true }"
                              [ngModel]="data.radio" (ngModelChange)="changDealForm(m, data)"></label>
                          </td>
                          <td nzAlign="center">{{ data.dealFormId }}</td>
                          <td nzAlign="center">{{ data.hospitalName }}</td>
                        </tr>
                      </tbody>
                    </nz-table>
                  </div>
                </div>
              </div>
              <div style="display: flex; justify-content: center"></div>
            </ng-container>
            <ng-template #modalFooter>
              <button nz-button nzType="default" (click)="handleCancelCPResult()">Cancle 取消</button>
              <button nz-button nzType="primary" (click)="handleOkCPResult2()">OK 确定</button>
            </ng-template>
          </nz-modal>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="mb10" nz-row nzType="flex" nzJustify="start" nzAlign="middle"
    *ngIf="dataBase&&dataBase.detail&&dataBase.detail.status === ''&&!disa">
    <div  class="warning nohide" nz-row nzXs="12" nzSm="12" nzMd="6">
      注意：仅CT,MR,DXR,AMI,IGT-S,PDS-RadOnc,IGT-MoS产品可作为主机发起Slot Reservation申请
    </div>
  </div>
  <nz-card class="pr" nzTitle="General Information 基础信息">
    <div class="rfno">
      <span *ngIf="dataBase.referenceId" class="title" style="margin-left: 240px">Reference No:</span><span>{{dataBase.referenceId}}</span>
      <span class="title" style="margin-left: 240px">Deal Form ID:</span><span>{{dataBase.dealFormId}}</span>
    </div>
    <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Business Mode</span><br>业务模式</nz-form-label>
          <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
            <nz-select style="width: 100%" nzShowSearch nzAllowClear [(ngModel)]="dataBase.businessModel"
              nzPlaceHolder="" formControlName="businessModel" (nzOpenChange)="ngModelChang()">
              <nz-option *ngFor="let item of businessModelList" [nzValue]="item.code" [nzLabel]="item.label">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item style="margin-bottom: 6px">
          <div nz-col nzSm="7" nzXl="7" nzXXl="7">
            <nz-form-label nzSm="10" nzXl="10" nzXXl="10" nzRequired>Team</nz-form-label>
            <nz-form-control nzSm="14" nzXl="14" nzXXl="14" nz-tooltip [nzTitle]="dataBase.team">
              <input type="text" class="form-control" value="" formControlName="team" [(ngModel)]="dataBase.team" />
              <nz-form-explain *ngIf="
                  validateForm.get('team')?.dirty &&
                  validateForm.get('team')?.errors
                ">
                此选项必填字段
              </nz-form-explain>
            </nz-form-control>
          </div>
          <div nz-col nzSm="7" nzXl="7" nzXXl="7">
            <nz-form-label nzSm="10" nzXl="10" nzXXl="12" nzRequired><span>Sales Area</span><br>大区</nz-form-label>
            <nz-form-control nzSm="14" nzXl="14" nzXXl="12">
              <input type="text" class="form-control" value="" formControlName="region" [(ngModel)]="dataBase.region" />
              <nz-form-explain *ngIf="
                  validateForm.get('region')?.dirty &&
                  validateForm.get('region')?.errors
                ">
                此选项必填字段
              </nz-form-explain>
            </nz-form-control>
          </div>
          <div nz-col nzSm="10" nzXl="10" nzXXl="10">
            <nz-form-label nzSm="10" nzXl="10" nzXXl="10" nzRequired><span>Sales District</span><br>小区</nz-form-label>
            <nz-form-control nzSm="9" nzXl="9" nzXXl="9">
              <input type="text" class="form-control" value="" formControlName="smallArea"
                [(ngModel)]="dataBase.smallArea" />
              <nz-form-explain *ngIf="
                  validateForm.get('smallArea')?.dirty &&
                  validateForm.get('smallArea')?.errors
                ">
                此选项必填字段
              </nz-form-explain>
            </nz-form-control>
          </div>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" [nzRequired]="dataBase && dataBase.entryMode != 'STOCK'"><span>Bidder</span><br>投标公司
          </nz-form-label>
          <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
            <input type="text" class="form-control" oninput="if(value.length>255)value=value.slice(0,255)" value="" formControlName="tenderingCompany"
              [(ngModel)]="dataBase.tenderingCompany" />
            <nz-form-explain *ngIf="
                validateForm.get('tenderingCompany')?.dirty &&
                validateForm.get('tenderingCompany')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" [nzRequired]="dataBase && dataBase.entryMode != 'STOCK'"><span>Bidding No.</span><br>招标编号
          </nz-form-label>
          <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
            <input type="text" class="form-control" oninput="if(value.length>50)value=value.slice(0,50)"  formControlName="tenderNo"
              [(ngModel)]="dataBase.tenderNo" />
            <div class="largery" nzFor="email">
              注释：请按照招标文件上的编号填写，无招标编号填写 <b style="color:red">“其他类型“</b>
            </div>
            <nz-form-explain *ngIf="
                validateForm.get('tenderNo')?.dirty &&
                validateForm.get('tenderNo')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!--业务模式为 Direct Deal 不显示以下信息-->
      <div *ngIf="dataBase && dataBase.businessModel != 'DIRECT'">
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXXl="24" nzXl="24" nzSm="24">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzXXl="4" nzSm="4" nzXl="4" nzRequired><a class="bul"><span>Distributor</span><br>经销商</a></nz-form-label>
              <nz-form-control nzXs="24" nzMd="7" nzXXl="7" nzXl="7" nzSm="7">
                <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" disabled value="" formControlName="distributor"
                  [(ngModel)]="dataBase.distributor" />
                <div *ngIf="distributorOff" class="warning" nzFor="email">
                  注释：所选择的经销商不在经销商列表
                </div>
                <nz-form-explain *ngIf="
                    validateForm.get('distributor')?.dirty &&
                    validateForm.get('distributor')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
              <nz-form-control *ngIf="!disa&&dataBase.detail.status==''" nzXs="24" nzMd="5" nzXXl="5" nzXl="5" nzSm="5">
                <button  nz-button class="ml6" nzType="primary" (click)="showDistributor()">
                  Select Distributor 选择经销商
                </button>
              </nz-form-control>
              <nz-form-control nzXs="24" nzMd="6" nzXXl="6" nzXl="6" nzSm="6">
                <div class="warning mag" *ngIf="redFlagList" [title]="redFlagList">{{redFlagList}}</div>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle" *ngIf="conTable">
          <div nz-col nzXXl="24" nzXl="24" nzSm="24">
              <nz-form-item style="margin-bottom: 6px">
                <nz-form-label nzXXl="4" nzXl="4"  nzSm="4" nzRequired>Distributor Agreement No.<br>经销商协议号</nz-form-label>
                <nz-form-control [nzSm]="7" [nzXs]="24">
                    <nz-select class="prodSelect" nzShowSearch nzShowSearch  nzPlaceHolder="Select 请选择"
                      [(ngModel)]="dataBase.agreementNo" formControlName="agreementNo">
                      <nz-option *ngFor="let item of dealList" [nzLabel]="item.agreementNo" [nzValue]="item.agreementNo">
                      </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="
                        validateForm.get('agreementNo')?.dirty &&
                        validateForm.get('agreementNo')?.errors
                      ">
                      此选项必填字段
                    </nz-form-explain>
                </nz-form-control>
                <nz-form-control [nzSm]="4" [nzXs]="24">
                  <button class="detailFlex" *ngIf="dataBase.agreementNo" (click)="showDiag()" nz-button nzType="primary">View Details 查看详情</button>
                </nz-form-control>
              </nz-form-item>
            </div>
        </div>
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXXl="12" nzXl="12" nzSm="12" nzXs="24">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzXs="24" nzRequired>DDP-Status</nz-form-label>
              <nz-form-control nzXs="24" nzSm="14" nzXl="14" nzXXl="14">
                <nz-select [ngClass]="{'red': dataBase.ddpStatus=='不通过'}" formControlName="ddpStatus" value="实时查询"
                  nzPlaceHolder="" [(ngModel)]="dataBase.ddpStatus" zShowSearch nzAllowClear>
                  <nz-option nzLabel="通过" nzValue="通过"></nz-option>
                  <nz-option nzLabel="不通过" nzValue="不通过"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="
                    validateForm.get('ddpStatus')?.dirty &&
                    validateForm.get('ddpStatus')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXXl="12" nzXl="12" nzSm="12" nzXs="24">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzXs="24" nzRequired><span>DDP Validity</span><br> DDP有效期截至日期</nz-form-label>
              <nz-form-control nzXs="24" nzSm="14" nzXl="14" nzXXl="14">
                <nz-date-picker formControlName="contractEndDate" style="width: 100%" [nzStyle]="style"
                  [(ngModel)]="dataBase.contractEndDate" nzPlaceHolder=""></nz-date-picker>
                <div class="warning" *ngIf="lateDayOff&&dataBase.ddpStatus=='通过'" nzFor="email">
                  DDP即将在{{laterDay}}天后到期
                </div>
                <nz-form-explain *ngIf="
                    validateForm.get('contractEndDate')?.dirty &&
                    validateForm.get('contractEndDate')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-col nzSpan="24">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Distributor Address</span><br>经销商地址</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
                <input type="text" class="form-control" oninput="if(value.length>255)value=value.slice(0,255)" value=""
                  formControlName="distributorAddress" [(ngModel)]="dataBase.distributorAddress" />
                <nz-form-explain *ngIf="
                    validateForm.get('distributorAddress')?.dirty &&
                    validateForm.get('distributorAddress')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Distributor Contact</span><br>经销商联系人</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
                <input type="text"  oninput="if(value.length>50)value=value.slice(0,50)" class="form-control" value="" formControlName="distributorContacts"
                  [(ngModel)]="dataBase.distributorContacts" />
                <nz-form-explain *ngIf="
                    validateForm.get('distributorContacts')?.dirty &&
                    validateForm.get('distributorContacts')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-col nzSpan="24">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item style="margin-bottom: 10px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Distributor Tel.</span><br>经销商电话</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
                <input type="text" oninput="if(value.length>50)value=value.slice(0,50)" class="form-control" value=""
                  formControlName="distributorPhone" [(ngModel)]="dataBase.distributorPhone" />
                <nz-form-explain *ngIf="
                    validateForm.get('distributorPhone')?.dirty &&
                    validateForm.get('distributorPhone')?.errors
                  ">
                  <ng-container *ngIf="
                      validateForm.get('distributorPhone')?.hasError('required')
                    ">此选项必填字段</ng-container>
                  <ng-container *ngIf="
                      validateForm
                        .get('distributorPhone')
                        ?.hasError('phoneform')
                    ">请输入正确的电话号码</ng-container>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item style="margin-bottom: 10px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Distributor Email</span><br>经销商邮箱</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
                <input type="email" oninput="if(value.length>50)value=value.slice(0,50)" class="form-control" value=""
                  formControlName="distributorEmail" [(ngModel)]="dataBase.distributorEmail" />
                <nz-form-explain *ngIf="
                    validateForm.get('distributorEmail')?.dirty &&
                    validateForm.get('distributorEmail')?.errors
                  ">
                  <ng-container *ngIf="
                  validateForm.get('distributorEmail')?.hasError('required')
                ">此选项必填字段</ng-container>
                  <ng-container *ngIf="
                  validateForm
                    .get('distributorEmail')
                    ?.hasError('mailform')
                ">请输入正确的邮箱地址</ng-container>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12">
          <nz-form-item style="margin-bottom: 6px">
            <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Customer Purchase<br> Order Signatory</span><br>采购订单签署人</nz-form-label>
            <nz-form-control nzSm="14" nzXl="14" nzXXl="14" style="margin-top:10px">
              <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" value="" formControlName="orderSignName"
                [(ngModel)]="dataBase.orderSignName" />
              <nz-form-explain *ngIf="
                  validateForm.get('orderSignName')?.dirty &&
                  validateForm.get('orderSignName')?.errors
                ">
                此选项必填字段
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12">
          <nz-form-item style="margin-bottom: 6px">
            <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Position of Order Signatory</span><br>采购订单签署人职务</nz-form-label>
            <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
              <input type="text" oninput="if(value.length>50)value=value.slice(0,50)" class="form-control" value="" formControlName="orderSignPost"
                [(ngModel)]="dataBase.orderSignPost" />
              <nz-form-explain *ngIf="
                  validateForm.get('orderSignPost')?.dirty &&
                  validateForm.get('orderSignPost')?.errors
                ">
                此选项必填字段
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <!--业务模式为 Distributor Deal 不显示以下信息-->
      <div *ngIf="dataBase && dataBase.businessModel != 'DISTRIBUTOR'" style="width: 100%">
        <div nz-row nzType="flex" nzJustify="start" nzAlign="middle">
          <div nz-col nzXXl="24" nzXl="24" nzSm="24">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzXXl="4" nzSm="4" nzXl="4" nzRequired><a class="bul"><span>Buyer</span><br>合同买方</a></nz-form-label>
              <nz-form-control nzXXl="7" nzXl="7" nzSm="7">
                <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" value="" formControlName="contractBuyer"
                  [(ngModel)]="dataBase.contractBuyer" />
                <nz-form-explain *ngIf="
                    validateForm.get('contractBuyer')?.dirty &&
                    validateForm.get('contractBuyer')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Buyer Address</span><br>合同买方地址</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
                <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" formControlName="contractBuyerAddress"
                  [(ngModel)]="dataBase.contractBuyerAddress" />
                <nz-form-explain *ngIf="
                    validateForm.get('contractBuyerAddress')?.dirty &&
                    validateForm.get('contractBuyerAddress')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Contract Signatory</span><br>合同签署人</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
                <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" formControlName="contractSignatory"
                  [(ngModel)]="dataBase.contractSignatory" />
                <nz-form-explain *ngIf="
                    validateForm.get('contractSignatory')?.dirty &&
                    validateForm.get('contractSignatory')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Position of Contract Signatory</span><br>合同签署人职务</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
                <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" formControlName="contractSignatoryPost"
                  [(ngModel)]="dataBase.contractSignatoryPost" />
                <nz-form-explain *ngIf="
                    validateForm.get('contractSignatoryPost')?.dirty &&
                    validateForm.get('contractSignatoryPost')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <!--新加外贸公司-->
      <!--业务模式为 Distributor Deal 并且 币制为美元 显示-->
      <div *ngIf="
          dataBase &&
          dataBase.businessModel == 'DISTRIBUTOR' &&
          dataBase.invoiceInformation == 'USD'
        " nz-col nzXXl="24" nzXl="24" nzSm="24">
        <div nz-col nzXXl="24" nzXl="24" nzSm="24">
          <div style="margin-left: 16.6%">Whether I/E Company is the same as Distributor</div>
          <nz-form-control nzXXl="4" nzSm="4" nzXl="4"></nz-form-control>
          <nz-form-control nzXXl="4" nzSm="4" nzXl="4">外贸公司是否与经销商相同 :</nz-form-control>
          <nz-form-control nzSm="13" nzXl="13" nzXXl="13">
            <nz-radio-group formControlName="sameFlag" [(ngModel)]="dataBase.sameFlag">
              <label nz-radio nzValue="1" (click)="ChangForeign()">Y 是</label>
              <label nz-radio nzValue="0" (click)="ChangForeign()">N 否</label>
            </nz-radio-group>
          </nz-form-control>
        </div>
      </div>

      <!--币制为人民币 外贸公司不显示-->
      <div *ngIf="ifForeignTradeCompany()">
        <div nz-col nzXXl="24" nzXl="24" nzSm="24">
          <nz-form-item style="margin-bottom: 6px">
            <nz-form-label nzXXl="4" nzSm="4" nzXl="4" nzRequired><a class="bul"><span>I/E Company</span></a><br>外贸公司</nz-form-label>
            <nz-form-control nzXXl="7" nzXl="7" nzSm="7">
              <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" (keyup)="foreignup()" value=""
                formControlName="foreignTradeCompany" [(ngModel)]="dataBase.foreignTradeCompany" />
              <div *ngIf="foreignTradeOff" class="warning" nzFor="email">
                注释：所选择的外贸公司不在IE Pool
              </div>
              <nz-form-explain *ngIf="
                  validateForm.get('foreignTradeCompany')?.dirty &&
                  validateForm.get('foreignTradeCompany')?.errors
                ">
                此选项必填字段
              </nz-form-explain>
            </nz-form-control>
            <nz-form-control *ngIf="!disa" nzXXl="5" nzSm="5" nzXl="5">
              <nz-select class="select" style="width: 100%; padding-left: 20px;height:38px;" nzShowSearch nzAllowClear
                nzPlaceHolder="Select from IE pool 选择 IE pool" [(ngModel)]="dataBase.contractBuyer2"
                formControlName="contractBuyer2" (nzOpenChange)="changeAgentCnName()">
                <nz-option *ngFor="let item of poolList" [nzLabel]="item.corporateName" [nzValue]="item.corporateName">
                </nz-option>
              </nz-select>
            </nz-form-control>
            <nz-form-control nzSm="6" nzXl="6" nzXXl="6">
              <div class="warning mag" *ngIf="redFlagListPool" [title]="redFlagListPool">{{redFlagListPool}}</div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzXXl="24" nzXl="24" nzSm="24">
          <div nz-col nzXXl="12" nzXl="12" nzSm="12" nzXs="24">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" [nzXs]="24" nzRequired>DDP-Status</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14" nzXs="24">
                <nz-select [ngClass]="{'red': dataBase.contractDdpStatus=='不通过'}" formControlName="contractDdpStatus"
                  value="实时查询" nzPlaceHolder="" [(ngModel)]="dataBase.contractDdpStatus" zShowSearch nzAllowClear
                  >
                  <nz-option nzLabel="通过" nzValue="通过"></nz-option>
                  <nz-option nzLabel="不通过" nzValue="不通过"></nz-option>
                </nz-select>
                <nz-form-explain *ngIf="
                    validateForm.get('contractDdpStatus')?.dirty &&
                    validateForm.get('contractDdpStatus')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXXl="12" nzXl="12" nzSm="12" nzXs="24">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzXs="24" nzRequired><span>DDP Validity</span><br>DDP有效期截至日期</nz-form-label>
              <nz-form-control nzXs="24" nzSm="14" nzXl="14" nzXXl="14">
                <nz-date-picker  formControlName="poolEndDate" [nzDisabledDate]="disabledDate"
                  (ngModelChange)="changeDate($event)" nzPlaceHolder="" style="width: 100%" [nzStyle]="style"
                  [(ngModel)]="dataBase.poolEndDate"></nz-date-picker>
                <div class="warning" *ngIf="lateDateOff&&dataBase.contractDdpStatus=='通过'" nzFor="email">
                  DDP即将在{{lateDays}}天后到期
                </div>
                <nz-form-explain *ngIf="
                    validateForm.get('poolEndDate')?.dirty &&
                    validateForm.get('poolEndDate')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-col nzSpan="24">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>I/E Company Address</span><br>外贸公司地址</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
                <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" value="" formControlName="foreignTradeCompanyAddress"
                  [(ngModel)]="dataBase.foreignTradeCompanyAddress" />
                <nz-form-explain *ngIf="
                    validateForm.get('foreignTradeCompanyAddress')?.dirty &&
                    validateForm.get('foreignTradeCompanyAddress')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>I/E Company Contact</span><br>外贸公司联系人</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
                <input type="text" oninput="if(value.length>50)value=value.slice(0,50)" class="form-control" formControlName="foreignTradeCompanyContacts"
                  [(ngModel)]="dataBase.foreignTradeCompanyContacts" />
                <nz-form-explain *ngIf="
                    validateForm.get('foreignTradeCompanyContacts')?.dirty &&
                    validateForm.get('foreignTradeCompanyContacts')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-col nzSpan="24">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>I/E Company Tel.</span><br>外贸公司电话</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
                <input type="text" oninput="if(value.length>50)value=value.slice(0,50)" class="form-control"
                  formControlName="foreignTradeCompanyPhone" [(ngModel)]="dataBase.foreignTradeCompanyPhone" />
                <nz-form-explain *ngIf="
                    validateForm.get('foreignTradeCompanyPhone')?.dirty &&
                    validateForm.get('foreignTradeCompanyPhone')?.errors
                  ">
                  <ng-container *ngIf="
                      validateForm
                        .get('foreignTradeCompanyPhone')
                        ?.hasError('required')
                    ">
                    此选项必填字段</ng-container>
                  <ng-container *ngIf="
                      validateForm
                        .get('foreignTradeCompanyPhone')
                        ?.hasError('phoneform')
                    ">请输入正确的电话号码
                  </ng-container>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>I/E Company Email</span><br>外贸公司邮箱</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
                <input oninput="if(value.length>50)value=value.slice(0,50)" type="text" class="form-control"
                  formControlName="foreignTradeCompanyEmail" [(ngModel)]="dataBase.foreignTradeCompanyEmail" />
                <nz-form-explain *ngIf="
                    validateForm.get('foreignTradeCompanyEmail')?.dirty &&
                    validateForm.get('foreignTradeCompanyEmail')?.errors
                  ">
                  <ng-container *ngIf="
                  validateForm
                    .get('foreignTradeCompanyEmail')
                    ?.hasError('required')
                ">
                    此选项必填字段</ng-container>
                  <ng-container *ngIf="
                  validateForm
                    .get('foreignTradeCompanyEmail')
                    ?.hasError('mailform')
                ">请输入正确的邮箱
                  </ng-container>
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>

        <div nz-col nzSpan="24">
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Importation Agreement Signatory</span><br>进口协议签署人</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
                <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" value="" formControlName="importAgreementSignName"
                  [(ngModel)]="dataBase.importAgreementSignName" />
                <nz-form-explain *ngIf="
                    validateForm.get('importAgreementSignName')?.dirty &&
                    validateForm.get('importAgreementSignName')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzXs="24" nzSm="24" nzMd="12">
            <nz-form-item style="margin-bottom: 6px">
              <nz-form-label nzSm="8" nzXl="8" nzXXl="8" [nzRequired]="dataBase && dataBase.entryMode != 'STOCK'">
               <span>Position of Agreement Signatory</span><br>进口协议签署人职务</nz-form-label>
              <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
                <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" value="" formControlName="importAgreementSignPost"
                  [(ngModel)]="dataBase.importAgreementSignPost" />
                <nz-form-explain *ngIf="
                    validateForm.get('importAgreementSignPost')?.dirty &&
                    validateForm.get('importAgreementSignPost')?.errors
                  ">
                  此选项必填字段
                </nz-form-explain>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div *ngIf="ifForeignTradeCompany()" nz-col nzXs="24" nzSm="24" nzMd="24">
        <div class="warning inline">
         <div>注意：</div>
         <div>若正式OIT时更改外贸，则无法保留Slot Reservation的生产期；</div>
         <div>若正式OIT时更改外贸，发现外贸不符合外贸公司选择的条件，则无法保留Slot Reservation的生产期</div>
        </div>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" [nzRequired]="dataBase && dataBase.entryMode != 'STOCK'"><a
              class="bul"><span>End User</span><br>最终用户</a></nz-form-label>
          <nz-form-control nzSm="10" nzXl="10" nzXXl="10">
            <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" readonly value="" formControlName="endUser"
              [(ngModel)]="dataBase.endUser" />
            <nz-form-explain *ngIf="
                validateForm.get('endUser')?.dirty &&
                validateForm.get('endUser')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
          <nz-form-control nzSm="4" nzXl="4" nzXXl="4">
            <button [disabled]="disa||StockOff" nz-button class="ml6" nzType="primary" (click)="showAgent()">Select End User 选择最终用户
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" [nzRequired]="dataBase && dataBase.entryMode != 'STOCK'">
            <span>End User ID</span><br> 最终用户编号
          </nz-form-label>
          <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
            <input oninput="if(value.length>255)value=value.slice(0,255)" type="text" class="form-control" disabled value="" formControlName="endUserId"
              [(ngModel)]="dataBase.endUserId" />
            <nz-form-explain *ngIf="
                validateForm.get('endUserId')?.dirty &&
                validateForm.get('endUserId')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" [nzRequired]="dataBase && dataBase.entryMode != 'STOCK'"><span>Hospital Type</span><br>医院性质
          </nz-form-label>
          <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
            <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" disabled value="" formControlName="hospitalNature"
              [(ngModel)]="dataBase.hospitalNature" />
            <nz-form-explain *ngIf="
                validateForm.get('formControlName')?.dirty &&
                validateForm.get('formControlName')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" [nzRequired]="dataBase && dataBase.entryMode == 'BIDDING'"><span>End User Address</span><br>最终用户地址
          </nz-form-label>
          <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
            <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" value="" formControlName="endUserAddress"
              [(ngModel)]="dataBase.endUserAddress" />
            <nz-form-explain *ngIf="
                validateForm.get('endUserAddress')?.dirty &&
                validateForm.get('endUserAddress')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" [nzRequired]="dataBase && dataBase.entryMode != 'STOCK'"><span>End User Contact</span><br>最终用户联系人
          </nz-form-label>
          <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
            <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" value="" formControlName="endUserContacts"
              [(ngModel)]="dataBase.endUserContacts" />
            <nz-form-explain *ngIf="
                validateForm.get('endUserContacts')?.dirty &&
                validateForm.get('endUserContacts')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" [nzRequired]="dataBase && dataBase.entryMode != 'STOCK'"><span>End User Tel.</span><br>最终用户电话
          </nz-form-label>
          <nz-form-control nzSm="14" nzXl="14" nzXXl="14">
            <input oninput="if(value.length>50)value=value.slice(0,50)" type="text" class="form-control" value=""
              formControlName="endUserPhone" [(ngModel)]="dataBase.endUserPhone" />
            <nz-form-explain *ngIf="
                validateForm.get('endUserPhone')?.dirty &&
                validateForm.get('endUserPhone')?.errors
              ">
              <ng-container *ngIf="validateForm.get('endUserPhone')?.hasError('required')">
                此选项必填字段</ng-container>
              <ng-container *ngIf="validateForm.get('endUserPhone')?.hasError('phoneform')">请输入正确的电话号码</ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" [nzRequired]="dataBase && dataBase.entryMode == 'BIDDING'"><span>End User Email</span><br>最终用户邮箱
          </nz-form-label>
          <nz-form-control nzXs="24" nzMd="14" nzXXl="14" nzXl="14">
            <input type="text" oninput="if(value.length>50)value=value.slice(0,50)" class="form-control" value=""
              formControlName="endUserEmail" [(ngModel)]="dataBase.endUserEmail" />
            <nz-form-explain *ngIf="
                validateForm.get('endUserEmail')?.dirty &&
                validateForm.get('endUserEmail')?.errors
              ">
              <ng-container *ngIf="validateForm.get('endUserEmail')?.hasError('required')">
                此选项必填字段</ng-container>
              <ng-container *ngIf="validateForm.get('endUserEmail')?.hasError('mailform')">请输入正确的邮箱</ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="24">
        <nz-form-item>
          <nz-form-label nzSm="4" nzXl="4" nzXXl="4" nzRequired><span>Currency</span><br>币制</nz-form-label>
          <nz-form-control nzXs="24" nzSm="7" nzXl="7" nzXXl="7">
            <nz-select style="width: 100%" nzShowSearch zAllowClear [(ngModel)]="dataBase.invoiceInformation"
              nzPlaceHolder="" (ngModelChange)="selectInvoice($event)"
              formControlName="invoiceInformation">
              <nz-option nzLabel="人民币" nzValue="CNY"></nz-option>
              <nz-option nzLabel="美元" nzValue="USD"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item style="margin-bottom: 6px">
           <nz-form-label [nzSm]="8" [nzXs]="24"><span>Sample Check</span><br>是否抽样审核</nz-form-label>
          <nz-form-control nzXs="14" nzMd="14" nzXXl="14" nzXl="14" nzSm="14" style="padding-top: 10px">
            <nz-radio-group formControlName="sampleAuditFlag" [(ngModel)]="dataBase.sampleAuditFlag">
              <label nz-radio nzDisabled="true" nzValue="1">Y 是</label>
              <label nz-radio nzDisabled="true" nzValue="0">N 否</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXXl="24" nzXl="24" nzSm="24">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzXXl="4" nzSm="4" nzXl="4">CP Deal Form #</nz-form-label>
          <nz-form-control nzXXl="7" nzXl="7" nzSm="7">
            <input type="text" class="form-control" oninput="if(value.length>255)value=value.slice(0,255)" value="" formControlName="dealFormId"
              [(ngModel)]="dataBase.dealFormId" />
            <nz-form-explain *ngIf="
                validateForm.get('dealFormId')?.dirty &&
                validateForm.get('dealFormId')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXXl="12" nzXl="12" nzSm="24">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8"><span>Deal Form Total</span><br>Deal Form 总价</nz-form-label>
          <nz-form-control nzXs="14" nzMd="14" nzXXl="14" nzXl="14" nzSm="14">
            <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" value="" formControlName="dealContractPrice"
              [ngModel]="dataBase.dealContractPrice|NumberThousandth" />
            <nz-form-explain *ngIf="
                validateForm.get('dealContractPrice')?.dirty &&
                validateForm.get('dealContractPrice')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div *ngIf="dataBase.tableColOffs" nz-col nzXXl="12" nzXl="12" nzSm="24">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" ><span>Product Price</span><br>产品价格</nz-form-label>
          <nz-form-control nzXs="14" nzMd="14" nzXXl="14" nzXl="14" nzSm="14">
            <input type="text" oninput="if(value.length>255)value=value.slice(0,255)" class="form-control" value="" formControlName="netPrice"
              [ngModel]="dataBase.netPrice|NumberThousandth" />
              <nz-form-explain *ngIf="
              validateForm.get('netPrice')?.dirty &&
              validateForm.get('netPrice')?.errors
            ">
            此选项必填字段
          </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXXl="24" nzXl="24" nzSm="24">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzXXl="4" nzXl="4" nzSm="4" ><span>Product & Quantity</span><br>产品、数量</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="19" nzSm="19">
            <div class="prod">
              <ng-container *ngIf="dataBase.preBookNumbers&&dataBase.preBookNumbers.length>0">
                <nz-tag *ngFor="let item of dataBase.preBookNumbers">
                  产品:{{item.modelNumber}}
                  数量:{{item.marketBundleQuantity}}
                </nz-tag>
              </ng-container>
            </div>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXXl="24" nzXl="24" nzSm="24">
        <div class="warning inline">
            <p>
              注意：
            </p>
            <p>
              若正式OIT时更配置，则无法保留Slot Reservation的生产期
            </p>
        </div>
      </div>
      <div nz-col nzXXl="24" nzXl="24" nzSm="24">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzXXl="4" nzXl="4" nzSm="4" nzRequired><span>Reason for Slot Reservation</span><br>Slot Reservation原因</nz-form-label>
          <nz-form-control nzXXl="12" nzXl="12" nzSm="12">
              <nz-select style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder="Select Reason for Slot Reservation"
              formControlName="preReason" value [(ngModel)]="dataBase.preReason"
              >
              <nz-option *ngFor="let item of prebookReasonList" [nzValue]="item.label" [nzLabel]="item.label"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="
                validateForm.get('preReason')?.dirty &&
                validateForm.get('preReason')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXXl="24" nzXl="24" nzSm="24">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzXXl="4" nzXl="4" nzSm="4" nzRequired><span>Detailed Instructions</span><br>详细说明</nz-form-label>
          <nz-form-control nzXXl="19" nzXl="19" nzSm="19">
            <textarea nz-input oninput="if(value.length>255)value=value.slice(0,255)" placeholder="" nzPlacement="topLeft"
              [(ngModel)]="dataBase.preDescription" [nzAutosize]="{ minRows: 1, maxRows: 6 }"
              formControlName="preDescription"></textarea>
              <nz-form-explain *ngIf="
                validateForm.get('preDescription')?.dirty &&
                validateForm.get('preDescription')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Expected OIT Month</span><br>预计OIT月份</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXl]="14" [nzXXl]="14">
            <nz-month-picker style="width:100%" [nzStyle]="style"
              formControlName="oitMonthEstimate" [(ngModel)]="dataBase.oitMonthEstimate" nzPlaceHolder="Please Select a Month">
            </nz-month-picker>
            <nz-form-explain *ngIf="
                validateForm.get('oitMonthEstimate')?.dirty &&
                validateForm.get('oitMonthEstimate')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Transport Mode</span><br>运输方式</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXl]="14" [nzXXl]="14">
            <nz-select style="width: 100%" zAllowClear [(ngModel)]="dataBase.shippingType"
              nzPlaceHolder=""
              formControlName="shippingType">
              <nz-option nzLabel="海运或空运 By sea or by air" nzValue="海运或空运 By sea or by air"></nz-option>
              <nz-option nzLabel="空运 By air" nzValue="空运 By air"></nz-option>
              <nz-option nzLabel="陆运 Truck" nzValue="陆运 Truck"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="
                validateForm.get('shippingType')?.dirty &&
                validateForm.get('shippingType')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Requested Date of Arrival</span><br>客户要求到货日期</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXl]="14" [nzXXl]="14">
            <nz-date-picker  formControlName="arrivalDate" style="width: 100%" [nzStyle]="style" nzPlaceHolder="Please Select a Date"
                  [(ngModel)]="dataBase.arrivalDate"></nz-date-picker>
            <nz-form-explain *ngIf="
                validateForm.get('arrivalDate')?.dirty &&
                validateForm.get('arrivalDate')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Expected ICF Month</span><br>预计ICF月份</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXl]="14" [nzXXl]="14">
            <nz-month-picker style="width:100%" [nzStyle]="style"
              formControlName="ifcMonth" [(ngModel)]="dataBase.ifcMonth" nzPlaceHolder="Please Select a Month">
            </nz-month-picker>
            <nz-form-explain *ngIf="
                validateForm.get('ifcMonth')?.dirty &&
                validateForm.get('ifcMonth')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div *ngIf="dataBase && dataBase.businessModel == 'DIRECT'" nz-col nzXs="24" nzSm="24" nzMd="24">
        <nz-form-item>
          <nz-form-label nzSm="4" nzXl="4" nzXXl="4" nzRequired>Is a  Late Payment penalty<br>是否有晚交罚款</nz-form-label>
          <nz-form-control [nzSm]="7" [nzXl]="7" [nzXXl]="7">
            <textarea nz-input oninput="if(value.length>255)value=value.slice(0,255)" placeholder="" nzPlacement="topLeft"
              [(ngModel)]="dataBase.isPenalty" [nzAutosize]="{ minRows: 1, maxRows: 6 }"
              formControlName="isPenalty"></textarea>
              <nz-form-explain *ngIf="
                validateForm.get('isPenalty')?.dirty &&
                validateForm.get('isPenalty')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div *ngIf="dataBase && dataBase.businessModel == 'DISTRIBUTOR'" nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Down Payment Due Date</span><br>Downpayment(5%)支付日期</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXl]="14" [nzXXl]="14">
            <nz-date-picker style="width:100%" [nzStyle]="style" nzPlaceHolder="Please Select a Date"
              formControlName="downpaymentDate" [(ngModel)]="dataBase.downpaymentDate">
            </nz-date-picker>
            <nz-form-explain *ngIf="
                validateForm.get('downpaymentDate')?.dirty &&
                validateForm.get('downpaymentDate')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div *ngIf="dataBase && dataBase.businessModel == 'DISTRIBUTOR'" nz-col nzXs="24" nzSm="24" nzMd="12">
        <nz-form-item>
          <nz-form-label nzSm="8" nzXl="8" nzXXl="8" nzRequired><span>Final Payment Due Date</span><br>尾款支付日期</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXl]="14" [nzXXl]="14">
            <nz-date-picker style="width:100%" [nzStyle]="style" nzPlaceHolder="Please Select a Date"
              formControlName="balancePaymentDate" [(ngModel)]="dataBase.balancePaymentDate">
            </nz-date-picker>
            <nz-form-explain *ngIf="
                validateForm.get('balancePaymentDate')?.dirty &&
                validateForm.get('balancePaymentDate')?.errors
              ">
              此选项必填字段
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXXl="24" nzXl="24" nzSm="24">
        <nz-form-item style="margin-bottom: 6px">
          <nz-form-label nzXXl="4" nzSm="4" nzXl="4" nzRequired><span>Supporting Document</span><br>支持文件</nz-form-label>
          <nz-form-control nzXXl="7" nzXl="7" nzSm="7">
            <nz-upload *ngIf="!disa" [(nzFileList)]="supportFileNameList" [nzBeforeUpload]="supportFileBeforeUpload"
                    [nzLimit]="1" [nzPreview]="dwonLoad" [nzRemove]="nzRemovsupport">
                    <button  nz-button style="margin-top: 15px">
                      <i nz-icon nzType="upload"></i><span>Upload 文件上传</span>
                    </button>
                  </nz-upload>
                  <button *ngIf="disa&&dataBase.supportFile" class="down" nz-button nzType="link" nz-tooltip [nzTitle]="dataBase.supportFileName"
                    (click)="fileDwon(dataBase.supportFile)">
                    {{dataBase.supportFileName?dataBase.supportFileName:"文件下载"}}
                  </button>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzXXl="24" nzXl="24" nzSm="24">
        <div class="warning inline">
            <p>
              注意：
              <!-- <ng-container *ngIf="oitList&&oitList.length>0">
                已关联的进单准备表  <a *ngFor="let item of oitList" class="a a-url a-url-left" (click)="toWin(item)">{{item.referenceId}}</a>
              </ng-container> -->
            </p>
            <p>
              若Slot Reservation订单在30日内仍未正式OIT，则订单自动取消
            </p>
        </div>
      </div>
    </div>
  </nz-card>
</form>
<nz-modal [(nzVisible)]="isAgre" nzWidth="1000px" nzTitle="Select End User 选择最终用户" [nzFooter]="nzFooterEndUser" (nzOnCancel)="isAgreCancel()"
  (nzOnOk)="isAgregentOk()">
  <app-end-user-list #child [pageParam]="pageParam"></app-end-user-list>
  <ng-template #nzFooterEndUser>
    <button nz-button nzType="default" (click)="isAgreCancel()">Cancel 取消</button>
    <button nz-button nzType="primary" (click)="isAgregentOk()">OK 确定</button>
  </ng-template>
</nz-modal>
<nz-modal [(nzVisible)]="isAgres" nzWidth="650px" nzTitle="View Details 查看详情" [nzFooter]="null" (nzOnCancel)="isAgreCancels()">
  <app-table-show #child [data]="this.dealshow"></app-table-show>
</nz-modal>
<nz-modal [(nzVisible)]="distrbutorOff" nzWidth="1000px" nzTitle="Select Distributor 选择经销商" [nzFooter]="modalFooterisDistributor" (nzOnCancel)="isDistributorCancel()">
  <app-distributor-list #childDis [pageParam]="pageParamdis"></app-distributor-list>
  <ng-template #modalFooterisDistributor>
    <button nz-button nzType="default" (click)="isDistributorCancel()">Cancel 取消</button>
    <button nz-button nzType="primary" (click)="isDistributorOk()">OK 确定</button>
  </ng-template>

</nz-modal>
