<app-mobile-header-navbar [parentUrl]="parentUrl" [title]="'我的任务（已完成）'"></app-mobile-header-navbar>
<WhiteSpace></WhiteSpace>
<!-- <Accordion [defaultActiveKey]="'0'"> -->
<Accordion>
  <AccordionPanel [header]="accordionHeader">
    <app-mobile-history [processInstanceId]="processInstanceId"></app-mobile-history>
  </AccordionPanel>
</Accordion>
<!-- <ng-template #accordionHeader><span style="font-size:14px;">审批历史</span></ng-template> -->
<ng-template #accordionHeader><span>审批历史</span></ng-template>
<WhiteSpace></WhiteSpace>
<app-mobile-main-form-view [processType]="processType" [processStatus]="'0'" [taskData]="taskData"
  [display]="commentable"></app-mobile-main-form-view>
<WhiteSpace></WhiteSpace>
<app-mobile-task-comments [routerList]="routerList" [disabled]="disabled" [isComment]="isComment" [commentable]="commentable" [simpleRouter]="simpleRouter" [inputComment]="inputComment">
</app-mobile-task-comments>