<!--<div class="table-responsive">-->
<!--  <ngx-datatable #table style="min-width: 500px;"-->
<!--                 [rows]="rows"-->
<!--                 [loadingIndicator]="loadingIndicator"-->
<!--                 [columnMode]="'force'"-->
<!--                 [headerHeight]="43"-->
<!--                 [footerHeight]="'auto'"-->
<!--                 [rowHeight]="'auto'"-->
<!--                 [reorderable]="true"-->
<!--                 [selectionType]="'checkbox'"-->
<!--                 [externalPaging]="true"-->
<!--                 [externalSorting]="true"-->
<!--                 [count]="10"-->
<!--                 [offset]="1"-->
<!--                 [limit]="10"-->
<!--                 [sortType]="'single'"-->
<!--                 (page)="pageCallback($event)"-->
<!--                 (sort)="sortCallback($event)"-->
<!--  >-->
<!--    <ngx-datatable-column prop="bz" name="步骤"[headerClass]="getHeaderClass" [cellClass]="getCellClass"></ngx-datatable-column>-->
<!--    <ngx-datatable-column prop="czz" name="操作者"[headerClass]="getHeaderClass" [cellClass]="getCellClass"></ngx-datatable-column>-->
<!--    <ngx-datatable-column prop="zpjg" name="审批结果"[headerClass]="getHeaderClass" [cellClass]="getCellClass">-->
<!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
<!--        {{value}}-->
<!--      </ng-template>-->
<!--    </ngx-datatable-column>-->
<!--    <ngx-datatable-column prop="rem" name="备注"[headerClass]="getHeaderClass" [cellClass]="getCellClass"></ngx-datatable-column>-->
<!--    <ngx-datatable-column prop="czsj" name="操作时间"[headerClass]="getHeaderClass" [cellClass]="getCellClass"></ngx-datatable-column>-->

<!--  </ngx-datatable>-->
<!--</div>-->

<table  border="1" cellspacing="0">
  <tr>
    <td>步骤</td>
    <td>操作着</td>
    <td>审批结果</td>
    <td>备注</td>
    <td>操作时间</td>
  </tr>
  <tr *ngFor="let it of row2; let index = index">
    <td>{{it.name}}</td>
    <td>{{it.taker}}</td>
    <td [ngClass]="it.end=='待提交'||it.end=='待审批'?'red':'green'">{{it.end}}</td>
    <td>{{it.ts}}</td>
    <td>{{it.time}}</td>
  </tr>
</table>
