.mb10{margin-bottom:1rem !important}
.goHome{display: block;}
.iconflex{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60%;
    text-align: center;
    .success{
      color:#52C41A;
      font-size:60px;  
    }
    .loss{
      color:red;
      font-size:60px;  
    }
}